.container
    .block()
        h3 {{:: "TEXT_NO_ACCESS" | translate}}
        p {{:: "TEXT_NO_ACCESS_TEXT" | translate}}
        p(ng-show="!user") {{:: "TEXT_LOGIN_MESSAGE" | translate}}
        a(ng-click="openLoginModal()", ng-show="!user").btn.btn-lg.btn-green {{:: "MAIN_LOGIN" | translate}}