.container
	.news-item-page.block
		.row
			.col-xs-12.col-md-12
				//- img(ng-src='{{campaign.images[0].src}}' alt="{{campaign.images[0].alt}}")
				.block-small
					h2(ng-bind="campaign.name")
					p.date
						i.fa.fa-calendar-o
						|&nbsp;{{formatDate(campaign.startDate)}} - {{formatDate(campaign.endDate)}}
					.news-item-page-content(ng-bind-html="campaign.description")
				.block-small(ng-repeat="image in campaign.images") 
					img(ng-src="{{awsUrl + image.src}}" alt="{{image.alt}}")