.container.shop-campaigns
	.block
		.row
			br
			br
		.row
			.col-xs-12.col-sm-6.col-md-3(ng-repeat="item in campaigns | orderBy: '-date'")
				task-block(ng-if="!item.news")
				news-item-block-shop(ng-if="item.news")