.container(ng-controller="cartController")
	h3.text-center.steps
		span.step-cart.active {{:: "TEXT_CART" | translate}}&nbsp;
		i.fa.fa-angle-right
		span.step-checkout &nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;
		i.fa.fa-angle-right
		span.step-order-complete &nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}
	.hidden.alert-warning(uib-alert)
		i.fa.fa-warning.fa-lg(style="padding-right: 0.5em")
		span {{:: "TEXT_MESSAGE_ORDERING_IS_NOT_POSSIBLE_ON_PRISMANOTE" | translate}}
	.row.block
		.col-xs-12.col-md-9
			span(ng-show="cart.length == 0") {{:: "TEXT_YOUR_CART_IS_EMPTY" | translate}}
			form
				.cart-group(ng-repeat="shop in shops")
					h3(ng-bind="shop.name")
					table.table-wide.hidden-xs.hidden-sm.table-checkout(ng-if="isDesktop()")
						thead
							tr
								th(colspan='2').product-name {{:: "TEXT_PRODUCT_CART" | translate}}
								th.product-price {{:: "TEXT_PRICE_CART" | translate}}
								th.product-quantity {{:: "TEXT_NUMBER_CART" | translate}}
								th.product-subtotal {{:: "TEXT_TOTAL_CART" | translate}}
						tbody
							tr.cart-item(ng-repeat='product in shop.items track by $index')
								td.product-thumbnail
									a(ui-sref='layout.product({nameSlug:product.nameSlug})' ng-if="!shop")
										img.cart-image(src='{{awsUrl + product.images[0].src}}', alt='{{product.images[0].alt}}')
									a(ui-sref='{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:product.nameSlug})' ng-if="shop")
										img.cart-image(src='{{awsUrl + product.images[0].src}}', alt='{{product.images[0].alt}}')
								td.product-name
									a(ui-sref='layout.product({nameSlug:product.nameSlug})' ng-bind="product.name" ng-if="!shop")
									a(ui-sref='{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:product.nameSlug})' ng-bind="product.name" ng-if="shop")
								td.product-price
									span.amount {{ product.price * 1.21 | currency: '€'}}
								td.product-quantity
									input.minus(type='button' value='-', ng-click='changeQuantity(false, $index)')
									input.number(type='number' step='1' min='1' disabled="disabled" ng-model='product.quantity')
									input.plus(type='button' value='+', ng-click='changeQuantity(true, $index)')
								td.product-subtotal
									span.amount {{ (product.price * product.quantity) + product.tax | currency: '€' }}
								td.product-remove
									a.remove(href='', ng-click='removeFromCart($index)')
										.fa.fa-times
					.cart-item(ng-repeat="product in shop.items track by $index" ng-if="!isDesktop()").hidden-md.hidden-lg.mobile
						hr
						.product-thumbnail
							a(ui-sref='layout.product({nameSlug:product.nameSlug})' ng-if="!shop")
								img.cart-image(src='{{awsUrl + product.images[0].src}}', alt='{{product.images[0].alt}}')
							a(ui-sref='{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:product.nameSlug})' ng-if="shop")
								img.cart-image(src='{{awsUrl + product.images[0].src}}', alt='{{product.images[0].alt}}')
							a(ui-sref='layout.product({nameSlug:product.nameSlug})' ng-if="!shop")
								h5(ng-bind="product.name")
							a(ui-sref='{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:product.nameSlug})' ng-if="shop")
								h5(ng-bind="product.name")
						table.table-wide
							tbody
								tr.product-price
									th {{:: "TEXT_PRICE" | translate}}
									td
										span.amount {{product.price + product.tax | currency:'€ '}}
								tr.product-quantity
									th {{:: "TEXT_QUANTITY" | translate}}
									td
										input.minus(type='button' value='-', ng-click='changeQuantity(false, $index)')
										input.number(type='number' step='1' min='1' ng-model='product.quantity')
										input.plus(type='button' value='+', ng-click='changeQuantity(true, $index)')
								tr.product-subtotal
									th {{:: "TEXT_SUBTOTAL" | translate}}
									td
										span.amount {{ (product.price * product.quantity) + product.tax | currency: '€ '}}
								tr.product-remove
									th(colspan='2')
										a.btn.btn-md.btn-dark.remove(href='', ng-click='removeFromCart($index)')
											i.fa.fa-trash
											span.remove-text {{:: "TEXT_DELETE" | translate}}
		.col-md-3.col-xs-12
			.cart_totals
				h2.heading-underline {{:: "TEXT_PRICE_OVERVIEW" | translate}}
				table.table-wide
					tbody
						tr.cart-subtotal
							th {{:: "TEXT_SUBTOTAL" | translate}}
							td
								span.amount {{ total | currency: '€ '}}
						tr.shipping
							th {{:: "TEXT_SHIPPING_PRICE" | translate}}
							td
								span 
									i {{:: "TEXT_FREE_SHIPPING" | translate}}
						tr.order-total
							th
								strong {{:: "TEXT_TOTAL" | translate}}
							td
								strong
									span.amount {{total | currency: '€ '}}
					
			.actions
				.action-checkout
					a.btn.btn-lg.btn-green(ui-sref='layout.checkout' ng-click="top()" ng-if="!shop")
						i.fa.fa-credit-card
						span.checkout-text {{:: "TEXT_CHECKOUT" | translate}}
					a.btn.btn-lg.btn-green(ui-sref='{{getShopType()}}.checkout' ng-click="top()" ng-if="shop")
						i.fa.fa-credit-card
						span.checkout-text {{:: "TEXT_CHECKOUT" | translate}}