.container
    h3.text-center.steps
        span.step-cart {{:: "TEXT_CART" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-checkout.active &nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-order-complete &nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}
    .row.block
        .col-md-6
            h4 {{:: "TEXT_SIGN_IN" | translate}}
            p {{:: "TEXT_DO_YOU_HAVE_AN_ACCOUNT" | translate}}
            a.btn.btn-green(ng-click='openLoginRegisterModal("login")') {{:: "MAIN_LOGIN" | translate}}
        .col-md-6
            h4 {{:: "MAIN_LOGIN" | translate}}
            p {{:: "TEXT_CREATE_AN_ACCOUNT" | translate}}
            a.btn.btn-green(ng-click='openLoginRegisterModal("register")') {{:: "TEXT_SIGN_IN" | translate}}