.container
    h3.text-center.steps
        span.step-cart {{:: "TEXT_CART" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-checkout.active &nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-order-complete &nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}
    .row.block(ng-init='initShoppingCart()')
        .col-md-12
            form.checkout.row(name="checkoutForm", ng-class="{submitted:submitted}", novalidate)
                .col-md-9
                    div(ng-class="sendTo.shipToOtherAddress ? 'col-md-12 checkout-left': ''")
                        h4.heading-underline {{sendTo.shipToOtherAddress ? "CHECKOUT_DELIVERY_ADDRESS" : "CHECKOUT_DELIVERY_INVOICE_ADDRESS" | translate }}
                        .row
                            .col-md-4
                                label(for='shipping_first_name') {{:: "TEXT_FIRSTNAME" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_FIRSTNAME" | translate}}' ng-model="sendTo.firstName" id='shipping_first_name').form-control
                            .col-md-4
                                label(for='shipping_lastname_prefix') {{:: "TEXT_INSERTION" | translate}}
                                input(type="text" placeholder='{{:: "TEXT_INSERTION" | translate}}' ng-model="sendTo.lastNamePrefix" id='shipping_lastname_prefix').form-control
                            .col-md-4
                                label(for='shipping_last_name') {{:: "TEXT_LASTNAME" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_LASTNAME" | translate}}' ng-model="sendTo.lastName" id='shipping_last_name').form-control
                        .row
                            .col-md-8
                                label(for='shipping_address') {{:: "TEXT_ADDRESS" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_ADDRESS" | translate}}' ng-model="sendTo.address" id='shipping_address').form-control
                            .col-md-2
                                label(for='shipping_number') {{:: "TEXT_NUMBER" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_NUMBER" | translate}}' ng-pattern="/^-?[0-9][^\.]*$/" ng-model="sendTo.houseNumber" id='shipping_number').form-control
                            .col-md-2
                                label(for='shipping_number_addition') {{:: "TEXT_ADDITION" | translate}}
                                input(type="text" placeholder='{{:: "TEXT_ADDITION" | translate}}' ng-model="sendTo.houseNumberSuffix" id='shipping_number_addition').form-control
                        .row
                            .col-md-6
                                label(for='shipping_zipcode') {{:: "TEXT_ZIP" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_ZIP" | translate}}' ng-model="sendTo.zipcode" id='shipping_zipcode').form-control
                            .col-md-6
                                label(for='shipping_city') {{:: "TEXT_CITY" | translate}}
                                input(type="text" required placeholder='{{:: "TEXT_CITY" | translate}}' ng-model="sendTo.city" id='shipping_city').form-control
                        .row
                            .col-md-12
                                country-list(ng-required="true" ng-model="sendTo.country")
                        .row
                            .col-md-12
                                label(for='shipping_email') {{:: "TEXT_EMAILADRESS" | translate}}
                                input(type="email" ng-disabled="user", ng-required="!user", placeholder='{{:: "TEXT_EMAILADRESS" | translate}}' ng-model="sendTo.email" id='shipping_email').form-control
                                p.help-block(ng-show="user") {{:: "YOU_CAN_CHANGE_YOUR_EMAIL_ADDRESS_FROM_YOUR_ACCOUNT" | translate}}
                                label(for='shipping_phone') {{:: "TEXT_PHONE" | translate}}
                                input(type="text" maxlength='16' placeholder='{{:: "TEXT_PHONE" | translate}}' ng-model="sendTo.phone" id='shipping_phone').form-control
                                p.help-block Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).
                                
                    div.hidden
                        input(type="checkbox" id="shipto" ng-model="sendTo.shipToOtherAddress" value="1").input-checkbox.disabled
                        label(for="shipto") {{:: "TEXT_BILLING_ADDRESS" | translate}}
                    .row
                        div(ng-show="sendTo.shipToOtherAddress").col-md-12
                            h4.heading-underline {{:: "TEXT_BILLING_ADDRESS" | translate}}
                            .row
                                .col-md-4
                                    label(for='billing_first_name') {{:: "TEXT_FIRSTNAME" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_FIRSTNAME" | translate}}' ng-model="billTo.firstName" id='billing_first_name').form-control
                                .col-md-4
                                    label(for='billing_lastname_prefix') {{:: "TEXT_INSERTION" | translate}}
                                    input(type="text" placeholder='{{:: "TEXT_INSERTION" | translate}}' ng-model="billTo.lastNamePrefix" id='billing_lastname_prefix').form-control
                                .col-md-4
                                    label(for='billing_last_name') {{:: "TEXT_LASTNAME" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_LASTNAME" | translate}}' ng-model="billTo.lastName" id='billing_last_name').form-control
                            .row
                                .col-md-8
                                    label(for='billing_address') {{:: "TEXT_ADDRESS" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_ADDRESS" | translate}}' ng-model="billTo.address" id='billing_address').form-control
                                .col-md-2
                                    label(for='billing_number') {{:: "TEXT_NUMBER" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" ng-pattern="/^-?[0-9][^\.]*$/" placeholder='{{:: "TEXT_NUMBER" | translate}}' ng-model="billTo.houseNumber" id='billing_number').form-control
                                .col-md-2
                                    label(for='billing_number_addition') {{:: "TEXT_ADDITION" | translate}}
                                    input(type="text" placeholder='{{:: "TEXT_ADDITION" | translate}}' ng-model="billTo.houseNumberSuffix" id='billing_number_addition').form-control
                            .row
                                .col-md-6
                                    label(for='billing_zipcode') {{:: "TEXT_ZIP" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_ZIP" | translate}}' ng-model="billTo.zipcode" id='billing_zipcode').form-control
                                .col-md-6
                                    label(for='billing_city') {{:: "TEXT_CITY" | translate}}
                                    input(type="text" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_CITY" | translate}}' ng-model="billTo.city" id='billing_city').form-control
                            label(for='billing_email') {{:: "TEXT_EMAILADRESS" | translate}}
                            input(type="email" ng-required="sendTo.shipToOtherAddress" placeholder='{{:: "TEXT_EMAILADRESS" | translate}}' ng-model="billTo.email" id='billing_email').form-control
                            label(for='billing_phone') {{:: "TEXT_PHONE" | translate}}
                            input(type="text" maxlength='16' placeholder='{{:: "TEXT_PHONE" | translate}}' ng-model="billTo.phone" id='billing_phone').form-control
                            p.help-block Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).
                            country-list(ng-required="sendTo.shipToOtherAddress" ng-model="billTo.country")
                        p.form-row.notes
                            label(for="comments") {{:: "TEXT_COMMENTS" | translate}}
                            textarea(id="comments" ng-model="comment" placeholder='{{:: "TEXT_COMMENTS" | translate}}' rows="2" cols="5" ).form-control
                .col-md-3.col-xs-12
                    .cart_totals
                        h3.heading-underline {{:: "TEXT_PRICE_OVERVIEW" | translate}}
                        table.table-wide
                            tbody
                                tr(ng-repeat="product in cart")
                                    th
                                        span.count {{product.quantity}} x {{product.name}}
                                    td
                                        spam.amount {{ product.price * product.quantity | currency: '&euro; '}}
                                tr.cart-subtotal
                                    th {{:: "TEXT_SUBTOTAL" | translate}}
                                    td
                                        span.amount {{total | currency:'€ '}}
                                    tr.shipping
                                        th {{:: "TEXT_SHIPPING_PRICE" | translate}}
                                        td
                                            span 
                                                i {{:: "TEXT_FREE_SHIPPING" | translate}}
                                tr.order-total
                                    th
                                        strong {{:: "TEXT_TOTAL" | translate}}
                                    td
                                        strong
                                            span.amount {{total | currency:'€ '}}
                        #payment
                            a.btn.btn-lg.btn-green(ng-click="submitOrder()") {{:: "TEXT_CHECKOUT" | translate}}
                            p.pay-description
                                | {{:: "THE_PAYMENT_IS_PROCESSED_THROUGH_MOLLIE_YOU_WILL_BE_FORWARDED" | translate}}
                            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                                p(bind-html-compile="alert.msg")
                            img(src="images/loading.gif", style="width:100px; margin-right: 150px; margin-bottom: 10px", ng-show="loading")