div.home-background
	.container
		.row.home-products.block.text-center
			div.hidden-xs.hidden-sm.hidden-md
				br
				br
				br
				h5.no-underline {{:: "PRISMANOTE_JEWELLERS_ROUTE_TO_SUCCESS" | translate}}
				br
				h3(style="color=#fff").no-underline {{:: "WORK_EFFICIENT_AND_COMMUNICATE_DIGITAL_WITH_CUSTOMERS" | translate}}
			div
				br
				br
			div.hidden-xs.hidden-sm.hidden-md
				br
				br
				br
			div
				.btn-group
					button#single-button.btn.btn-green.button-margin-right(type='button', ng-controller="authController" ng-click="openLoginModal()") {{:: "MAIN_LOGIN" | translate}}
					| &nbsp
					button#single-button.btn.btn-light.text-center(type='button', ng-click='openLoginRegisterModal("request")') {{:: "TEST_SOFTWARE_FOR_FREE" | translate}}
			div.hidden
				.btn-group(uib-dropdown='', is-open='status.isopen')
					button#single-button.btn.btn-green.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled') {{selectedTestApp}}
						span.caret
					ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
						li(role='menuitem')
							a(ng-click="activeTab = 0; showForm = true; selectedTestApp = 'Gratis Social Media portal'") {{:: "FREE_SOCIAL_MEDIA_PORTAL" | translate}}
						li(role='menuitem')
							a(ng-click="activeTab = 2; showForm = true; selectedTestApp = 'Ontwerp website/webshop'") {{:: "DESIGN_WEBSITE_WEBSHOP" | translate}}
						li(role='menuitem')
							a(ng-click="activeTab = 4; showForm = true; selectedTestApp = 'Klanten Apps'") {{:: "CUSTOMER_APPS" | translate}}
						li.divider
						li(role='menuitem')
							a(ng-click="activeTab = 3; showForm = true; selectedTestApp = 'Info Kassa/ERP software'") {{:: "INFO_CASH_ERP_SOFTWARE" | translate}}
						li(role='menuitem')
							a(ng-click="activeTab = 1; showForm = true; selectedTestApp = 'Prijslijst'") {{:: "PRICE_LIST" | translate}}
					| &nbsp
					button#single-button.btn.btn-light.text-center.hidden-xs.hidden-sm.hidden-md(type='button', ng-click='openLoginRegisterModal("request")') {{:: "REGISTER_FOR_FREE" | translate}}
			div.hidden-xs.hidden-sm.hidden-md
				br
				br
				br
			uib-tabset(active='activeTab' ng-show='showForm')
				uib-tab(index='0', ui-sref='tab0', ng-hide="true", heading='Marketing App')
					div
						uib-accordion(close-others='oneAtATime')
							.panel(uib-accordion-group='', heading='{{:: "ADVANTAGES" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								h4 {{:: "WITH_THIS_APP_JEWELLERS_ORGANISE_PROFESSIONAL_DIGITAL_CAMPAIGNS" | translate}}
								b {{:: "ADVANTAGES" | translate}}
								ul
									li {{:: "DEPLOY_MARKETING_BUDGET_MORE_EFFECTIVELY" | translate}}
									li {{:: "FOR_DIGITAL_ADVERTISEMENTS_YOU_PAY_70_LESS" | translate}}
									li {{:: "YOU_CAN_CHOOSE_YOUR_OWN_CAMPAIGNS_AND_CONTROL_YOUR_MARKETING" | translate}}
									li {{:: "YOU_MAKE_ADS_AT_HIGHEST_LEVEL_THE_IDEAL_PROMOTION_STRATEGY_IS_ALREADY_DEVISED" | translate}}
								br
								b {{:: "THIS_TOOL_ENSURES_YOU_REACH_NEW_CLIENTS_STRUCTURALLY" | translate}}
							.panel-default(uib-accordion-group='', heading='{{:: "USE_FOR_FREE" | translate}}')
								h5  {{:: "YOU_CAN_USE_MARKETING_SOFTWARE_FOR_FREE" | translate}}
								br
								p {{:: "TRY_OUT_THE_APP_FOR_FREE_BY_REGISTERING_YOURSELF" | translate}}
								a.btn.btn-yellow.btn-lg(type='button', ng-controller="authController" ng-click='openLoginRegisterModal("register")') {{:: "USING_THIS_SOFTWARE_FOR_FREE" | translate}}
								br
								br
								h4 {{:: "WHICH_FUNCTIONS_CAN_I_USE_MORE" | translate}}
								b {{:: "PROFILE_ON_" | translate}}horlogemagazijn.nl
								ul
									li {{:: "ADJUST_YOUR_DATA" | translate}}
									li {{:: "SHOW_FOR_FREE_WHICH_BRANDS_YOU_SELL" | translate}}
									li {{:: "SHOW_WHEN_YOU_ARE_OPEN" | translate}}
								b {{:: "TEST_THE_CUSTOMERS_APP" | translate}}
								ul
									li {{:: "TEST_PURCHASE_REGISTRATION_APP" | translate}}
								br
								b {{:: "THIS_TOOL_ENSURES_YOU_CAN_REACH_STRUCTURALLY_EASY_NEW_CLIENTS" | translate}}
								br
							.panel-default(uib-accordion-group='', heading='{{:: "START_DIRECT" | translate}}' ng-show="user.role=='retailer'")
									a.btn.btn-sm.btn-green(href="", ng-click='') {{:: "VIDEO_INTRODUCTION" | translate}}
									a.btn.btn-sm.btn-light(href="/retailer/campaigns", ng-click='editSection = "actions"') {{:: "VIEW_PORTAL" | translate}}
							.row
							br
							div.pull-right
								a.btn.btn-sm.btn-light(href="https://prismanoteforjewellers.com/brand-promotion/", target='_blank' ng-class="btn-md") {{:: "I_M_BRAND_MORE_INFO" | translate}}
							div.pull-right
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanoteforjewellers.com/more-visitors-to-my-store/" target="_blank" ng-show="language != 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanotevoorjuweliers.nl/meer-bezoekers/", target='_blank' ng-show="language == 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
				uib-tab(index='2', ui-sref='tab1', ng-hide="true", heading='{{:: "DESIGN_WEBSITE_APP" | translate}}')
					div
						uib-accordion(close-others='oneAtATime')
							.panel-default(uib-accordion-group='', heading='{{:: "1_REGISTER" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								div
									a(href="" ng-controller="authController" ng-click='openLoginRegisterModal("request")' is-open="status.isFirstOpen")
										i.fa.fa-user
										| {{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "Registreren" | translate }}
							.panel-default(uib-accordion-group='', heading='{{:: "2_SEARCH_YOUR_STORE" | translate}}' is-disabled="user.shops.length > 0 ? false : true")
								.row
								div(ng-show="user.role=='retailer'")
									p(ng-hide="user.shops.length") {{:: "YOUR_ACCOUNT_IS_NOT_LINKED_TO_A_STORE_CONTACT_US_ON_" | translate}}+31 345 631 776
									p(ng-show="user.shops.length") {{:: "YOUR_ACCOUNT_IS_NOT_LINKED_TO_A_STORE_IF_YOU_HAVE_MULTIPLE_STORES_SELECT_THE_RIGHT_ONE" | translate}}
									select(ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops", ng-change="getShop(selectedShop)", ng-show="user.shops.length").form-control
								//- div(ng-hide="user.role=='retailer'")
								//- 	.block
								//- 		.col-md-12(ng-init="getShopList()")
								//- 			h3(ng-if="heading == true") Juweliers
								//- 			input.form-control(ng-model="shopFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
								//- 			br
								//- 			p Staat uw winkel er niet bij? Bel: 0345 631 776?
								//- 			br
								//- 			img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
								//- 			.list-group
								//- 				a(ng-repeat="shop in shops | filter: shopFilter | limitTo:5", ui-sref="{{getShopType()}}.loyalty-program({nameSlug: shop.nameSlug})").list-group-item
								//- 					div {{shop.name}}
							.panel-default(uib-accordion-group='', heading='{{:: "3_CHECK_YOUR_DATE" | translate}}' is-disabled="true")
									p(style="color:#d9534f") {{:: "IF_YOU_ARE_NOT_LOGGED_IN_UNDER_THE_CORRECT_ACCOUNT_THE_CHANGES_WILL_EFFECTED_IF_THE_ADMIN_GIVES_OK" | translate}}
									form(name="editShop", ng-submit="submitShop(editShop.$valid)", novalidate)
											.col-md-4
													h4 {{:: "TEXT_STORE" | translate}}
													p
														label(for="name") {{:: "TEXT_STORENAME" | translate}}
														input(type="text", required, ng-model="currentShop.name" id="name", placeholder='{{:: "TEXT_STORENAME" | translate}}').form-control
													p
														label(for="email") {{:: "INPUT_EMAILADRESS" | translate}}
														input(type="email", required, ng-model="currentShop.email" id="email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}').form-control
													p
														label(for="url") {{:: "TEXT_WEBSITE" | translate}}
														input(type="text", required, ng-model="currentShop.website" id="url", placeholder='{{:: "TEXT_WEBSITE" | translate}}').form-control
													p
														label(for="bankAccountNumber") {{:: "BANKACCOUNTNUMBER_IBAN" | translate}}
														input(type="test", required, ng-model="currentShop.bankAccountNumber", name="bankAccountNumber" ng-iban id="iban" placeholder='AD1200012030200359100100').form-control
														button(ng-click='alertValidIBAN(currentShop.bankAccountNumber);') CHECK
														<p ng-show="editShop.bankAccountNumber.$invalid" class="help-block">{{:: "IBAN_IS_INVALID" | translate}}</p>
													p
														label(for="accountHolder") {{:: "BANK_ACCOUNT_HOLDER" | translate}}
														input(type="text", required, ng-model="currentShop.accountHolder" id="accountHolder", placeholder='{{:: "BANK_ACCOUNT_HOLDER" | translate}}').form-control
													p
														label(for="swiftCode") {{:: "SWIFT_BIC_CODE" | translate}}
														input(type="text", required, ng-model="currentShop.swiftCode" id="swiftCode", placeholder='{{:: "SWIFT_CODE" | translate}}').form-control
													p
														label(for="bicCode") {{:: "PVC" | translate}}
														input(type="text", required, ng-model="currentShop.pvc" id="pvc", placeholder='{{:: "PVC" | translate}}').form-control
													p
														label(for="bicCode") {{:: "VAT_NUMBER" | translate}}
														input(type="text", required, ng-model="currentShop.vatNumber" id="vatNumber", placeholder='{{:: "VAT_NUMBER" | translate}}').form-control
													p
														button(type="submit", ng-disabled="editShop.$invalid").btn.btn-lg {{:: "BUTTON_SAVE" | translate}}
											.col-md-4(ng-init="getBrands()")
													h4 {{:: "TEXT_YOUR_BRANDS" | translate}}
													angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
													.list-group
															a(ng-repeat="brand in currentShop.brands").list-group-item
																	span
																			| {{brand.name}} 
																			span(ng-show="!brand.restricted").label.label-info
																					| {{:: "DEALER" | translate}}
																	span.pull-right.button-group
																			i.fa.fa-times(ng-click="deleteBrand($index)")
							.panel-default(uib-accordion-group='', heading='Uw winkel bekijken').hidden
								p {{:: "VIEW_YOUR_PROFILE_HERE_YOU_CAN_CONVERT_YOUR_PROFILE_FOR_750_EUROS_INTO_A_PROFESSIONAL_WEBSITE_GO_TO_THE_NEXT_TAB" | translate}}
								.row
								.block
									.col-md-12(ng-init="getShopList()")
										br
										.list-group
											//- a(ng-repeat="shop in shops | filter: shopFilter | limitTo:1", ui-sref="{{getShopType()}}.home({nameSlug: shop.nameSlug})", target="blank").list-group-item
											//- 	div {{shop.name}}
							.panel-default(uib-accordion-group='', heading='{{:: "4_YOUR_WISHES_FOR_YOUR_WEBSITE" | translate}}' is-disabled="true")
								a.btn.btn-dark(href="" ng-class="btn-md") Juwelier Bos
								a.btn.btn-dark(href="" ng-class="btn-md") Horlogemagazijn.nl
								a.btn.btn-dark(href="" ng-class="btn-md") Demojuwelier
								.row
								img(src="https://prismanotevoorjuweliers.nl/wp-content/uploads/2017/06/prismanote-ecommerce-experience.jpg")
								div
									.col-md-3
									.col-md-6
											h4 {{:: "TEXT_CHARACTERISTICS" | translate}}
											.row.padding-bottom
													.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_DEACTIVATION_SHOP' | translate}}'")
															toggle-switch(id="active", name="active", ng-model="currentShop.isPublished", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
													.col-md-8
															label(for="active") {{:: "TEXT_SHOPISACTIVE" | translate}}
											.row.padding-bottom
													.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_NO_STOCK_SO_PRODUCTS_WILL_ALWAYS_BE_SENT_FROM_DROPSHIPPERS' | translate}} '")
															toggle-switch(id="sendproducts", name="sendproducts", ng-model="currentShop.sendProducts", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
													.col-md-8
															label(for="sendproducts") {{:: "TEXT_SENDPRODUCTSTOCONSUMERS" | translate}}
											.row.padding-bottom
													.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_PRODUCT_SENDING_FOR_OTHER_SHOPS' | translate}}'")
															toggle-switch(id="dropshipper", name="dropshipper", ng-model="currentShop.isDropShipper", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
													.col-md-8
															label(for="dropshipper") {{:: "TEXT_EXPLANATION_PRODUCT_SENDING_TO_RETAILER" | translate}}
											.row.padding-bottom
													.col-md-4(uib-tooltip-html="'{{:: 'TEXT_EXPLAINATION_DISPLAY_PRODUCTS_WHOAREONLINEAVAILABLE' | translate}}'")
															toggle-switch(id="showproducts",  name="showproducts", ng-model="currentShop.showAllproducts", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
													.col-md-8
															label(for="showproducts") {{:: "TEXT_EXPLAINATION_DISPLAY_ALL_PRODUCTS" | translate}}
											hr
											h4(ng-if="currentShop.isPremium") {{:: "YOU_HAVE_A_PROFESSIONAL_SHOP" | translate}}
											h4(ng-if="currentShop.isPremium == false") {{:: "GET_A_PROFESSIONAL_SHOP" | translate}}
											.row.padding-bottom
													.col-md-1
													.col-md-11
														ul
															li {{:: "USE_YOUR_WEBSITE_UNDER_YOUR_OWN_URL" | translate}}
															li {{:: "USE_YOUR_WEBSITE_WITHOUT_TOPBAR" | translate}}
															li {{:: "MAKE_MORE_THAN_100_PRODUCTS_VISIBLE" | translate}}
															b {{:: "GET_A_PROFESSIONAL_SHOP_HERE" | translate}}
											.row.padding-bottom
													.col-md-1
													.col-md-4(uib-tooltip-html="'{{:: 'EXPLAIN_PROFESSIONAL_SHOP_PLUS_100_PRODUCTS' | translate}}'")
															toggle-switch(id="showproducts", name="proMax500", ng-model="currentShop.isPremium", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-disabled="currentShop.isPremium || currentShop.isPremium == false").disabled
													.col-md-7
															label(for="showproducts") {{:: "PROFESSIONAL_SHOP_MAX_500_PRODUCTS" | translate}}
											.row
													.col-md-1
													.col-md-4(uib-tooltip-html="'{{:: 'EXPLAIN_PROFESSIONAL_SHOP_UNLIMITED_PRODUCTS' | translate}}'")
															toggle-switch(id="showproducts", name="proUnlimited", ng-model="currentShop.isPremium", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-disabled="currentShop.isPremium || currentShop.isPremium == false").disabled
													.col-md-7
															label(for="showproducts") {{:: "PROFESSIONAL_SHOP_UNLIMITED_PRODUCTS" | translate}}
											hr
									.col-md-3
									.row
							.panel-default(uib-accordion-group='', heading='{{:: "PURCHASE_REGISTRATION_APP" | translate}}' is-disabled="true")
								h5 {{:: "DATA_FILLED_IN_SUCCESSFULLY_AFTER_YOUR_PAYMENT_WE_WILL_START_TO_FURTHER_DESIGN_AND_SET_UP_YOUR_WEBSITE" | translate}}
								div
									a.btn.btn-dark.pull-right(href="") {{:: "SUBMIT_REQUEST" | translate}}
								div
									a.btn.btn-light(href="") {{:: "PAY_DIRECTLY" | translate}}
							.row
							br
							div.pull-right
								a.btn.btn-sm.btn-light(href="https://prismanoteforjewellers.com/make-visitors-a-customer/", target="_blank" ng-show="language != 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
								a.btn.btn-sm.btn-light(href="https://prismanotevoorjuweliers.nl/website-webshop/", target='_blank' ng-show="language == 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
				uib-tab(index='3', ui-sref='tab2', ng-hide="true", heading='')
					div
						uib-accordion(close-others='oneAtATime')
							.panel-default(uib-accordion-group='', heading='{{:: "CASH_STOCK_REPAIR_SOFTWARE" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								br
								.col-md-2
								.col-md-8
									iframe(src='https://youtube.com/embed/pkvBeo_2F7g', width='100%', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
								.col-md-2
								.row
								a.btn.btn-dark(href="https://prismanoteforjewellers.com/clarity-success/", target="_blank" ng-show="language != 'nl'") {{:: "DISCOVER_THE_DIFFERENT_MODULES_OF_CS" | translate}}
								a.btn.btn-dark(href="https://prismanotevoorjuweliers.nl/kassasysteem-juweliers/", target='_blank' ng-show="language == 'nl'") {{:: "DISCOVER_THE_DIFFERENT_MODULES_OF_CS" | translate}}
								div.hidden
									.uib-carousel(uib-carousel active="activeSlide" interval="7000")
										div(uib-slide ng-repeat="slide in softwareSlider" index="$index" style="height: 320px")
											img(ng-src="{{slide.src}}" alt="{{slide.alt}}")
								.row
								p.text-center {{:: "DO_YOU_WANT_TO_SEE_THE_SOFTWARE_IN_REAL_LIFE" | translate}}
								div
									label {{:: "CALL_US_AND_MAKE_APPOINTMENT" | translate}}
									br
									| +31 345 631 776
									br
									.row
							br
							div.pull-right
								a.btn.btn-dark(href="https://prismanoteforjewellers.com/clarity-success/", target="_blank" ng-show="language != 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
								a.btn.btn-sm.btn-light(href="https://prismanotevoorjuweliers.nl/kassasysteem-juweliers/", target='_blank' ng-show="language == 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
				br
				br
				uib-tab.pull-right(index='4', ui-sref='tab3', ng-hide="true", heading='Rondleidingen' uib-tooltip-html="'Neem een Digitale rondleiding door de software'")
					div
						uib-accordion(close-others='oneAtATime')
							.panel-default(uib-accordion-group='', heading='{{:: "ADVANTAGES" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								br
								h4 {{:: "THIS_APP_KEEPS_JEWELLERS_IN_TOUCH_WITH_EXISTING_CUSTOMERS" | translate}}
								b {{:: "WHY_THIS_APP" | translate}}
								ul
									li {{:: "THE_CUSTOMER_MAKES_A_PURCHASE_AND_IS_HAPPY_BUT_MUST_KEEP_THE_GUARANTEE_CERTIFICATE" | translate}}
									li {{:: "HE_GOES_OUT_OF_THE_SHOP_BUT_GETS_MANY_MESSAGES_SO_HE_GETS_OUT_OF_SIGHT" | translate}}
									li {{:: "SENDING_NEWSLETTERS_IS_NOT_EASY" | translate}}
								br
								b {{:: "HOW_DOES_IT_WORK" | translate}}
								ul
									li {{:: "OPEN_THE_APP" | translate}}
									li {{:: "YOU_TAKE_A_PICTURE_OF_THE_WARRANTY_CERTIFICATE_AND_FILL_IN_CUSTOMERS_DATA" | translate}}
									li {{:: "THE_CUSTOMER_WILL_RECEIVE_AN_EMAIL_WITH_PHOTO_OF_WARRANTY_CERTIFICATE" | translate}}
									li {{:: "APP_CONTAINS_MANY_STANDARD_EMAILS_WHICH_CAN_BE_SEND_TO_THE_CUSTOMER_AUTOMATICALLY" | translate}}
								br
								b {{:: "THIS_TOOL_KEEPS_YOU_IN_TOUCH_WITH_THE_CUSTOMER_WITH_PRE_ARRANGED_EMAILS_EASY_AND_EFFICIENT" | translate}}
								div.pull-right
									a.btn.btn-sm.btn-light(href="https://prismanoteforjewellers.com/keeping-existing-customers/" target="_blank" ng-show="language != 'nl'" ng-class="btn-md") {{:: "LEARN_MORE" | translate}}
									a.btn.btn-sm.btn-light(href="https://prismanotevoorjuweliers.nl/klanten-behouden/" target="_blank" ng-show="language == 'nl'" ng-class="btn-md") {{:: "LEARN_MORE" | translate}}
									br
									br
							.panel-default(uib-accordion-group='', heading='{{:: "TRY_OUT_WITHOUT_OBLIGATION" | translate}}')
								br
								br
								h5 {{:: "WANT_TO_USE_THIS_APP_UNLIMITEDLY" | translate}}
								p.text-center {{:: "SUBSCRIBE_FOR" | translate}}&nbsp
									b {{:: "ONLY_5_EURO" | translate}}&nbsp
									| {{:: "PER_MONTH" | translate}}
								p {{:: "TRY_OUT_THE_APP_NOW_WITHOUT_OBLIGATION_BY_REGISTERING_YOURSELF" | translate}}
								| {{:: "REQUEST_AN_ACCOUNT_AND_FOLLOW_THE_STEPS_TO_INSTALL_THE_APPLICATION" | translate}}
								.row
								br
								a.btn.btn-yellow.btn-lg.button-margin-right(type='button', ng-controller="authController" ng-click='openLoginRegisterModal("request")') {{:: "USE_THIS_APPLICATION_FOR_FREE" | translate}}
								a.btn.btn-dark.btn-lg(type='button', ui-sref="layout.instruction-crmApp", target="_blank") {{:: "HOW_DO_YOU_INSTALL_THE_WEB_APP_ON_MOBILE_TABLET" | translate}}
								br
							br
							div.pull-right
								a.btn.btn-sm.btn-light(ui-sref="layout.instruction-crmApp", target="_blank") {{:: "DIRECTLY_TO_MANUAL" | translate}}
							div.pull-right
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanoteforjewellers.com/keeping-existing-customers/" target="_blank" ng-show="language != 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanotevoorjuweliers.nl/klanten-behouden/", target='_blank' ng-show="language == 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
				uib-tab.pull-right(index='1', ng-hide="true", ui-sref='tab4', heading='Inspiratie')
					div
						uib-accordion(close-others='oneAtATime')
							.panel-default(uib-accordion-group='', heading='{{:: "PRISMANOTE_SOFTWARE" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								h5 {{:: "I_DO_THIS_MYSELF_WITH_4_SOLUTIONS_FROM_PRISMANOTE" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "I_DO_MONTLY_WEEKLY_PROMOTIONS_ON_SOCIAL_MEDIA" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.socialMediaTool", ng-init="user.socialMediaTool = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.socialMediaTool, 0)")
								.col-md-2
										label(for="active") + {{:: "THIS_PROGRAM_IS_COMPLETELY_FREE_OF_CHARGE" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "I_COLLECT_MY_CUSTOMER_DATA_VIA_THE_CRM_APP" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.crmApp", ng-init="user.crmApp = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.crmApp, 5)")
								.col-md-2
										label(for="active") {{:: "PLUS_5_EURO_PER_MONTH" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "I_DETERMINE_FOR_MYSELF_WHAT_MY_WEBSITE_LOOKS_LIKE" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.website", ng-init="user.website = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.website, 25)")
								.col-md-2
										label(for="active") {{:: "PLUS_25_PER_MONTH" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "WHETHER_I_WANT_AN_EXTENSIVE_WEBSHOP_WITH_MORE_THAN_500_PRODUCTS" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.webshop", ng-init="user.webshop = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.webshop, 25)")
								.col-md-2
										label(for="active") {{:: "PLUS_25_PER_MONTH" | translate}}
								.row
								.row.padding-bottom
							.panel-default(uib-accordion-group='', heading='{{:: "REQUEST_ADDITIONAL_MARKETING_SUPPORT" | translate}}')
								h5 {{:: "RECOMMENDED_SUPPORT_CAPABILITIES_OF_PRISMANOTE" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "I_WANT_TO_BE_CALLED_EVERY_MONTH_BY_A_MARKETING_EXPERT_WHO_HELPS_ME_TO_USE_CONTENT" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.telephoneSupport", ng-init="user.telephoneSupport = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.telephoneSupport, 25)")
								.col-md-2
										label(for="active") {{:: "PLUS_25_PER_TELEPHONE_SUPPORT_30_MINUTES" | translate}}
								.col-md-1
								.row.padding-bottom
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "I_WANT_EXTERNAL_SUPPORT_FOR_SUPPLEMENTING_PRODUCTS_THAT_ARE_NOT_YET_ON_PRISMANOTE" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.productInfoSupport", ng-init="user.productInfoSupport = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.productInfoSupport, 0)")
								.col-md-2
										label(for="active") {{:: "PLUS_030_PER_PRODUCT" | translate}}
								.col-md-1
								.row
								br
								br
								h5 
									a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo")
										span &nbsp; {{:: "ADDITIONAL_OPTIONS_DEPENDING_ON_YOUR_TEAM" | translate}} &nbsp;
										span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
								div(uib-collapse="!showInfo")
									.row
									.col-md-1
									.col-md-6
											label(for="active") {{:: "TAKE_YOUR_OWN_CONTENT_PHOTOS_VIDEOS_OR_RESERVE_A_PHOTO_SESSION_FOR_YOUR_STORE" | translate}}
									.col-md-2
										toggle-switch(id="active", name="active", ng-model="user.ContentMakingVisit", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.ContentMakingVisit, 0)")
									.col-md-2
											label(for="active") {{:: "PLUS_300_EURO_PER_VISIT_ON_LOCATION_AND_EDIT_PHOTOS" | translate}}
									.row.padding-bottom
									.col-md-1
									.col-md-6
											label(for="active") {{:: "I_WANT_EXTERNAL_SUPPORT_IN_MAKING_ACTIONS_WORK_WITH_PHOTOSHOP_ETC" | translate}}
									.col-md-2
										toggle-switch(id="active", name="active", ng-model="user.hourBasedSupport", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.hourBasedSupport, 0)")
									.col-md-2
											label(for="active") {{:: "30_EURO_PER_HOUR_MAKE_ADVERTISMENTS_NEWSLETTERS_ETC" | translate}}
									.col-md-1
									.row.padding-bottom
									div.hidden
										.col-md-1
										.col-md-6
												label(for="active") Nadenken over uw boodschap voor uw klant met uw TEAM en/OF bij PrismaNote in Asperen. Beleg een sessie over waar uw graag foto's van zou willen maken voor op Facebook.
										.col-md-2
											toggle-switch(id="active", name="active", ng-model="user.inspirationSessionSupport", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.inspirationSessionSupport, 0)")
										.col-md-2
												label(for="active") + 0,00 €
									.col-md-1
									.row.padding-bottom
							.panel-default(uib-accordion-group='', heading='{{:: "CS_SOFTWARE" | translate}}')
								h5 {{:: "OPPERTUNITIES_FOR_SHOP_SOFTWARE" | translate}}
								.col-md-1
								.col-md-6
										label(for="active") {{:: "POS_FUNCTION" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.basic", ng-init="user.basic = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.basic, 35)")
								.col-md-2
										label(for="active") {{:: "PLUS_FROM_35_EURO_PER_MONTH" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "POS_FUNCTION_AND_STOCK_MANAGEMENT" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.csstandard", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.csstandard, 55)")
								.col-md-2
										label(for="active") {{:: "PLUS_FROM_55_EURO_PER_MONTH" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "POS_FUNCTION_AND_STOCK_MANAGEMENT_AND_CUSTOMERS" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.csBronze", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.csBronze, 75)")
								.col-md-2
										label(for="active") {{:: "PLUS_FROM_75_EURO_PER_MONTH" | translate}}
								.row
								.col-md-1
								.col-md-6
										label(for="active") {{:: "POS_FUNCTION_AND_STOCK_MANAGEMENT_AND_CUSTOMERS_AND_REPAIRS" | translate}}
								.col-md-2
									toggle-switch(id="active", name="active", ng-model="user.csSilver", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-change="calculate(user.csSilver, 95)")
								.col-md-2
										label(for="active") {{:: "PLUS_FROM_95_EURO_PER_MONTH" | translate}}
								.row.padding-bottom
							br
							div.pull-right
								h5.totalAmount-background {{:: "ONLY_" | translate}}{{total | currency:'€'}}  {{:: "PER_MONTH" | translate}}
								.col-md-12.hidden
									div
										a.btn.btn-dark.pull-right(href="") {{:: "SEND_IN_REQUEST" | translate}}
									div
										a.btn.btn-light(href="") {{:: "PAY_IMMEDIATELY" | translate}}
	.container
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
div
	.container
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
div.home-green-background
	.container
		br
		br
		br
		h3.home-white-text AUTOMATISEER UW JUWELIERSZAAK MET DE BESTE OPLOSSING!
		br
		br
		br
div
	.container
		br
		br
		br
		br
		.row
		.col-md-12
			.row
			.col-md-4
				b Uitgebreid
				p PrismaNote is een compleet online Winkel management systeem. Het is uitgebreider dan bestaande systemen omdat u ook uw online zaken ermee regelt. Het bevat naast Kassa, Voorraadbeheer, CRM en reparatie ook een tool waarmee u uw website kunt beheren en zelf makkelijk online-marketing kunt doet. Optimaliseer met PrismaNote alle processen in uw juwelierszaak zonder dat u nog andere software nodig hebt of voor koppelingen tussen verschillende software hoeft te betalen. 
				br
			.col-md-4
				b Eenvoudig en slim
				p Alle oplossingen zijn via PrismaNote.com direct te gebruiken en werken op ieder apparaat. Ook met alleen een tablet kunt u uw klanten al flexibel helpen. PrismaNote vereist geen grote investering, systeembeheer, servicekosten of het maken van eigen back-ups. U betaald naar de mate u gebruikt per maand. Het werkt simpel: Log in en probeer gratis alle functies m.b.v. de instructie video's. Doe dat direct hier.
				br
			.col-md-4
				b Slim samenwerken
				p PrismaNote is specifiek voor juweliers gemaakt. Product info, collecties en 'niet-winkel-specifieke leverancier info' worden in PrismaNote door de gebruikers gezamelijk beheerd. Hierom hoeft u nog slechts 20% van uw producten en leveranciers zelf toe te voegen. Bespaar voortaan 2 dagen per week die u normaal besteed om producten op uw website te zetten en richt u op communicatie met uw klanten. Doe mee aan marketing acties die uw merk heeft opgezet. Scroll naar beneden en lees meer over.
				br
		.row
			br
			br
			br
			p.text-center 
				| Wilt u direct de kassa op uw tablet testen? Bezoek PrismaNote.com op een tablet en meldt u aan.
				br
				| Let op! Na het aanmelden is uw account nog niet direct aan een winkel gekoppeld. Op werkdagen koppelen we accounts direct en kunt u binnen 20 minuten starten. (u kunt evt. ook direct +31 345 631 776 bellen)
			br
			br
			br
			.col-md-2
			.col-md-8
				div(ng-if="language =='nl'" style="height: 522px")
					.panel-body(style="padding: 0px 0 0 0; text-align: center; height: 422px")
						iframe(src="https://player.vimeo.com/video/250236246?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='en'" style="height: 522px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 422px")
						iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='de'" style="height: 522px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 422px")
						iframe(src="https://player.vimeo.com/video/197286309?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='fr'" style="height: 522px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 422px")
						iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='es'" style="height: 522px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 422px")
						iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				h5.text-center "Uw hele winkel geautomatiseerd via PrismaNote.com. Bekijk hier meer video's van de Kassa, Website, Webshop, Reparatie klanten-app en marketing App"
					br
					br
					div
						.btn-group
							button#single-button.btn.btn-light.button-margin-right(type='button', ng-controller="authController" ng-click="openLoginModal()") {{:: "MAIN_LOGIN" | translate}}
							| &nbsp
							button#single-button.btn.btn-green.text-center(type='button', ng-click='openLoginRegisterModal("request")') {{:: "TEST_SOFTWARE_FOR_FREE" | translate}}
					//-button#single-button.btn.btn-lg.btn-dark.button-margin-right(type='button', ng-controller="authController" ng-click="openLoginModal()") {{:: "MAIN_LOGIN" | translate}}
		//-img(src="https://prismanotevoorjuweliers.nl/wp-content/uploads/2018/03/prismanote-kassa-voor-juweliers-1170x878.png" style="max-width: 70%").pull-right
		.col-md-2
	br
	br
div.home-green-background
	.container
		br
		br
		br
		//-button#single-button.btn.btn-lg.btn-light.button-margin-right.pull-right(type='button', ng-controller="authController" ng-click="openLoginModal()").text-center {{:: "MAIN_LOGIN" | translate}} als merk
		h3.home-white-text Merken en winkeliers verkopen samen meer
		br
		br
		br
div
	.container
		br
		br
		br
		br
		.row
		.col-md-12
			.row
			.col-md-4
				b Als winkelier wordt u geholpen
				p Groothandels, merken en winkeliers helpen samen de eind-consument beter. Merken gebruiken PrismaNote om marketing-campagnes op te zetten, versturen producten, verzorgen nieuwsberichten en helpen met de nieuwste content & product-informatie. De winkelier doen dit ook en houden meer tijd over om zich te richten op de eind-consument. Hierdoor verkopen beide partijen meer. 
				br
			.col-md-4
				b Voordelen voor merken
				p Sterke merken verkopen het best. Ze hebben een nette presentatie, gelijke prijzen en leveren goede support aan het verkoopkanaal. Door het laatste te doen kunnen we de eerste twee makkelijker bereiken. Met PrismaNote deelt u gemakkelijk productinformatie die juweliers met een paar klikken kunnen toevoegen aan hun kassa en webshop. Met PrismaNote stimuleert u als merk uw winkeliers om de juiste prijzen en productinformatie te tonen. Ook kunt u uw inkoopprijzen tonen.
				br
			.col-md-4
				b Samen meer mensen bereiken
				p Via het platform kunnen merken campagnes versturen die dealers kunnen promoten op hun Social Media kanalen. Hiermee bereikt u de consument online en deelt u de marketingkosten met uw dealernetwerk. U kunt PrismaNote gebruiken ongeacht of uw dealernetwerk PrismaNote gebruikt of niet. Bent u een merk? Test hier direct uw eerste campagne.
				br
		.row
		.col-md-5
			br
			br
			//-button#single-button.btn.btn-lg.btn-green.button-margin-right(type='button', ng-controller="authController" ng-click="openLoginModal()").text-center {{:: "MAIN_LOGIN" | translate}} als juwelier
			br
			br
			button#single-button.btn.btn-lg.btn-green.button-margin-right(type='button', ui-sref="brand.new-campaign").text-center Organiseer uw eerste campagne als merk
			br
		.col-md-7
			img(src="https://prismanotevoorjuweliers.nl/wp-content/uploads/2018/03/prismanote-kassa-voor-juweliers-1170x878.png" style="max-width: 70%")
			//- button#single-button.btn.btn-lg.btn-light.button-margin-right.pull-right(type='button', ng-controller="authController" ng-click="openLoginModal()").text-center {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
			//- button#single-button.btn.btn-lg.btn-light.button-margin-right.pull-right(type='button', ng-controller="authController" ng-click="openLoginModal()").text-center {{:: "I_M_BRAND_MORE_INFO" | translate}}
	br
	br
	br
	br
	br
	br
div.home-green-background
	.container
		br
		br
		br
		.row
		.col-md-4
			button#single-button.btn.btn-light.text-center(type='button', ng-click='openLoginRegisterModal("request")') {{:: "TEST_SOFTWARE_FOR_FREE" | translate}}
		.col-md-1
			h6 Let op!
		.col-md-7
			h6 
				| NA HET AANMELDEN IS AAN UW ACCOUNT NOG NIET DIRECT AAN EEN WINKEL GEKOPPELD. OP WERKDAGEN KOPPELEN WE ACCOUNTS DIRECT EN KUNT U BINNEN 20 MINUTEN STARTEN.
		br
		br
		br
		br
		br
		br
		//- 		p als merk online marketing campagnes samen met winkeliers. 
		//- 		p 
		//- 		p Een goede samenwerking is voor merken essentieel om een merk goed in de markt te zetten.
		//- 		p Dus optimaliseer met PrismaNote uw verkoop en marketing. Groothandels en merken kunnen via de cloudsoftware volledig integreren met hun dealernetwerk. Dankzij de overzichtelijke opzet, kunt u winkeliers effectief helpen met de verkoop van uw producten. Omdat de software online draait, bespaart u bovendien op systeembeheer en back-ups.
		//- .row
