doctype html
html(ng-app='prismanoteApp', ng-strict-di='true')
  head
    base(href='/')
    link(href='https://unpkg.com/grapesjs/dist/css/grapes.min.css', rel='stylesheet')    
    //- link(href='http://127.0.0.1:8080/styles/style.css', rel='stylesheet') 
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/angular.ui-router/1.0.1/angular-ui-router.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/angular.bootstrap/2.4.0/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='https://rawgit.com/CrackerakiUA/ui-cropper/master/compile/unminified/ui-cropper.js')
    script(type='text/javascript', src='https://code.highcharts.com/highcharts.js')
    script(type='text/javascript', src='https://code.highcharts.com/modules/exporting.js')
    script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" integrity="sha256-/GKyJ0BQJD8c8UYgf7ziBrs/QgcikS7Fv/SaArgBcEI=" crossorigin="anonymous")

    script(src='//feather.aviary.com/imaging/v3/editor.js')
    script(src='https://static.filestackapi.com/v3/filestack-0.1.10.js')
    script(src='https://unpkg.com/grapesjs')
    
    script(type='text/javascript', src='/inc/libs.min.js')
    script(type='text/javascript', src='/inc/scripts/bootstrap-tour.js')
    script(type='text/javascript', src='/inc/scripts.min.js')
    script(type='text/javascript', src='/inc/scripts/JsonToCsv.js')
    script(type='text/javascript', src='/inc/scripts/moment.js')
    
    //// grape js libraries/////
    
    script(type='text/javascript', src='/inc/scripts/grapesjs-preset-webpage.min.js')
    script(type='text/javascript', src='/inc/scripts/grapesjs-blocks-basic.min.js')
    script(type='text/javascript', src='/inc/scripts/grapesjs-lory-slider.min.js')
    script(type='text/javascript', src='/inc/scripts/grapesjs-plugin-boilerplate.min.js')
    
    script.
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      // Insert Your Facebook Pixel ID below.
      fbq('init', '198364724077161');
      fbq('track', 'PageView');
    // Insert Your Facebook Pixel ID below.
    noscript
      img(height='1', width='1', style='display:none;', src='https://www.facebook.com/tr?id=198364724077161&ev=PageView&noscript=1')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(http-equiv='content-language', content='nl-NL')
    meta(http-equiv='resource-type', content='document')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='google-site-verification', content='MoDRtcSrHyMvq8gSl4NezZbjOcYObx8RSbLSKdR8b0s')
    // Indexing settings for webcrawlers from Google and other search engines. Set to index & follow, but don't use default Open Directory Project descriptions
    meta(name='robots', content='noodp')
    // Meta:Keywords can safely be omitted, because search engines aren't using it anymore. Meta:Description is however still very relevant for SEO.
    meta(name='description', content='Uw juwelier in de buurt.')
    meta(name='author', content='Niek van Oost, Thomas Dingemanse')
    meta(name='application-name', content='PrismaNote')
    // Preferred domain that search engines should link to (because PrismaNote uses multiple domains)
    link(rel='canonical', href='https://www.prismanote.com')
    link(rel='stylesheet', href='https://cdn.rawgit.com/CrackerakiUA/ui-cropper/master/compile/unminified/ui-cropper.css')
    // Google Fonts
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,800,400', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
    link(rel='stylesheet', href='/inc/style.css')
    title(ng-bind='pageTitle') PrismaNote
  body(ng-cloak='')
    ui-view
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-72115846-1', 'auto'); ga('send', 'pageview');
    script(type='text/javascript', src='/inc/scripts/tour-strings.js')
    script(type='text/javascript', src='/inc/scripts/tour-steps.js')
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script(type='text/javascript', src='/inc/scripts/chat.js')
    script(type='text/javascript', src='/inc/scripts/jquery-ui.js')
    script(type='text/javascript', src='/inc/scripts/jquery.ui.chatbox.js')
    script(type='text/javascript', src='/inc/scripts/bootstrap-notify.min.js')