.container.portal.retailer
	.row.text-center(ng-init="showSteps = false")
		.col-md-2
		.col-md-8
			a.btn.btn-dark.pull-right(ui-sref='retailer.home' ng-show="user && !showSteps") {{:: "BACK" | translate}}
			a.btn.btn-dark.pull-right(ng-click="step0()" ng-show="user && showSteps") {{:: "BACK" | translate}} to video's
			.row
			h3.text-center {{:: "TEST_YOUR_APP_ON_YOUR_MOBILE" | translate}}
			p.text-center {{:: "USE_THIS_FEATURE_FOR_ALL_BRANDS" | translate}}
					i.fa.fa-arrow-circle-right
		.col-md-2

		.row
			div(ng-if="!showSteps")
				br
				br
				div
					a.btn.btn-lg.btn-default(ng-click="step1()") Skip intro, Add to homescreen directly
				br
				b Ipad/Safari
				div(ng-if="language =='nl'" style="height: 272px")
					.panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='en'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='de'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='fr'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='es'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276883577?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				br
				br
				br
				b Android/Chrome
				div(ng-if="language =='nl'" style="height: 272px")
					.panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='en'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='de'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='fr'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='es'" style="height: 272px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
						iframe(src="https://player.vimeo.com/video/276882669?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				br
				div
					a.btn.btn-lg.btn-default(ng-click="step1()") Skip intro, Add to homescreen directly
				br
				br
		.col-md-2
		.col-md-8
			div(ng-if="showSteps").text-center
				.col-md-1
				.col-md-10
					br
					div(ng-if="!user")
						h5 {{:: "A_SCAN_CODE_OR_GO_TO_YOUR_SMARTPHONE_TO" | translate}} 
							a(href="https://prismanote.com/shops", target="blank") PrismaNote.com/shops
							|, {{:: "FIND_YOUR_STORE_AND_CLICK_ON_SHOP_NAME" | translate}}
						.col-md-1
						.col-md-5
							img(src='https://chart.googleapis.com/chart?cht=qr&chl=prismanote.com%2Fshops&chs=180x180&choe=UTF-8&chld=L|2', alt='qr code', width='250px')
							br
						.col-md-5
							img(src='https://prismanote.s3.amazonaws.com/notenews/mockup_app_purchase_registration.png', rel='nofollow', alt='qr code', width='250px')
							br
						.col-md-1
					div(ng-if="user")
						h5 {{:: "ASELECT_THE_CORRECT_STORE_WHERE_YOU_WANT_TO_USE_THE_APP" | translate}}
						select(ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops", ng-change="getShop(selectedShop)", ng-show="user.shops.length").form-control
						div(ng-if="selectedShop")
							h5 {{:: "GO_TO_LINK_BELOW_WITH_YOUR_MOBILE_OR_TABLET" | translate}} 
							br
							a(href="https://prismanote.com/shop/{{selectedShop}}/loyalty-program ", target="blank") https://PrismaNote.com/shop/
								input(ng-model="selectedShop")
								|/loyalty-program
								//-|, {{:: "FIND_YOUR_STORE_AND_CLICK_ON_SHOP_NAME" | translate}}
						p {{:: "DO_NOT_FORGET_TO_USE_HTTPS_FOR_THIS_PURPOSE" | translate}}
						| {{:: "AFTER_CLICKING_ON_THE_LINK_FOLLOW_THE_INSTRUCTIONS_BELOW" | translate}}
				.col-md-1
				.row
					br
					br
				.row
					br
					br
					hr
					h5 B. {{:: "ADD_WEBPAGE_TO_SMARTPHONE_HOMEPAGE_AND_USE_APP_AT_EVERY_CLIENT_CHECK_IF_STORE_NAME_IS_CORRECT" | translate}}
				.row
					.col-md-6
						img(src='https://prismanote.s3.amazonaws.com/notenews/horloges.png', rel='nofollow', alt='qr code', width='250px')
						br
					.col-md-6
						br
						p {{:: "WHICH_BROWSER_ARE_YOU_USING" | translate}}
						b Chrome
						p {{:: "GO_TO_SETTING_MENU_ADD_TO_HOME" | translate}}
						img(src='https://prismanote.s3.amazonaws.com/notenews/instellingen_toevoegen_home.png', rel='nofollow', alt='qr code', width='250px')
						img(src='https://prismanote.s3.amazonaws.com/notenews/Toevoegen_aan_startscherm.png', rel='nofollow', alt='qr code', width='250px')
						br
						b Safari (iPhone, iPad, & iPod Touch)
						p {{:: "CLICK_ON_SHARING_ICON_CLICK_ADD_TO_HOME_SCREEN_USE_SAFARI_ON_APPLE" | translate}}
						br
						b Firefox for Android
						p {{:: "GO_TO_PAGE_OPTION_FROM_MENU" | translate}}
						br
						b Windows Phone (iPhone, iPad, & iPod Touch)
						p {{:: "CLICK_ON_3_DOTS_PIN_TO_START" | translate}}
						br
						p {{:: "DIFFERENT_BROWSER_CLICK_MENU_LOOK_FOR_OPTION_LIKE_ADD_TO_HOME_SCREEN" | translate}}
						b {{:: "APP_HAS_BEEN_ADDED_TO_HOMEPAGE_CLICK_ON_ICON" | translate}}
						.row
				hr
				.row
					.col-md-2
					.col-md-8
						br
						br
						h5 {{:: "C_FILL_IN_THE_FORM_TOGETHER_WITH_THE_CUSTOMER" | translate}}
					.col-md-2
					br
					.row
						.col-md-4
							img(src='https://prismanote.s3.amazonaws.com/notenews/horloges.png', rel='nofollow', alt='qr code', width='250px')
							p {{:: "CHOOSE_WATCHES_IF_YOU_WANT_TO_TAKE_PICTURE_OF_WARRANTY_CARD" | translate}}
							br
						.col-md-4
							img(src='https://prismanote.s3.amazonaws.com/notenews/emailform.png', rel='nofollow', alt='qr code', width='250px')
							p {{:: "TAKE_PICTURE_WARRANTY_CERTIFICATE_FILL_IN_CUSTOMER_EMAIL_ADDRESS" | translate}}
							br
						.col-md-4
							img(src='https://prismanote.s3.amazonaws.com/notenews/email.png', rel='nofollow', alt='qr code', width='250px')
							p {{:: "CUSTOMER_WILL_RECEIVE_EMAIL_WITH_FORM_ALL_DATA_OF_CUSTOMERS_IS_AVAILABLE_VIA_PORTAL" | translate}}
							br
					.row
					.col-md-12
						p
						| {{:: "SATISFIED_USE_ON_YOUR_COMPUTER_ORDER_THE_" | translate}}
						a(href="https://clarity-success.com/fileadmin/CS/downloads/Infomaterial/Clarity-Success_Easypro_Picture_UK.pdf", target="_blank") Easy Capture Pro camera 
						| {{:: "TO_USE_THE_APP_ON_COMPUTER" | translate}}
				.row
				br