header(ng-controller="cartController")
	.top-bar.row(ng-class="{'testing': testing()}")
		.test(ng-show="testing()") {{:: "TEST_ENVIRONMENT" | translate}}
		.container
			//-new menu
			.top-bar-currency.col-md-2(ng-show="user.role=='retailer'")
				a(ui-sref="")
					i.fa.fa-pencil
					| {{:: "OVERVIEW" | translate}}:
					i.fa.fa-angle-down
				.top-bar-dropdown
						ul
							li
								a(href="/retailer/home") 
									| {{:: "TO_OVERVIEW" | translate}}
							li
								a(href="/retailer/upgrade") 
									| {{:: "UPGRADE" | translate}}
							hr
							li
								b {{:: "MARKETING" | translate}}
							li
								a(href="/retailer/campaigns", ng-click='editSection = "actions"') {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
							li
								a(href="/retailer/news", ng-click='editSection = "news"') {{:: "NEWS" | translate}}
							hr
							li
								b {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
							li
								a(href="/retailer/assortment" ng-click='editSection = "assortment"') {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
							li
								a(href="/retailer/orders", ng-click='editSection = "orders"') {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
							li
								a(href="/retailer/financial", ng-click='editSection = "financial"') {{:: "FINANCIAL" | translate}}
							hr
							li
								b {{:: "CRM" | translate}}
							li
								a(href="/retailer/loyalty-portal", ng-click='editSection = "loyalty-portal"') {{:: "TEXT_HEAD_CUSTOMERS_RETAILER_HOME" | translate}}
							li
								a(ui-sref="{{getShopType()}}.loyalty-repair({nameSlug: selectedShop})", ng-click='editSection = "loyalty-portal"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "REPAIR_SIGN_UP" | translate}}	
							li
								a(ui-sref="{{getShopType()}}.loyalty-watches({nameSlug: selectedShop})", ng-click='editSection = "loyalty-portal"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "EMAIL_WATCH_WARRANTY_CARD" | translate}}	
							li
								a(ui-sref="{{getShopType()}}.loyalty-other({nameSlug: selectedShop})", ng-click='editSection = "loyalty-portal"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "SEND_A_PHOTO_RECEIPT_BY_EMAIL" | translate}}	
							hr
							li
								b {{:: "PRISMANOTE_CASH_REGISTER" | translate}}
							li
								a(href="https://dashboard.countrhq.com" target="_blank", ng-click='editSection = "statistics"' ng-class="{'not-active' : user.shops.length < 1}") {{:: "STATISTICS_COUNTR" | translate}}
							hr
							li
								b {{:: "OTHER" | translate}}
							li
								a(href="/retailer/shop", ng-click='editSection = "shop"') {{:: "TEXT_HEAD_MYSHOP_RETAILER_HOME" | translate}}
							li
								a(href="/retailer/suppliers", ng-click='editSection = "suppliers"') {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}
							li(ng-hide="currentShop.isPremium")
								a(ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})") {{:: "WEBSITE" | translate}}
							li(ng-hide="currentShop.isPremium")
								a(href="/retailer/shop", ng-click='editSection = "shop"') {{:: "UPGRADE_TO_PRO" | translate}}
							li(ng-if="currentShop.isPremium")
								a(href="{{currentShop.proShopUrl}}", target='_blank') {{:: "MY_WEBSITE" | translate}}
			.top-bar-currency.col-md-2(ng-if="user.role=='wholesaler'")
				a(ui-sref="")
					i.fa.fa-pencil
					| {{:: "OVERVIEW" | translate}}:
					i.fa.fa-angle-down
				.top-bar-dropdown
					ul
						li
							a(href="/brand/home") 
								b {{:: "TO_OVERVIEW" | translate}}
						li
							a(href="#") 
								hr
						li
							a(href="#")
								b {{:: "MARKETING" | translate}}
						li
							a(href="/brand/welcome", ng-click='editSection = "actions"') {{:: "DRAW_NEW_CAMPAIGN" | translate}}
						li
							a(href="/brand/news", ng-click='editSection = "news"') {{:: "ADD_NEWS" | translate}}
						li
							a(href="/brand/suppliers", ng-click='editSection = "suppliers"') {{:: "CONTRIBUTIONS" | translate}}
						li
							a(href="#") 
								hr
						li
							a(href="#")
								b {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
						li
							a(href="/brand/assortment" ng-click='editSection = "assortment"') {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
						li
							a(href="/brand/orders", ng-click='editSection = "orders"') {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
						li
							a(href="/brand/financial", ng-click='editSection = "financial"') {{:: "FINANCIAL" | translate}}
						li
								hr
						li
							a(href="#")
								b {{:: "DEALER_NETWORK" | translate}}
						li
							a(href="/brand/performance" ng-click='editSection = "performance"') {{:: "PERFORMANCE" | translate}}
						li
								hr
						li
							a(href="#") 
								b {{:: "OTHER" | translate}}
						li
							a(href="/brand/company-info", ng-click='editSection = "company-info"') {{:: "COMPANY_INFO" | translate}}
						li
							a(ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})") {{:: "WEBSITE_FREE_VERSION" | translate}}
				//-new menu
			div(ng-hide="consumerHeaderHide")
				.top-bar-contact.col-xs-12.col-md-6(ng-hide="user.role=='wholesaler' || user.role=='retailer'")
					a( ui-sref="layout.home").hidden-xs.hidden-sm
						i.fa.fa-home
						| Home
					a(href="tel:+31345631776")
						i.fa.fa-phone
						| +31 345 631 776
					a(href="mailto:info@prismanote.com")
						i.fa.fa-envelope
						| info@prismanote.com
			div(ng-show="consumerHeaderHide")
				.top-bar-currency.col-md-2(ng-hide="user.role=='wholesaler' || user.role=='retailer'")
					a(ui-sref="")
						| {{:: "ALL_FEATURES" | translate}}
						i.fa.fa-angle-down
					.top-bar-dropdown
							ul
								li
									a(ng-controller="authController" ng-click="openLoginModal()") 
										| {{:: "TO_OVERVIEW" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") 
										| {{:: "UPGRADE" | translate}}
								hr
								li
									b {{:: "MARKETING" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "NEWS" | translate}}
								hr
								li
									b {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "FINANCIAL" | translate}}
								hr
								li
									b {{:: "CRM" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_CUSTOMERS_RETAILER_HOME" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "REPAIR_SIGN_UP" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "EMAIL_WATCH_WARRANTY_CARD" | translate}}	
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "SEND_A_PHOTO_RECEIPT_BY_EMAIL" | translate}}	
								hr
								li
									b {{:: "PRISMANOTE_CASH_REGISTER" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "STATISTICS" | translate}}
								hr
								li
									b {{:: "OTHER" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_MYSHOP_RETAILER_HOME" | translate}}
								li
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}
								li(ng-hide="currentShop.isPremium")
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "WEBSITE" | translate}}
								li(ng-hide="currentShop.isPremium")
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "UPGRADE_TO_PRO" | translate}}
								li(ng-if="currentShop.isPremium")
									a(ng-controller="authController" ng-click="openLoginModal()") {{:: "MY_WEBSITE" | translate}}
					//- einde sier menu retailer voor pagina welcome-retailer
			.col-md-4(ng-hide="consumerHeaderHide")
				select(ng-model="selectedShop" ng-options="shop.nameSlug as shop.name for shop in user.shops", ng-change="getShop(selectedShop)", ng-show="user.shops.length").form-control
			.top-bar-dropdowns.col-md-2.col-md-offset-1
				.row
					.top-bar-currency.col-md-6
					div.hidden
						a(href="")
							| {{currency | uppercase}}
							i.fa.fa-angle-down
						.top-bar-dropdown
							ul
								li
									a(href="" ng-click='currency = "usd"') USD
								li
									a(href="" ng-click='currency = "eur"') EUR
					.top-bar-language.col-md-6
						a(href="")
							| {{language | uppercase}}
							i.fa.fa-angle-down
						.top-bar-dropdown
							ul
								li
									a(href="", ng-click='changeLanguage("nl")') NL - {{:: "DUTCH" | translate}}
								li
									a(href="", ng-click='changeLanguage("en")') EN - {{:: "ENGLISH" | translate}}
								li
									a(href="", ng-click='changeLanguage("de")') DE - {{:: "GERMAN" | translate}}
								li
									a(href="", ng-click='changeLanguage("fr")') FR - {{:: "FRENCH" | translate}}
								li
									a(href="", ng-click='changeLanguage("es")') ES - {{:: "SPANISH" | translate}}
			.top-bar-login.hidden-xs-hidden-sm.col-md-3
				a(href="" ng-controller="authController" ng-click="openLoginModal('', true)")
					i.fa.fa-user
					| {{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "LOGIN_OR_REGISTER" | translate }}
	div(ng-hide="consumerHeaderHide").hidden
		div(ng-hide="user.role=='wholesaler' || user.role=='retailer'")
		.search-bar(role="navigation" ng-controller="menuController")
			.search-bar-content.container
				.row
					.hamburger-menu-icon.col-xs-2.hidden-sm.hidden-md.hidden-lg
						a(href="" ng-click="toggleMenu()")
							i.fa.fa-bars.fa-2x
					.logo.col-xs-8.col-sm-3
						a(ui-sref="layout.home")
							img(ng-src="/images/prismanote_logo_small.png" alt="PrismaNote").prismanote
					.search.hidden-xs.hidden-sm.col-md-5.col-md-offset-1
						input(id="search" type="text" placeholder='{{:: "INPUT_SEARCH" | translate}}')
						label.fa.fa-search.fa-lg(for="search")
					.cart-icon.col-xs-2.hidden-md.hidden-lg(ng-init="showCart = false" ng-click="showCart = !showCart")
						a(href="" ng-bind="cart.length || 0")
					.cart.col-md-2.hidden-xs.hidden-sm.col-md-offset-1
						.cart-icon
							a(ui-sref="layout.cart" ng-bind="cart.length || 0")
						.cart-content
							span(ng-show="cart.length == 0") {{:: "TEXT_YOUR_CART_IS_EMPTY" | translate}}
							ul.cart-items(ng-if="total > 0")
								li.cart-item(ng-repeat="item in cart track by $index")
									.row
										.cart-item-img.col-xs-4
											a(ui-sref="layout.product({nameSlug:item.nameSlug})")
												img(ng-src="{{awsUrl + item.images[0].src}}", alt='{{item.images[0].alt}}')
										.cart-item-details.col-xs-8
											.cart-item-title
												a(ui-sref="layout.product({nameSlug:item.nameSlug})") {{item.name}}
											.cart-item-price
												span {{item.quantity}} x &nbsp;
												span &euro; {{item.price}}
											.cart-item-change-quantity
												a(href="" ng-click="increaseQuantity($index)")
													i.fa.fa-plus-square
												a(href="" ng-click="decreaseQuantity($index)")
													i.fa.fa-minus-square
											.cart-item-remove
												a(href="" ng-click="removeFromCart($index)")
													i.fa.fa-times
								hr
							.cart-summary(ng-if="total > 0")
								span {{:: "TOTAL" | translate}}&nbsp;
								span.cart-total {{total | currency: '&euro; '}}
							.cart-actions
								a(ui-sref="layout.cart" ng-hide="!cart || cart.length == 0").btn.btn-md.btn-dark {{:: "BUTTON_VIEW_CART" | translate}}
					.col-xs-12.cart
						.cart-content.col-xs-12(uib-collapse="!showCart")
					nav.col-xs-12.hidden-sm.hidden-md.hidden-lg(uib-collapse="!showMenu")
						.row
							.search.col-xs-12
								input(id="search2" type="text")
								label.fa.fa-search.fa-lg(for="search2")
					.cart.col-xs-12
						.cart-content.col-xs-12(uib-collapse="!showCart")
							span.text-center(ng-show="cart.length == 0") {{:: "TEXT_YOUR_CART_IS_EMPTY" | translate}}
							ul.cart-items(ng-if="total > 0")
								li.cart-item(ng-repeat="item in cart")
									.row
										.cart-item-img.col-xs-4
											a(ui-sref="layout.product({nameSlug:item.nameSlug})")
												img(ng-src="{{awsUrl + item.images[0].src}}", alt='{{item.images[0].alt}}')
										.cart-item-details.col-xs-8
											.cart-item-title
												a(ui-sref="layout.product({nameSlug:item.nameSlug})") {{item.name}}
											.cart-item-price
												span {{item.quantity}} x &nbsp;
												span &euro; {{item.price}}
								hr
							.cart-summary(ng-if="total > 0")
								span {{:: "TEXT_TOTAL" | translate}}&nbsp;
								span.cart-total {{total | currency: '&euro; '}}
							.cart-actions
								a(ui-sref="layout.cart" ng-hide="!cart || cart.length == 0" ng-class="{'btn-md': !mobile && !tablet, '.btn-lg': mobile || tablet}" ng-click="showCart = false").btn.btn-dark {{:: "VIEW_SHOPPING_CART" | translate}}
		.container.search-results#search-results.hidden
				.row.first-search-row
						.col-md-9
								//img(src='/images/loading.gif').search-products#searchProducts
								h4.search-header {{:: "PRODUCTS_NEARBY" | translate}}
								.settings-container
										span {{:: "MY_LOCATION" | translate}} &nbsp;
										label.switch.switch-turquoise
												input.switch-input(type='checkbox')
												span.switch-label(data-on='on', data-off='off', active='off')
												span.switch-handle
										.header-filter
												a.btn.btn-md.btn-stroke(style='margin-right:5px;color:white;text-transform:none;' data-filter="ladies") {{:: "LADIES" | translate}}
												a.btn.btn-md.btn-stroke(style='margin-right:5px;color:white;text-transform:none;' data-filter="gents") {{:: "GENTLEMEN" | translate}}
												a.btn.btn-md.btn-stroke(style='margin-right:5px;color:white;text-transform:none;' data-filter="kids") {{:: "KIDS" | translate}}

								.row#search-results-products
						.col-md-3
								.row
										.col-md-12
												h4.search-header-h4 {{:: "BRANDS" | translate}}
												//img(src='/images/loading.gif').search-brands#searchBrands
										.col-md-12#search-results-brands-list
								.row
										.col-md-12
												h4.search-header-h4 {{:: "ACTIONS" | translate}}
												//img(src='/images/loading.gif').search-campaigns#searchCampaigns
										.col-md-12
												ul#search-results-campaigns
												br
								.row
										.col-md-12
												h4.search-header-h4 {{:: "JEWELLERS" | translate}}
												//img(src='images/loading.gif').search-shops#searchShops
										.col-md-12#search-results-shops
												ul#search-results-shops-list
												br
								.row
										.col-md-12
												h4.search-header-h4 {{:: "NEWS" | translate}}
												//img(src='images/loading.gif').search-news#searchNews
										.col-md-12
												ul#search-results-news
												br
				.col-md-12.hidden
						.row
								.col-md-12
										h4 Maps
										.col-md-12
												#map(style="width:600px;height:600px;")
		.title-bar(ng-if="showTitleBar == true" style="background: url('/images/{{getBreadcrumbPath(breadcrumb[0])}}-background.jpg')")
			h1.page-title(ng-bind="breadcrumb[breadcrumb.length - 1]")
			.nav-breadcrumb
				ul
					li
						a(ui-sref="layout.home") Home
					li(ng-repeat="item in breadcrumb")
						span &nbsp;&#47;&nbsp;
						a(href="{{getBreadcrumbPath(item)}}" ng-bind="item")
		div.hidden
			nav.home-nav-bar.container
				ul
					li
						a(ui-sref="layout.products({category:'WATCH'})") {{:: "NAV_BAR_WATCHES" | translate}}
					li
						a(ui-sref="layout.products({category:'STRAP'})") {{:: "NAV_BAR_WATCH_STRAPS" | translate}}
					li
						a(ui-sref="layout.products({category:'JEWEL'})") {{:: "NAV_BAR_JEWELERY" | translate}}
					li
						a(ui-sref="layout.products({category:'OTHER'})") {{:: "OTHER" | translate}}
					li
						a(href="/brands") {{:: "NAV_BAR_BRANDS" | translate}}
					li
						a(href="/shops") {{:: "NAV_BAR_JEWELERS" | translate}}
	.content
		ui-view
footer
	.container
		.row
			.col-md-3.col-sm-6.col-xs-12.footer-block
				.footer-about-us
					h5 {{:: "ABOUT_US" | translate}}
					p
						| {{:: "ABOUT_US_TEXT" | translate}}
					.social-icons.clearfix
						a.info(href='https://prismanoteforjewellers.com/about-us/' target='_black' ng-show="language != 'nl'")
							i.fa.fa-info
								i.fa.fa-info
						a.info(href='https://prismanotevoorjuweliers.nl/over-ons/' target='_black' ng-show="language == 'nl'")
							i.fa.fa-info
								i.fa.fa-info
						a.facebook(href='https://www.facebook.com/prismanote/' target='_black')
							i.fa.fa-facebook
								i.fa.fa-facebook
						a.twitter(href='https://twitter.com/home?status=Vind%20je%20favoriete%20juwelier%20op%20http%3A//prismanote.com/' target='_black').hidden
							i.fa.fa-twitter
								i.fa.fa-twitter
						a.google-plus(href='https://plus.google.com/share?url=http%3A//prismanote.com/' target='_black').hidden
							i.fa.fa-google-plus
								i.fa.fa-google-plus
						a.linkedin(href='https://www.linkedin.com/shareArticle?mini=true&url=http%3A//prismanote.com/&title=Vind%20je%20favoriete%20juwelier&summary=&source=' target='_black').hidden
							i.fa.fa-linkedin
								i.fa.fa-linkedin
						a.pinterest(href='https://www.pinterest.com/prisma_horloges/' target='_black').hidden
							i.fa.fa-pinterest-p
								i.fa.fa-pinterest-p
						a.instagram(href='https://www.instagram.com/official_prismawatches/' target='_black').hidden
							i.fa.fa-instagram
								i.fa.fa-instagram
			.col-md-3.col-sm-6.col-xs-12.footer-block
				.footer-account
					h5 {{:: "INFORMATION" | translate}}
					ul.footer-links
						li.hidden.link
							a(href="layout.horloge-zoeken") {{:: "ADD_WATCH" | translate}}
						li.link(ng-show="language != 'nl'")
							a(href="http://prismanoteforjewellers.com/" target='_blank') {{:: "SERVICES_JEWELERS" | translate}}
						li.link(ng-show="language == 'nl'")
							a(href="http://www.prismanotevoorjuweliers.nl" target='_blank') {{:: "SERVICES_JEWELERS" | translate}}
						li.link
							a(href="http://prismanotevoorjuweliers.nl/brand-promotion/" target='_blank') {{:: "LINK_SERVICES_BRANDS" | translate}}
						li.hidden.link
							a(href="") {{:: "LINK_ORDER_HISTORY" | translate}}
						li.hidden.link
							a(href="") {{:: "LINK_SPECIAL_OFFER" | translate}}
			.col-md-3.col-sm-6.col-xs-12.footer-block
				.tags.footer-tags
					//- h5 Populaire steden
					//- ul
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 52.374436, lng: 4.897996, query: "Amsterdam"') Amsterdam
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 51.927798, lng: 4.488623, query: "Rotterdam"') Rotterdam
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 52.074946, lng: 4.26968, query: "Den Haag"') Den Haag
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 52.080952, lng: 5.12768, query: "Utrecht"') Utrecht
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 51.448557, lng: 5.450123, query: "Eindhoven"') Eindhoven
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 51.573709, lng: 5.043931, query: "Tilburg"') Tilburg
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 52.441759, lng: 5.209315, query: "Almere"') Almere
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 52.633736, lng: 4.740203, query: "Alkmaar"') Alkmaar
					//- 	li
					//- 		a(ui-sref='layout.location-search({lat: 53.221793, lng: 6.558245, query: "Groningen"') Groningen
			.col-md-3.col-sm-6.col-xs-12.footer-block
				h5.hidden {{:: "LAST_POSTS" | translate}}
.bottom-bar
	.container
		.row
			.row
			.col-sm-4.back-to-top
				span
					| &copy; 2018 prismanote versie 0.7
			.col-sm-5.col-sm-offset-2.text-right.mt-sml-10.footer-payment-methods
				i.fa.fa-cc-paypal
				i.fa.fa-cc-visa
				i.fa.fa-cc-mastercard
				i.fa.fa-cc-discover
				i.fa.fa-cc-amex
				a(ng-click="top()" href="").back-to-top
					i.fa.fa-angle-up
					| top