.container
	.news-item-page.block
		.row
			.col-xs-12.col-md-12
				img(ng-src='{{awsUrl + newsItem.images[0].src}}' alt="{{newsItem.images[0].alt}}")
				.block-small
					h2(ng-bind="newsItem.name")
					p.date
						i.fa.fa-calendar-o
						|&nbsp;{{formatDate(newsItem.publicationDate)}} | Door {{newsItem.author.name}}
					.news-item-page-content(ng-bind-html="newsItem.content")
				.block-small(ng-repeat="image in newsItem.images" ng-if="!$first")
					img(ng-src="{{awsUrl + image.src}}" alt="{{image.alt}}")
			.col-xs-12.col-md-3.hidden
				h4 {{:: "TEXT_RECENT_POST" | translate}}
				.row
					.col-xs-12(ng-repeat="item in recentNews")
						news-item-small