.container
    h3.text-center.steps
        span.step-cart {{:: "TEXT_CART" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-checkout &nbsp;{{:: "TEXT_CHECKOUT" | translate}}&nbsp;
        i.fa.fa-angle-right
        span.step-order-complete.active &nbsp;{{:: "TEXT_ORDER_COMPLETED" | translate}}
    .row.block.text-center
        .col-md-12(ng-init="checkPayment()")
            img(src="images/loading.gif", style="width:100px; margin-right: 150px; margin-bottom: 10px", ng-show="loading")
            p(ng-show="!loading") 
            p(bind-html-compile="paymentResult")