br
.row
    .col-md-2
    .col-md-8
        b PrismaNote,. ("Excellent Electronics BV") helps jewellers with their E-commerce efforts and is a global platform sharing social media, productcontent and other content form to different parties. PrismaNote's customers pay a fee to license E-commerce tools and content which is available on the platfom.
        p This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online.	
        | PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
        br
        br
        p 1. What personal information do we collect from the people that visit our blog, website or app?	
        | When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number or other details to help you with your experience.
        br
        br
        p 2.	When do we collect information?
        | We collect information from you when you place an order or enter information on our site.
        br
        br
        p 3.	How do we use your information?
        | We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        |a.	To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
        |b.	To quickly process your transactions.
        br
        br
        p 4.	How do we protect your information?
        |.	We do not use vulnerability scanning and/or scanning to PCI standards.
        |An external PCI compliant payment gateway handles all CC transactions.	
        |We do not use Malware Scanning.
        br
        | Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
        br
        | We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.
        br
        | All transactions are processed through a gateway provider and are not stored or processed on our servers.
        br
        br
        p 5.	Do we use 'cookies'?
        |.	Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
        br
        b We use cookies to:
        p
        |a.	Help remember and process the items in the shopping cart.
        |b.	Understand and save user's preferences for future visits.
        |c.	Keep track of advertisements.
        |d. Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
        br
        |You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
        br
        br
        p 6.	If users disable cookies in their browser:
        | If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.Some of the features that make your site experience more efficient and may not function properly.
        br
        br
        p 7.	Third-party disclosure
        | We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.
        | However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
        br
        br
        p 8.	Third-party links
        | Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
        br
        br
        p 9.	Google
        | .	Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en 
        br
        | We use Google AdSense Advertising on our website.
        br
        | Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.
        br
        br
        p 10.	We have implemented the following:
        | a.	Remarketing with Google AdSense
        | b.	Google Display Network Impression Reporting
        | c.	Demographics and Interests Reporting
        | d.	DoubleClick Platform Integration
        br
        | We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.
        br
        br
        p 11.	Opting out:
        | Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.
        br
        br
        p 12.	California Online Privacy Protection Act
        | CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
        br
        br
        p 13.	According to CalOPPA, we agree to the following:
        | Users can visit our site anonymously.
        | Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
        | Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.
        br
        | You will be notified of any Privacy Policy changes on our Privacy Policy Page.
        | Can change your personal information by logging in to your account
        br
        br
        p 14.	How does our site handle Do Not Track signals?
        | We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
        br
        br
        p 15.	Does our site allow third-party behavioral tracking?
        | We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
        br
        br
        p 16. COPPA (Children Online Privacy Protection Act)
        | When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
        br
        | We do not specifically market to children under the age of 13 years old.
        br
        br
        p 17. Fair Information Practices
        | The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
        br
        br
        p 18. In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
        | We will notify you via email within 30 business days
        br
        | We will notify the users via in-site notification within 30 business days
        br
        | We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
        br
        br
        p 19. CAN SPAM Act
        | The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
        br
        br
        p 20. We collect your email address in order to:
        | a. Send information, respond to inquiries, and/or other requests or questions
        | b. Process orders and to send information and updates pertaining to orders.
        | c. Send you additional information related to your product and/or service
        | d. Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.
        br
        br
        p 21. To be in accordance with CANSPAM, we agree to the following:
        | a. Not use false or misleading subjects or email addresses.
        | b. Identify the message as an advertisement in some reasonable way.
        | c. Include the physical address of our business or site headquarters.
        | d. Monitor third-party email marketing services for compliance, if one is used.
        | e. Honor opt-out/unsubscribe requests quickly.
        | f. Allow users to unsubscribe by using the link at the bottom of each email.
        br
        br
        p 22. If at any time you would like to unsubscribe from receiving future emails, you can email us at
        | - Follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.
        br
        br
        p 23. Privacy Policy Facebook App
        | When you connect your Facebook account to the PrismaNote Facebook App. We receive carefully information about your: emailadress, your public profile, get access to your published pages, user posts, published actions, ads management and ads read. We need this information from your Facebook Account for the following reasons: . 
        | 1. PrismaNote web based services and features that enable you to manage and tailor your production and publication of ads on Facebook through Facebook Ads Campaign Manager. 
        | 2. Keep track of advertisements.
        | 3. Improve your user's experience.
        br
        br
        p 24. Contacting Us
        | If there are any questions regarding this privacy policy, you may contact us using the information below.
        | prismanote.com
        | Middelweg 8d
        | Asperen, Gelderland 4147AV
        | Netherlands
        | info@prismanote.com
        br
        | Last Edited on 2017-12-06
    .col-md-2
br
.row

