.products-container(ng-controller="cartController")
	.row
		br
		p {{:: "CLICK_ON_ONE_OF_THE_CATEGORIES_BELOW_TO_SHOW_YOUR_PRODUCTS" | translate}}

	.row(ng-if="shop || currentShop")
		.block(ng-if="shopCats")
			nav.shop-nav-bar
				ul
					li
						a(href="", ng-if="shopCats.includes('WATCH')", ng-click="setCategory('WATCH')").dark#webshopTourCategory {{:: "NAV_BAR_WATCHES" | translate}}
					li
						a(href="", ng-if="shopCats.includes('STRAP')", ng-click="setCategory('STRAP')").dark {{:: "NAV_BAR_WATCH_STRAPS" | translate}}
					li
						a(href="", ng-if="shopCats.includes('JEWEL')", ng-click="setCategory('JEWEL')").dark {{:: "NAV_BAR_JEWELERY" | translate}}
					li
						a(href="", ng-if="shopCats.includes('OTHER')", ng-click="setCategory('OTHER')").dark {{:: "OTHER" | translate}}
	.row
		.col-md-12
			button.btn.btn.btn-md.btn-light.button-margin-right(ng-click="hideFilters = !hideFilters")
				i.fa.fa-filter 
				| {{:: "FILTERS" | translate}}
	.row 
		hr
	.row
		div(ng-class="!hideFilters ? 'col-xs-12 col-md-9 col-md-push-3' : 'col-md-12'")
			div(ng-class="{'block': !shop && !currentShop}")
				.row
					//- ng-if="item.show != false && (item.stock > 0 || (!shop || (shop && shop.showAllProducts)))"
					div(ng-repeat="item in products")
						.col-xs-6.col-sm-4.col-md-2
							product-block
				.row
					p.no-products-found(ng-if="noProductsFound == true") {{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}
					.load-more.text-center
						a.btn.btn-dark(ng-show="products.length < productCount && products.length > 0" ng-click="getProducts()") {{:: "LOAD_MORE" | translate}}
		.col-xs-12.col-md-3.col-md-pull-9(ng-hide="hideFilters")
			form.product-filters.filters(ng-class="{'block': !shop && !currentShop}")
				product-filter-by-category(ng-if="!shop && !currentShop")
				product-sort
				product-filter-by-gender
				product-filter-by-price
				product-filter-by-brand
				product-filter-by-misc-properties(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-indication(ng-show="filtersWatch == true" ng-if="!isShop && (productCategory.includes('WATCH') || productCategory.length == 0)")
				product-filter-by-strap-type(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-strap-material(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-strap-width(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-wrist-perimeter(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-strap-clasp(ng-show="filtersWatch == true || filtersStrap == true" ng-if="productCategory.includes('WATCH') || productCategory.includes('STRAP') || productCategory.length == 0")
				product-filter-by-case-material(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-case-shape(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-case-size(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-case-depth(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-waterproof-level(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-color
				product-filter-by-glass-material(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-dial(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
				product-filter-by-type(ng-show="filtersWatch == true" ng-if="productCategory.includes('WATCH') || productCategory.length == 0")
