.container.product-page
	.block
		.row.product-overview
			.col-xs-12.col-md-6
				.block-small
					img(ng-src='{{awsUrl + product.images[0].src}}' style="width: 140%")
			.col-xs-12.col-md-4.col-md-offset-2
				.block-small
					br
					br
					br
					h3.product-title(ng-bind="product[language].name")
					div(ng-show="!product[language].name")
						h3.product-title(ng-bind="product.en.name" ng-hide="language == 'en'")
					p(ng-if="product.stock > 0")
						strong {{product.stock}} {{:: "PRODUCT_STOCK_TEXT" | translate}}
					p(ng-if="product.stock == 0")
						strong {{:: "ONLINE_AVAILABLE" | translate}}
					span(ng-controller="cartController")
						a.btn.btn-md.btn-dark.add-to-cart(href="" ng-click="addToCart(product)")
							i.fa.fa-plus.fa-lg
							span &nbsp;&nbsp;{{:: "BUTTON_ADD_TO_CART" | translate}}
					span
						a.btn.btn-md.btn-dark.add-to-cart.hidden(href="" ng-click="addToWishlist(product)")
							i.fa.fa-heart.fa-lg
							span &nbsp;&nbsp;{{:: "BUTTON_ADD_TO_WISHLIST" | translate}}
					span
						a.btn.btn-md.btn-dark.reserve.hidden(href="" ng-click="reserve(product)")
							i.fa.fa-archive.fa-lg
							span &nbsp;&nbsp;{{:: "BUTTON_RESERVE" | translate}}
					p.product-description(ng-bind-html="product[language].shortDescription ? nl2br(product[language].shortDescription) : null")
					div(ng-show="!product[language].shortDescription")
						p.product-description(ng-bind-html="product[language].shortDescription ? nl2br(product.en.shortDescription) : null", ng-hide="language == 'en'")
		uib-tabset(active="active")
			uib-tab(ng-if="!isShop" index="0")
				uib-tab-heading
					h5 {{:: "RECOMMENDATION_TO_BUY" | translate}}
				.compare-shops.block-small
					.row
						.col-xs-12.col-sm-4(ng-repeat="item in shops")
							shop-block
				.product-map.block-small
					h4.text-center {{:: "FIND_POINT_OF_SALE" | translate}}
					.block-small
						iframe.maps(ng-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.889285044476!2d5.11207301587905!3d51.881233491121634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c68a3a538d5b75%3A0x449aeea792116a4!2sExcellent+Electronics!5e0!3m2!1sen!2snl!4v1486473036179', width='100%', height='400px' frameborder="0" style="border: 0")
			uib-tab(index="1")
				uib-tab-heading
					h5 {{:: "PRODUCT_SPECIFICATIONS" | translate}}
				.product-specs.block-small
					p(ng-bind-html="product[language].longDescription ? nl2br(product[language].longDescription) : null")
			uib-tab(index="2")
				uib-tab-heading
					h5 {{:: "PRODUCT_REVIEWS" | translate}}
				.product-reviews.block-small
					p {{:: "PRODUCT_REVIEWS_NO_REVIEWS" | translate}}
					a(href="") {{:: "PRODUCT_REVIEWS_PLACE_FIRST" | translate}}