.container(ng-controller="authController")
    h3 {{:: "RESET_PASSWORD" | translate}}

    .row.block
        .col-md-6
            p {{:: "ENTER_YOUR_NEW_PASSWORD" | translate}}
            form(name="resetPasswordForm")
                p
                    input(type='password', name="password", id="password", placeholder='{{:: "PASSWORD_1" | translate}}', required, ng-model="data.password").input-text.form-control
                p
                    input(type='password', name="confirmPassword", id="confirmPassword", placeholder='{{:: "PASSWORD_2" | translate}}', required, ng-model="data.confirmPassword" ng-match="data.password" ng-keyup="$event.keyCode == 13 && login()").input-text.form-control
                p(ng-show="resetPasswordForm.confirmPassword.$error.match").help-block
                    | {{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}
                div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                    | {{alert.msg}}
                p
                    a(ng-click="resetPassword(false)", ng-disabled="resetPasswordForm.$invalid" href="").btn.btn-lg.btn-green {{:: "RESET_PASSWORD" | translate}}