.container
	.block
		.col-md-12(ng-init="getShopList()")
			h3(ng-if="heading == true") {{:: "JEWELLERS" | translate}}
			input.form-control(ng-model="shopFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
			br
			p {{:: "IS_YOUR_SHOP_NOT_LISTED_CALL_PHONE_NUMBER" | translate}}
			br
			img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
			.list-group
				a(ng-repeat="shop in shops | filter: shopFilter | limitTo:totalDisplayed", ui-sref="{{getShopType()}}.loyalty-program({nameSlug: shop.nameSlug})").list-group-item
					div {{shop.name}}
			br
			button(ng-click="loadMore()").btn {{:: "SHOW_MORE" | translate}}
			br
			br
			br