br
.row
    .col-md-2
    .col-md-8
        b PrismaNote,. ("Excellent Electronics BV") helps jewellers with their E-commerce efforts and is a global platform sharing social media, productcontent and other content form to different parties. PrismaNote's customers pay a fee to license E-commerce tools and content which is available on the platfom.
        p This is not replacing any Terms of Service but defines the general scope of terms. See the TOS for your rights and obligations.	
        | These Terms of Service ("TOS") are a legally binding, non-exclusive agreement between you and PrismaNote. Be sure you understand the TOS and read them carefully. These TOS are the rights you are granting PrismaNote in content you submitted like: (moving) images, photographs, vectors, audiovisual works, animations, videos/films or other media, titles and metadata to PrismaNote (called, " content"), the uses PrismaNote may make of the Content, and describing and controlling the legal relationship with you and PrismaNote.
        | By submitting content to PrismaNote, you agree to all the terms in this agreement.	
        br
        br
        p 1. Overview	
        | a.	Including although not limited to PrismaNote’s TOS License Agreements (called "licenses"), PrismaNote shall have the right, to license all of the “content” to its customers/users for use in accordance with license agreements from PrismaNote.
        | b.	Until this Agreement is terminated as provided herein: when you submit “content” to PrismaNote (any “content” uploaded by you), you grant PrismaNote a right and license (non-exclusive and worldwide) to publicly display, reproduce, sublicense, prepare derivative works incorporating, sell, advertise and market. You also give permission to PrismaNote to modify, remove of add information related to your “content” in order to manage and license such “content” which is accepted by PrismaNote after the upload. 
        | c.	Without any compensation/payment to you, you’re granting PrismaNote a non-exclusive and worldwide right to use your “content”, name, display name for PrismaNote’s marketing/promotional activities.
        br
        br
        p 2.	Ownership of Contents
        | By submitting “content” to PrismaNote, you waive any artists' authorship rights, expressly, or any droit moral that you would have under the laws of the Kingdom of the Netherlands. However, nothing in the TOS shall be construed as a transfer of copyright to PrismaNote. Copyrights in any “content” stay always with the copyright owner. In accordance with the “licenses” issued by PrismaNote or similar laws of any jurisdiction customers may use your “content”.
        | In/to your content you retain ownership.	
        br
        br
        p 3.	Releases
        | You agree to provide property releases (these should be accurate and valid) to PrismaNote for all “content” that requires such releases, which determination shall be made in PrismaNote's sole discretion. For all “content” you contribute to PrismaNote you agree to provide model releases (which should be also accurate and valid) that, in PrismaNote's judgment, contains identifiable faces/ humans/figures or other identifiable attributes including voice, appearance, or likeness, without limitation. With the “content”, all releases should be delivered electronically.
        | Some content you submit may require releases, which you are responsible for providing.	
        |a.	You agree that you are exclusionary responsible for maintaining complete and accurate release records and retaining all original releases.
        |b.	Uploading falsified, inaccurate or otherwise defective model releases to PrismaNote is a breach of the TOS. Releases by you submitted may not contain terms incompatible with the TOS or contain restrictions not contained in the PrismaNote releases located at the PrismaNote Legal Center.
        |To download model and property releases, please see Legal Releases.	
        |c.	In order to respond to any potential or actual legal action, You agree that PrismaNote may furnish copies of releases to customers to comply with applicable laws, regulations, and/or union reporting requirements or any other reason PrismaNote deems reasonable in its sole discretion.
        |d.	You agree that all “content” submitted by you for "Editorial Use Only" shall faithfully depict the subject and be accompanied by accurate titles and keywords. You also understand and agree that certain "Editorial Use Only-content” may require an attestation of authority from a third party granting Contributor's right to record such “content” (a "Credential"). You will provide PrismaNote evidence of such Credentials upon request.
        |If you submit content for "Editorial Use Only", it may require credentials.	
        |e.	You agree that PrismaNote may permit “content” designated "Editorial Use Only" to be used in a non-Editorial manner at PrismaNote's sole discretion (e.g., PrismaNote may permit a customer to use “content” designated "Editorial Use Only" for commercial purposes where the customer obtains the necessary rights and clearances for such use).
        |PrismaNote may license Editorial Use Only content for commercial purposes in its discretion.	
        br
        br
        p 4.	Accounts
        |.	You agree to provide true and complete information relating to your PrismaNote contributor account and “content”, including but not limited to information relating to the date, location and equipment used in connection with creation of the “content”;
        |Please make sure that information relating to your PrismaNote account and content is true and complete.	
        |a.	By opening a PrismaNote account, you express your consent to the PrismaNote Privacy Policy, which is incorporated herein by reference and governs PrismaNote's collection, processing, storage and transfer of the “content” and data submitted by you, including data relating to you, your account, your “content” or other information related to the foregoing ("Personal Data"). You agree that your Personal Data may be collected, processed, stored, and transferred to jurisdictions other than your home jurisdiction.
        |b.	PrismaNote has the right to refuse to establish an account or to close any existing account, for fraud, intellectual property infringement, violation of a third party's rights including those of privacy or publicity, artificially inflating downloads, submission of material that is obscene in nature, violent or that might be construed as defamatory, failure to comply with PrismaNote's guidelines as may be amended from time to time, for any breach of the terms of this or any other agreement that you have with PrismaNote, or for convenience.
        |c.	PrismaNote will terminate your account no later than ninety (90) days following its receipt of a written request from you. For the sake of clarity, before the termination of your account is made effective by PrismaNote, your “content” will remain available for license by PrismaNote customers. Notwithstanding the foregoing, in the event that PrismaNote materially modifies the TOS and does not provide you with prior notice, you may terminate your account within thirty (30) days of the effective date of such modifications.
        |We may close your account if you are doing something wrong. You can request that we close your account at any time as well, which we will do within 90 days.	
        |d.	You may remove “content” from your account at any time, provided that in any ninety (90) day period, you remove no more than (i) 100 items of “content”; and (ii) 10% of your “content”, whichever is greater.
        |e.	If your account is terminated for any reason, you must obtain written authorization from PrismaNote prior to establishing another account. You may not have more than one active contributor account at any time without the written consent of PrismaNote in each instance.
        |You may not hold more than one PrismaNote account, or share content with another PrismaNote account, without permission.	
        |f.	You may not submit identical “content” to more than one account without the prior written consent of PrismaNote.
        br
        br
        p 5.	Content
        |.	PrismaNote has the right to refuse to accept or to remove “content” from the PrismaNote Websites for any reason. PrismaNote will remove “content” if PrismaNote believes that such “content” may (in PrismaNote's sole discretion) subject PrismaNote or any of its officers, managers, directors or employees to legal action or if the “content” violates the TOS. Notwithstanding the foregoing and subject to PrismaNote's discretion, “content” removed by you or opted out by you for any reason may be available for license to those customers that previously downloaded "comp" versions of the removed “content”.
        |a.	PrismaNote shall use reasonable efforts to cause “content” removed from or opted out from PrismaNote Websites to be removed from the websites of any PrismaNote affiliates or partners (including co-branded websites) within ninety (90) days of the removal of the subject “content” from the PrismaNote Websites.
        |b.	Licenses issued by PrismaNote for any “content” that is later removed from the PrismaNote Websites will remain in full force and effect.
        |If your content is removed from PrismaNote, existing licenses for previously downloaded content will remain in effect.	
        |c.	PrismaNote may advertise and/or market your “content” on social media platforms including Facebook, Instagram, Tumblr, Twitter, and similar sites and the applications related thereto.
        |Your content may be marketed on social media platforms.
        br
        br
        p 6.	Usage Restrictions
        | Unless you "opt out" (please see "Your Account"), PrismaNote shall have the right to issue an "Enhanced License" with respect to your “content”. Customers who purchase an Enhanced License shall have the right to make broader use of your “content”. For example, there are no limitations on the number of times an Enhanced License customer can reproduce “content”. Please read and familiarize yourself with the terms of the Terms of Service, Enhanced License.
        | a.	Unless you "opt out" (please see "Your Account"), PrismaNote shall have the right to license your “content” in accordance with a Premier License (or the equivalent). The Premier License includes so-called "Sensitive Use" rights. Sensitive Uses are those uses that depict a person in a manner that a reasonable person might consider offensive, controversial or unflattering.
        | We may license your content for sensitive uses unless you opt-out.	
        | b.	PrismaNote will not license “content” for use in connection with matter that is pornographic, defamatory or deceptive, or in a manner that could be considered libelous, obscene, or illegal in nature.
        | We will not license your content in a way that is pornographic, defamatory, deceptive, or in a way that is considered libelous, obscene, or illegal.	
        br
        br
        p 7.	Content Submission Guidelines
        | o	You agree to follow PrismaNote's Contributor Guidelines, which are deemed incorporated herein and made a part hereof by this reference. The submission of “content” that does not adhere to PrismaNote's Contributor Guidelines may result in the termination of your PrismaNote account.
        | Please follow PrismaNote's Contributor Guidelines when submitting content to PrismaNote.	
        br
        br
        p 8.	Forum Guidelines
        | You agree to follow PrismaNote's Forum Guidelines. Any activity by you on PrismaNote's forum (please see "Forum for Contributors") which does not adhere to PrismaNote's Forum Guidelines may result in the termination of your PrismaNote account. The terms of PrismaNote's Forum Guidelines are deemed incorporated into and made a part of the TOS by this reference.
        | Please follow PrismaNote's Forum Guidelines when participating in the PrismaNote forum.	
        br
        br
        p 9.	Compensation
        | .	PrismaNote shall NOT pay you a royalty for each unique download of Content for which PrismaNote receives payment. 
        | We will not pay you a royalty for each download of content.	
        | a.	There is a minimum payout rate per accounting period of: i) Thirty Five US Dollars (USD 35.00) for electronic payments; and ii) Five Hundred US Dollars (USD 500.00) for payment by check (the "Payout Minimums"). If during an accounting period, you haven't reached the Payout Minimums, your compensation will be rolled over into the next accounting period. If you cancel your account prior to accrued earnings in your royalty account reaching the applicable Payout Minimum, you thereby forfeit such royalties.
        | b.	If your account is terminated for a breach of the material terms of the TOS, in addition to its other rights at law or in equity, PrismaNote shall have the right to retain any royalties and/or other compensation otherwise payable to you hereunder as liquidated damages.
        | c.	You may not use the PrismaNote service as a means of transferring your “content” to a single customer or to a small number of customers nor may you download your own “content”. Such activity constitutes a material breach of the TOS. If you engage in such activity, PrismaNote may avail itself of all rights it has hereunder, including but not limited to terminating your account and/or retaining any accrued but unpaid royalties.
        | d.	PrismaNote may recoup royalties paid to you in connection with refunds issued by PrismaNote by deducting applicable royalties credited to your account. Credit card chargebacks will be treated in the same manner as refunded subscriptions. PrismaNote does not deduct the amount credited to your account for refunds and chargebacks in connection with any license, but it reserves the right to change this policy at any time. Such change shall not constitute a material modification to the TOS. PrismaNote shall notify you of any such change with an announcement on your login page.
        | e.	If PrismaNote makes an overpayment of royalties or other compensation to you for any reason, PrismaNote shall have the right to deduct the amount of such overpayment from your accrued royalties or to demand the immediate repayment of such overpaid royalties or other compensation.
        | f.	If you receive your payments through an online payment processing service (e.g., Paypal or Moneybookers) you may not share your online payment processing service account with another PrismaNote contributor. PrismaNote's obligation to make payment to you hereunder shall be fulfilled by making payment to the online payment processing service designated by you.
        | Please do not use your account to download your own content, or to transfer content to customers. Also, you may not share your payment processing account (e.g., PayPal, Moneybookers) with another PrismaNote contributor.	
        br
        br
        p 10.	Referral Programs
        | If you refer other content contributors to PrismaNote and the contributor identifies you to PrismaNote as the referring party pursuant to PrismaNote's referral program, you will be paid a royalty as set forth on the Earnings Schedule. Any referrer royalties credited to your account from a subscription that is later refunded or charged back to PrismaNote will be deemed to be an overpayment of royalties to you. PrismaNote reserves the right to withhold payments due to you under the PrismaNote referral program for up to 90 days from the date the referred contributor establishes its PrismaNote account.
        | You may earn more by referring contributors and customers who identify you as a referral. Please see the Earnings Schedule for more information.	
        | a.	If you refer a customer to PrismaNote and the customer identifies you to PrismaNote as the referring party, your royalty account will be credited as specified on the Earnings Schedule. You will not receive a royalty for any renewals or subsequent purchases by the customer you referred. Any referrer royalties credited to your account from a subscription that is later refunded or charged back to PrismaNote will be deemed to be an overpayment of royalties to you. PrismaNote reserves the right to withhold payments due to you under the PrismaNote referral program for up to 90 days from the date the referred customer establishes its PrismaNote account.
        br
        br
        p 11.	Taxes
        | If you are a "US Person" as said term is defined by the Internal Revenue Service ("IRS"), a signed and completed IRS Form W-9 must be submitted to PrismaNote for PrismaNote to make payments to you. A W-9 is used to certify under penalty of perjury that your social security number is correct and that you are not subject to backup withholding taxes.
        | If you are a U.S. person, you must submit a W-9 form to be paid.	
        | a.	Foreign persons might be subject to U.S. income tax on income they receive from U.S. sources. If you are a "Foreign Person" as said term is defined by the IRS, a signed and completed IRS Form W-8 must be submitted to PrismaNote in order for you to claim a reduced rate of, or exemption from, withholding as a resident of a foreign country with which the United States has an income tax treaty.
        | If you are a foreign person, you must submit a W-8 form if you would like to claim a reduced withholding rate, where applicable.	
        | For more information, please see the Tax Center.
        br
        br
        p 12.	PrismaNote Trademarks
        | For the purposes of the TOS, the term, "Trademark(s)" means all common law or registered trademarks, logos, service marks, trade names, Internet domain names, or other indications of origin now or in the future used by PrismaNote.
        | a.	Nothing contained herein grants or shall be construed to grant you any rights to use any PrismaNote Trademarks.
        | b.	You agree that you will not use PrismaNote's Trademarks in any manner that might tarnish, disparage, or reflect adversely on such Trademarks or PrismaNote. Nor will you contest or otherwise challenge (e.g., in any legal action or otherwise), or assist or encourage any other person or entity to contest or challenge, the validity of any of PrismaNote Trademarks or the Trademark rights claimed by PrismaNote.
        | c.	You agree that you will not use any PrismaNote Trademarks or any variant thereof including misspellings) as a domain name or as part of a domain name regardless of the top-level domain, as part of a blog name or social media handle or channel, or as a metatag, keyword, or any other type of programming code or data.
        | d.	You may not at any time, adopt or use, without PrismaNote's prior written consent any word or mark which is similar to or likely to be confused with PrismaNote's Trademarks.
        | e.	The look and feel of the PrismaNote Websites, including all page headers, custom graphics, button icons, and scripts, is the trade dress and/or trademark or service mark of PrismaNote and may not be copied, imitated or used, in whole or in part, without the prior written consent of PrismaNote.
        | You may not use PrismaNote's trademarks in any form without permission.	
        | f.	You may not frame or hotlink to the PrismaNote Websites or to any item of Content other than your own without the prior written consent of PrismaNote.
        | Please do not copy, frame, or hotlink to the PrismaNote websites without permission.	
        | g.	All rights in and to PrismaNote's Trademarks not expressly granted to you hereunder are reserved by PrismaNote.
        br
        br
        p 13.	Copyright Infringement Claims
        | .	You hereby grant PrismaNote the right and authority to take such steps as PrismaNote deems commercially reasonable to protect PrismaNote's rights in the “content”.
        | a.	In the event that you believe “content” has been misused, you shall take no action without providing notice of such misuse to PrismaNote and receiving PrismaNote's prior written consent to such action.
        | b.	While PrismaNote takes commercially reasonable steps to ensure that the rights of its Contributors are not violated by customers or other parties, PrismaNote has no obligation to pursue legal action against any alleged infringer of any of your rights in and to any “content”.
        | We respect your rights and may take action to protect your content. If you suspect potential misuse of your content, please contact us with the details before taking any action directly.
        br
        br
        p 14.	Representations and Warranties
        | o	You represent and warrant that:
        | a.	you have the full right, power and authority to enter into this agreement and to fully perform all of your obligations hereunder;
        | b.	you are under no legal disability or contractual restriction that prevents you from entering into this agreement
        | c.	you are at least 18 years of age;
        | d.	the “content” and all parts thereof are owned and/or controlled by you, unencumbered and original works and are capable of copyright protection in all countries where copyright or similar protection is available;
        | e.	if the “content” contains sound recordings, music and/or lyrics, you own or have acquired all rights to use such sound recordings, music and/or lyrics from the owner of the copyright in such sound recordings, music and/or lyrics.
        | f.	if the “content” consists in whole or in part of design elements, fonts, clipart, sprites, vectors, brush tools and the like that are included in design programs (e.g., Photoshop, Daz, Illustrator), the end user license agreement, terms of service or the equivalent license held by you permits you to incorporate such elements in “content” created by you, and to license such “content” to PrismaNote for the purposes set forth herein.
        | g.	the “content” is neither obscene nor defamatory, does not violate any applicable laws and/or regulations, and does not infringe the copyright or any other rights of any third party, including, without limitation, trademark rights and the rights of privacy and publicity.
        | h.	you possess valid Credentials for each item of "Editorial Use Only-content” for which credentials may be required.
        | i.	there is no suit action or claim or other legal or administrative proceeding now pending or threatened which might directly or indirectly affect the “content” or which might in any way impair the rights granted by you hereunder; and
        | j.	you will not transmit unsolicited emails or engage in so-called "spamming" to publicize or promote your relationship with PrismaNote or the sale of your “content” - nor will you advertise or otherwise publicize your relationship with PrismaNote, nor will you use PrismaNote's Trademarks through the use of search engine advertising and/or marketing.
        | You acknowledge that such advertising and/or marketing might infringe on the intellectual property rights of PrismaNote and/or third parties. In addition to its other rights and/or remedies under the TOS, PrismaNote shall be under no obligation to pay you any referral fees or other compensation if you violate the terms of this subparagraph.	
        | o	PrismaNote represents and warrants that:
        | k.	it has the power and authority to enter into this agreement and to fully perform all of its obligations hereunder; and
        | l.	upon making or learning of any claim that is inconsistent with any of the warranties or representations made by you, PrismaNote may send you written notice of such claim, using the email address provided by you to PrismaNote, specifying the details of the claim as then known to PrismaNote.
        | Pending the determination of such claim, PrismaNote may withhold from royalties and/or other compensation due to you hereunder, such sums as are reasonably related to the probable value of the claim as determined by PrismaNote. You will cooperate fully with PrismaNote in the defense of any such claims. You may participate in the defense of any claim through counsel of your selection at your own expense.	
        | You agree that you are legally able to enter into this agreement, and that none of the content you submit will violate any laws or infringe any third party's rights.	
        br
        br
        h4 2.	Confidentiality
        | o	By submitting any “content” to PrismaNote, you acknowledge that you will acquire certain confidential and proprietary information, including but not limited to royalty rates, royalty payments and earnings data (collectively, "Confidential Information"). You agree to keep Confidential Information confidential and to not disclose Confidential Information to any third party other than representatives, agents, attorneys, accountants, auditors and advisors with a bona fide need to know, who shall first agree to keep the terms confidential.
        | Please do not disclose confidential information about your PrismaNote account.	
        br
        br
        p 2.	Indemnification
        | k.	You agree to indemnify and hold PrismaNote, its subsidiaries, affiliates, directors, officers, and employees harmless from and against any and all claims, losses, damages, costs and expenses (including reasonable attorneys' fees and disbursements) arising out of any breach or claimed breach of any of your representations or warranties or any of your obligations under the TOS. You will only be liable for any incidental, consequential, or special damages in the case of third party claims.
        | If a claim arises due to your breach of your representations in this agreement, you agree to cover PrismaNote for its loss. If a claim arises due to PrismaNote's breach of its representations in this agreement, PrismaNote agrees to cover you for your loss.	
        | The party seeking indemnification agrees to notify the other party as soon as possible.	
        | l.	PrismaNote shall indemnify and hold you harmless from and against any and all claims, losses, damages, costs and expenses (including reasonable attorneys' fees and disbursements) arising out of any breach or claimed breach of any of PrismaNote's representations or warranties or any of PrismaNote's obligations pursuant to the TOS. PrismaNote will only be liable for incidental, consequential, or special damages in the case of third party claims.
        | m.	If PrismaNote is the indemnifying party, it shall defend such claims, control litigation, and settle claims in its sole discretion. If a settlement creates a financial obligation for you, it shall require your written consent, which you will not unreasonably withhold or delay. If you are the indemnifying party, PrismaNote shall have the right but not the obligation to assume control of any litigation.
        | When indemnification is sought due to a legal claim by a third party, the indemnified party shall:	
        | i.	promptly notify the indemnifying party of the claim. If the indemnified party does not notify the indemnifying party, the indemnifying party must still meet its indemnification obligations under the TOS, unless the failure to notify causes material prejudice to the indemnifying party; and
        | ii.	give the indemnifying party the opportunity to defend the claim with counsel reasonably acceptable to the indemnified party. Counsel that is acceptable to indemnifying party's errors and omissions insurance carrier shall be deemed to be acceptable to indemnified party. The indemnified party agrees to cooperate with the indemnifying party in the defense of any claim, at the indemnified party's expense. If for any reason the indemnifying party does not elect to or fails to defend a claim, the indemnified party may do so at the indemnifying party's sole expense
        br
        br
        p 2.	Miscellaneous
        | k.	The relationship of the parties is that of independent contractors. There is no relationship of partnership, joint venture, employment, franchise or agency created hereby between the parties.
        | l.	The TOS contains the entire understanding of the parties with respect to the subject matter covered herein and supersede any prior agreements with respect to such subject matter.
        | m.	The validity, interpretation and enforcement of the TOS, matters arising out of or related to the TOS or its making, performance or breach, and related matters shall be governed by the internal laws of the State of New York (without reference to choice of law doctrine). Any legal action or proceeding concerning the validity, interpretation and enforcement of the TOS, matters arising out of or related to this TOS or its making, performance or breach, or related matters shall be brought exclusively in the courts of the County of the Netherlands, and all parties consent to the exclusive jurisdiction of those courts, waiving any objection to the propriety or convenience of such venues.
        | n.	If any individual term of the TOS is found to be invalid or unenforceable by any legal or regulatory body of competent jurisdiction, such finding will be limited solely to such invalid or unenforceable part, without affecting the remaining parts of such individual term, or any other part of the TOS, so that the TOS shall otherwise remain in full force and effect. The TOS shall be binding upon and shall inure to the benefit of each party and their respective legal representatives, successors in interest and permitted assigns.
        | o.	PrismaNote will not be liable for any damages, including actual, indirect, special, or consequential damages arising from the submission or use of your “content” or the termination of your Contributor Account.
        | p.	Please note that PrismaNote reserves the right to modify these terms at any time by an announcement on your login page. You agree to be bound by all such changes. If you do not agree with any of the changes, please remove from PrismaNote, pursuant to the terms herein, all or that portion of your “content” to which you do not wish the changes to apply.
        | q.	In the event that you breach any of the terms of this or any other agreement with PrismaNote, PrismaNote shall have the right to terminate your account without further notice, in addition to PrismaNote's other rights at law and/or equity.
        | r.	It is expressly understood and agreed that this TOS is entered into solely for the mutual benefit of the parties herein and that no benefits, rights, duties, or obligations are intended by this TOS as to third parties.
        | If these terms change, we will notify you. This agreement will be governed by the Dutch law.	
        | o	By submitting any “content” to PrismaNote and/or by participating in the forums, you agree to be bound by this TOS, and PrismaNote's Website Terms of Use and PrismaNote's Privacy Statement, both of which are deemed incorporated herein by this reference.
        | o	Effective as of Thursday, September 1, 2017.
    .col-md-2
br
.row

