h1 Nieuwe campagne aangemaakt!
p Er is zojuist een nieuwe campagne aangevraagd. Ga naar het adminportaal om deze te controleren te bevestigen

pre(style="display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; word-break: break-all; word-wrap: break-word; color: #333; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;")
    = JSON.stringify(campaign)
