if campaign.emailColor
	- var color =  campaign.emailColor;
else
	- var color = '#83af9a';

if campaign.update == false
	- var update = false

if campaign.tasks[0].type == 'order'
	- var contribution =  campaign.tasks[1].contribution.percent;
else
	- var contribution =  campaign.tasks[0].contribution.percent;

table.full(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
	tr
		td#not4(align="center", style="background-color: #333436;")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// Space
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="40")
							// End Space
							// Space
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="40")
							// End Space
							table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", valign="middle", align="center")
										// Text
										table.fullCenter(width="402", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td.fullCenter(valign="middle", width="402", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 30px; color: #ffffff; line-height: 55px; font-weight: 100; word-break:break-all;")
													// [if !mso] <!
													span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
														// <![endif]
														| Campagne deelverzoek 
														br
														| van #{campaign.brand.name}
														// [if !mso] <!
													// <![endif]
							table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", valign="middle", align="center")
										table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td(width="100%", height="25")
							table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", valign="middle", align="center")
										table.fullCenter(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 19px; color: #ffffff; line-height: 23px; font-weight: bold; text-transform: uppercase;")
													// [if !mso] <!
													span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
														// <![endif]
														if update == true
															| #{campaign.brand.name} HEEFT U UITGENODIGD OM DE ONDERSTAANDE CAMPAGNE TE DELEN
														else if contribution > 0 
															| Investeer met ons in lokale marketing en ontvang #{contribution}% terugbetaling na aankoop.
														else
															| #{campaign.brand.name} HEEFT U UITGENODIGD OM AAN DEZE BETAALDE CAMPAGNE MEE TE DOEN
														br
														br
														// [if !mso] <!
													// <![endif]
											tr
												td(width="100%", height="50")
			table.full(width="392", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(align="center", width="20", valign="middle")
					td(align="center", width="352", valign="middle")
						table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center")
							tr
								td(align="center", width="352", valign="middle", style="background-color:" + color +";", id="color1")
									.sortable_inner.ui-sortable
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center",style="background-color:" + color +";", object="drag-module-small", id="color2")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="300", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										// Avatar
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color3" object="drag-module-small")
											tr
												td.avatar125(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%")
																span
																	if image
																		- var imageUrl = image
																	else
																		- var imageUrl = bucket + photo
																	a(href=imageUrl)
																		img(src=imageUrl, alt="Campagne afbeelding" width="300", border="0")
																	//-img(src="#{image}", alt="image of this post" width="300", border="0")
															
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", object="drag-module-small", id="color4")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color5", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 28px; color: #ffffff; line-height: 44px; font-weight: bold;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novalight', Helvetica; font-weight: normal;")
																	// <![endif]
																	| #{campaign.name}
																	// [if !mso] <!
																// <![endif]
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color6", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color7", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| #{campaign.startDate} tot #{campaign.endDate} 
																	br
																	| #{campaign.tasks.length} taak/taken
																	br
																	| # #{campaign.brand.name}
																	br
																	| Promotie strategie: #{campaign.strategy}
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color8", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 26px; color: #ffffff; line-height: 44px; font-weight: bold;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novalight', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Vragen?
																	// [if !mso] <!
																// <![endif]
																	// [if !mso] <!
																// <![endif]
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color9", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																if campaign.wholesaler
																	|Je kunt contact opnemen met:
																	| #{campaign.wholesaler.name}
																	br
																	| #{campaign.wholesaler.email}
																	// <![endif]
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color10", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="40")
										// --------------- Button Center ---------------
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color11", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="300", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														// --------------- Button Center ---------------
														tr
															td(align="center")
																table(border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td(align="center", height="45", bgcolor="#3b5998", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(250, 250, 250); text-transform: uppercase; background-color: rgb(59, 89, 152);")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
																				// <![endif]
																				if link
																					- var url = link
																				else
																					- var url = "#"
																				
																				a(href=url, style="color: #ffffff; font-size:15px; text-decoration: none; line-height:35px; width:100%;") Promoot deze campagne via Facebook
																				// [if !mso] <!
																			// <![endif]
														// --------------- End Button Center ---------------
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="background-color:" + color +";", id="color12", object="drag-module-small")
											tr
												td(width="352", valign="middle")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="60")
										// End Top
					td(align="center", width="20", valign="middle")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// CopyRight
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="40")
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td.fullCenter(valign="middle", width="352", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px;", align="center")
										span
											// [if !mso] <!
											span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
												// <![endif]
												if unsubscribeHref
													- var brandsBlackListUrl = 'https://prismanote.com/unsubscribe-brand/' + unsubscribeHref;
												else
													- var brandsBlackListUrl = '#';

												a(href=brandsBlackListUrl, style="color: #ffffff")
													span Dit merk zit niet in onze collectie
												a(href="https://prismanotevoorjuweliers.nl/campagne-deelverzoek", target="_blank" style="color: #ffffff")
													span  | Wat is dit voor mail?
												// [if !mso] <!
											// <![endif]
							// End CopyRight
						.sortable_inner.ui-sortable
							// CopyRight
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td.fullCenter(valign="middle", width="352", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px;", align="center")
										span
											// [if !mso] <!
											span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
												// <![endif]
												- var infoLink = campaign.url
												a(href=infoLink, target="_blank" style="color: #ffffff")
													span Informatie pagina van deze actie
												// [if !mso] <!
											// <![endif]
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="60")
								tr
									td(width="352", height="1", style="font-size: 1px; line-height: 1px;")  
							// End CopyRight
// End Notification 4