.brand
	a(ng-if="shop" ui-sref="{{getShopType()}}.brand({nameSlug:shop.nameSlug,brandNameSlug:item.nameSlug})")
		img(ng-src='{{awsUrl + item.images[0].src}}' alt='{{item.images[0].alt}}')
		h5 {{item.name}}
		span {{item.categories[0]}}
	a(ng-if="!shop" ui-sref="layout.brand({nameSlug:item.nameSlug})")
		img(ng-src='{{awsUrl + item.images[0].src}}' alt='{{item.images[0].alt}}')
		h5 {{item.name}}
		span {{item.categories[0]}}
