.campaign-block
	a.campaign-block-image(ng-click="openPreviewCampaignModal(item)" style="background-image: url('{{item.images[0].src}}')")
	.campaign-block-content
		a(ng-click="openPreviewCampaignModal(item)")
			h5.campaign-block-title {{item.name}}&nbsp;&nbsp;
				//-i.fa.fa-star.rating(ng-repeat="n in range(item.rating)")
				i.fa.fa-star.rating.hidden
				i.fa.fa-star.rating.hidden
				i.fa.fa-star.rating.hidden
				i.fa.fa-star.rating.hidden
		p.hidden
			span
				i.fa.fa-euro(ng-hide="item.contribution ==true")
				span(ng-hide="item.contribution ==true" uib-tooltip-html='"{{:: "EXPLAIN_CONTRIBUTION_CAMPAIGN" | translate}}"') &nbsp; {{:: "SUPPLIERS_CONTRIBUTION_EURO" | translate}}
		p
			span
				i.fa.fa-bullhorn(ng-if="item.strategy =='target-search'")
				span(ng-if="item.strategy =='target-search'" uib-tooltip-html='"{{:: "EXPLAIN_TARGET_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}} 
					i.fa.fa-rocket

				i.fa.fa-bullhorn(ng-if="item.strategy =='local-plump'")
				span(ng-if="item.strategy =='local-plump'" uib-tooltip-html='"{{:: "EXPLAIN_LOCALPLUMP_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}} 
					i.fa.fa-tint

				i.fa.fa-home(ng-if="item.strategy =='store-promotion'")
				span(ng-if="item.strategy =='store-promotion'" uib-tooltip-html='"{{:: "EXPLAIN_MYSTORE_CAMPAIGN" | translate}}"') &nbsp; {{:: "MY_STORE_PROMOTION" | translate}}

				i.fa.fa-bullhorn(ng-if="item.update ==true")
				span(ng-if="item.update ==true" uib-tooltip-html='"{{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}"') &nbsp; {{:: "ORDINARY_UPDATE" | translate}}

		a.date
			i.fa.fa-share
			span &nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}
		p.date
			i.fa.fa-calendar-o
			span &nbsp; {{formatDate(item.startDate, true)}} {{:: "TILL" | translate}} {{formatDate(item.endDate, true)}}
		b &nbsp; # {{item.brand.name}}
		//-a.btn.btn-md.btn-light(ng-click="openPreviewCampaignModal(item)") {{:: "VIEW" | translate}}