.campaign-block
	a.campaign-block-image(ui-sref='admin.campaign({nameSlug:item.nameSlug})' style="background-image: url('{{item.images[0].src}}')")
	.campaign-block-content
		a(ui-sref='admin.campaign({nameSlug:item.nameSlug})')
			h5.campaign-block-title {{item.name}}
		p.date
			i.fa.fa-calendar-o
			span &nbsp; {{formatDate(item.startDate, true)}} {{:: "UNTIL" | translate}} {{formatDate(item.endDate, true)}}
		a.date(ui-sref="admin.campaign({nameSlug:item.nameSlug, tab:'tasks'})")
			i.fa.fa-share
			span &nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}