.campaign-block
    a.campaign-block-image(ui-sref='brand.campaign({nameSlug:item.nameSlug})' style="background-image: url('{{item.images[0].src}}')")
    div(uib-alert, ng-show="!item.isVerified").alert.alert-danger.text-center
        | {{:: "THIS_CAMPAIGN_HAS_NOT_YET_BEEN_APPROVED" | translate}}
    .campaign-block-content
        a(ui-sref='brand.campaign({nameSlug:item.nameSlug})')
            h5.campaign-block-title {{item.name}}&nbsp;&nbsp;
        i.fa.fa-star.rating(ng-show="item.ranking > 1" ng-repeat="n in getNumber(item.ranking) track by $index")
        p.hidden
            span
                i.fa.fa-euro(ng-hide="item.contribution ==true")
                span(ng-hide="item.contribution ==true" uib-tooltip-html='"{{:: "EXPLAIN_CONTRIBUTION_CAMPAIGN" | translate}}"') &nbsp; {{:: "SUPPLIERS_CONTRIBUTION_EURO" | translate}}
        p
            span
                i.fa.fa-bullhorn(ng-if="item.strategy =='target-search'")
                span(ng-if='item.strategy =="target-search"' uib-tooltip-html='"{{:: "EXPLAIN_TARGET_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}}
                    i.fa.fa-rocket

                i.fa.fa-bullhorn(ng-if="item.strategy =='local-plump'")
                span(ng-if='item.strategy =="local-plump"' uib-tooltip-html='"{{:: "EXPLAIN_LOCALPLUMP_CAMPAIGN" | translate}}"') &nbsp; {{:: "PROMOTION_STRATEGY" | translate}}
                    i.fa.fa-tint

                i.fa.fa-home(ng-if="item.strategy =='store-promotion'")
                span(ng-if='item.strategy =="store-promotion"' uib-tooltip-html='"{{:: "EXPLAIN_MYSTORE_CAMPAIGN" | translate}}"') &nbsp; {{:: "MY_STORE_PROMOTION" | translate}}

                i.fa.fa-bullhorn(ng-if="item.update ==true")
                span(ng-if="item.update ==true" uib-tooltip-html='"{{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}"') &nbsp; {{:: "ORDINARY_UPDATE" | translate}}
        a.date
            i.fa.fa-share
            span &nbsp; {{item.tasks.length}} {{:: "TASKS" | translate}}
        p.date
            i.fa.fa-calendar-o
            span &nbsp; {{formatDate(item.startDate, true)}} {{:: "TILL" | translate}} {{formatDate(item.endDate, true)}}
        b &nbsp; # {{item.brand.name}}