.div
    label(for="{{model}}") {{:: "TEXT_COUNTRY" | translate}}
    select(ng-required="required" id="{{model}}" ng-model="model").form-control 
        option(value="" selected hidden)
        option(value="NL") {{:: "THE_NETHERLANDS" | translate}}
        option(value="BE") {{:: "BELGIUM" | translate}}
        option(value="DE") {{:: "GERMANY" | translate}}
        option(value="LX") {{:: "LUXEMBOURG" | translate}}
        option(value="FR") {{:: "FRANCE" | translate}}
        option(value="UK") {{:: "ENGLAND" | translate}}