.news-item-block
	a(ui-sref='layout.news-item({nameSlug:item.nameSlug})')
		img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
	.news-item-block-content
		a(ui-sref='layout.news-item({nameSlug:item.nameSlug})')
			h4.news-item-block-title {{item.name}}
		p.date
			i.fa.fa-calendar-o
			|&nbsp;{{formatDate(item.publicationDate)}}
		p(ng-bind-html="truncateText(item.content)")
		a(ui-sref='layout.news-item({nameSlug:item.nameSlug})').btn.btn-md.btn-dark {{:: "READ_ON" | translate}}