.news-item-block-shop
	a(ui-sref='shop.news({nameSlug:item.nameSlug})')
		img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
	.news-item-block-content
		a(ui-sref='shop.news({nameSlug:item.nameSlug})')
			h4.news-item-block-title {{item.name}}
		p.date
			i.fa.fa-calendar-o
			|&nbsp;{{formatDate(item.publicationDate)}}
		p(ng-bind-html="truncateText(item.summary)")
		a(ui-sref="{{getShopType()}}.news({nameSlug:shop.nameSlug,newsItemSlug:item.nameSlug})").btn.btn-md.btn-dark {{:: "READ_ON" | translate}}