.product-filter.filter
	a(href='' ng-init="showType = true" ng-click="showType = !showType")
		h5 {{:: "WATCH_TYPE" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showType")
			i.fa.fa-chevron-down(ng-show="!showType")
	.filter-content(uib-collapse="!showType")
		ul
			li
				input#wrist(type="checkbox" name="wrist" ng-model="type.wrist" ng-change="setType()")
				label(for="wrist") {{:: "WRIST" | translate }}
					span.count(ng-bind="type.wrist.count ? '(' + type.wrist.count + ')': ''")
			li
				input#pocket(type='checkbox' name='pocket' ng-model="type.pocket" ng-change="setType()")
				label(for='pocket') {{:: "POCKET" | translate }}
					span.count(ng-bind="type.pocket.count ? '(' + type.pocket.count + ')': ''")
			li
				input#nurse(type='checkbox' name='nurse' ng-model="type.nurse" ng-change="setType()")
				label(for='nurse') {{:: "NURSE" | translate }}
					span.count(ng-bind="type.nurse.count ? '(' + type.nurse.count + ')': ''")
			li
				input#smartwatch(type='checkbox' name='smartwatch' ng-model="type.smartwatch" ng-change="setType()")
				label(for='smartwatch') {{:: "SMARTWATCH" | translate}}
					span.count(ng-bind="type.smartwatch.count ? '(' + type.smartwatch.count + ')': ''")
	hr