.product-filter.filter
	a(href='' ng-init="showDial = true" ng-click="showDial = !showDial")
		h5 {{:: "INDEX" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showDial")
			i.fa.fa-chevron-down(ng-show="!showDial")
	.filter-content(uib-collapse="!showDial")
		ul
			li
					input(type="checkbox" name="dial.arabic" id="dial.arabic" ng-model="dial.arabic" ng-change="setDial()")
					label(for="dial.arabic") {{:: "ARABIC" | translate }}
						span.count(ng-bind="dial.arabic.count ? '(' + dial.arabic.count + ')': ''")
			li
					input(type="checkbox" name="dial.roman" id="dial.roman" ng-model="dial.roman" ng-change="setDial()")
					label(for="dial.roman") {{:: "ROMAN" | translate }}
						span.count(ng-bind="dial.roman.count ? '(' + dial.roman.count + ')': ''")
			li
					input(type="checkbox" name="dial.stripes" id="dial.stripes"  ng-model="dial.stripes" ng-change="setDial()")
					label(for="dial.stripes") {{:: "STRIPES" | translate }}
						span.count(ng-bind="dial.stripes.count ? '(' + dial.stripes.count + ')': ''")
			li
					input(type="checkbox" name="dial.dots" id="dial.dots" ng-model="dial.dots" ng-change="setDial()")
					label(for="dial.dots") {{:: "DOTS" | translate }}
						span.count(ng-bind="dial.dots.count ? '(' + dial.dots.count + ')': ''")
			li
					input(type="checkbox" name="dial.diamonds" id="dial.diamonds" ng-model="dial.diamonds" ng-change="setDial()")
					label(for="dial.diamonds") {{:: "REAL_DIAMONDS" | translate }} / {{:: "ORNAMENTAL_DIAMONDS" | translate }}
						span.count(ng-bind="dial.diamonds.count ? '(' + dial.diamonds.count + ')': ''")
			li
					input(type="checkbox" name="dial.none" id="dial.none" ng-model="dial.none" ng-change="setDial()")
					label(for="dial.none") {{:: "NONE" | translate }}
						span.count(ng-bind="dial.none.count ? '(' + dial.none.count + ')': ''")
	hr