.product-filter.filter
	a(href='' ng-init="showCaseMaterial = false" ng-click="showCaseMaterial = !showCaseMaterial")
		h5 {{:: "CASE_MATERIAL" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showCaseMaterial")
			i.fa.fa-chevron-down(ng-show="!showCaseMaterial")
	.filter-content(uib-collapse="!showCaseMaterial")
		ul
			li
				input#caseStainlessSteel(type="checkbox" name="caseStainlessSteel" ng-model="caseMaterial.stainlessSteel" ng-change="setCaseMaterial()")
				label(for="caseStainlessSteel") {{:: "STAINLESS_STEEL" | translate }}
					span.count(ng-bind="caseMaterial.stainlessSteel.count ? '(' + caseMaterial.stainlessSteel.count + ')': ''")
			li
				input#caseTitanium(type='checkbox' name='caseTitanium' ng-model="caseMaterial.titanium" ng-change="setCaseMaterial()")
				label(for='caseTitanium') {{:: "TITANIUM" | translate }}
					span.count(ng-bind="caseMaterial.titanium.count ? '(' + caseMaterial.titanium.count + ')': ''")
			li
				input#caseAluminium(type='checkbox' name='caseAluminium' ng-model="caseMaterial.aluminium" ng-change="setCaseMaterial()")
				label(for='caseAluminium') {{:: "ALUMINIUM" | translate }}
					span.count(ng-bind="caseMaterial.aluminium.count ? '(' + caseMaterial.aluminium.count + ')': ''")
			li
				input#caseMetal(type='checkbox' name='caseMetal' ng-model="caseMaterial.metal" ng-change="setCaseMaterial()")
				label(for='caseMetal') {{:: "METAL" | translate }}
					span.count(ng-bind="caseMaterial.metal.count ? '(' + caseMaterial.metal.count + ')': ''")
			li
				input#casePlasticSilicon(type="checkbox" name="casePlasticSilicon" ng-model="caseMaterial.plasticSilicon" ng-change="setCaseMaterial()")
				label(for="casePlasticSilicon") {{:: "PLASTIC_SILICONE" | translate }}
					span.count(ng-bind="caseMaterial.plasticSilicon.count ? '(' + caseMaterial.plasticSilicon.count + ')': ''")
			li
				input#caseCeramics(type='checkbox' name='caseCeramics' ng-model="caseMaterial.ceramics" ng-change="setCaseMaterial()")
				label(for='caseCeramics') {{:: "CERAMICS" | translate }}
					span.count(ng-bind="caseMaterial.ceramics.count ? '(' + caseMaterial.ceramics.count + ')': ''")
			li
				input#caseWood(type="checkbox" name="caseWood" ng-model="caseMaterial.wood" ng-change="setCaseMaterial()")
				label(for="caseWood") {{:: "WOOD" | translate }}
					span.count(ng-bind="caseMaterial.wood.count ? '(' + caseMaterial.wood.count + ')': ''")
	hr