.product-filter.filter
	a(href='' ng-init="showPrice = true" ng-click="showPrice = !showPrice")
		h5 {{:: "PRICE" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showPrice")
			i.fa.fa-chevron-down(ng-show="!showPrice")
	.filter-content(uib-collapse="!showPrice")
		rzslider(rz-slider-model="priceRange.min" rz-slider-high="priceRange.max" rz-slider-options="priceRange.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr
