.product-filter.filter
	a(href='' ng-init="showCaseSize = true" ng-click="showCaseSize = !showCaseSize")
		h5 {{:: "SIZE" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showCaseSize")
			i.fa.fa-chevron-down(ng-show="!showCaseSize")
	.filter-content(uib-collapse="!showCaseSize")
		rzslider(rz-slider-model="caseSize.min" rz-slider-high="caseSize.max" rz-slider-options="caseSize.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr