.product-block
	a(href="" ng-click="selectItem(item.en.nameSlug, $index)" ng-init="item.selected = false").hidden
		i.fa.fa-check-square-o.fa-lg(ng-if="item.selected == true")
		i.fa.fa-square-o.fa-lg(ng-if="item.selected == false")
	.product-image
		a(href="" ng-click="updateShopProduct(item, true)")#webshopTourOpenEditModal
			img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
			.hover-overlay
		.product-label
			span.available(ng-show="item.stock > 0") {{:: "IN_STOCK" | translate}}
			span.unavailable(ng-show="item.stock == 0") {{:: "ONLINE_AVAILABLE" | translate}}
			span.bestseller(ng-show="item.isBestseller == true") {{:: "BESTSELLER" | translate}}
			span.show-item(ng-show="item.show == false") {{:: "NOT_FOR_SALE" | translate}}
		.product-action-btns
			.row
				.col-xs-6.product-action-btn.product-open-modal.text-right
					a(href="" ng-click="updateShopProduct(item, true)")
						i.fa.fa-pencil.fa-2x(uib-tooltip="Bewerken" tooltip-placement="left" tooltip-append-to-body="true")
				.col-xs-6.product-action-btn.product-show
					a(href="" ng-click="item.show = !item.show; updateShopProduct(item)")
						i.fa.fa-eur.fa-2x(ng-if="item.show == true" uib-tooltip='{{:: "DONT_SELL_THIS_PRODUCT" | translate}}' tooltip-placement="right" tooltip-append-to-body="true")
						i.fa.fa-eur.fa-2x(ng-if="item.show == false" uib-tooltip='{{:: "PUT_UP_FOR_SALE" | translate}}' tooltip-placement="right" tooltip-append-to-body="true")
				.col-xs-6.product-action-btn.product-delete.text-right
					a(href="" ng-click="deleteShopProduct(item._id)")
						i.fa.fa-trash.fa-2x(uib-tooltip="Verwijderen" tooltip-placement="left" tooltip-append-to-body="true")
	a(href="" ng-click="updateShopProduct(item, true)").product-details
		.product-title(ng-bind="item[language].name")
		.product-title(ng-if="item[language].name == ''" ng-bind="item.variants[0].productNumber")
		.product-price(ng-if="item.price != null")
			span(ng-if="item.discount > 0") {{item.price * 1.21 | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}
			br(ng-if="item.discount > 0")
			strong.discount(ng-if="item.discount > 0") &ndash; {{item.discount | currency: '€ '}} {{:: "DISCOUNT" | translate}}
			br(ng-if="item.discount > 0")
			strong {{(item.price * 1.21) - item.discount | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}
			br
			br
		.product-price(ng-if="item.price == null")
			em {{:: "NO_PRICE_KNOWN_ADVISORY_PRICE" | translate}}:&nbsp;
			strong {{item.suggestedRetailPrice | currency: '€ '}} {{:: "INCLUDING_VAT" | translate}}
		//- span.product-gender(ng-bind="item.gender")
