.product-filter.filter
	a(href='' ng-init="showClasp = true" ng-click="showClasp = !showClasp")
		h5 {{:: "CLASP" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showClasp")
			i.fa.fa-chevron-down(ng-show="!showClasp")
	.filter-content(uib-collapse="!showClasp")
		// TODO clasp not yet in DB, run import again
	hr