.product-block(ng-class="(item.priorityKey) ? 'bg-warning' : ''")
	a(href="" ng-click="selectItem(item[language].nameSlug, $index)" ng-init="item.selected = false").hidden
		i.fa.fa-check-square-o.fa-lg(ng-if="item.selected == true")
		i.fa.fa-square-o.fa-lg(ng-if="item.selected == false")
	.product-image
		a(ui-sref="admin.product({nameSlug:item.en.nameSlug})" target="_blank")
			img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
			.hover-overlay
	a(ui-sref="admin.product({nameSlug:item.en.nameSlug})").product-details
		.product-title(ng-bind="item[language].name")
	div
		label(style=" font-style: italic;") {{:: "LAST_UPDATED" | translate}}:  {{convertDate(item.dateLastModified)}}
		label(style="font-style:italic") {{:: "LAST_SUGGESTION_RECEIVED" | translate}}: {{convertDate(item.dateLastModified)}}