.product-block
	.product-image
		a(ng-if="shop" ui-sref="shop.product({nameSlug:shop.nameSlug, productNameSlug: item.en.nameSlug})")
			img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
			.hover-overlay
		a(ng-if="!shop" ui-sref="layout.product({nameSlug:item.en.nameSlug})")
			img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
			.hover-overlay 
		.product-label
			span.available(ng-show="item.stock > 0") {{:: "IN_STOCK" | translate}}
			span.unavailable(ng-show="item.stock == 0 && shop.isDropShipper") {{:: "ONLINE_AVAILABLE" | translate}}
			span.onsale(ng-show="item.discount && item.discount != 0") {{:: "SALE" | translate}}
			span.bestseller(ng-show="item.isBestseller == true") {{:: "BESTSELLER" | translate}}
			span.new(ng-show="item.uploadDate < today") {{:: "NEW" | translate}}
		.product-action-btns.hidden
			.row
				.col-xs-6.product-action-btn.product-add-to-cart.text-right
					a(href="" ng-click="addToCart(item)")
						i.fa.fa-shopping-cart.fa-2x(uib-tooltip="In winkelwagen" tooltip-placement="left" tooltip-append-to-body="true")
				.col-xs-6.product-action-btn.product-add-to-wishlist
					a(href="" ng-click="addToWishlist(item)")
						i.fa.fa-heart.fa-2x(uib-tooltip="Aan verlanglijst toevoegen" tooltip-placement="right" tooltip-append-to-body="true")
				.col-xs-6.product-action-btn.product-reserve.text-right
					a(href="" ng-click="reserve(item)")
						i.fa.fa-archive.fa-2x(uib-tooltip="Reserveren" tooltip-placement="left" tooltip-append-to-body="true")
				.col-xs-6.product-action-btn.product-view
					a(ng-if="shop" ui-sref="{{getShopType()}}.product({nameSlug:shop.nameSlug, productNameSlug: item.en.nameSlug})")
						i.fa.fa-eye.fa-2x(uib-tooltip="Ga naar productpagina" tooltip-placement="right" tooltip-append-to-body="true")
					a(ng-if="!shop" ui-sref="layout.product({nameSlug:item.en.nameSlug})")
						i.fa.fa-eye.fa-2x(uib-tooltip="Ga naar productpagina" tooltip-placement="right" tooltip-append-to-body="true")
	a(ng-if="shop" ui-sref="{{getShopType()}}.product({nameSlug:shop.nameSlug, productNameSlug: item.en.nameSlug})").product-details
		.product-price(ng-if="item.price != null")
			s(ng-if="item.discount > 0" ng-bind="item.price * 1.21 | currency: '€ '")
			strong &nbsp;{{(item.price - item.discount) * 1.21 | currency: '€ '}}
		.product-price(ng-if="item.price == null")
			em {{:: "NO_PRICE_KNOWN_YET" | translate}}
		//- span.product-gender(ng-bind="item.gender")
		.product-title(ng-bind="item[language].name")
	a(ng-if="!shop" ui-sref="layout.product({nameSlug:item.en.nameSlug})").product-details
		.product-price(ng-if="item.suggestedRetailPrice != null")
			em {{:: "ADVISORY_PRICE" | translate}}&nbsp;
			strong {{item.suggestedRetailPrice * 1.21 | currency: '€ '}}
		.product-price(ng-if="item.suggestedRetailPrice == null")
			em {{:: "NO_PRICE_KNOWN_YET" | translate}}
		//- span.product-gender(ng-bind="item.gender")
		.product-title(ng-bind="item[language].name")