.product-filter.filter
	.btn-group(ng-repeat="collection in currentShop.collections")
		button.btn.btn.btn-md.button-margin-right(type='button', ng-model="collectionFilter.collection[language].name" uib-dropdown-toggle='', ng-disabled='disabled' ng-show="filtersWatch == true || filtersStrap == true" ng-click="setCollectionFilter(); collection1 = true") {{collection[language].name}}
		button.btn.btn.btn-md.btn-light.button-margin-right(ng-show="collection1 == true" ng-click="openCreateCollectionModal(collection)")
			i.fa.fa-pencil
	hr