.product-filter.filter
	a(href='' ng-init="showMiscProperties = true" ng-click="showMiscProperties = !showMiscProperties")
		h5 {{:: "PARTICULARS" | translate}} &nbsp;
			i.fa.fa-chevron-up(ng-show="showMiscProperties")
			i.fa.fa-chevron-down(ng-show="!showMiscProperties")
	.filter-content(uib-collapse="!showMiscProperties")
		ul
			li
				input#swissMovement(type="checkbox" name="swissMovement" ng-model="miscProperties.swissMovement" ng-change="setMiscProperties()")
				label(for="swissMovement") {{:: "SWISS_MOVEMENT" | translate}}
					span.count(ng-bind="miscProperties.swissMovement.count ? '(' + miscProperties.swissMovement.count + ')': ''")
			li
				input#dateFunction(type='checkbox' name='dateFunction' ng-model="miscProperties.dateFunction" ng-change="setMiscProperties()")
				label(for='dateFunction') {{:: "DATE_DISPLAY" | translate}}
					span.count(ng-bind="miscProperties.dateFunction.count ? '(' + miscProperties.dateFunction.count + ')': ''")
			li
				input#lightFunction(type='checkbox' name='lightFunction' ng-model="miscProperties.lightFunction" ng-change="setMiscProperties()")
				label(for='lightFunction') {{:: "LIGHT_FUNCTION" | translate}}
					span.count(ng-bind="miscProperties.lightFunction.count ? '(' + miscProperties.lightFunction.count + ')': ''")
			li
				input#antiAllergy(type="checkbox" name="antiAllergy" ng-model="miscProperties.antiAllergy" ng-change="setMiscProperties()")
				label(for="antiAllergy") {{:: "ANTI_ALLERGIC" | translate}}
					span.count(ng-bind="miscProperties.antiAllergy.count ? '(' + miscProperties.antiAllergy.count + ')': ''")
			li
				input#nickelFree(type='checkbox' name='nickelFree' ng-model="miscProperties.nickelFree" ng-change="setMiscProperties()")
				label(for='nickelFree') {{:: "NICKEL_FREE" | translate}}
					span.count(ng-bind="miscProperties.nickelFree.count ? '(' + miscProperties.nickelFree.count + ')': ''")
	hr