.product-filter.filter
	a(href='' ng-init="showCategory = true" ng-click="showCategory = !showCategory")
		h5 {{:: "CATEGORY" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showCategory")
			i.fa.fa-chevron-down(ng-show="!showCategory")
	.filter-content(uib-collapse="!showCategory")
		ul
			li
				input#watch(type="checkbox" name="watch" ng-model="category.watch" ng-change="setCategory()")
				label(for="watch") {{:: "WATCH" | translate}}
					span.count(ng-bind="category.watch.count ? '(' + category.watch.count + ')': ''")
			li
				input#strap(type='checkbox' name='strap' ng-model="category.strap" ng-change="setCategory()")
				label(for='strap') {{:: "WATCHSTRAP" | translate}}
					span.count(ng-bind="category.strap.count ? '(' + category.strap.count + ')': ''")
			li
				input#jewel(type='checkbox' name='jewel' ng-model="category.jewel" ng-change="setCategory()")
				label(for='jewel') {{:: "JEWELRY" | translate}}
					span.count(ng-bind="category.jewel.count ? '(' + category.jewel.count + ')': ''")
			li
				input#other(type='checkbox' name='other' ng-model="category.other" ng-change="setCategory()")
				label(for='other') {{:: "OTHER" | translate}}
					span.count(ng-bind="category.other.count ? '(' + category.other.count + ')': ''")
	hr
