.product-filter.filter
	a(href='' ng-init="showCaseDepth = true" ng-click="showCaseDepth = !showCaseDepth")
		h5 {{:: "THICKNESS" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showCaseDepth")
			i.fa.fa-chevron-down(ng-show="!showCaseDepth")
	.filter-content(uib-collapse="!showCaseDepth")
		rzslider(rz-slider-model="caseDepth.min" rz-slider-high="caseDepth.max" rz-slider-options="caseDepth.options" rz-slider-tpl-url="views/directives/rz-slider.html")
	hr
