.product-filter.filter
	a(href='' ng-init="showGlassMaterial = true" ng-click="showGlassMaterial = !showGlassMaterial")
		h5 {{:: "SCRATCH_RESISTANCE" | translate }}&nbsp;
			i.fa.fa-chevron-up(ng-show="showGlassMaterial")
			i.fa.fa-chevron-down(ng-show="!showGlassMaterial")
	.filter-content(uib-collapse="!showGlassMaterial")
		ul
			li
				input#sapphire(type="checkbox" name="sapphire" ng-model="glassMaterial.sapphire" ng-change="setGlassMaterial()")
				label(for="sapphire") {{:: "SAPPHIRE" | translate }}
					span.count(ng-bind="glassMaterial.sapphire.count ? '(' + glassMaterial.sapphire.count + ')': ''")
			li
				input#sapphireCoated(type='checkbox' name='sapphireCoated' ng-model="glassMaterial.sapphireCoated" ng-change="setGlassMaterial()")
				label(for='sapphireCoated') {{:: "SAPPHIRE_COATED" | translate }}
					span.count(ng-bind="glassMaterial.sapphireCoated.count ? '(' + glassMaterial.sapphireCoated.count + ')': ''")
			li
				input#crystal(type='checkbox' name='crystal' ng-model="glassMaterial.crystal" ng-change="setGlassMaterial()")
				label(for='crystal') {{:: "CRYSTAL" | translate }}
					span.count(ng-bind="glassMaterial.crystal.count ? '(' + glassMaterial.crystal.count + ')': ''")
			li
				input#mineral(type='checkbox' name='mineral' ng-model="glassMaterial.mineral" ng-change="setGlassMaterial()")
				label(for='mineral') {{:: "MINERAL" | translate }}
					span.count(ng-bind="glassMaterial.mineral.count ? '(' + glassMaterial.mineral.count + ')': ''")
			li
				input#syntheticPlastic(type='checkbox' name='syntheticPlastic' ng-model="glassMaterial.syntheticPlastic" ng-change="setGlassMaterial()")
				label(for='syntheticPlastic') {{:: "SYNTHETIC_PLASTIC" | translate }}
					span.count(ng-bind="glassMaterial.syntheticPlastic.count ? '(' + glassMaterial.syntheticPlastic.count + ')': ''")
	hr