.product-filter.filter
	a(href='' ng-init="showGender = true" ng-click="showGender = !showGender")
		h5 {{:: "GENDER" | translate}} &nbsp;
			i.fa.fa-chevron-up(ng-show="showGender")
			i.fa.fa-chevron-down(ng-show="!showGender")
	.filter-content(uib-collapse="!showGender")
		ul
			li
				input#gents(type="checkbox", name="gender" ng-model="gents" ng-change="setGender()")
				label(for="gents") {{:: "MEN" | translate}}
					span.count(ng-bind="gents.count ? '(' + gents.count + ')': ''")
			li
				input#ladies(type='checkbox', name='gender' ng-model="ladies" ng-change="setGender()")
				label(for='ladies') {{:: "LADIES" | translate}}
					span.count(ng-bind="ladies.count ? '(' + ladies.count + ')': ''")
			li
				input#boys(type='checkbox', name='gender' ng-model="boys" ng-change="setGender()")
				label(for='boys') {{:: "BOYS" | translate}}
					span.count(ng-bind="boys.count ? '(' + boys.count + ')': ''")
			li
				input#girls(type='checkbox', name='gender' ng-model="girls" ng-change="setGender()")
				label(for='girls') {{:: "GIRLS" | translate}}
					span.count(ng-bind="girls.count ? '(' + girls.count + ')': ''")
	hr