.product-filter.filter
	a(href='' ng-init="showSort = true" ng-click="showSort = !showSort")
		h5 {{:: "SORT" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showSort")
			i.fa.fa-chevron-down(ng-show="!showSort")
	.filter-content(uib-collapse="!showSort")
		p
			label(for="sortBy") {{:: "SORT_RESULTS" | translate}}
			br
			select#sortBy(ng-model="sortBy" ng-change="sortProducts()" ng-init="sortBy = default")
				option(ng-value="{price:'asc'}" ng-show="isShop || currentShop") {{:: "PRICE_ASCENDING" | translate}}
				option(ng-value="{price:'desc'}" ng-show="isShop || currentShop") {{:: "PRICE_DESCENDING" | translate}}
				option(ng-value="{suggestedRetailPrice:'asc'}" ng-show="!isShop && !currentShop") {{:: "ADVISORY_PRICE_ASCENDING" | translate}}
				option(ng-value="{suggestedRetailPrice:'desc'}" ng-show="!isShop && !currentShop") {{:: "ADVISORY_PRICE_DESCENDING" | translate}}
				option(ng-value="{views:'desc'}") {{:: "POPULAR" | translate}}
				option(ng-value="default" ng-selected="sortBy == default") {{:: "SPOTLIGHT" | translate}}
				option(ng-value="{creationDate:'desc'}") {{:: "NEW" | translate}}
				option(ng-value="{dateAdded:'desc'}" ng-show="isShop || currentShop") {{:: "LAST_ADDED" | translate}}
		p
			label(for="limit") {{:: "ARTICLES_PER_PAGE" | translate}}
			br
			select#limit(ng-model="limit" name="limit" ng-change="setLimit(limit)")
				option(ng-value="12") 12
				option(ng-value="24") 24
				option(ng-value="32") 32
				option(ng-value="60") 60
				option(ng-value="100") 100
	hr