.product-filter.filter
	a(href='' ng-init="showAddToAssortment = false" ng-click="showAddToAssortment = !showAddToAssortment")
		h5 {{:: "ADD_PRODUCT" | translate}}&nbsp;
			i.fa.fa-chevron-up(ng-show="showAddToAssortment")
			i.fa.fa-chevron-down(ng-show="!showAddToAssortment")
	.filter-content(uib-collapse="!showAddToAssortment")
		label(for="item.add-to-assortment") {{:: "PRODUCT_SEARCH" | translate}}
		#search-form.search-form.js-search-form
			.col-md-6
				label
					input(type="radio" ng-change="findProducts(searchValue, searchMode)" ng-model="searchMode" value="exact")
					| {{:: "PRECISE" | translate}}
				br
				label
					input(type="radio" ng-change="findProducts(searchValue, searchMode)" ng-model="searchMode" value="contains")
					| {{:: "CONTAINS" | translate}}
			.col-md-6
				form(role="search").form-search
					input(type="text" name="addToAssortment" ng-model="searchValue" ng-change="findProducts(searchValue, searchMode)" placeholder="{{searchMode == 1 ? 'Artikelnummer' : 'Zoekopdracht'}}").form-control
			.col-md-12
				.instant-results(ng-show="hits.length > 0")
					ul.list-unstyled.result-bucket
						li.result-entry(ng-repeat="product in hits")
							a(ng-href="#" ng-click="addProductToAssortment(product)").result-link
								.media
									.media-left
										img(ng-src="{{awsUrl + product.images[0].src}}").media-object
									.media-body
										h6 {{product[language].name}}
										p 
											| {{product.variants[0].productNumber}}
											br
											| {{product.variants[0].ean}}
			.hidden
				input#add-to-assortment(type="text" name="addToAssortment" ng-model="searchValue" ng-change="findProducts(searchValue)" placeholder='{{:: "BRAND_PRODUCTNUMBER_EAN" | translate}}')
				.list-group
					a(href="" ng-repeat="product in hits" ng-click="addProductToAssortment(product)").list-group-item
						strong {{product[language].name}}
						br
						span {{product.variants[0].productNumber}}
			.row
			p {{:: "TEXT_DOES_PRODUCT_NOT_EXIST_YET" | translate}} &nbsp;
			//-a.btn.btn-sm.btn-light(ui-sref="retailer.imports") {{"REVERSE IMPORT" | translate}}
			a.btn.btn-sm.btn-dark.button-margin-right(ui-sref="retailer.product-import") {{"IMPORT" | translate}}
			a.btn.btn-sm.btn-dark(href="" ui-sref="retailer.add-product") {{"ADD_PRODUCT" | translate}}
