div(modal="changePasswordModal", close="cancel()")
    .modal-header
        h4 {{:: "RESET_PASSWORD" | translate}}
    .modal-body
        div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
            | {{alert.msg}}
        form()
            input(type="text", ng-model="password" placeholder="Nieuw wachtwoord").form-control
            br
            p {{:: "AFTER_CHANGING_A_PASSWORD_THE_PROCLAMATION_IS_TO_TURN_ON_THE_OPTION_MUST_CHANGE_PASSWORD" | translate}}
            input(type="submit", ng-click="save()" value="Opslaan").btn.btn-lg.btn-green
    .modal-footer
        a(ng-click="cancel()" href="") {{:: "CLOSE" | translate}}