.task-block
	a.task-block-image(ng-if="isShop" style="background-image: url('{{awsUrl + item.images[0].src}}')")
	a.task-block-image(ui-sref='layout.campaign({nameSlug: item.campaign.nameSlug})' ng-if="!isShop" style="background-image: url('{{item.images[0].src}}')")
	.task-block-content
		a(ng-if="isShop")
			h5.task-block-title {{item.nl.name}}
		a(ui-sref='layout.campaign({nameSlug: item.campaign.nameSlug})' ng-if="!isShop")
			h5.task-block-title {{item.name}}
		p.date
			i.fa.fa-calendar-o
			span &nbsp; {{formatDate(item.startDate, true)}} {{:: "UNTIL" | translate}} {{formatDate(item.endDate, true)}}
		p {{truncateText(item.nl.description)}}