doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='x-apple-disable-message-reformatting')
        title #{email.subject}

        style.
            html,body {
                margin: 0 auto !important;
                padding: 0 !important;
                height: 100% !important;
                width: 100% !important;
                }
            * {
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
            }
            div[style*="margin: 16px 0"] {
                margin:0 !important;
            }
            table,td {
                mso-table-lspace: 0pt !important;
                mso-table-rspace: 0pt !important;
            }
            table {
                border-spacing: 0 !important;
                border-collapse: collapse !important;
                table-layout: fixed !important;
                margin: 0 auto !important;
            }
            table table table {
                table-layout: auto;
            }
            img {
                -ms-interpolation-mode:bicubic;
            }
            *[x-apple-data-detectors], .x-gmail-data-detectors, .x-gmail-data-detectors *, .aBn {
                border-bottom: 0 !important;
                cursor: default !important;
                color: inherit !important;
                text-decoration: none !important;
                font-size: inherit !important;
                font-family: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
            }
            .a6S {
                display: none !important;
                opacity: 0.01 !important;
            }
            img.g-img + div {
                display:none !important;
            }
            .button-link {
                text-decoration: none !important;
            }
            @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
                .email-container {
                    min-width: 375px !important;
                }
            }
        style.
            .button-td, .button-a {
                transition: all 100ms ease-in;
            }
            .button-td:hover, .button-a:hover {
                background: #555555 !important;
                border-color: #555555 !important;
            }
            @media screen and (max-width: 600px) {
                .email-container {
                    width: 100% !important;
                    margin: auto !important;
                }
                .fluid {
                    max-width: 100% !important;
                    height: auto !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                }
                .stack-column, .stack-column-center {
                    display: block !important;
                    width: 100% !important;
                    max-width: 100% !important;
                    direction: ltr !important;
                }
                .stack-column-center {
                    text-align: center !important;
                }
                .center-on-narrow {
                    text-align: center !important;
                    display: block !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                    float: none !important;
                }
                table.center-on-narrow {
                    display: inline-block !important;
                }
                .email-container p {
                    font-size: 17px !important;
                    line-height: 22px !important;
                }
            }

        //if gte mso 9
            xml
                o:officedocumentsettings
                    o:allowpng
                        o:pixelsperinch 96
    
    body(width='100%', bgcolor='#222222', style='margin: 0; mso-line-height-rule: exactly;')
        center(style='width: 100%; background: #222222; text-align: left;')              