html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
        title Notificatie
        style(type="text/css").
            div, p, a, li, td { -webkit-text-size-adjust:none; }
            *{
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .ReadMsgBody{width: 100%; background-color: #ffffff;}
            .ExternalClass{width: 100%; background-color: #ffffff;}
            body{width: 100%; height: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;}
            html{width: 100%; background-color: #ffffff;}
            @font-face {
                font-family: 'proxima_novalight';src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-light-webfont.eot');src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-light-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-light-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
            @font-face {
                font-family: 'proxima_nova_rgregular'; src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-regular-webfont.eot');src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-regular-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-regular-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
            @font-face {
                font-family: 'proxima_novasemibold';src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-semibold-webfont.eot');src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-semibold-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-semibold-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
            @font-face {
                font-family: 'proxima_nova_rgbold';src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-bold-webfont.eot');src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-bold-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-bold-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
            @font-face {
                font-family: 'proxima_novablack';src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-black-webfont.eot');src: url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-black-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/template/templates/titan/font/proximanova-black-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
            @font-face {
                font-family: 'proxima_novathin';src: url('http://rocketway.net/themebuilder/template/templates/mason/font/proximanova-thin-webfont.eot');src: url('http://rocketway.net/themebuilder/template/templates/mason/font/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/template/templates/mason/font/proximanova-thin-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/template/templates/mason/font/proximanova-thin-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
            p {padding: 0!important; margin-top: 0!important; margin-right: 0!important; margin-bottom: 0!important; margin-left: 0!important; }
            .hover:hover {opacity:0.85;filter:alpha(opacity=85);}
            .image77 img {width: 77px; height: auto;}
            .avatar125 img {width: 125px; height: auto;}
            .icon61 img {width: 61px; height: auto;}
            .logo img {width: 75px; height: auto;}
            .icon18 img {width: 18px; height: auto;}
            
            @media only screen and (max-width: 640px){
                body{width:auto!important;}
                table[class=full2] {width: 100%!important; clear: both; }
                table[class=mobile2] {width: 100%!important; padding-left: 20px; padding-right: 20px; clear: both; }
                table[class=fullCenter2] {width: 100%!important; text-align: center!important; clear: both; }
                td[class=fullCenter2] {width: 100%!important; text-align: center!important; clear: both; }
                td[class=pad15] {width: 100%!important; padding-left: 15px; padding-right: 15px; clear: both;}
            }
            @media only screen and (max-width: 479px){
                body{width:auto!important;}
                table[class=full2] {width: 100%!important; clear: both; }
                table[class=mobile2] {width: 100%!important; padding-left: 20px; padding-right: 20px; clear: both; }
                table[class=fullCenter2] {width: 100%!important; text-align: center!important; clear: both; }
                td[class=fullCenter2] {width: 100%!important; text-align: center!important; clear: both; }
                table[class=full] {width: 100%!important; clear: both; }
                table[class=mobile] {width: 100%!important; padding-left: 20px; padding-right: 20px; clear: both; }
                table[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
                td[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
                td[class=pad15] {width: 100%!important; padding-left: 15px; padding-right: 15px; clear: both;}
                .erase {display: none;}
            }
    body(leftmargin="0", topmargin="0", marginwidth="0", marginheight="0")

    -function prettyDate(dateString){
        //if it's already a date object and not a string you don't need this line:
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}
    - var shopUrl = shop.proShopUrl ? shop.proShopUrl : 'https://prismanote.com/shop/' + shop.nameSlug;