.shop-home(ng-class="{'mobile':mobile}") 
	div(ng-repeat="block in shop.home" ng-if="block.enabled == true")
		.shop-home-block.slider(ng-if="block.type == 'slider'").no-spacing
			div(uib-carousel active="activeSlide" interval="7000")
				div(uib-slide ng-repeat="slide in block.slides" index="$index" style="height: {{block.height}}")
					img(ng-src="{{awsUrl}}{{slide.src}}" alt="{{slide.alt}}")
					.carousel-caption(ng-class="{'mobile': mobile}")
						h2(ng-bind="slide.title")
						p(ng-bind="slide.content")
						a.btn.btn-lg.btn-dark(ng-bind="slide.buttonText" ng-href="{{slide.buttonLink}}" target="_blank" ng-show="slide.external")
						a.btn.btn-lg.btn-dark(ng-bind="slide.buttonText" ui-sref="{{getShopType() + slide.buttonLink}}" ng-show="!slide.external")
		.shop-home-block.fullwidth-image(ng-if="block.type == 'fullwidth-image'" style="background-image: url('{{block.src}}'); background-size: cover; height: {{block.height}}").no-spacing
			.fullwidth-image-caption(ng-class="{'mobile': mobile}")
				h2(ng-bind="block.title")
				p
					a(ng-bind="block.content")
				a.btn.btn-lg.btn-dark(ng-bind="block.buttonText" ui-sref="{{block.buttonLink}}" ng-if="block.external")
				a.btn.btn-lg.btn-dark(ng-bind="block.buttonText" ui-sref="{{getShopType() + block.buttonLink}}" ng-if="!block.external")
		.shop-home-block.video(ng-if="block.type == 'video'").no-spacing
			h2(ng-bind="block.title")
			p
				a(ng-bind="block.content")
			iframe(ng-src="{{block.src}}" width="640" height="274" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
		.shop-home-block.featured-products.container(ng-if="block.type == 'featuredProducts'" ng-controller="cartController")
			.row
				.col-xs-6.col-md-3(ng-repeat="item in featuredProducts")
					product-block
			.row
				a.call-to-action.btn.btn-lg.btn-dark.text-center(ui-sref="{{getShopType()}}.products({nameSlug: shop.nameSlug})") {{:: "VIEW_ALL" | translate}}
		.shop-home-block.spotlight(ng-if="block.type == 'spotlight' && spotlight.length > 1")
			.container
				h2.text-center {{:: "TEXT_SPOTLIGHT" | translate}}
				.row
					.col-xs-12.col-sm-6.block-small(ng-repeat="item in spotlight")
						.spotlight-image
							a(ng-if="item.type == 'brand'" ui-sref="{{getShopType()}}.brand({nameSlug:nameSlug, brandNameSlug:item.nameSlug})" style="background-image: url('{{awsUrl + item.images[0].src}}')")
							a(ng-if="item.type == 'campaign'" ui-sref="{{getShopType()}}.campaigns({nameSlug:shop.nameSlug, campaignNameSlug:item.nameSlug})" style="background-image: url('{{item.images[0].src}}')")
						.spotlight-content
							a(ng-if="item.type == 'brand'" ui-sref="{{getShopType()}}.brand({nameSlug:nameSlug, brandNameSlug:item.nameSlug})")
								h4 {{item.name}}
							a(ng-if="item.type == 'campaign'" ui-sref="{{getShopType()}}.campaigns({nameSlug:shop.nameSlug, campaignNameSlug:item.nameSlug})")
								h4 {{item.name}}
							p {{item.description}}
		.shop-home-block.text.container(ng-if="block.type == 'text'")
			h1.text-center(ng-bind="block.title || ''")
			.row
				.col-xs-12(ng-repeat="item in block.items" ng-class="{'col-md-12': block.items.length == 1, 'col-md-6': block.items.length == 2, 'col-md-4': block.items.length == 3, 'col-md-3': block.items.length == 4}")
					h2(ng-bind="item.title")
					p(bind-html-compile="item.content")
		.shop-home-block.usp.container.hidden-xs(ng-if="block.type == 'usp'")
			.row
				.col-sm-6.usp-item(ng-repeat="item in block.items" ng-class="{'col-md-12': block.items.length == 1, 'col-md-6': block.items.length == 2, 'col-md-4': block.items.length == 3, 'col-md-3': block.items.length == 4}")
					.row
						.col-xs-3.usp-icon
							i.fa.fa-3x(ng-class="item.icon")
						.col-xs-9.usp-content
							h5(ng-bind="item.title" ng-class="{'usp-middle': item.content == null}")
							p(ng-bind="item.content")
						li(ng-repeat="item in block.usp" ng-bind="item")
		.shop-home-block.grid(ng-if="block.type == 'grid'" ng-class="{'container': block.container != false}")
			.row
				.col-xs-12.col-sm-6(ng-repeat="item in block.items" ng-class="{'col-md-12': block.items.length == 1, 'col-md-6': block.items.length == 2, 'col-md-4': block.items.length == 3, 'col-md-3': block.items.length == 4}")
					a.grid-item(ng-href="{{item.url}}" ng-if="item.external == true" target="_blank" style="background-image: url({{awsUrl}}{{item.src}})")
						.overlay
						.overlay-content
							h1(ng-bind="item.title" ng-if="block.items.length == 1")
							h3(ng-bind="item.title" ng-if="block.items.length > 1")
							h4(ng-bind="item.content" ng-if="block.items.length == 1")
							p(ng-bind="item.content" ng-if="block.items.length > 1")
					a.grid-item(ui-sref="{{getShopType() + item.url}}" ng-if="item.external == false" style="background-image: url({{awsUrl}}{{item.src}})")
						.overlay &nbsp;
						.overlay-content
							h1(ng-bind="item.title" ng-if="block.items.length == 1")
							h3(ng-bind="item.title" ng-if="block.items.length > 1")
							h4(ng-bind="item.content" ng-if="block.items.length == 1")
							p(ng-bind="item.content" ng-if="block.items.length > 1")
		.shop-home-block.info.container(ng-if="block.type == 'info'")
			.row
				.col-xs-12(ng-class="{'col-md-6': block.items.length == 2, 'col-md-4': block.items.length == 3, 'col-md-3': block.items.length == 4}" ng-repeat="item in block.items track by $index")
					.contact(ng-if="item.type == 'contact'")
						h6 {{:: "ADDRESS" | translate}}
						p.address
							span {{shop.address.street + ' ' + shop.address.houseNumber + houseNumberSuffix}}
							br
							span {{shop.address.postalCode + ' ' + shop.address.city}}
							br
							span {{shop.address.country}} 
						h6 {{:: "CONTACT" | translate}}
						a(href="tel:{{shop.phone.countryCode + shop.phone.landLine}}")
							i.fa.fa-phone.fa-4x
						a(href='mailto:{{shop.email}}')
							i.fa.fa-envelope.fa-4x
						a(href='/vcard/{{shop._id}}')
							i.fa.fa-whatsapp.fa-4x
						a(href='{{shop.web}}')
							i.fa.fa-globe.fa-4x
						.row(style='margin-top:15px')
							.col-xs-12
								span.contact-detail(ng-if="shop.phone.landLine") {{:: "TEXT_PHONE_WITHDOTS" | translate}} {{shop.phone.countryCode + shop.phone.landLine}}
								span.contact-detail(ng-if="shop.email") {{:: "TEXT_EMAIL_WITHDOTS" | translate}} {{shop.email}}
								span.contact-detail(ng-if="shop.whatsappEnabled") {{:: "TEXT_WHATSAPP_ACCOUNT" | translate}}&nbsp;
									a(href='/vcard/{{shop._id}}') {{:: "TEXT_DOWNLOAD" | translate}}
								span.contact-detail(ng-if="shop.web") {{:: "TEXT_WEBSITE_WITHDOTS" | translate}} {{shop.web}}
					.opening-times(ng-if="item.type == 'opening-times'")
						h6 {{:: "TEXT_OPENING_HOURS" | translate}}
						table
							tbody
								tr
									td {{:: "TEXT_MONDAY" | translate}}
									td {{shop.openingHoursOld[0].monday}}
								tr
									td {{:: "TEXT_TUESDAY" | translate}}
									td {{shop.openingHoursOld[0].tuesday}}
								tr
									td {{:: "TEXT_WEDNESDAY" | translate}}
									td {{shop.openingHoursOld[0].wednesday}}
								tr
									td {{:: "TEXT_THURSDAY" | translate}}
									td {{shop.openingHoursOld[0].thursday}}
								tr
									td {{:: "TEXT_FRIDAY" | translate}}
									td {{shop.openingHoursOld[0].friday}}
								tr
									td {{:: "TEXT_SATURDAY" | translate}}
									td {{shop.openingHoursOld[0].saturday}}
								tr
									td {{:: "TEXT_SUNDAY" | translate}}
									td {{shop.openingHoursOld[0].sunday}}
					.description(ng-if="item.type == 'description'")
						h6 {{:: "TEXT_COMPANY_DESCRIPTION" | translate}}
						p(ng-bind="shop.description")
					.text(ng-if="item.type == 'text'")
						h6(ng-if="item.title && item.title != ''" ng-bind="item.title")
						p(bind-html-compile="item.content")
		iframe.shop-home-block.maps(ng-if="block.type == 'maps'" ng-src='{{googleMapsUrl}}', width='100%', height='400px' frameborder="0" style="border: 0")