header(ng-controller="cartController")
	.search-bar(ng-if="shop.header.searchbar || shop.header.overlay" ng-class="{'overlay-header':shop.header.overlay, 'solid': yPos > yTreshold || !home || userDeviceType == 'mobile' || userDeviceType == 'tablet', 'mobile': userDeviceType == 'mobile' || userDeviceType == 'tablet'}" role="navigation" ng-controller="menuController")
		.top-bar.row(ng-if="shop.topbar == true || getShopType() == 'shop'", ng-class="{'testing' : testing()}")
			.test(ng-show="testing()") {{:: "TEST_ENVIRONMENT" | translate}}
			.container
				.top-bar-contact.col-xs-12.col-md-6
					a(ui-sref="{{getShopType()}}.home({nameSlug:nameSlug})" ng-if="getShopType() != 'shop'")
						i.fa.fa-home
						| Home
					a(ui-sref="layout.home" ng-if="getShopType() == 'shop'")
						i.fa.fa-home
						| {{:: "BACK_TO_PRISMANOTE" | translate}}
					a(href="tel:+31345631776").hidden-xs.hidden-sm
						i.fa.fa-phone
						| +31 345 631 776
					a(href="mailto:info@prismanote.com").hidden-xs.hidden-sm
						i.fa.fa-envelope
						| info@prismanote.com
				.top-bar-dropdowns.hidden-xs.hidden-sm.col-md-2.col-md-offset-1
					.row
						.top-bar-currency.col-md-6.hidden
							a(href="")
								| {{currency | uppercase}}
								i.fa.fa-angle-down
							.top-bar-dropdown
								ul
									li
										a(href="" ng-click='currency = "usd"') USD
									li
										a(href="" ng-click='currency = "eur"') EUR
						.top-bar-language.col-md-6
							a(href="")
								| {{language | uppercase}}
								i.fa.fa-angle-down
							.top-bar-dropdown
								ul
									li
										a(href="", ng-click='changeLanguage("nl")') NL - {{:: "DUTCH" | translate}}
									li
										a(href="", ng-click='changeLanguage("en")') EN - {{:: "ENGLISH" | translate}}
									li
										a(href="", ng-click='changeLanguage("de")') DE - {{:: "GERMAN" | translate}}
									li
										a(href="", ng-click='changeLanguage("fr")') FR - {{:: "FRENCH" | translate}}
									li
										a(href="", ng-click='changeLanguage("es")') ES - {{:: "SPANISH" | translate}}

				.top-bar-login.hidden-xs.hidden-sm.col-md-3
					a(href="" ng-controller="authController" ng-click="openLoginModal()")
						i.fa.fa-user
						| {{user ? user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : "Inloggen"}}
		.search-bar-background
		.search-bar-content(ng-class="{'container': shop.header.container == true}")
			.row
				.hamburger-menu-icon.col-xs-2.hidden-md.hidden-lg
					a(href="" ng-click="toggleMenu()")
						i.fa.fa-bars.fa-2x
				.logo.col-xs-8(ng-class="{'col-md-2': shop.header.container == false, 'col-md-3': shop.header.container == true}")
					a(ui-sref="{{getShopType()}}.home({nameSlug:nameSlug})" ng-if="!mobile && !tablet")
						img(ng-src="{{awsUrl}}{{shop.logoLight.src}}" alt="{{shop.name}}" ng-if="yPos <= yTreshold && home &&shop.header.overlay == true")
						img(ng-src="{{awsUrl}}{{shop.logoDark.src}}" alt="{{shop.name}}" ng-if="yPos > yTreshold || !home || shop.header.overlay == false")
					a(ng-click="toggleMenu()" ng-if="mobile || tablet")
						img(ng-src="{{awsUrl}}{{shop.logoDark.src}}" alt="{{shop.name}}")
				.search.hidden-xs.hidden-sm.col-md-3(ng-show="shop.searchBarVisible")
					input(ng-class="{'search-loading' : searching}" id="search" ng-click="searchProducts(prodSearch)" ng-blur="clearSearchHits()" ng-model="prodSearch" ng-change="searchProducts(prodSearch)"  type="text" placeholder='{{:: "SEARCH_PRODUCT" | translate}}')
					label.fa.fa-search.fa-lg(for="search")

					.instant-results(ng-show="(!hits || hits.length == 0) && prodSearch && searchMode")
						ul.list-unstyled.result-bucket
							li.result-entry
								.media
									.media-body(ng-show="prodSearch.length > 3")
										i {{:: "THERE_ARE_NO_SEARCH_RESULTS" | translate}}
									.media-body(ng-show="prodSearch.length < 3")
										i {{:: "TYPE_MORE_CHARACTERS_TO_SEARCH" | translate}}
					.instant-results(ng-show="hits.length > 0")
						ul.list-unstyled.result-bucket
							
							li.result-entry(ng-repeat="product in hits")
								a(ui-sref="{{getShopType()}}.product({nameSlug:shop.nameSlug, productNameSlug: product.en.nameSlug})").result-link
									.media
										.media-left
											img(ng-src="{{awsUrl + product.images[0].src}}").media-object
										.media-body
											h6 {{product[language].name}}
											p 
												| {{product.variants[0].productNumber}}
												br
												| {{product.suggestedRetailPrice * 1.21 | currency: '€ '}}
												br
												| {{product.variants[0].ean}}
				//-create space when mobile cart is hidden because no products	
				.col-xs-2.hidden-md.hidden-lg(ng-if="shop.products.length == 0")
				.cart-icon.col-xs-2.hidden-md.hidden-lg(ng-init="showCart = false" ng-click="showCart = !showCart", ng-if="shop.products.length > 0")
						a(href="" ng-bind="cart.length || 0")
				//-create space when cart is hidden because no products
				.col-md-1(ng-if="shop.products.length == 0")
				.cart.hidden-xs.hidden-sm.col-md-1(ng-if="shop.products.length > 0")
					.cart-icon(ng-class="{'light': yPos <= yTreshold && home && shop.header.overlay}")
						a(ui-sref="{{getShopType()}}.cart" ng-bind="cart.length || 0")
					.cart-content
						span(ng-show="cart.length == 0") {{:: "YOUR_CART_IS_EMPTY" | translate}}
						ul.cart-items(ng-if="total > 0")
							li.cart-item(ng-repeat="item in cart track by $index")
								.row
									.cart-item-img.col-xs-4
										a(ui-sref="{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:item.nameSlug})")
											img(ng-src="{{awsUrl + item.images[0].src}}", alt='{{item.images[0].alt}}')
									.cart-item-details.col-xs-8
										.cart-item-title
											a(ui-sref="{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:item.nameSlug})") {{item.name}}
										.cart-item-price
											span {{item.quantity }} x &nbsp;
											span {{item.price * 1.21 | currency: '€ '}}
										.cart-item-change-quantity
											a(href="" ng-click="changeQuantity(true, $index)")
												i.fa.fa-plus-square
											a(href="" ng-click="changeQuantity(false, $index)")
												i.fa.fa-minus-square
										.cart-item-remove
											a(href="" ng-click="removeFromCart($index)")
												i.fa.fa-times
							hr
						.cart-summary(ng-if="total > 0")
							span {{:: "TOTAL" | translate}}&nbsp;
							span.cart-total {{total | currency: '&euro; '}}
						.cart-actions
							a(ui-sref="{{getShopType()}}.cart", ng-hide="!cart || cart.length == 0").btn.btn-md.btn-dark {{:: "VIEW_CART" | translate}}
							i.fa.fa-trash.fa-2x.empty-cart-icon(ng-click="emptyCart()" ng-hide="!cart || cart.length == 0")
				//-create space when searchBar is hidden (cart aligned to left)
				.search.hidden-xs.hidden-sm.col-md-3(ng-hide="shop.searchBarVisible")
				nav.hidden-xs.hidden-sm(ng-class="{'col-md-6': shop.header.container == false, 'col-md-5': shop.header.container == true}")
					ul
						li
							a(ui-sref="{{getShopType()}}.home({nameSlug})" ui-sref-active="active") Home
						li(ng-if="shop.products.length > 0")
							a(ui-sref="{{getShopType()}}.products({nameSlug:nameSlug})" ui-sref-active="active") {{:: "PRODUCTS" | translate}}
						li(ng-if="brands.length > 0")
							a(ui-sref="{{getShopType()}}.brands({nameSlug:nameSlug})" ui-sref-active="active") {{:: "BRANDS" | translate}}
						li(ng-if="shop.tasks.length > 0")
							a(ui-sref="{{getShopType()}}.campaigns({nameSlug:nameSlug})" ui-sref-active="active") {{:: "CAMPAIGNS" | translate}}
						li(ng-if="!shop.header.container")
							a(ui-sref="{{getShopType()}}.reviews({nameSlug:nameSlug})" ui-sref-active="active") {{:: "REVIEWS" | translate}}
						li
							a(ui-sref="{{getShopType()}}.contact({nameSlug:nameSlug})" ui-sref-active="active") {{:: "CONTACT" | translate}}
						li(ng-repeat="page in pages")
							a(ui-sref="page" ng-bind="page" ui-sref-active="active")
				.col-xs-12.cart
					.cart-content.col-xs-12(uib-collapse="!showCart")
						.text-center(ng-show="cart.length == 0") {{:: "YOUR_CART_IS_EMPTY" | translate}}
						.cart-summary(ng-if="total > 0")
							span {{:: "TOTAL" | translate}}&nbsp;
							span.cart-total {{total | currency: '&euro; '}}
						.cart-actions
							a(ui-sref="{{getShopType()}}.cart" ng-hide="!cart || cart.length == 0" ng-class="{'btn-md': !mobile && !tablet, '.btn-lg': mobile || tablet}" ng-click="showCart = false").btn.btn-dark {{:: "CHECK_SHOPPING_CART" | translate}}
						hr
						ul.cart-items(ng-if="total > 0")
							li.cart-item(ng-repeat="item in cart")
								.row
									.cart-item-img.col-xs-4
										a(ui-sref="{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:item.nameSlug})")
											img(ng-src="{{item.images[0].src.indexOf('http') >-1 ? item.images[0].src : 'http://s3-eu-west-1.amazonaws.com/#{_awsbucket}'+ item.images[0].src}}", alt='{{item.images[0].alt}}')
									.cart-item-details.col-xs-8
										.cart-item-title
											a(ui-sref="{{getShopType()}}.product({nameSlug:nameSlug, productNameSlug:item.nameSlug})") {{item.name}}
										.cart-item-price
											span {{item.quantity}} x &nbsp;
											span &euro; {{item.price}}
				.col-xs-12.hidden-md.hidden-lg
					nav(uib-collapse="!showMenu")
						.row
							.search.col-xs-12(ng-show="shop.searchBarVisible")
								input(id="search" type="text")
								label.fa.fa-search.fa-lg(for="search")
						ul
							li
								a(ui-sref="{{getShopType()}}.home({nameSlug})" ui-sref-active="active" ng-click="toggleMenu()") Home
							li(ng-if="products.length > 0")
								a(ui-sref="{{getShopType()}}.products({nameSlug:nameSlug})" ui-sref-active="active" ng-click="toggleMenu()") {{:: "PRODUCTS" | translate}}
							li(ng-if="brands.length > 0")
								a(ui-sref="{{getShopType()}}.brands({nameSlug:nameSlug})" ui-sref-active="active" ng-click="toggleMenu()") {{:: "BRANDS" | translate}}
							li(ng-if="shop.tasks.length > 0")
								a(ui-sref="{{getShopType()}}.campaigns({nameSlug:nameSlug})" ui-sref-active="active" ng-click="toggleMenu()") {{:: "CAMPAIGNS" | translate}}
							li
								a(ui-sref="{{getShopType()}}.reviews({nameSlug:nameSlug})" ui-sref-active="active" ng-click="toggleMenu()") {{:: "REVIEWS" | translate}}
							li
								a(ui-sref="{{getShopType()}}.contact({nameSlug:nameSlug})" ui-sref-active="active" ng-click="toggleMenu()") {{:: "CONTACT" | translate}}
							li(ng-repeat="page in pages")
								a(ui-sref="page" ng-bind="page" ui-sref-active="active")
.shop(ng-class="{'spacing': shop.header.overlay && (!home || mobile || tablet), 'top-bar-offset': getShopType() == 'shop' && !home}")
	.content
		ui-view
footer
	.container
		.row
			.col-md-3.col-sm-6.col-xs-12.footer-block
				.footer-about-us
					h5 {{:: "ABOUT_US" | translate}}
					p(ng-bind-html="shop.description")
					.social-icons.clearfix
						div
							a(ng-repeat="media in shop.socialMedia", target="_blank" ng-href="{{media.url + '/' + media.username}}")
								i.fa.fa-facebook.fa-2x(ng-show='media.name == "facebook"')
								i.fa.fa-twitter.fa-2x(ng-show='media.name == "twitter"')
								i.fa.fa-instagram.fa-2x(ng-show='media.name == "instagram"')
								i.fa.fa-pinterest.fa-2x(ng-show='media.name == "pinterest"')
								i.fa.fa-google-plus.fa-2x(ng-show='media.name == "googleplus"')
								i.fa.fa-youtube.fa-2x(ng-show='media.name == "youtube"')
							| &nbsp;&nbsp;
			.col-md-3.col-sm-6.col-xs-12.footer-block
				.footer-account
					h5 {{:: "ACCOUNT" | translate}}
					ul.footer-links
						//- li.link
						//- 	a(ui-sref="{{getShopType()}}.loyalty-watches") {{:: "ADD_WATCH" | translate}}
						//- li.link
						//- 	a(ui-sref="{{getShopType()}}.loyalty-other") {{:: "ADD_JEWEL" | translate}}
						li.link
							a(ui-sref="{{getShopType()}}.reviews") {{:: "WRITE_REVIEW" | translate}}
						li.link(ng-if="user.role == 'wholesaler'")
							a(ng-controller="authController" ng-click="openLoginModal()" ui-sref="brand.home")
								i.fa.fa-user
								| {{user ? ' ' + user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : " Inloggen"}}
						li.link(ng-if="user.role == 'retailer'")
							a(ng-controller="authController" ng-click="openLoginModal()" href="https://prismanote.com/retailer/home" target='_blank')
								i.fa.fa-user
								| {{user ? ' ' + user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : " Inloggen"}}
						li.link(ng-if="user.role == 'admin'")
							a(ng-controller="authController" ng-click="openLoginModal()" ui-sref="admin.home")
								i.fa.fa-user
								| {{user ? ' ' + user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : " Inloggen"}}
						li.link(ng-hide="user.role == 'admin' || user.role == 'retailer' || user.role == 'wholesaler'")
							a(ng-controller="authController" ng-click="openLoginModal()" ui-sref="layout.my-account")
								i.fa.fa-user
								| {{user ? ' ' + user.firstName + ' ' + user.lastNamePrefix + ' ' + user.lastName : " Inloggen"}}
						li.hidden.link
							a(href="http://www.prismanotevoorjuweliers.nl" target='_blank') {{:: "SERVICES_JEWELERS" | translate}}
						li.hidden.link
							a(href="https://prismanoteforjewellers.com/brand-promotion/" target='_blank') {{:: "SERVICES_BRANDS" | translate}}
						li.hidden.link
							a(href="") {{:: "ORDER_HISTORY" | translate}}
						li.hidden.link
							a(href="") {{:: "SPECIAL_OFFER" | translate}}
			.col-md-3.col-sm-6.col-xs-12.footer-block
				.tags.footer-tags
					h5 {{:: "BRANDS" | translate}}
					ul
						li(ng-repeat="brand in brands | limitTo:12")
							a(ui-sref='{{getShopType()}}.brand({nameSlug:shop.nameSlug,brandNameSlug:brand.nameSlug})' ng-bind="brand.name")
				//-img(ng-src="{{awsUrl}}{{shop.logoLight.src}}" alt="shop.name")
			.col-md-3.col-sm-6.col-xs-12.footer-block
				h5.hidden {{:: "LATEST_POSTS" | translate}}
.bottom-bar
	.container
		.row
			.col-sm-6.copyright
				span
					| &copy; 2018 PrismaNote
				a(href="" ng-click="top()").back-to-top
					i.fa.fa-angle-up
					| top
			.col-sm-4.col-sm-offset-2.text-right.mt-sml-10.footer-payment-methods
				i.fa.fa-cc-paypal
				i.fa.fa-cc-visa
				i.fa.fa-cc-mastercard
				i.fa.fa-cc-discover
				i.fa.fa-cc-amex
