.container
	br
	br
	br
	br
	h3
		| {{:: "SEND_A_PHOTO_RECEIPT_BY_EMAIL" | translate}}
		//-div(ng-hide='currentShop.isPremium').text-center
		div
			a.btn.btn-dark.pull-right(ui-sref='{{getShopType()}}.loyalty-program({nameSlug: selectedShop})') {{:: "BACK" | translate}}
		//- div(ng-if='currentShop.isPremium').text-center
		//- 	a.btn.btn-sm.btn-dark(href="{{currentShop.proShopUrl + '/loyalty-program'}}", target='_blank') {{:: "BACK" | translate}}
	p {{:: "DO_YOU_HAVE_A_WATCH_INSTEAD" | translate}}
		a(ui-sref='{{getShopType()}}.loyalty-watches') {{:: "CLICK_HERE" | translate}}.
	.row
		.col-md-4.text-center
			div(ngf-drop, ngf-select, ng-model="customer.photo", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
					|{{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
					div(ng-show="dropAvailable") .
					img(ngf-thumbnail="customer.photo")
		.col-md-8.margin-bottom
			.row
				.col-xs-9.loyalty-no-right-padding(style='margin-bottom: 13px')
					input(ng-model='customer.emailName', placeholder='{{:: "HOW_CAN_WE_CALL_YOU" | translate}}').form-control
				.col-xs-3.loyalty-no-left-padding
					select#gender(ng-model='customer.gender', name='gender', style='float: left', required).form-control
						option(value='male') {{:: "MR" | translate}}
						option(value='female') {{:: "MS" | translate}}
			.row
				.col-md-4
					.input-group(style='margin-bottom: 13px')
						span.input-group-addon.loyalty-input-height {{:: "INCL_VAT" | translate}}
						input#c2.form-control.currency.loyalty-input-height(ng-model='customer.priceRange', type='number', value='1000', min='0', step='0.01', data-number-to-fixed='2', data-number-stepfactor='100')
				.col-md-8
					.input-group(style='margin-bottom: 13px')
						span.input-group-addon.loyalty-input-height
							|{{:: "END_DATE" | translate}} 
							br
							|{{:: "WARRANTY" | translate}}
						input(ng-model='customer.endDateWarranty', type='date', name='date').form-control.loyalty-input-height
			.row
				.col-xs-12.col-md-12
					input(ng-model='customer.email', type='text', style='width: 100%; padding: 2px', placeholder='{{:: "EMAIL_ADRESS" | translate}}').form-control
					p {{:: "WE_USE_YOUR_EMAIL_ADRESS_FOR_SERVICE_PURPOSES" | translate}}
					br
					div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
						| {{alert.msg}}
					br
					uib-progressbar(max="100", value="uploadProgress" type="succes", ng-show="upload").progress-striped.active
						| {{uploadProgress}} / 100
					a.btn.btn-lg.btn-green.loyalty-button(ng-click="sentOtherPurchase()") {{:: "SENT_A_PHOTO_RECEIPT" | translate}}