html
  head
  body
    .container
      br
      br
      br
      h3
        | {{:: "REPAIR_SIGN_UP" | translate}}
        div
          a.btn.btn-dark.pull-right(ui-sref='{{getShopType()}}.loyalty-program({nameSlug: selectedShop})') {{:: "BACK" | translate}}
      .row(ng-init='getBrandList();')
        .col-md-4.text-center
          #emailMarketingTourFillIn.drop-box(ngf-drop='ngf-drop', ngf-select='ngf-select', ng-model='customer.photo', ngf-pattern="'image/*'", ngf-allow-dir='allowDir', ngf-drop-available='dropAvailable')
            | {{:: "TAKE_OR_SELECT_A_PHOTO" | translate}}
            div .
            img(ngf-thumbnail='customer.photo')
          .row
            .col-xs-9.loyalty-no-right-padding(style='margin-bottom: 13px')
              span {{:: "REPAIR_STATUS" | translate}}
              select.form-control(ng-model='selectedProductStatus', ng-options='status for status in productStatus.values', ng-required='true')
                option(value='') {{:: "SELECT_PRODUCT_STATUS" | translate}}
              | {{selectedProductStatus}}
          .row
            .col-xs-9.loyalty-no-right-padding(style='margin-bottom: 13px')
              span {{:: "PRODUCT_KIND" | translate}}
              select.form-control(ng-model='selectedProductKind', ng-options='kind for kind in productKind', ng-required='true')
                option(value='') {{:: "SELECT_PRODUCT_TYPE" | translate}}
          .row
            .col-xs-9.loyalty-no-right-padding(style='margin-bottom: 13px')
              span {{:: "MATERIAL_PRODUCT" | translate}}
              select.form-control(ng-model='selectedProductMaterial', ng-options='material for material in productMaterial', ng-required='true')
                option(value='') {{:: "SELECT_PRODUCT_MATERIAL" | translate}}
          .row
            .col-xs-9.loyalty-no-right-padding(style='margin-bottom: 13px')
              span {{:: "OTHER" | translate}}
              select.form-control(ng-model='selectedCustomTagsss', ng-options='custom for custom in customTagss', ng-required='true')
                option(value='') {{:: "SELECT_PERSONALIZED_TAG" | translate}}
          .row
            .col-xs-9.loyalty-no-right-padding(style='margin-bottom: 13px')
              #ex1(angucomplete-alt='angucomplete-alt', placeholder='Search Brands', maxlength='50', pause='100', selected-object='selectedBrand', local-data='brandsList', search-fields='name', title-field='name', input-class='form-control form-control-small', match-class='highlight')
        .col-md-8.margin-bottom
          .row
            .col-xs-9.loyalty-no-right-padding(stykar='stykar', le='margin-bottom: 13px')
              input.form-control(ng-model='customer.emailName', placeholder='{{:: "HOW_CAN_WE_CALL_YOU" | translate}}')
            // <div stykar="stykar" le="margin-bottom: 13px" class="col-xs-9 loyalty-no-right-padding">
            // <div id="ex2" angucomplete-alt="angucomplete-alt" placeholder="{{:: &quot;HOW_CAN_WE_CALL_YOU&quot; | translate}}" pause="100" selected-object="customerSelected" search-fields="name,email" title-field="name" description-field="email" maxlength="50" focus-out="focusOut()" local-data="crmUsersDetails" input-class="form-control form-control-small" match-class="highlight"></div>
            // </div>
            .col-xs-3.loyalty-no-left-padding
              select#gender.form-control(ng-model='customer.gender', name='gender', style='float: left', required='required')
                option(value='male') {{:: "MR" | translate}} 
                option(value='female') {{:: "MS" | translate}} 
          .row
            .col-xs-5
              button.newRetailerRepairED.btn.btn-md.btn-green.loyalty-button(ng-click='saveUserDetails()') {{:: "ADDITIONAL_CUSTOMER_DETAILS" | translate}}
          .row
            .col-md-4
              .input-group(style='margin-bottom: 13px')
                span.input-group-addon.loyalty-input-height {{:: "INCL_VAT" | translate}} {{results}}
                input#c2.form-control.currency.loyalty-input-height(ng-model='customer.priceRange', type='number', value='1000', min='0', step='0.01', data-number-to-fixed='2', data-number-stepfactor='100')
            .col-md-8
              .input-group(style='margin-bottom: 13px')
                span.input-group-addon.loyalty-input-height
                  | {{:: "DATE_WHEN" | translate}} {{textNoResults}}
                  br
                  | {{:: "REPAIR_IS_READY" | translate}}
                input.form-control.loyalty-input-height(ng-model='customer.repairDate', type='date', name='date', min='2018-01-01', max='2050-12-31')
          .row
            .col-xs-12.col-md-12
              input(ng-model='customer.email', type='text', style='width: 100%; padding: 2px', placeholder='{{:: "EMAIL_ADRESS" | translate}}')
              p {{:: "WE_USE_YOUR_EMAIL_ADRESS_FOR_SERVICE_PURPOSES" | translate}}
          .row
            .col-xs-12.col-md-12
              textarea(ng-model='customer.comment', type='text', style='width: 100%; padding: 2px', cols='30', rows='10', placeholder='{{:: "COMMENT_HERE" | translate}}')
              div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type", close='closeAlert(alert)')
                // a(ng-href='shop.proShopUrl')
                | {{alert.msg}}
                // |Klik hier om naar onze website te gaan.
          .row.hidden
            .col-xs-12.col-md-12
              div
                input#shipto.input-checkbox(type='checkbox', ng-model='customer.dateOfBirthOn', value='1')
                label(for='shipto') {{:: "MAY_WE_SENT_YOU_DISCOUNT_EMAIL_FOR_BIRTHDAY" | translate}}
              .col-xs-12.col-md-12(ng-show='customer.dateOfBirthOn')
                .input-group(style='margin-bottom: 13px')
                  span.input-group-addon.loyalty-input-height {{:: "DATE_OF_BIRTH" | translate}}
                  input.form-control.loyalty-input-height(ng-model='customer.dateOfBirth', type='date', name='date')
          .row
            .col-xs-12.col-md-12
              .input-group(style='margin-bottom: 13px')
                uib-progressbar.progress-striped.active(max='100', value='uploadProgress', type='succes', ng-show='upload') {{uploadProgress}} / 100
                a#emailMarketingTourSent.btn.btn-lg.btn-green.loyalty-button(ng-click='sentForRepair()') {{:: "SAVE" | translate}}
