.container
  br
  br
  br
  br
  br
  h3
    | {{:: "ORDER_INTAKE" | translate}}
    a.btn.btn-dark.pull-right(ui-sref='retailer.home') {{:: "BACK" | translate}}
  .row
  br
  br
  br
  .row
    .col-md-4.text-center
      p {{:: "TAKE_A_PICTURE_OF_THE_REPAIR" | translate}}
      a.menublock(ui-sref='{{getShopType()}}.loyalty-repair')
        i.fa.fa-wrench.fa-4x
        br
        br
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ui-sref='{{getShopType()}}.loyalty-repair', ng-hide='buttonDisabled') {{:: "REPAIR" | translate}}
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "REPAIR" | translate}}
    .col-md-4.text-center
      p {{:: "SUBSEQUENT_ORDER_FOR_CUSTOMER_DEMO" | translate}}
      a.menublock(ui-sref='')
        i.fa.fa-truck.fa-4x
        br
        br
      a.btn.btn-lg.btn-default.mobile-menu.loyalty-button(ui-sref='', ng-hide='buttonDisabled') {{:: "SUBSEQUENT_ORDER" | translate}} (coming soon)
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "SUBSEQUENT_ORDER" | translate}} (coming soon)
  br
  br
  .row
    .col-md-4
      p {{:: "DIGITAL_WARRANTY_RECORDING" | translate}}
      a#emailMarketingTourPurchaseRegistration.btn.btn-lg.btn-green.loyalty-button(ui-sref='{{getShopType()}}.loyalty-watches', ng-hide='buttonDisabled', ng-disabled='buttonDisabled') {{:: "WATCHES" | translate}}
      a#emailMarketingTourPurchaseRegistration.btn.btn-lg.btn-green.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "WATCHES" | translate}}
    .col-md-4
      p {{:: "TAKE_A_PICTURE_OF_THE_RECEIPT" | translate}}
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ui-sref='{{getShopType()}}.loyalty-other', ng-hide='buttonDisabled') {{:: "CASH_SUBSCRIPTION_RECEIPT" | translate}}
      a.btn.btn-lg.btn-green.mobile-menu.loyalty-button(ng-show='buttonDisabled', ng-disabled='buttonDisabled') {{:: "CASH_SUBSCRIPTION_RECEIPT" | translate}}
  .row
//-   // <div uib-alert="uib-alert" ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)">
//-   // a(ng-href='shop.proShopUrl')
//-  // | {{alert.msg}}
//-   // |Klik hier om naar onze website te gaan.
//-   // </div>
br
a.btn.btn-lg.btn-green.hidden(href="") {{:: "SAVE_10_ON_THE_NEXT_PURCHASE" | translate}}