.modal-header
  h4.modal-title {{:: "REPAIR SETTINGS" | translate}}
.modal-body
.row(style='text-align: center; margin-left: 40%;')
  .col-md-4
    h4 {{:: "ADD NEW STATUS" | translate}}
    input#repairSettingsStatus.repairSettingsStatus(type='text', ng-model='repairSettings.status', style='display: inline;')
    button.addStatus(ng-click='addStatus()') {{:: "ADD" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='status in productStatus')
        span {{status}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deleteStatus($index)')
.row
  h4(style='text-align: center;') {{:: "ADD NEW TAGS" | translate}}
  .col-md-4
    h4 {{:: "Product Kind" | translate}}
    input#repairSettingsProductKind.repairSettingsProductKind(type='text', ng-model='repairSettings.productKind')
    button.addProductKind(ng-click='addProductKind()') {{:: "ADD" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='productKind in productKind')
        span {{productKind}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deleteProductKind($index)')
  .col-md-4
    h4 {{:: "Product Material" | translate}}
    input#repairSettingsProductMaterial.repairSettingsProductMaterial(type='text', ng-model='repairSettings.productMaterial')
    button.addProductMaterial(ng-click='addProductMaterial()') {{:: "ADD" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='productMaterial in productMaterial')
        span {{productMaterial}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deleteProductMaterial($index)')
  .col-md-4
    h4 {{:: "Custom Tag" | translate}}
    input#repairSettingsCustomTags.repairSettingsCustomTags(type='text', ng-model='repairSettings.customTagss')
    button.addCustomTags(ng-click='addCustomTags()') {{:: "ADD" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='customTagss in customTagss')
        span {{customTagss}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deleteCustomTagss($index)')
.row
  br
  div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type", close='closeAlert(alert)') {{alert.msg}}
.row
  br
  br
  .col-md-12
    input.btn.btn-lg.btn-dark.pull-right(type='submit', ng-click='updateUser()', value='{{:: "SAVE" | translate}}')
