.container.reviews
	.block
		.row
			br
			br
			br
		.row
		.review(ng-repeat="item in shop.reviews").block-small
			p 
				strong
					span.author {{item.author.name}}&nbsp;&nbsp;
					i.fa.fa-star.rating(ng-repeat="n in range(item.rating)")
			p.date
				i.fa.fa-calendar
				span &nbsp;{{formatDate(item.creationDate)}}
			p {{item.content}}
			hr

	div.ng-hide(ng-hide='showReviewform')
	.wrapper
		p(ng-hide='showReviewform') .
		h5(ng-show='showReviewform')
		div(data-ng-repeat="review in items")
			hr
			.col-md-4
				| {{:: "NAME" | translate}}: {{review.name}}
			.col-md-8
				input-stars(max='{{review.rating}}', ng-model='YourCtrl.property', readonly='')
			br
			.row
			.col-md-12
				| {{:: "COMMENT" | translate}}: {{review.content}}
			br
		p(ng-show="shop.reviews && shop.reviews.length == 0")
			strong {{:: "NO_REVIEW_ADDED_YET_PLACE_FIRST_HERE" | translate}}
		hr
		p {{:: "WRITE_A_REVIEW_YOURSELF" | translate}}:
		.col-md-1
			i.fa.fa-edit.fa-4x
		.col-md-8
			input(ng-model='review.name', type='text', style='width: 100%; padding: 2px', placeholder='{{:: "NAME" | translate}}')
		.col-md-3
			input-stars(max='5', ng-model='review.rating')
		.row
		.col-md-1
		.col-md-11
			textarea(ng-model='review.content', type='text', rows='2', cols='25', placeholder='{{:: "PLACE_YOUR_COMMENT_HERE" | translate}}', style='width: 100%; padding: 2px')
			//.wrapper
			//p(ng-hide='showme') .
			//h5(ng-show='showme')
			//	div(uib-alert).alert-warning 
			//			| Toegevoegd!
			//			|&nbsp; Hierdoor verdien je een kortingscode op de volgende aankoop!
			//			a(ui-sref="")
			//				|&nbsp; 
			//				input(ng-model='review.email', type='text', style='width: 75%; padding: 2px', placeholder='Vul hier je e-mailadres in') 
			//			a.btn.btn-lg.btn-green(style='float: right; padding: 5px;') Stuur mij een kortingscode
		.row
		.rows
		a.btn.btn-lg.btn-green(ng-click='addReview(review); showme=true;', style='float: right; margin: 10px;') {{:: "ADD_REVIEW" | translate}}
		.row
		hr
		br
		.row
	div