h1 Uw import is voltooid

p Er zijn #{products} producten aangemaakt.

if results.length > 0
    p De volgende regels gaven fouten:
    ul
        each error in results
            li Product Nummer: #{error.productNumber}, Error: #{error.msg} #{(error.ImageKey) ? ', CSV Image Field: ' + error.ImageKey : ''}

if results.length == 0
    p Er zijn geen fouten opgetreden bij het verwerken van uw bestand.

