.menu
    color: #e3e3e3;

.drop-box
	background: #F8F8F8
	border: 5px dashed #DDD
	width: 100%
	text-align: center
	padding: 50px 10px

.padding-bottom
	padding-bottom: 20px

.search-retailer
	margin-top: 20px
h4.brands
	font-size: 20px
	.label
		margin: 3px

.edit-campaign
	.edit-campaign-task
		padding: 1em 2em
		border: solid 2px #eeeeee
		border-radius: 6px
		-moz-border-radius: 6px
		-webkit-border-radius: 6px
		background-color: #fcfcfc
		.task-heading
			.task-heading-type
				color: #999999
		&.facebook
			.task-heading-content
				color: #3b5998
		&.instagram
			.task-heading-content
				color: #e95950
		&.pinterest
			.task-heading-content
				color: #cb2027
	textarea
		width: 100%
		height: 16em
.user-label
	font-size: 18px;
	line-height: normal !important;
.wysiwyg
	textarea.form-control
		padding: 0px 0px !important;
		height: 200px !important;
	.form-control
		min-height: 200px;
		height: auto !important;
	[id^=taTextElement]
			min-height: 200px;
			height: 100%
	
