.brand
	padding: 1em 0 0 0
	display: block
	color: $dark-color
	transition: all .3s ease
	-moz-transition: all .3s ease
	-webkit-transition: all .3s ease
	-o-transition: all .3s ease
	-ms-transition: all .3s ease
	&:hover
		opacity: 0.8
		transition: all .3s ease
		-moz-transition: all .3s ease
		-webkit-transition: all .3s ease
		-o-transition: all .3s ease
		-ms-transition: all .3s ease
	img
		width: 100%
	a[ui-sref], a[ui-href]
		&:not(.btn)
			&:link, &:active, &:focus, &:visited, &:hover
				display: block
				color: $dark-color

.brandWelcome-background
	opacity: 0.9
	background-image: url('https://prismanote.s3.amazonaws.com/general/prismanote-created_promoted.jpg')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	max-height: 4300px

@media (min-width: 990px)
	.brandWelcome-background
		max-height: 1500px

