.btn
	&:not(.btn-default)
		font-family: "Montserrat", Helvetica, Arial, sans-serif
		font-weight: 700
		text-transform: uppercase
		text-decoration: none
		text-align: center
		letter-spacing: 0.04em
		border-radius: 3px
		-moz-border-radius: 3px
		-webkit-border-radius: 3px
		border: 2px solid transparent
		transition: all .3s ease
		-moz-transition: all .3s ease
		-webkit-transition: all .3s ease
		-o-transition: all .3s ease
		-ms-transition: all .3s ease
		&:hover
			transition: all .3s ease
			-moz-transition: all .3s ease
			-webkit-transition: all .3s ease
			-o-transition: all .3s ease
			-ms-transition: all .3s ease

		&.btn-lg
			font-size: 12px
			padding: 13px 34px

		&.btn-md
			font-size: 11px
			padding: 7px 23px

		&.btn-sm
			font-size: 10px
			padding: 4px 12px

		&.btn-dark
			color: $white-color
			background-color: $dark-color
			&:hover
				color: $white-color
				background-color: $accent-color

		&.btn-light
			color: $dark-color
			background-color: $white-color
			&:hover
				background-color: $accent-color

		&.btn-green
			color: $white-color
			background-color: $accent-color
			&:hover
				background-color: $dark-color

		&.btn-yellow
			color: $white-color
			background-color: $required-color
			&:hover
				background-color: $dark-color

	i.fa
		margin-right: 1em