.campaign-block, .task-block
	background-color: #f5f9fa
	overflow: hidden
	margin-bottom: 2em
	.campaign-block-content, .task-block-content
		border-radius: 25px;
		padding: 2em
		height: 18em
	.btn
		position: absolute
		bottom: 5em
	.campaign-block-image, .task-block-image
		display: block
		height: 18em
		width: 100%
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
	    border-radius: 10px;

.switch-align-orderTask
	text-align: right
	margin-top: 1em
	margin-right: 1em

.switch-align-task
	text-align: right
	margin-top: 1em

.align-right-button
	text-align: right

.facebook-color
	background-color: #dadcde

.instagram-color
	background-color: #F097B5

.pinterest-color
	background-color: #DE838D

.orderTask-color
	background-color: #f5f7f8

.background-white
	background-color: #fff