.cart
	&:hover
		.cart-content
			visibility: visible
			opacity: 1

.cart-icon
	opacity: 0.9
	background-image: url('/../../images/cart-black-high.png')
	background-size: cover
	transition: all .3s ease
	-moz-transition: all .3s ease
	-webkit-transition: all .3s ease
	-o-transition: all .3s ease
	-ms-transition: all .3s ease
	background-repeat: no-repeat
	background-position: 0 0
	width: 36px
	height: 36px
	margin-top: 4px
	a
		font-family: 'Open Sans', sans-serif
		display: block
		font-weight: 600
		font-size: 1.2em
		text-align: center
		line-height: 48px
		color: $black-color
		&:hover
			color: $black-color
	&.light
		background-image: url('/../../images/cart-white-high.png')
		transition: all .3s ease
		-moz-transition: all .3s ease
		-webkit-transition: all .3s ease
		-o-transition: all .3s ease
		-ms-transition: all .3s ease
		a
			color: $white-color
			&:hover
				color: $white-color

.cart-content:not(.col-xs-12)
	width: 300px
	margin-top: 0.4em
	padding: 1em 2em
	position: absolute
	z-index: 100
	border-width: 2px 1px 1px 1px
	border-style: solid
	border-color: $accent-color #ecf0f1 #ecf0f1 #ecf0f1
	background-color: $white-color
	left: 0
	visibility: hidden
	opacity: 0
	transition: all .3s ease
	-moz-transition: all .3s ease
	-webkit-transition: all .3s ease
	-o-transition: all .3s ease
	-ms-transition: all .3s ease
	.cart-items
		padding-left: 0
		.cart-item
			list-style: none
			padding: 1em 0
			.cart-item-img a img
				width: 70px
				height: 70px
			.cart-item-details
				padding-right: 25px
				float: right
				.cart-item-title a
					// font-weight: bold
					color: #45464b
				.cart-item-price
					color: #969ca7
			.cart-item-remove i
				display: block
				position: absolute
				right: 0
				top: 0
				border-radius: 3px
				-moz-border-radius: 3px
				-webkit-border-radius: 3px
			i
				padding: 2px
				color: #45464b
				&:hover
					color: $accent-color
.cart-content.col-xs-12
	padding: 1em 0 0 0
	.cart-summary
		margin-bottom: 2em
		font-weight: bold
		.cart-total
			float: right

.mobile-search-bar
	.cart-actions
		margin: 1em 0 0 0

.cart-group
	table
		.product-name
			width: 16em
		.product-price
			width: 10em;
	.product-thumbnail a img
		width: 70px
		height: 70px
	.cart-item.mobile
		table
			clear: both
			margin: 1em 0 0 20px
		.product-thumbnail a img
			float: left

.cart-quantity
	width: 55px !important;

.product-quantity input[type="number"]::-webkit-outer-spin-button,
.product-quantity input[type="number"]::-webkit-inner-spin-button
	-webkit-appearance none
	margin 0

.product-quantity input[type="number"]
	-moz-appearance textfield
