.preview-modal
    border-bottom 0 !important
    & > li
        float left
        margin-bottom -1px
        width 25%
        text-align center
        & > a
            border 1px solid transparent !important
            text-transform uppercase
            font-weight 600
            &:hover
                border-color #ffffff !important

.preview-modal>li.active>a, .preview-modal>li.active>a:hover, .preview-modal>li.active>a:focus
    color #000000 !important
    background-color #fff !important
    border-top 0 !important
    border-right 0
    border-bottom 3px solid #337ab7 !important

.preview-modal>li>a:hover, .preview-modal>li>a:focus
    background-color #ffffff !important

.fb-preview-section
    padding 0 !important
    .tab-content
        & > .active
            padding 15px
            text-align center
            width 100%
            padding 15px
            text-align center
            width 100%

.preview-result>li>a:hover, .preview-result>li>a:focus
    background-color #ffffff !important

.preview-result
    & > li
        font-size 13px
        padding-bottom 3px
        & > a
            border-radius 0 !important
            padding 10px 15px 10px 10px !impotant
            cursor default !important

.preview-result>li.active>a, .preview-result>li.active>a:hover, .preview-result>li.active>a:focus
    color #000000
    background-color #ffffff !important

.prv-res>li>a:hover, .prv-res>li>a:focus
    background-color #ffffff !important
    cursor default !important

.select-plan input, select, textarea, input[type], .form-control
    border solid 1px #d2d2d2 !important
    border-radius 0 !important

.prv-content
    img
        border 2px solid #337ab7 !important
        padding 10px !important
.prv-content
    position: relative

.prv-content:hover .image 
    opacity: 0.3


.prv-content:hover .hover-btn 
    opacity: 1
    background-color: transparent
    border: 0px solid transparent !important
    font-size: 32px

.prv-content:hover .hover-cancel-btn 
    opacity: 1
    background-color: transparent
    border: 0px solid transparent !important
    font-size: 16px

.hover-btn
    transition: .5s ease
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)

.hover-cancel-btn
    transition: .5s ease
    opacity: 0
    position: absolute
    top: 4%
    right: 1%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)

.select-plan
    .form-group
        label
            font-weight 600
            color #404040
            text-transform capitalize

.gp-icon
    i
        font-size 24px
        padding-right 12px

.drop-box
    cursor pointer

.angucomplete-row
    color #000000 !important

.fb-preview-section
    .tab-content
        & > .active
            padding 15px
            text-align center
            width 100%
#list
    list-style-type none

.icons-color
    .fa-pencil
        color #43578c
        padding-left 6px
    .fa-check
        color #a5c482
        padding-right 6px
    .fa-question
        color #43578c
        padding-left 6px

.list
    list-style-type none

#second-block
    width 15%

.f-bold
    font-weight 600
    font-size 22px

.first-row
    border-bottom 1px solid #9e9e9e

.second-row
    margin-top 8px

.third-row
    height 24vh
    margin-top 10px

.fourth-row
    margin-top 10px

.fifth-row
    margin-top 10px

.caret
    color #43578c

.btn-caret
    width 30%
    border-radius 0px

.btn-text
    border-radius 0px
    font-size 12px
    background-color #fff
    i
        color #a5c482

.table-data
    border 1px solid #9e9e9e
    thead
        font-size 11px
    tbody
        font-size 14px

.chk-box
    margin-bottom 18px

.btn-footer
    background-color #fff

.avg-li
    li
        list-style-type none
        text-align right
        font-size 10px

.custom-calender
    width 80% !important
    display flex

.custom-drop-btn
    padding 0px

.txt-color
    color #43578c

.dropdown-list
    position relative

.tbl-bdr
    border-right 1px solid #777777

.tbl-td
    text-align right

.dropdown-item
    padding-left 10px

.sel-col
    background-color: #e1e1e1
    font-weight: bold


    .preview-modal
    border-bottom 0 !important
    & > li
        float left
        margin-bottom -1px
        width 25%
        text-align center
        & > a
            border 1px solid transparent !important
            text-transform uppercase
            font-weight 600
            &:hover
                border-color #ffffff !important

.preview-modal>li.active>a, .preview-modal>li.active>a:hover, .preview-modal>li.active>a:focus
    color #000000 !important
    background-color #fff !important
    border-top 0 !important
    border-right 0
    border-bottom 3px solid #337ab7 !important

.preview-modal>li>a:hover, .preview-modal>li>a:focus
    background-color #ffffff !important

.fb-preview-section
    padding 0 !important

.preview-result>li>a:hover, .preview-result>li>a:focus
    background-color #ffffff !important

.preview-result
    & > li
        font-size 13px
        padding-bottom 3px
        & > a
            border-radius 0 !important
            padding 10px 15px 10px 10px !impotant
            cursor default !important

.preview-result>li.active>a, .preview-result>li.active>a:hover, .preview-result>li.active>a:focus
    color #000000
    background-color #ffffff !important

.prv-res>li>a:hover, .prv-res>li>a:focus
    background-color #ffffff !important
    cursor default !important

.select-plan input, select, textarea, input[type], .form-control
    border solid 1px #d2d2d2 !important
    border-radius 0 !important

.prv-content
    img
        border 2px solid #337ab7 !important
        padding 10px !important
.prv-content
    position: relative

.prv-content:hover .image 
    opacity: 0.3


.prv-content:hover .hover-btn 
    opacity: 1
    background-color: transparent
    border: 0px solid transparent !important
    font-size: 32px

.prv-content:hover .hover-cancel-btn 
    opacity: 1
    background-color: transparent
    border: 0px solid transparent !important
    font-size: 16px

.hover-btn
    transition: .5s ease
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)

.hover-cancel-btn
    transition: .5s ease
    opacity: 0
    position: absolute
    top: 4%
    right: 1%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)

.select-plan
    .form-group
        label
            font-weight 600
            color #404040
            text-transform capitalize

.gp-icon
    i
        font-size 24px
        padding-right 12px

.drop-box
    cursor pointer

.angucomplete-row
    color #000000 !important

.fb-preview-section
    .tab-content
        & > .active
            padding 15px
            text-align center
            width 100%
#list
    list-style-type none

.icons-color
    .fa-pencil
        color #43578c
        padding-left 6px
    .fa-check
        color #a5c482
        padding-right 6px
    .fa-question
        color #43578c
        padding-left 6px

.list
    list-style-type none

#second-block
    width 15%

.f-bold
    font-weight 600
    font-size 22px

.first-row
    border-bottom 1px solid #9e9e9e

.second-row
    margin-top 8px

.third-row
    height 24vh
    margin-top 10px

.fourth-row
    margin-top 10px

.fifth-row
    margin-top 10px

.caret
    color #43578c

.btn-caret
    width 30%
    border-radius 0px

.btn-text
    border-radius 0px
    font-size 12px
    background-color #fff
    i
        color #a5c482

.table-data
    border 1px solid #9e9e9e
    thead
        font-size 11px
    tbody
        font-size 14px

.chk-box
    margin-bottom 18px

.btn-footer
    background-color #fff

.avg-li
    li
        list-style-type none
        text-align right
        font-size 10px

.custom-calender
    width 80% !important
    display flex

.custom-drop-btn
    padding 0px

.txt-color
    color #43578c

.dropdown-list
    position relative

.tbl-bdr
    border-right 1px solid #777777

.tbl-td
    text-align right

.dropdown-item
    padding-left 10px

.dropbox-1
    background #f8f8f8
    border 5px dashed #ddd
    width 100%
    text-align center
    padding 50px 10px

#text-area-fb
    width 100%
    height 80px

.custom-caret
    float right

.mb-20
    margin-bottom 0px
    margin-top 0px

#custom-font
    font-weight 600

#custom-chk
    display block !important

.create-btn
    text-align center
    margin-bottom 15px

.new-campaign
    width 70%
    background-color #f5f9fa
    border 1px solid #3a6284
    border-radius 10px
    padding 8px 10px
    margin-bottom 20px
    .nav-tabs
        border 0 !important

.row
    margin 10px 0px 0px 0px

.custom-row
    margin 0px

.nav-btn
    padding-bottom 15px
    width 30%
    margin 0 auto
    .next-btn
        float right

.cust-text-mt
    margin-top 5px

.campaign-block-content
    border-radius: 25px
    padding: 2em
    height: 23em !important

    
// #_dropdown
//     margin-top 34px
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 6, 2018 */



