.filters
	color: #555555
	padding-top: 1em 1em 0 0
	// padding: 1em 2em 2em 2em
	a[ui-sref], a[href]
		&:not(.btn)
			i.fa
				color: $dark-color
				&:hover
					color: $dark-color
	ul
		&.fixed-height
			max-height: 300px
			overflow-y: scroll
			overflow-x: hidden
		li
			list-style: none
	.filter-content
		margin-bottom: 1.5em
		input#add-to-assortment
			width: 100%
