footer
	color: #969ca7
	padding: 4em
	background-color: #16181a
	ul
		padding: 0
		li
			list-style: none
			&.link
				padding-bottom: 0.8em
				margin-top: 0.8em
				border-bottom: 1px solid #31353a
				a
					&:link, &:visited, &:focus, &:active
						color: $white-color
					&:hover
						color: $white-color
	p
		line-height: 2em
	h1, h2, h3, h4, h5, h6
		color: $white-color
		margin: 1.5em 0
	.footer-block
		min-height: 20em
	.social-icons
		padding-top: 1em
		a
			margin-right: 3px
			float: left
			display: inline-block
			width: 32px
			height: 32px
			overflow: hidden
			border-radius: 3px
			-moz-border-radius: 3px
			-webkit-border-radius: 3px
			background-color: #1d2125
			line-height: 32px
			text-align: center
			font-size: 12px
			transition: all .3s ease
			-webkit-transition: all .3s ease
			-moz-transition: all .3s ease
			-o-transition: all .3s ease
			-ms-transition: all .3s ease
		.fa
			color: #969ca7
			display: block
			width: 32px
			height: 32px
			line-height: 32px
			border-radius: 3px
			-moz-border-radius: 3px
			-webkit-border-radius: 3px
			position: relative
			top: 0
			transition: all .3s ease
			-webkit-transition: all .3s ease
			-moz-transition: all .3s ease
			-o-transition: all .3s ease
			-ms-transition: all .3s ease
			&:hover
				color: $white-color
		.facebook:hover
			background-color: #3b5998 !important
		.twitter:hover
			background-color: #00acee !important
		.google-plus:hover
			background-color: #dd4b39 !important
		.linkedin:hover
			background-color: #0e76a8 !important
		.pinterest:hover
			background-color: #c8232c !important
		.instagram:hover
			background-color: #3f729b !important
.bottom-bar
	padding: 2em
	background-color: $black-color
	a
		color: $white-color
		&:hover
			color: $white-color
	.back-to-top
		margin: 0 1em
		color: #cccccc
		background-color: transparent
		font-variant: small-caps
		letter-spacing: 0.09em
		i
			margin: 0 0.5em 0 1em
	.footer-payment-methods i
		margin-right: 5px
		font-size: 26px
		vertical-align: middle
