label
	font-weight: normal
input, select, textarea, input[type], .form-control
	vertical-align: middle
	border: solid 2px #e6ebed
	transition: all .3s ease
	-moz-transition: all .3s ease
	-webkit-transition: all .3s ease
	-o-transition: all .3s ease
	-ms-transition: all .3s ease
	&:focus
		transition: all .3s ease
		-moz-transition: all .3s ease
		-webkit-transition: all .3s ease
		-o-transition: all .3s ease
		-ms-transition: all .3s ease
		outline: none !important
		border: solid 2px $accent-color
input[type="text"], textarea
	padding: 0.5em 1em
	border-radius: 3px
	-moz-border-radius: 3px
	-webkit-border-radius: 3px
input[type="checkbox"]
	display: none
	& + label
		vertical-align: middle
		display: inline-block
		&:before
			margin: 0 0.5em 2px 0
			font-family: 'FontAwesome'
			line-height: 0.6
			content: " "
			vertical-align: middle
			display: inline-block
			cursor: pointer
			width: 1em
			height: 1em
			background-color: #f5f9fa
			border: solid 2px #e6ebed	
			font-family: 'FontAwesome'
			
	&:checked + label
		&:before
			content: '\f00c'
input.number
	text-align: center
	width: 2.5em
	height: 2.5em
	border-width: 2px 0
	border-color: #e6ebed
	border-style: solid
.plus, .minus
	width: 2.5em
	height: 2.5em
	border-width: 2px
	border-color: #e6ebed
	border-style: solid
	background-color: $white-color
.list-group
	padding-top: .3em

input.required
	border-color: #ffb80f
select.required
	border-color: #ffb80f
textarea.required
	border-color: #ffb80f
.ats-switch
	border-width: 2px;
	&.required
		border-color: #ffb80f

