.testing 
	background-color: $testing-color !important;
	
.test
	color #FFF
	float left
	font-size 15px
	font-weight bold
	text-transform uppercase
	text-decoration underline

.top-bar
	width: 100%
	margin: 0
	background-color: $black-color
	padding: 1em
	font-size: 12px

.top-bar a
	padding-right: 1.5em
	color: #969ca7
	.fa
		color: #969ca7
		padding-right: 0.5em
	&:hover
		color: $accent-color
		.fa
			color: $accent-color

.top-bar-language .top-bar-dropdown
	min-width: 12em

.top-bar-currency, .top-bar-language
	.top-bar-dropdown
		padding: 5px 15px
		margin-top: 0.3em
		position: absolute
		z-index: 100
		border-width: 2px 1px 1px 1px
		border-style: solid
		border-color: $accent-color #ecf0f1 #ecf0f1 #ecf0f1
		background-color: $white-color
		left: 0
		visibility: hidden
		opacity: 0
		transition: all .3s ease
		-webkit-transition: all .3s ease
		-moz-transition: all .3s ease
		-o-transition: all .3s ease
		-ms-transition: all .3s ease
		ul
			margin: 0
			padding: 0
			li
				line-height: 26px
				list-style: none
				a
					padding-right: 0
	a
		.fa
			padding-left: 0.5em
	&:hover
		.top-bar-dropdown
			visibility: visible
			opacity: 1
			a
				color: #969ca7
				&:hover
					color: $accent-color
		a, .fa
			color: $accent-color

.overlay-top-bar
	position: fixed
	width: 100%
	height: 40px
	top: 0
	left: 0
	z-index: 1
	& + .overlay-header
		top: 40px
		.search-bar-background
			top: 40px

.search-bar
	.search-bar-content
		padding: 0.7em
	.hamburger-menu-icon
		padding: 0.85em 0 0 2em
	.logo img
		display: inline-block
		height: 100%
		vertical-align: middle
		max-height: 48px
		width: auto
		max-width: 100%
		display: block
		&.prismanote
			margin-top: 6px
	.search
		position: relative
		input[type="text"]
			width: 100%
			color: #969ca7
			padding-left: 40px
			height: 46px
			& + label
				color: #e6ebed
				position: absolute
				top: 0.85em
				left: 0.4em
				margin-left: 1em
				z-index: 1
				transition: all .3s ease
				-webkit-transition: all .3s ease
				-moz-transition: all .3s ease
				-o-transition: all .3s ease
				-ms-transition: all .3s ease
			&:focus + label, &:hover + label
				transition: all .3s ease
				-webkit-transition: all .3s ease
				-moz-transition: all .3s ease
				-o-transition: all .3s ease
				-ms-transition: all .3s ease
				color: #969ca7
	nav
		ul
			li
				a
					font-weight: 500
					font-size: 1.1em
					letter-spacing: 1px
	&.overlay-header
		position: fixed
		width: 100%
		top: 0
		left: 0
		z-index: 10
		height: 0px
		.search-bar-background
			background-color: $white-color
			width: 100%
			height: 5em
			position: relative
			top: 0
			left: 0
			z-index: 11
		.search-bar-content:not(.container)
			width: 100%
		.search-bar-content
			position: relative
			top: -70px
			margin-bottom: -70px
			left: 0
			z-index: 12
	&.overlay-header:not(.mobile)
		.search-loading
			background-image: url("/images/loading.gif")
			background-repeat: no-repeat
			background-position: center right
			background-size: contain		
			-webkit-transition: none
			-moz-transition: none
			-o-transition: none
			-ms-transition: none	
		input[type="text"]
			opacity: 0.2
			&:hover, &:focus
				opacity: 0.9
		.search-bar-background
			opacity: 0.03
			transition: all .5s ease
			-webkit-transition: all .5s ease
			-moz-transition: all .5s ease
			-o-transition: all .5s ease
			-ms-transition: all .5s ease
		.search-bar-content
			opacity: 1
			transition: all .5s ease
			-webkit-transition: all .5s ease
			-moz-transition: all .5s ease
			-o-transition: all .5s ease
			-ms-transition: all .5s ease
			nav
				ul
					li
						a
							color: $white-color
							transition: all .3s ease
							-webkit-transition: all .3s ease
							-moz-transition: all .3s ease
							-o-transition: all .3s ease
							-ms-transition: all .3s ease
							&:hover
								color: $accent-color
		&.solid
			input[type="text"]
				opacity: 1
			.search-bar-background
					opacity: 1
					transition: all .5s ease
					-webkit-transition: all .5s ease
					-moz-transition: all .5s ease
					-o-transition: all .5s ease
					-ms-transition: all .5s ease
					border-bottom: solid 1px #cccccc
				.search-bar-content
					opacity: 1
					transition: all .5s ease
					-webkit-transition: all .5s ease
					-moz-transition: all .5s ease
					-o-transition: all .5s ease
					-ms-transition: all .5s ease
					nav
						ul
							li
								a
									color: $dark-color
									transition: all .3s ease
									-webkit-transition: all .3s ease
									-moz-transition: all .3s ease
									-o-transition: all .3s ease
									-ms-transition: all .3s ease
									&:hover
										color: $accent-color
	&.mobile
		.search-bar-content
			padding: 1em
			background-color: $white-color
			border-bottom: solid 1px #cccccc
			nav
				background-color: $white-color
				ul
					float: none
					li
						clear: both
						padding: 1em 0 0 0
						a
							font-size: 1.2em
						&:last-child
							margin-bottom: 1em