.home-bar
	color: #969ca7
	.home-bar-item
		height: 260px
		padding: 4em 2em
		&:nth-of-type(even)
			background-color: $dark-color
		&.home-bar-item:nth-of-type(odd)
			background-color: #2d3035
		h1, h2, h3, h4, h5, h6
			color: $white-color
		.statistic i
			color: $accent-color
		.btn
			margin: 5px

.home-products
	min-height: 300px
	h1, h2, h3, h4, h5, h6
		margin: 0
		color: $dark-color
		padding-bottom: 1em
		border-bottom: 1px solid #ebeef2
	ul
		padding: 0
		li
			list-style: none

.no-underline
	border-bottom: 0px !important;

.footer-promo
	background-color $accent-color
	color: $white-color
	p
		margin-top: -5px
	h3
		margin-top: 0
	a.btn.btn-dark:not(.btn-default)
		white-space: normal
		width: 100%
		text-align: center
		margin-bottom: 1em
		&:hover
			background-color: #111111
.modal
	a.modal-link:hover
		text-decoration: underline
.button-center
	text-align: center;
	padding-left: 50px;

.calendar-text
	margin-top: .7em;
	margin-left: .6em;

.home-background
	opacity: 0.9
	background-image: url('https://prismanotevoorjuweliers.nl/wp-content/uploads/2017/07/prismanote-meer-bezoekers-naar-mijn-winkel.jpg?id=6611')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	max-height: 4300px

.home-green-background
	opacity: 0.9
	background-color: #0ccfa8
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	max-height: 2300px

.home-white-text
	color: #fff

@media (min-width: 990px)
	.home-background
		max-height: 1500px

.totalAmount-background
	background-color: #fff

.button-margin-right
	margin-right: 5px