@media (min-width: 768px)
	.row
		& > .col-md-3, & > .col-lg-3
			&:nth-of-type(4n+5)
				clear: left
		& > .col-md-4, & > .col-lg-4
			&:nth-of-type(3n+4)
				clear: left
		& > .col-md-6, & > .col-lg-6
			&:nth-of-type(2n+3)
				clear: left

@media (max-width: 768px)
	.row
		& > .col-xs-3
			&:nth-of-type(4n+5)
				clear: left
		& > .col-xs-4
			&:nth-of-type(3n+4)
				clear: left
		& > .col-xs-6
			&:nth-of-type(2n+3)
				clear: left

.content
	// set min-height to 90% vertical height to ensure that the footer is not right below the header, but that the content div will always be at least 80-90% hight even when empty
	background-color: $white-color
	min-height: 90vh

.upload-response
	height: 4.5em

.title-bar
	padding: 8em 0
	text-align: center
	h1
		color: $white-color

.home-nav-bar, .shop-nav-bar
	text-align: left
	margin-bottom: -1.5em
	ul
		display: inline-block
		float: none
		li
			a
				font-size: 1.2em
				letter-spacing: 1px
				// font-weight: bold
				display: inline-block
				&, &:hover
					transition: color 0.1s ease
					color: #45464b

nav
	padding: 1em 0 3em 0

.nav-breadcrumb
	ul
		li
			list-style: none
			color: #b7bdc7
			display: inline-block
			a
				color: #dddddd
				&:hover
					color: $white-color

.block
	margin: 4em 0

.block-small
	margin: 2em 0

.date, .price-stats
	font-size: 0.85em
	color: #b7bdc7

.discount
	color: #f34937

.fa-4x
	padding: 0 5px

.video
	position: relative
	padding-bottom: 43%
	height: 0
	overflow: hidden
	max-width: 100%
	height: auto
	iframe, object, embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.content
	a[ui-sref], a[href]
		h1, h2, h3, h4, h5, h6
			color: $dark-color
		&:not(.btn)
			&:link, & .fa
				color: $accent-color
				text-decoration: none
			&:visited, &:hover, &:active, &:focus
				color: $accent-color
				text-decoration: none
			&:hover, &:hover .fa, &.dark
				color: $dark-color

a
	&, &:visited, &:hover, &:active, &:focus
		color: $dark-color
		text-decoration: none


// TODO: a.carousel-control $color-white
div[uib-carousel]
	a[href], a[ui-sref]
		&.carousel-control
			&:link, &:focus, &:active, &:hover, &:visited
				color: $white-color
	.carousel-indicators
		z-index: 5
	.carousel-inner
		img
			width: 100%
			height: auto
			min-height: 100%
		.carousel-caption
			&.mobile
				top: 25%
			&:not(.mobile)
				top: 40%

h1, h2, h3, h4, h5, h6
	font-weight: bold
	text-transform: uppercase
	letter-spacing: 0.05em
	line-height: 1.5

img
	width: 100%

ul
	margin: 0
	padding: 0

table:not([role="grid"])
	th, td
		padding: 0.5em 2em 0.5em 0
	&.table-wide
		th, td
			padding: 1em 2em 1em 0

p
	line-height: 2

body
	color: $dark-color
	font-family: 'Montserrat', Helvetica, Arial, sans-serif
	-webkit-font-smoothing: antialiased

::selection
	color: $white-color
	background: $accent-color
	
input[type].ng-invalid.ng-touched
		border: 2px solid #f39c12 !important;