.loyalty-no-right-padding
	padding-right: 0px

.loyalty-no-left-padding
	padding-left: 0px

.notice-padding
	margin-bottom: 5px

.alert-warning-without-link
	text-color: #ffffff;

.margin-bottom
	margin-bottom: 12px

.loyalty-input-height
	height: 42px!important;

.loyalty-button
	margin-bottom: 15px !important;
	width:100%;


