.news-item-small
	padding: 1em 0 0 0
	font-size: 13px
	a[href], a[ui-sref]
		&:not(.btn)
			display: block
			span, i.fa
				color: #969ca7
	&:hover
		a[href], a[ui-sref]
			&:not(.btn)
				span
					color: $accent-color
				i.fa
					color: #969ca7