.gjs-pn-btn
    font-size 18px !important

.gjs-one-bg
    background-color #212632 !important

.gjs-sm-sector, .gjs-clm-tags
    background #292f3e

.gjs-sm-sector
    &:hover
        background-color #353d51

.gjs-category-title, .gjs-sm-sector .gjs-sm-title, .gjs-clm-tags .gjs-sm-title, .gjs-block-category .gjs-title, .gjs-layer-title
    font-size 12px

.gjs-sm-sector .gjs-sm-property, .gjs-clm-tags .gjs-sm-property
    font-size 10px

.gjs-field input, .gjs-field select, .gjs-field textarea
    font-size 12px
    border 0 !important

.gjs-clm-tags #gjs-clm-label, .gjs-clm-tags #gjs-clm-sel
    font-size 12px

.gjs-traits-label
    font-size 12px

.gjs-toolbar-item
    padding 5px 5px
    font-size 14px !important

.gjs-label
    font-size 12px

.gjs-block-label
    font-size 10px !important

.nav-page-builder
    background-color #212632 !important
    padding 5px 0 !important
    border-color #f4cd00
    border-left 0
    border-right 0
    border-top 0
    .container-fluid
        .btn-primary
            background-color #636872
            font-size 12px
        .btn
            font-size 11px
            text-transform uppercase

.gjs-trt-header
    font-size 12px


body,
html 
  height: 100%;
  margin-left: 0;


div#gjs-sm-text-shadow 
  display: none !important;


span.gjs-sm-icon 
  color: #ddd !important;


div#gjs-sm-border-radius 
  display: none !important;


div#gjs-sm-box-shadow 
  display: none !important;


div#gjs-sm-extra 
  display: none !important;


div#gjs-sm-layout 
  display: none !important;


div#gjs-sm-general 
  display: none !important;


.gjs-one-bg 
  background-color: #121415 !important;


.gjs-four-color 
  color: #0ccfa8 !important;


.darkLink
  background:#222;
  color:white;


.darkLink:hover
  background:#0ccfa8;
  color:white !important;


nav.navbar.navbar-inverse.ng-scope 
  background-color: #121415 !important;
  border-radius: 0px;


.c6726 
  height: 700px !important;
  width: 100% !important;


div#hideBrand 
  display: none;


body,html {
  height: 100%;
  margin-left: 0;
}

div#gjs-sm-text-shadow 
  display: none !important;


span.gjs-sm-icon 
  color: #ddd !important;


div#gjs-sm-border-radius 
  display: none !important;


div#gjs-sm-box-shadow 
  display: none !important;


div#gjs-sm-extra 
  display: none !important;


div#gjs-sm-layout 
  display: none !important;


div#gjs-sm-general 
  display: none !important;


.gjs-one-bg 
  background-color: #212632 !important;


.gjs-four-color 
  color: #0ccfa8 !important;


.darkLink
  background:#222;
  color:white;


.darkLink:hover
  background:#0ccfa8;
  color:white !important;


nav.navbar.navbar-inverse.ng-scope 
  background-color: #212632 !important;
  border-radius: 0px;


.c6726 
  height: 700px !important;
  width: 100% !important;


div#hideBrand 
  display: none;


