.portal
	.panel
		border-color: #b4b5b9
		min-height: 15em;
		a
			display: block
			color: $dark-color
			h6, p, i.fa
				transition all 0.2s ease
				-webkit-transition all 0.2s ease
				-moz-transition all 0.2s ease
				-ms-transition all 0.2s ease
				-o-transition all 0.2s ease
			i.fa
				display: inline-block
				width: 100%
				text-align: center
			&:hover
				color: $accent-color
				h6, p, i.fa
					transition all 0.2s ease
					-webkit-transition all 0.2s ease
					-moz-transition all 0.2s ease
					-ms-transition all 0.2s ease
					-o-transition all 0.2s ease
		.panel-heading
			margin: 0
			color: $white-color
			background-color: #b4b5b9
			border-color: #b4b5b9
		.panel-body
			padding: 2em 0
.upgrade
	
	.panel
		border-color: #A2C7CD;
		&:hover
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	.price
		display: block;
		text-align: center;
		font-size: 23px;
		padding-top: 20px
	.panel-heading:not(label)
		text-align: center;
		min-height: 78px;
		vertical-align: middle;
		background-color: #f5f9fa
		border-color: #A2C7CD
	.panel-body
		.btn
			text-align: center;
	button
		height: 32px;
		&:hover
			color: $white-color !important
			background: #337ab7 !important
	
	.labels
		border-color: #761c19;
		.panel-heading
			background-color: #ac2925;
			border-color: #761c19;
