.product-small
	padding-top: 20px
	
	border-top: 1px solid #ebeef2
	a
		display: block
		min-height: 100px
		.product-title
			color: $dark-color
		&:hover 
			.product-title
				color: $accent-color
		img
			width: 84px
			margin: 0 1.5em 0 0
			float: left