.images-listing
	img
		height: 100px
		width: 100px
.product-block
	min-height: 395px
	a[ui-sref], a[href]
		&:not(.btn)
			color: $dark-color
			&:link, &:active, &:visited, &:focus, &:hover
				color: $dark-color
			& .fa
				color: $dark-color
			&:hover .fa
				color: $accent-color
	.product-image
		position: relative
		.product-label
			position: absolute
			bottom: 0
			left: 0
			z-index: 2
			span
				display: inline-block
				padding: 1px 8px
				margin: 0 2px 2px 0
				color: $white-color
				// border-radius: 10px
				// -moz-border-radius: 10px
				// -webkit-border-radius: 10px
			.onsale, .show-item
				background-color: #f97466
				opacity: 0.6
			.bestseller
				background-color: #09729f
				opacity: 0.6
			.new
				background-color: $accent-color
			.available, .unavailable
				background-color: #b4b5b9
				opacity: 0.6
		.product-action-btn
			margin: 0.7em 0
			visibility: hidden
			opacity: 0
			transition: all .3s ease
			-moz-transition: all .3s ease
			-webkit-transition: all .3s ease
			-o-transition: all .3s ease
			-ms-transition: all .3s ease
			z-index: 2
			a:hover i.fa
				color: $black-color
		.product-action-btns
			width: 100%
			position: absolute
			top: 30%
		.hover-overlay
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			background-color: $white-color
			opacity: 0
			z-index: 1
			transition: all .3s ease
			-moz-transition: all .3s ease
			-webkit-transition: all .3s ease
			-o-transition: all .3s ease
			-ms-transition: all .3s ease
	.product-details
		color: #333333
		.product-price
			display: block
			padding: 0.5em 0
			// float: right
			// text-align: right
			s
				text-decoration: line-through
				color: #999999
		.product-gender
			color: #969ca7
		.product-title
			display: block
			padding-bottom: 1em
	&:hover
		.product-action-btn
			visibility: visible
			opacity: 1
			transition: all .3s ease
			-moz-transition: all .3s ease
			-webkit-transition: all .3s ease
			-o-transition: all .3s ease
			-ms-transition: all .3s ease
		.hover-overlay
			opacity: 0.5
			transition: all .3s ease
			-moz-transition: all .3s ease
			-webkit-transition: all .3s ease
			-o-transition: all .3s ease
			-ms-transition: all .3s ease