.edit-product, .add-product
	.edit-product-variant
		padding: 1em 2em
		border: solid 2px #eeeeee
		border-radius: 6px
		-moz-border-radius: 6px
		-webkit-border-radius: 6px
		background-color: #fcfcfc
		.variant-heading
			.variant-heading-type
				color: #999999
	textarea
		width: 100%
		&.tall
			height: 16em
		&.short
			height: 10.5em

.add-product-right-align
	text-align: right

.badge
	padding 1px 9px 2px
	font-size 12.025px
	font-weight bold
	white-space nowrap
	color #ffffff
	background-color #999999
	-webkit-border-radius 9px
	-moz-border-radius 9px
	border-radius 9px
	&:hover
		color #ffffff
		text-decoration none
		cursor pointer

.badge-error
	background-color #b94a48
	&:hover
		background-color #953b39

.badge-warning
	background-color #f89406
	&:hover
		background-color #c67605

.badge-success
	background-color #468847
	&:hover
		background-color #356635

.badge-info
	background-color #3a87ad
	&:hover
		background-color #2d6987

.badge-inverse
	background-color #333333
	&:hover
		background-color #1a1a1a

.breadcrumb-retailer
	background-color #f5f9fa

.retailer-outstanding
	font-size: 24px;
.retailer-payment
	font-size: 24px;

.retailer
	.panel
		min-height: 15em !important;
	.panel-heading
		min-height: 4.4em;

	ul:not(.nav-tabs)
		padding-left: 40px;
	.payment-date
		line-height: 0px;
	table
		a:hover:not(.btn)
			text-decoration: underline;

.loading-pane 
	position: absolute;
	background: url("http://oi62.tinypic.com/2pqsuc0.jpg");
.not-active
	pointer-events: none;
.loading-pane .spinner-image
	position: absolute;
	width: 100%
	height: 100%
	background: url("http://oi58.tinypic.com/2emfu9w.jpg") center center no-repeat;
	cursor: default;
.chip
	display inline-block
	padding 0 25px
	height 30px
	font-size 14px
	line-height 30px
	border-radius 25px
	background-color #f1f1f1
.closebtn
	padding-left 10px
	color #888
	font-weight bold
	float right
	font-size 20px
	cursor pointer
	&:hover
		color #000

.cropArea
	background #E4E4E4
	overflow hidden
	height 350px

.delete-icon
	&:hover
		color: $accent-color
		transition all 0.2s ease
		-webkit-transition all 0.2s ease
		-moz-transition all 0.2s ease
		-ms-transition all 0.2s ease
		-o-transition all 0.2s ease

.ui-chatbox
	position fixed
	bottom 0
	padding 2px
	background #CCCCCC

.ui-chatbox-titlebar
	padding 3px
	height 30px
	cursor pointer

.ui-chatbox-content
	padding 0px
	margin 0px
	border 0px

.ui-chatbox-log
	padding 3px
	height 170px
	overflow-y auto
	overflow-x hidden
	background #FFFFFF

.ui-chatbox-input
	padding 3px
	border-top 1px solid grey
	overflow hidden

.ui-chatbox-input-box
	margin 5px
	border 2px solid lightgrey
	padding 2px
	height 50px

.ui-chatbox-icon
	float right

.ui-chatbox-input-focus
	border-color #6699FF

.ui-chatbox-msg
	margin-top 10px
	float left
	clear both
	white-space pre-wrap
	white-space -moz-pre-wrap
	white-space -pre-wrap
	white-space -o-pre-wrap
	word-wrap break-word
	
.ui-chatbox
	position fixed
	bottom 0
	padding 2px
	background #CCCCCC

.ui-chatbox-titlebar
	padding 3px
	height 30px
	cursor pointer

.ui-chatbox-content
	padding 0px
	margin 0px
	border 0px

.ui-chatbox-log
	padding 3px
	height 170px
	overflow-y auto
	overflow-x hidden
	background #FFFFFF

.ui-chatbox-input
	padding 3px
	border-top 1px solid grey
	overflow hidden

.ui-chatbox-input-box
	margin 5px
	border 2px solid lightgrey
	padding 2px
	height 50px

.ui-chatbox-icon
	float right

.ui-chatbox-input-focus
	border-color #6699FF

.ui-chatbox-msg
	margin-top 10px
	float left
	clear both
	white-space pre-wrap
	white-space -moz-pre-wrap
	white-space -pre-wrap
	white-space -o-pre-wrap
	word-wrap break-word

.filter-buttons
	button
		height: 32px;
		&:hover
			color: $white-color !important
			background: #337ab7 !important
/* ------ SEARCH STYLING RETAILER ASSORTMENT ------ */
.result-bucket li
	padding 7px 15px

.instant-results
	background #ffffff
	width 100%
	position absolute
	top 100%
	left 0
	border 1px solid rgba(0,0,0, .15)
	border-radius 4px
	-webkit-box-shadow 0 2px 4px rgba(0,0,0, .175)
	box-shadow 0 2px 4px rgba(0,0,0, .175)
	z-index 9

.form-search
	transition all 200ms ease-out
	-webkit-transition all 200ms ease-out
	-ms-transition all 200ms ease-out

.search-form
	position relative
	max-width 100%

.result-link
	.media-body
		font-size 13px
	.media-heading
		font-size 15px
		font-weight 400
	.media-object
		width 100px
		padding 3px
		border 1px solid #c1c1c1
		border-radius 3px

// .result-link:hover,
// .result-link:hover .media-heading,
// .result-link:hover .media-body
// 	text-decoration none
// 	color #4f7593

.result-entry
	& + .result-entry
		border-top 1px solid #ddd
	
@media print
	.top-bar
		display none
	.printOptions
		display none

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.step
	font-size 16px
	font-weight bold

.upgrade-overview
	width: 100%

td.total-price
	border-top: 1px solid #000;