.rzslider
	position relative
	display inline-block
	width 100%
	height 4px
	margin 35px 0 15px 0
	vertical-align middle
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	&.with-legend
		margin-bottom 40px
	span
		position absolute
		display inline-block
		white-space nowrap
	.rz-base
		width 100%
		height 100%
		padding 0
	.rz-bar-wrapper
		left 0
		z-index 1
		width 100%
		height 32px
		padding-top 16px
		margin-top -16px
		box-sizing border-box
	.rz-draggable
		cursor move
	.rz-bar
		left 0
		z-index 1
		width 100%
		height 4px
		background $dark-color
		border-radius 2px
	.rz-selection
		z-index 2
		background $accent-color
		border-radius 2px
	.rz-pointer
		top -8px
		z-index 3
		width 20px
		height 20px
		cursor pointer
		background-color $accent-color
		border-radius 10px
		&:after
			position absolute
			top 6px
			left 6px
			width 8px
			height 8px
			background $white-color
			border-radius 4px
			content ''
		&:hover
			&:after
				background-color $dark-color
		&.rz-active
			z-index 4
			&:after
				background-color $dark-color
	.rz-bubble
		bottom 16px
		padding 1px 3px
		cursor default
	.rz-ticks
		position absolute
		top -3px
		left 0
		z-index 1
		width 100%
		height 0
		margin 0
		list-style none
		box-sizing border-box
	.rz-ticks-values-under
		.rz-tick-value
			top initial
			bottom -32px
	.rz-tick
		position absolute
		top 0
		left 0
		width 10px
		height 10px
		margin-left 11px
		text-align center
		cursor pointer
		background #d8e0f3
		border-radius 50%
		&.rz-selected
			background $accent-color
	.rz-tick-value
		position absolute
		top -30px
		-webkit-transform translate(-50%, 0)
		transform translate(-50%, 0)
	.rz-tick-legend
		position absolute
		top 24px
		max-width 50px
		white-space normal
		-webkit-transform translate(-50%, 0)
		transform translate(-50%, 0)
	&.rz-vertical
		position relative
		width 4px
		height 100%
		padding 0
		margin 0 20px
		vertical-align baseline
		.rz-base
			width 100%
			height 100%
			padding 0
		.rz-bar-wrapper
			top auto
			left 0
			width 32px
			height 100%
			padding 0 0 0 16px
			margin 0 0 0 -16px
		.rz-bar
			bottom 0
			left auto
			width 4px
			height 100%
		.rz-pointer
			top auto
			bottom 0
			left -14px !important
		.rz-bubble
			bottom 0
			left 16px !important
			margin-left 3px
		.rz-ticks
			top 0
			left -3px
			z-index 1
			width 0
			height 100%
		.rz-tick
			margin-top 11px
			margin-left auto
			vertical-align middle
		.rz-tick-value
			top initial
			left 24px
			-webkit-transform translate(0, -28%)
			transform translate(0, -28%)
		.rz-tick-legend
			top initial
			right 24px
			max-width none
			white-space nowrap
			-webkit-transform translate(0, -28%)
			transform translate(0, -28%)
		.rz-ticks-values-under
			.rz-tick-value
				right 24px
				bottom initial
				left initial

.rzslider[disabled]
	cursor not-allowed
	.rz-pointer
		cursor not-allowed
		background-color #d8e0f3
	.rz-draggable
		cursor not-allowed
	.rz-selection
		background #8b91a2
	.rz-tick
		cursor not-allowed
		&.rz-selected
			background #8b91a2