.shop-block
	a[ui-sref], a[ui-href]
		&:not(.btn)
			&:link, &:active, &:focus, &:visited, &:hover
				color: $white-color
				i.fa
					color: $dark-color
				h1, h2, h3, h4, h5, h6
					color: $dark-color
	.panel-shop
		-moz-transition all .3s ease
		-o-transition all .3s ease
		-webkit-transition all .3s ease
		&:hover
			box-shadow 0px 0px 30px rgba(0, 0, 0, 0.2)
		.panel-heading
			padding 20px 10px
			i.fa
				display: inline-block
				width: 100%
				text-align: center
				margin-top 10px
		.list-group-item
			color: $dark-color // color #777777
			border-bottom 1px solid rgba(250, 250, 250, 0.5)
			a.btn
				width: 100%
			i.fa.fa-star
				color: $dark-color
			&:last-child
				border-bottom-right-radius 0px
				border-bottom-left-radius 0px
			&:first-child
				border-top-right-radius 0px
				border-top-left-radius 0px
		.panel-body
			background-color #f0f0f0
			font-size 40px
			color #777777
			padding 20px
			margin 0px