nav
	padding: 1em 0 1em 0
	ul
		float: right
		li
			padding: 0 1em 0 1em
			float: left
			list-style: none
			a
				font-size: 0.9em
				letter-spacing: 0.05em
				color: #45464b
				text-transform: uppercase
			&:hover
				a
					color: $accent-color
.shop
	&.spacing
		margin-top: 3em
	&.top-bar-offset
		margin-top: 70px
	.shop-home-block
		&:not(.featured-products)
			a[href], a[ui-sref]
				&:not(.btn)
					&:hover
						color: $accent-color
						text-decoration: underline
		margin-bottom: 3em
		&.maps
			margin-bottom: -3em
		&.spotlight
			padding: 3em
			background-color: #f7f7f7
			.spotlight-image
				a
					display: block
					height: 28em
					width: 100%
					background-repeat: no-repeat
					background-position: center center
					background-size: cover
			.spotlight-content
				background-color: #f7f7f7
				z-index: 2
				position: relative
				top: -2em
				padding: 2em 2em 0 2em
		&.featured-products
			.btn.call-to-action
				display: block
				width: 15em
				margin: 0 auto
		&.video
			h1, h2, h3, h4, h5, h6, p
				color: $white-color
				width: 100%
				text-align: center
				position: absolute
				z-index: 4
			h1, h2
				top: 40%
			p, h3, h4, h5, h6
				top: 50%
				a
					color: $white-color
			
		&.text
			h2
				font-size: 1.2em
		&.usp
			.usp-item
				padding: 0 1em
				.usp-icon
					i.fa
						float: right
						line-height: 1.8em
						vertical-align: middle
				.usp-content
					h5
						margin: 1em 0 0.3em 0
						&.usp-middle
							vertical-align: middle
							line-height: 3.2em
					p
						font-size: 0.8em
		&.fullwidth-image
			background-repeat: no-repeat
			background-position: center center
			text-align: center
			.fullwidth-image-caption
				position: relative
				color: #ffffff
				h2
					text-shadow: 0 1px 2px rgba(0,0,0,0.6)
					font-weight: bold
				&.mobile
					top: 25% 
				&:not(.mobile)
					top: 40%
		// 	.overlay
		// 		position: absolute
		// 		top: 0
		// 		left: 15px
		// 		right: 15px
		// 		height: 100%
		// 		opacity: 0
		// 		z-index: 2
		// 		transition: opacity .3s ease
		// 		-moz-transition: opacity .3s ease
		// 		-webkit-transition: opacity .3s ease
		// 		-o-transition: opacity .3s ease
		// 		-ms-transition: opacity .3s ease
		// 		background-color: #000000
		&.grid
			padding: 0 1em;
			.col-md-12
				.grid-item
					height: 45em
					.overlay-content
						top: 40%
			.col-md-6
				.grid-item
					height: 25em
					.overlay-content
						top: 35%
			.col-md-4
				.grid-item
					height: 18em
					.overlay-content
						top: 25%
			.col-md-3
				.grid-item
					height: 14em
					.overlay-content
						padding-top: 10%
			.grid-item
				display: block
				height: 100%
				width: 100%
				background-repeat: no-repeat
				background-position: center center
				background-size: cover
				.overlay
					position: absolute
					top: 0
					left: 15px
					right: 15px
					height: 100%
					opacity: 0
					z-index: 2
					transition: opacity .3s ease
					-moz-transition: opacity .3s ease
					-webkit-transition: opacity .3s ease
					-o-transition: opacity .3s ease
					-ms-transition: opacity .3s ease
					background-color: #000000
				.overlay-content
					position: absolute
					top: 0
					left: 30px
					right: 30px
					text-align: center
					z-index: 3
					h1, h2, h3, h4, h5, h6, p, a
						color: $white-color
				&:hover
					.overlay
						opacity: 0.7
						transition: opacity .3s ease
						-moz-transition: opacity .3s ease
						-webkit-transition: opacity .3s ease
						-o-transition: opacity .3s ease
						-ms-transition: opacity .3s ease
	.contact-map
		padding-right: 6em
	span.contact-detail
		display: block

.shop-home.mobile
	.video:first-child
		display: none
		
ul.payment_methods
	list-style: none

h3.steps
	padding-top: 70px;

.carousel-inner img
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	@media (max-width : 768px)
		width: initial !important;

.empty-cart-icon
	vertical-align: middle;
	margin: 5px 0px 10px 10px;