.form-control.redColorClass, .redColorClass
    border: 1px solid red !important

.form-control.greenColorClass, .greenColorClass
	border: 1px solid green !important


.form-control.orangeColorClass, .orangeColorClass
	border: 1px solid orange !important

.outerspan
	display: inline-block;
	
@import '../css/font-awesome.min.css'
@import '../css/bootstrap.min.css'
@import '../css/angular-toggle-switch.css'
@import '../css/angucomplete-alt.css'
@import '../css/angular-input-stars.css'
@import '../css/loading.css'
@import '../css/colorpicker.css'
@import '../css/pricing-table.css'

@import 'colors.styl'

@import 'page-builder-custom.styl'
@import 'custom.styl'
@import 'rzslider.styl'
@import 'buttons.styl'
@import 'layout.styl'
@import 'steps.styl'
@import 'brand.styl'
@import 'filters.styl'
@import 'product-block.styl'
@import 'shop-block.styl'
@import 'product-small.styl'
@import 'products-container.styl'
@import 'news-item-block.styl'
@import 'news-item-small.styl'
@import 'campaign-block.styl'
@import 'product-page.styl'
@import 'brand-page.styl'
@import 'news-item-page.styl'
@import 'shop.styl'
@import 'tags.styl'
@import 'modal.styl'
@import 'form.styl'
@import 'spacings.styl'
@import 'loyalty-program.styl'
@import 'loyalty-watches.styl'
@import 'checkout.styl'
@import 'wholesaler.styl'

@import 'header.styl'
@import 'footer.styl'
@import 'cart.styl'
@import 'calendar.styl'

@import 'home.styl'
@import 'admin.styl'
@import 'retailer.styl'
@import 'portal-home.styl'
@import 'account.styl'