footer .tags
	a[ui-sref], a[href]
		&:not(.btn)
			&:link, &:visited, &:focus, &:active
				background-color: #1d2125
				border-radius: 3px
				-moz-border-radius: 3px
				-webkit-border-radius: 3px
				margin: 0 6px 6px 0
				font-size: 0.8em
				color: #969ca7
				display: inline-block
				float: left
				transition: all .3s ease-in-out
				-webkit-transition: all .3s ease-in-out
				-moz-transition: all .3s ease-in-out
				-o-transition: all .3s ease-in-out
				-ms-transition: all .3s ease-in-out
				padding: 11px 17px
			&:hover
				background-color: $accent-color
				color: $white-color

.content .tags
	a[ui-sref], a[href]
		&:not(.btn)
			&:link, &:visited, &:focus, &:active
				background-color: $dark-color
				padding: 0.7em 1em
				border-radius: 3px
				-moz-border-radius: 3px
				-webkit-border-radius: 3px
				margin: 0 6px 6px 0
				font-size: 0.8em
				color: #969ca7
				display: inline-block
				float: left
				transition: all .3s ease-in-out
				-webkit-transition: all .3s ease-in-out
				-moz-transition: all .3s ease-in-out
				-o-transition: all .3s ease-in-out
				-ms-transition: all .3s ease-in-out
			&:hover
				background-color: $black-color
				color: $white-color