style.
    .red {
        color: red
    }

h1 Nieuwe campagne order
p Er is zojuist een nieuwe order gedaan voor een promotie van een campagne
h3 Campagne
p Naam: #{campaign.name}
p Gelegenheid: #{campaign.occasion}
p Doelgroep: #{task.fbPromotionSettings.targetGroup}

h3 Taak: #{task.nl.name}

if task.comment
    p +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=
    p.red #{task.comment}
    p +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

if campaign.strategy == 'store-promotion'
    - var image = bucket + "loyality-photo/" + fileName;
    ul
        each file in task.files
            li= bucket + file.path


h3 Klant
p Naam: #{user.firstName} #{user.lastNamePrefix} #{user.lastName}


h3 Ruwe data
b Campagne
pre(style="display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; word-break: break-all; word-wrap: break-word; color: #333; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;")
    = JSON.stringify(campaign)

b Gebruiker
pre(style="display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; word-break: break-all; word-wrap: break-word; color: #333; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;")
    = JSON.stringify(user)

b Taak
pre(style="display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; word-break: break-all; word-wrap: break-word; color: #333; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px;")
    = JSON.stringify(task)



    