img(src="https://nieuw.prismanote.com/images/prismanote_logo_large.png" alt="PrismaNote Logo" style="width:300px")
h3 Beste #{user.firstName} #{user.lastNamePrefix} #{user.lastName}
br
br
p Hartelijk dank voor uw bestelling bij #{shop.name}!
p Bijgaand ontvangt u uw factuur met factuurnummer #{order.number}
br
br
p U ontvangt een bericht van #{shop.name} wanneer uw bestelling wordt verzonden. Voor vragen over uw bestelling kunt u gebruik maken van onderstaande gegevens. 
p #{shop.name}
p #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
p #{shop.address.postalCode} #{shop.address.city}
p #{shop.email}
