include layout/notification.pug

// Notification 4
table.full(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
	tr
		td#not4(align="center", style="background-color: #333436;")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// Space
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="40")
							// End Space
							// Space
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="40")
							// End Space
							table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", valign="middle", align="center")
										// Text
										table.fullCenter(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td.fullCenter(valign="middle", width="352", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 67px; color: #ffffff; line-height: 72px; font-weight: 100; word-break:break-all;")
													// [if !mso] <!
													span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
														// <![endif]
														| Hello!
														// [if !mso] <!
													// <![endif]
							table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", valign="middle", align="center")
										table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td(width="100%", height="25")
							table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", valign="middle", align="center")
										table.fullCenter(width="352", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 19px; color: #ffffff; line-height: 26px; font-weight: bold; text-transform: uppercase;")
													// [if !mso] <!
													span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
														// <![endif]
														| Thank you for registering your purchase!
														// [if !mso] <!
													// <![endif]
											tr
												td(width="100%", height="50")
			table.full(width="392", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(align="center", width="20", valign="middle")
					td(align="center", width="352", valign="middle")
						table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center")
							tr
								td(align="center", width="352", valign="middle", bgcolor="#83af9a", style="background-color: rgb(12, 207, 168);")
									.sortable_inner.ui-sortable
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="300", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										// Avatar
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td.avatar125(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%")
																span
																	- var image = bucket + "loyality-photo/" + fileName;
																	a(href=image)
																		img(src=image, alt="Uw aankoopbewijs" width="300", border="0")
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 34px; color: #ffffff; line-height: 44px; font-weight: bold;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novalight', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Your information
																	// [if !mso] <!
																// <![endif]
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| You have warranty until: #{prettyDate(crmUser.endDateWarranty)}
																	br
																	| Price incl. BTW: #{crmUser.priceRange} euro
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 34px; color: #ffffff; line-height: 44px; font-weight: bold;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novalight', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Questions?
																	// [if !mso] <!
																// <![endif]
																	// [if !mso] <!
																// <![endif]
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	|You can contact us:
																	br
																	| #{shop.name}
																	br
																	| #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
																	br
																	| #{shop.address.postalCode} #{shop.address.city}
																	br
																	| #{shop.email}
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="40")
										// --------------- Button Center ---------------
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="300", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														// --------------- Button Center ---------------
														tr
															td(align="center")
																table(border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td(align="center", height="45", bgcolor="#ffffff", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(56, 56, 56); text-transform: uppercase; background-color: rgb(255, 255, 255);")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
																				// <![endif]
																				
																				a(href=shopUrl, style="color: #383838; font-size:15px; text-decoration: none; line-height:35px; width:100%;") Visit our website #{shop.website}
																				// [if !mso] <!
																			// <![endif]
														// --------------- End Button Center ---------------
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#83af9a", object="drag-module-small", style="background-color: rgb(12, 207, 168);")
											tr
												td(width="352", valign="middle")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="60")
										// End Top
					td(align="center", width="20", valign="middle")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// CopyRight
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="40")
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td.fullCenter(valign="middle", width="352", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px;", align="center")
										span
											// [if !mso] <!
											span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
												// <![endif]
												| &copy; #{shop.name}
												// [if !mso] <!
											// <![endif]
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="60")
								tr
									td(width="352", height="1", style="font-size: 1px; line-height: 1px;")  
							// End CopyRight
// End Notification 4