h3 Welkom bij PrismaNote #{firstName} #{lastNamePrefix} #{lastName} !
p U heeft een bestelling geplaatst op Prismanote zonder account. Daarom hebben wij voor u een account aangemaakt.
p Dit account heeft nog geen wachtwoord en u dient een wachtwoord in te stellen zodat u dit account kunt gebruiken en uw bestellingen kunt volgen.
p U kunt inloggen op uw account met de volgende gegevens:

p Gebruikersnaam: #{email}
- var url = 'https://prismanote.com/set-password/' + _id + '/' + verificationCode;

p Klik hier om een wachtwoord in te stellen:
a(href=url) 
   | #{url}
p Deze link is 48 uur geldig vanaf het moment van versturen. Indien de link is verlopen kunt u gebruik maken van de wachtwoord vergeten functie om een wachtwoord in te stellen.
p Na het instellen van het wachtwoord kunt u direct inloggen en uw account gebruiken.