h3 Welkom bij PrismaNote #{firstName} #{lastNamePrefix} #{lastName} !
br
br
p Om uw account te kunnen gebruiken vragen wij uw account te activeren.
p Dat kunt u doen door op de volgende link te klikken. Als de link niet werkt kunt u deze kopiëren en plakken in uw browser.

- var url = 'https://prismanote.com/activate-user/' + _id + '/' + verificationCode;

p Klik hier om uw account te activeren:
a(href=url) 
   | #{url}
p Deze link is 48 uur geldig vanaf het moment van versturen. Indien de link is verlopen kunt u gebruik maken van de wachtwoord vergeten functie om uw account te activeren.