img(src="https://prismanote.com/images/prismanote_logo_large.png" alt="PrismaNote Logo" style="width:300px")
h3 Nieuwe bestelling voor #{shop.name}!
p 
    | Er is zojuist een nieuwe bestelling geplaatst met nummer #{order.number}. 
    | Ga snel naar uw 
    a(href='https://nieuw.prismanote.com/retailer') winkeliersportaal
    |  om deze bestelling te verwerken!
ul
    li Verstuur het artikel. De klant verwacht het artikel volgens de aangegeven verzendtijd
    li Bevestig de verzending en geef indien van toepassing een Track en Trace code mee zodat de klant de verzending kan volgen
    li Artikel toch niet op voorraad of defect? Geef de klant een statusupdate of annuleer de bestelling.

p Met vriendelijke groet,
p PrismaNote