h1 Bedankt!

p Bedankt voor uw aanvraag voor een account op PrismaNote!
p Uw aanvraag wordt momenteel behandeld, u ontvangt binnen 1 werkdag een reactie op uw aanvraag.

p Hieronder volgt een kopie van de gegevens zoals u deze ingevuld heeft:

p Naam: #{user.firstName} #{user.lastNamePrefix} #{user.lastName}
p Winkel: #{interest.shop}
p Email: #{user.email}
if user.phone.mobilePhone
    p Telefoon: #{user.phone.mobilePhone}
else if user.phone.landLine
    p Telefoon: #{user.phone.landLine}

br
h3 Interesses:
if interest[5]
    p Gratis Social Media portal
if interest[6]
    p Marketing ondersteuning
if interest[2]
    p Ontwerp website/webshop
if interest[4]
    p Klanten apps
if interest[3]
    p Info Kassa/ERP software

if interest[3]
    if(interest.cs.noDate)
        p Geen voorkeur voor een demo op een datum
    else
        p Gewenste datum demo: #{interest.cs.date}