include layout/header.pug

div(style='display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;')
    //- This text will shown as 'preview' for the email. Also Android use this for the push notification. The text is not visible as normal body
    | #{email.subject}
    table.email-container(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', width='600', style='margin: auto;')
        tr
            td(style='padding: 20px 0; text-align: center')
                img(src='https://prismanote.com/images/prismanote_logo_large.png', width='200', height='50', alt='PrismaNote logo', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')

    table.email-container(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', width='600', style='margin: auto;')
        //tr
            td(bgcolor='#ffffff')
                img.g-img(src='http://placehold.it/1200x600', width='600', height='', alt='alt_text', border='0', align='center', style='width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
        tr
            td(bgcolor='#ffffff', style='padding: 40px 40px 20px; text-align: center;')
                h1(style='margin: 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;') 
                    | Beste #{user.firstName} #{user.lastNamePrefix} #{user.lastName}
        tr
            td(bgcolor='#ffffff', style='padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: center;')
                p(style='margin: 0;')
                    | Er is nieuws over bestelling #{order.number}! 
                    br
                    | #{shop.name} heeft je bestelling zojuist een nieuwe status gegeven:
                    br
                    | #{order.status[order.status.length-1].status} - #{order.status[order.status.length-1].comment}
        tr
            td(bgcolor='#ffffff', style='padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                table(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', style='margin: auto')
                    tr
                        td.button-td(style='border-radius: 3px; background: #222222; text-align: center;')
                            a.button-a(href='http://prismanote.com', style='background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;')
                                span(style='color:#ffffff;') Naar PrismaNote
        tr
            td(aria-hidden='true', height='40', style='font-size: 0; line-height: 0;')
        tr
            td(bgcolor='#ffffff')
                table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
                    tr
                        td(style='padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                            | Voor vragen over deze bestelling kun je contact opnemen met:
                            br
                            | #{shop.name}
                            br
                            | #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
                            br
                            | #{shop.address.postalCode} #{shop.address.city}
                            br
                            | #{shop.email}