include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
	tr
		td#not6(align="center", style="background-color: #333436;")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Start Top
							table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
								tr
									td.logo(width="600", valign="middle", align="center")
										// Header Text
										table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td(width="100%", height="30")
											tr
												td(width="100%")
													span
														img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
											tr
												td(width="100%", height="30")
						// Mobile Wrapper
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
							tr
								td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
									.sortable_inner.ui-sortable
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Hallo #{crmUser.emailName},
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| 6 Maanden geleden (#{prettyDate(crmUser.fillindate)} hebt u bij ons een sieraad gekocht.
																	| Het is alweer een tijdje geleden dat u ze kocht en we hopen dat u dik tevreden bent.
																	| Hierom hebben we een aantal tips & trucks om uw sieraad op de beste manier te dragen.
																	br
																	br
																	b Tips voor Oorbellen:
																	li Decoratieve elementen en grotere oorbellen passen bij grotere oren omdat ze de gelaatstrekken naar voren brengen.
																	li Oorstekers staan iedereen goed, omdat deze niet de aandacht van de vorm van het oor afleiden. Zorg natuurlijk wel dat ze in verhouding staan tot het formaat van je oorlellen.
																	li Om de aandacht af te leiden van je neus, draag je oorbellen die niet dezelfde lengte of vorm als je neus hebben, of dezelfde vorm als je ogen of mond, die niet je oorlellen bedekken en die niet onder je oorlellen bungelen.
																	li Oorbellen die voor de meeste mensen werken, zijn oorstekers, schelpvormige oorbellen met een diameter van ca. 2,5 cm en ronde of ovale hoepeloorbellen met een diameter van ca. 2,5 cm.
																	li Draag naar je werk geen oorbellen die groter zijn dan ca. 2,5 cm in hoogte en breedte.
																	br
																	br
																	b Tips voor Sieraden:
																	li De kaaklijn is doorslaggevend bij het kiezen van oorbellen en kettingen die je het best staan.
																	li Stem de ketting af op de hals van de kleding die je draagt, om zo het oog niet te verwarren.
																	br
																	br
																	b Tips voor Ringen:
																	li Ringen die langer zijn dan dat ze breed zijn, benadrukken de lengte van lange vingers.
																	li Ringen met een bredere band of gestapelde ringen laten vingers er korter uitzien.
																	li Een ring met een asymmetrische of diagonale zetting kan kortere vingers er langer laten uitzien.
																	li Een ring met een smalle strip die zich uitstrekt over het midden van je vinger laat je hand er breder uitzien. Door ringen te dragen aan al je vingers zal je hand er ook breder uitzien.
																	li Door een ring aan je pink te dragen, benadruk je de buitenste rand van je hand, waardoor deze breder lijkt.
																	li Grote ringen staan het best bij langere vingers en grotere handen.
																	li Bekijk jezelf in een manshoge spiegel om te zien hoe je sieraden je staan, voordat je de deur uitgaat.
																	li De nadruk van elk sieradenensemble is het ‘portretgebied’. Dit is een ovaal, ruwweg de breedte van je gezicht, die in de lengte loopt van je kruin tot één hoofdlengte onder je kin.
																	
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="40")
										// --------------- Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td
																table(border="0", cellpadding="0", cellspacing="0", align="left")
																	tr
																		td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
																				// <![endif]
																				a(href=shopUrl + '/campaigns', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Ontdek meer inspiratie
																				// [if !mso] <!
																			// <![endif]
										// --------------- End Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="35")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Kunnen wij u ergens anders mee helpen?
																	| Bel ons direct op : #{shop.phone.countryCode} #{shop.phone.landLine} en wij zorgen dat u tevreden bent!
																	br
																	br
																	b Contact gegevens:
																	br
																	| #{shop.name}
																	br
																	| #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
																	br
																	| #{shop.address.postalCode} #{shop.address.city}
																	br
																	| #{shop.email}
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="50")
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
									// [if !mso] <!
									span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
										// <![endif]
										| Copyright #{shop.name}
										// <![endif]
									
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="29")
							tr
								td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6