include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
    tr
        td#not6(align="center", style="background-color: #333436;")
            // Mobile Wrapper
            table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
                tr
                    td(width="100%", align="center")
                        .sortable_inner.ui-sortable
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Start Top
                            table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
                                tr
                                    td.logo(width="600", valign="middle", align="center")
                                        // Header Text
                                        table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                            tr
                                                td(width="100%", height="30")
                                            tr
                                                td(width="100%")
                                            span
                                                img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
                                            tr
                                                td(width="100%", height="30")
                        // Mobile Wrapper
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                            tr
                                td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
                                    .sortable_inner.ui-sortable
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                                                table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
                                                            // [if !mso] <!
                                                            span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
                                                                // <![endif]
                                                                | Hallo #{crmUser.emailName},
                                                                // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | 1,5 jaar geleden (#{prettyDate(crmUser.fillindate)}) hebt u bij ons een sieraad gekocht.
                                                                    | Wij wensen dat u gekochte sieraden ook na jaren perfect blijft matchen met uw outfit.
                                                                    | Hier een paar do's en don'ts bij het dragen en opbergen van sieraden.
                                                                    br
                                                                    b DO's
                                                                    br
                                                                    li Bewaar je sieraden op een stofvrije plek op een zachte ondergrond en zorg voor genoeg ruimte tussen de sieraden. Zo heb je de minste kans dat ze beschadigd raken.
                                                                    br
                                                                    li Sluit je sieraden als je ze opbergt. Zo gaan ze minder snel in de knoop. Niets zo irritant als je 's ochtends snel nog even een collier om wil doen en je eerst nog vijf minuten bezig bent met een vervelende knoop. Helemaal als het een heel fijn, smal collier is.
                                                                    br
                                                                    li Heb je een sieraad, bijvoorbeeld een ring, met briljant? Laat deze dan elk jaar door een juwelier nakijken. Hij of zij bekijkt dan of de steen nog goed vastzit. De zetpootjes (waarmee de steen vastzit) worden nagelopen en je ring wordt weer keurig schoongemaakt in een speciaal trilbadje. Echt de moeite waard, want als je een mooie briljant kwijtraakt, ben je een stuk verder van huis.
                                                                    br
                                                                    li Heb je een grote verzameling (kostbare) sieraden en/of horloges? Dan is het handig om een lijstje te maken van je bezittingen. Zo heb je overzicht en het helpt bij de opsporing en teruggave bij een eventuele diefstal (waar we natuurlijk niet van uitgaan).
                                                                    br
                                                                    br
                                                                    b DONT's
                                                                    br
                                                                    li Een veel gemaakte fout: je sieraden in de badkamer bewaren. Het lijkt zo makkelijk, even die mooie oorknoppen of dat leuke collier op je badkamermeubel leggen. Je komt er morgenochtend toch weer om ze vervolgens te gaan dragen. Het is alleen niet zo'n goed idee. De hoge vochtigheid in je badkamer tast je sieraden namelijk aan. En dan hebben we het nog niet eens gehad over hoeveel kleine sieraden zoals oorknopjes ieder jaar wel niet in het afvoerputje terecht komen. Zonde! Bewaar je sieraden daarom op een droge, donkere plaats (zodat ook het licht je sieraden niet kan laten verkleuren). Nog een badkamer-fail: je horloge laten vallen op de keiharde vloertegels. Daar knapt zeker de wijzerplaat meestal niet zo van op ;-)
                                                                    br
                                                                    li Eerst je sieraden om doen en dan pas je parfum opspuiten, is een echte DON'T. Dit geldt ook voor make-up en haarlak. De alcohol in deze producten laten je sieraden verkleuren en dat wil je echt niet. Ook de glans doet het geen goed. Eerst dus je beautyritueel, dan pas je sieraden om doen.
                                                                    br
                                                                    li Douchen met je sieraden om is iets wat heel veel mensen doen. Doe dit alsjeblieft niet. Als je bedenkt dat de hoge vochtigheidsgraad in je badkamer je sieraden al kan aantasten, dan kun je je voorstellen dat een lekkere douchebeurt helemaal funest is.
                                                                    br
                                                                    li Slapen met je sieraden. Ook niet doen! Het is natuurlijk wel lekker makkelijk, vooral als je altijd dezelfde sieraden draagt. Helaas komen in onze juwelierswinkels veel mensen reparaties brengen omdat ze met hun sieraden hebben geslapen. Er zitten dan knikjes in dat ene fijne collier of hij zit totaal in de knoop. Allemaal te vermijden door netjes je sieraden af te doen voordat je gaat slapen.
                                                                    br
                                                                    li Het lijkt een inkoppertje, maar toch: draag je sieraden of horloge ook niet tijdens het sporten. Niet alleen het vocht  maar ook de hoge zuurgraad van je huid tast de sieraden aan. Plus dat het natuurlijk ook gevaarlijk kan zijn, je wil niet ergens achter blijven hangen. Wist je trouwens ook dat sommige mensen van zichzelf al een huid met een hogere zuurgraad hebben, waardoor bijvoorbeeld zilveren sieraden eerder zwarter worden? Dit kun je oplossen door het schoon te maken met een zilverdoek of met een Silver Clean dompelbadje. Let wel op dat je dit alleen bij echt zilveren sieraden doet, voor niet echt zilveren sieraden is dit niet geschikt.
                                                                    br
                                                                    // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="40")
                                        // --------------- Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td
                                                                table(border="0", cellpadding="0", cellspacing="0", align="left")
                                                                    tr
                                                                        td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
                                                                            // [if !mso] <!
                                                                            span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
                                                                                // <![endif]
                                                                                a(href=shopUrl + '/contact', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Heb jij ook nog een tip die we kunnen toevoegen?
                                                                            // [if !mso] <!
                                                                            // <![endif]
                                        // --------------- End Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="35")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | Kunnen wij u ergens anders mee helpen?
                                                                    | Bel ons direct op : #{shop.phone.countryCode} #{shop.phone.landLine} en wij zorgen dat u tevreden bent!
                                                                    br
                                                                    br
                                                                    b Contact gegevens:
                                                                    br
                                                                    | #{shop.name}
                                                                    br
                                                                    | #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
                                                                    br
                                                                    | #{shop.address.postalCode} #{shop.address.city}
                                                                    br
                                                                    | #{shop.email}
                                                                    // [if !mso] <!
                                                                    // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="50")
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
                                // [if !mso] <!
                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                    // <![endif]
                                    | Copyright #{shop.name}
                                    // <![endif]
									
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="29")
                            tr
                                td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6