include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
	tr
		td#not6(align="center", style="background-color: #333436;")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Start Top
							table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
								tr
									td.logo(width="600", valign="middle", align="center")
										// Header Text
										table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td(width="100%", height="30")
											tr
												td(width="100%")
													span
														img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
											tr
												td(width="100%", height="30")
						// Mobile Wrapper
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
							tr
								td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
									.sortable_inner.ui-sortable
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Hallo #{crmUser.emailName},
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Het is alweer een jaar geleden (#{prettyDate(crmUser.fillindate)} dat u bij ons een sierraad kocht.
																	| Hopelijk bent u nog steeds helemaal tevreden.  Laat het ons alstublieft weten. Na een jaar hebben sieraden vaak een pitstop nodig.
																	br
																	br
																	b Algemene schoonmaakregels sieraden.
																	br
																	li Als het sieraad gelijmde stenen bevat, dompel het dan niet onder in warm water. Dit kan de lijm aantasten die de stenen op zijn plaats houdt. Gebruik in plaats van warm water een vochtige doek.
																	li Worden de stenen op zijn plaats gehouden door metalen setting? Dan kunt u gerust het sieraad onderdompelen in (warm) water. Let er wel op dat plotselinge temperatuurverschillen alsnog scheuren kunnen veroorzaken in stenen.
																	li Als het sieraad geen stenen bevat kunt u het gerust in water onderdompelen. Heet water is ook mogelijk.
																	li U kunt uw sieraden eenvoudig thuis zelf reinigen en poetsen. U kunt het ook bij een juwelier laten doen met waarschijnlijk een nog beter resultaat. Daarbij hoef je je ook geen zorgen te maken over de juiste schoonmaaktechnieken.
																	br
																	hr
																	b Hoe maak je zilveren sieraden schoon?
																	br
																	p
																	li Zilveren sieraden hebben meer schoonmaak nodig dan gouden sieraden, omdat ze dof worden (ook wel zwart). Afhankelijk van hoe vies de sieraden zijn, zijn er tal van mogelijkheden om zilveren sieraden schoon te maken. De gemakkelijkste manier om schoon te maken is gewoon met een licht vochtige zachte doek met een klein beetje water en zeep poetsen. Poets het vervoglens na met een droge doek. Voor een iets beter resultaat gebruik je wat schone as (van een sigaret of open haard), of witte tandpasta (zonder bleekmiddel) op een natte doek in plaats van zeep. Voor het beste resultaat gebruikt u een zilverpoets product en volg de instructies van de fabrikant.
																	br
																	hr
																	b Hoe maak je gouden sieraden schoon?
																	br
																	p
																	li Goud kan worden schoongemaakt, net als zilver. Al hoewel het minder snel vies of vet wordt dan zilver kan het nog steeds gebeuren dat goud er na verloop van tijd minder mooi uit ziet. Gebruik een vochtige doek of een zachte tandenborstel, met een klein beetje water en zeep of witte tandpasta.
																	br
																	hr
																	b Platinum schoonmaken?
																	br
																	p
																	li Platina is een zeer dicht metaal dat veel moeilijker te poetsen is dan zilver of goud. U kunt een deel van het vet of vuil verwijderen met een vochtige doek of borstel. Wij raden u aan altijd een professionele juwelier uw platina sieraden te laten onderhouden.
																	hr
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="40")
										// --------------- Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td
																table(border="0", cellpadding="0", cellspacing="0", align="left")
																	tr
																		td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
																				// <![endif]
																				a(ng-show="#{shop.products} == !null", href=shopUrl + '/products', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Bekijk ons assortiment
																				a(ng-show="#{shop.products} == null", href=shopUrl + '/brands', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Bekijk onze merken
																				// [if !mso] <!
																			// <![endif]
										// --------------- End Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="35")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Kunnen wij u ergens anders mee helpen?
																	| Bel ons direct op : #{shop.phone.countryCode} #{shop.phone.landLine} en wij zorgen dat u tevreden bent!
																	br
																	br
																	b Contact gegevens:
																	br
																	| #{shop.name}
																	br
																	| #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
																	br
																	| #{shop.address.postalCode} #{shop.address.city}
																	br
																	| #{shop.email}
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="50")
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
									// [if !mso] <!
									span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
										// <![endif]
										| Copyright #{shop.name}
										// <![endif]
									
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="29")
							tr
								td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6