h3 Hello #{firstName} #{lastNamePrefix} #{lastName},
p You, or someone else, requested an new password for this account on PrismaNote.com
p You can reset your password using this link. When you do nothing, your password or account will not change.
- var url = 'https://prismanote.com/reset-password/' + _id + '/' + verificationCode;

a(href=url) 
   | #{url}

p Deze link is 48 uur geldig vanaf het moment van versturen. Indien de link is verlopen kunt u gebruik maken van de wachtwoord vergeten functie om een wachtwoord in te stellen.