img(src="https://nieuw.prismanote.com/images/prismanote_logo_large.png" alt="PrismaNote Logo" style="width:300px")
h3 #{product.en.name} (EAN: #{product.variants[0].ean}) is toegevoegd aan PrismaNote!
p Beste #{user.firstName} #{user.lastNamePrefix} #{user.lastName},
p 
	| U hebt dit product toegevoegd in het retailer portal, waarna deze nog gecontroleerd moest worden door een administrator. Dat is inmiddels gebeurd en uw product staat op PrismaNote.
	| Ga snel naar uw 
	a(href='https://nieuw.prismanote.com/retailer') winkeliersportaal
	| &nbsp;om het product aan het assortiment van uw webshop toe te voegen!
p Met vriendelijke groet,
p PrismaNote
