include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
    tr
        td#not6(align="center", style="background-color: #333436;")
            // Mobile Wrapper
            table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
                tr
                    td(width="100%", align="center")
                        .sortable_inner.ui-sortable
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Start Top
                            table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
                                tr
                                    td.logo(width="600", valign="middle", align="center")
                                        // Header Text
                                        table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                            tr
                                                td(width="100%", height="30")
                                            tr
                                                td(width="100%")
                                            span
                                                img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
                                            tr
                                                td(width="100%", height="30")
                        // Mobile Wrapper
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                            tr
                                td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
                                    .sortable_inner.ui-sortable
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                                                table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
                                                            // [if !mso] <!
                                                            span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
                                                                // <![endif]
                                                                | Bonjour #{crmUser.emailName},
                                                                // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | 1,5 jaar geleden (#{prettyDate(crmUser.fillindate)}) hebt u bij ons een horloge gekocht.
                                                                    | Nous espérons que vous continuerez à assortir parfaitement votre montre achetée avec votre tenue, même après des années. C'est pourquoi ces 5 embouts de style sont disponibles pour être garantis avec style.
                                                                    br
                                                                    b 1. Portez une montre sur le poignet gauche.
                                                                    br
                                                                    | Il s'agit en fait d'une règle controversée, car officiellement une montre doit être portée sur la main non dominante. 
                                                                    | Si vous êtes à gauche, portez la montre au poignet droit. Dans la pratique, les gens sont bizarres quand vous portez la montre au poignet droit. 
                                                                    | Nous vous recommandons toujours de toujours porter la montre à gauche. Certes, dans une atmosphère formelle, vous ne voulez pas qu'il se passe quelque chose, comme si vous ne compreniez pas l'étiquette. 
                                                                    | Non pas que tout le monde vous parle tout de suite, mais dans votre esprit, vous pouvez déjà être mis dans une certaine boîte. 
                                                                    | Certaines personnes portent délibérément leur montre à droite parce que c'est beau ou pour affirmer qu'elles sont différentes et uniques.
                                                                    br
                                                                    b 2. Laissez la montre correspondre à votre style vestimentaire
                                                                    br
                                                                    | A moins que vous n'ayez une montre de plusieurs milliers d'euros, il est préférable de porter une montre assortie à vos vêtements. 
                                                                    | Porter différentes montres est un beau changement, ce qui vous donne l'impression d'être plus fort en toute occasion. 
                                                                    | Le tableau ci-dessous vous donne une meilleure idée de la montre qui convient à chaque occasion. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Horloge-bij-gelegenheid-tabel.jpg" alt="Horloge stijlen tabel" width="600", border="0")
                                                                    br
                                                                    b Gala, Cravate noir / blanc
                                                                    br
                                                                    | Pour ce genre d'occasions, nous vous recommandons une montre au design élégant. Un qui est moins sportif et moins remarquable. 
                                                                    | Dans le cas d'un gala, le style vestimentaire est contrôlé et est principalement dans les détails. Porter cette montre donne un look beaucoup plus chic. 
                                                                    | Si vous ne portez pas de chaussures rouges, nous déconseillons par exemple le port d'une montre avec bracelet rouge. 
                                                                    br
                                                                    b Formel d'affaires
                                                                    | Pour ce genre d'occasions, nous vous recommandons une montre au design élégant. Un qui est moins sportif et moins remarquable. 
                                                                    | Dans le cas d'un gala, le style vestimentaire est contrôlé et est principalement dans les détails. Porter cette montre donne un look beaucoup plus chic. 
                                                                    | Si vous ne portez pas de chaussures rouges, nous déconseillons par exemple le port d'une montre avec bracelet rouge. 
                                                                    br
                                                                    b Décontracté d'affaires
                                                                    br
                                                                    | Dans le cas d'une réunion d'affaires décontractée, elle peut être un peu plus lâche. Surtout en combinaison avec une paire de jeans soignée, une montre plus frappante brille à merveille. 
                                                                    | Une montre de sport peut bien sûr être bonne, mais elle peut aussi faire rapidement une impression trop forte.
                                                                    br
                                                                    b Casual
                                                                    br
                                                                    | Joli temps libre! Une montre a le pouvoir de donner à chaque tenue décontractée cette touche supplémentaire de flair. 
                                                                    | Avec ce style de vêtement, chaque montre peut être mise en valeur et les conseils ci-dessous sont particulièrement importants à apporter.
                                                                    br
                                                                    b Sportif
                                                                    br
                                                                    | Avec des vêtements de sport ou sportswear, une montre sportive s'adapte. Par exemple, une belle montre de plongée avec un bracelet en plastique. 
                                                                    | En fait, chaque montre est adaptée à tous les styles de montres qui ont une allure particulièrement sportive et surtout pas trop classique.
                                                                    br
                                                                    b 3. Laissez la même couleur revenir à votre tenue
                                                                    br
                                                                    | Lorsque vous portez une montre, il est également important que vous examiniez les bonnes combinaisons de couleurs. La montre a-t-elle un cadran bleu, par exemple? 
                                                                    | Est-ce que c'est beau d'avoir aussi des chaussures bleues ou un jean bleu? 
                                                                    | Un bracelet en cuir noir s'adapte également à d'autres vêtements noirs, tels qu'un anneau noir ou une ceinture noire.
                                                                    br
                                                                    | En plus de la couleur, vous pouvez aussi regarder le contraste. Imaginez que vous allez porter une robe décontractée avec un pull uni dans des couleurs claires et discrètes. 
                                                                    | C'est pas génial de porter une montre noire? 
                                                                    | Le contraste entre la lumière et l'obscurité donne immédiatement un look à la mode et soigné.
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma_traveller_time_blue_web-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 4. Laissez les matériaux retourner à votre tenue
                                                                    br
                                                                    | Cela semble naturel pour certains, mais un bracelet de montre en cuir rehausse d'autres accessoires en cuir tels que bracelets, pochettes ou ceinture. 
                                                                    | Le même principe s'applique au port d'une montre en acier. Ceci s'adapte bien avec une bague ou un bracelet en métal, par exemple. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma-watch-meri-wild-5-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 5. Certaines montres enfreignent toutes les règles
                                                                    br
                                                                    | Il y a des montres qui font exception à la règle. Si vous portez une montre qui est, par exemple, un héritage avec beaucoup de valeur émotionnelle. 
                                                                    | Ces produits vintage sont aussi souvent un sujet de conversation agréable. Votre interlocuteur appréciera particulièrement s'il y a une valeur personnelle, en tant qu'accessoire. 
                                                                    | Le port d'une montre fait également partie de votre identité que vous êtes mieux autorisé à montrer. C'est pourquoi nous sommes un tel fan de montres. 
                                                                    | Il n'est bien sûr jamais erroné d'assortir ces montres à d'autres couleurs et matériaux. 
                                                                    br
                                                                    b Avez-vous d'autres idées pour Montres & Styles?
                                                                    // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="40")
                                        // --------------- Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td
                                                                table(border="0", cellpadding="0", cellspacing="0", align="left")
                                                                    tr
                                                                        td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
                                                                            // [if !mso] <!
                                                                            span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
                                                                                // <![endif]
                                                                                a(href=shopUrl + '/contact', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Faites-nous le savoir!
                                                                            // [if !mso] <!
                                                                            // <![endif]
                                        // --------------- End Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="35")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | On peut vous aider ailleurs?
                                                                    | Appelez-nous directement au: #{shop.phone.countryCode} #{shop.phone.landLine} et nous vous assurerons de votre satisfaction!
                                                                    br
                                                                    br
                                                                    b Coordonnées:
                                                                    br
                                                                    | #{shop.name}
                                                                    br
                                                                    | #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
                                                                    br
                                                                    | #{shop.address.postalCode} #{shop.address.city}
                                                                    br
                                                                    | #{shop.email}
                                                                    // [if !mso] <!
                                                                    // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="50")
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
                                // [if !mso] <!
                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                    // <![endif]
                                    | Copyright #{shop.name}
                                    // <![endif]
									
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="29")
                            tr
                                td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6