include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
	tr
		td#not6(align="center", style="background-color: #333436;")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Start Top
							table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
								tr
									td.logo(width="600", valign="middle", align="center")
										// Header Text
										table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td(width="100%", height="30")
											tr
												td(width="100%")
													span
														img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
											tr
												td(width="100%", height="30")
						// Mobile Wrapper
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
							tr
								td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
									.sortable_inner.ui-sortable
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Hola #{crmUser.emailName},
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Hace 6 meses (#{prettyDate(crmUser.fillindate)} nos compraste un reloj.
																	| Sabemos que un reloj sin daños contribuye de forma óptima a su apariencia.
																	| Por eso tenemos una serie de consejos y camiones para mantener su reloj hermoso.
																	| También puedes venir a la tienda para que te podamos ayudar con esto.
																	br
																	br
																	b Consejo 1:
																	| Pula regularmente tu reloj (también la banda).
																	| Para ello utilizamos un pulimento especial.
																	| Venga a nuestra tienda en un plazo de dos semanas y le daremos a su reloj un pulido gratis!
																	br
																	br
																	b Consejo 2:
																	| Tenga cuidado de no llevar puesto el reloj mientras esté activo cuando esté en peligro de rayarse.
																	| Ciertamente, para los relojes de plata "reales", existe un alto riesgo de que el material relativamente "blando" se raye.
																	br
																	br
																	b Consejo 3:
																	| ¿Necesita una nueva pila o correa de reloj? Tenga en cuenta que la garantía es válida por 1,5 años.
																	| También puede comprar una banda adicional para que pueda llevar el reloj de otras maneras.
																	| Para ver las formas de vestir también vea nuestra "ventana de estilo" (en el pie de página/texto de la boleta) en nuestro sitio web.
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="40")
										// --------------- Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td
																table(border="0", cellpadding="0", cellspacing="0", align="left")
																	tr
																		td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
																				// <![endif]
																				a(href=shopUrl, style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Visite nuestro sitio web
																				// [if !mso] <!
																			// <![endif]
										// --------------- End Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="35")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| ¿Podemos ayudarle en algo más?
																	| Llámenos directamente: #{shop.phone.countryCode} #{shop.phone.landLine} y nos aseguraremos de que esté satisfecho!
																	br
																	br
																	b Datos de contacto:
																	br
																	| #{shop.name}
																	br
																	| #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
																	br
																	| #{shop.address.postalCode} #{shop.address.city}
																	br
																	| #{shop.email}
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="50")
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
									// [if !mso] <!
									span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
										// <![endif]
										| Copyright #{shop.name}
										// <![endif]
									
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="29")
							tr
								td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6