include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
    tr
        td#not6(align="center", style="background-color: #333436;")
            // Mobile Wrapper
            table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
                tr
                    td(width="100%", align="center")
                        .sortable_inner.ui-sortable
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Start Top
                            table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
                                tr
                                    td.logo(width="600", valign="middle", align="center")
                                        // Header Text
                                        table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                            tr
                                                td(width="100%", height="30")
                                            tr
                                                td(width="100%")
                                            span
                                                img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
                                            tr
                                                td(width="100%", height="30")
                        // Mobile Wrapper
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                            tr
                                td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
                                    .sortable_inner.ui-sortable
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                                                table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
                                                            // [if !mso] <!
                                                            span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
                                                                // <![endif]
                                                                | Hallo #{crmUser.emailName},
                                                                // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | 1,5 jaar geleden (#{prettyDate(crmUser.fillindate)}) hebt u bij ons een horloge gekocht.
                                                                    | Wij wensen dat u gekochte horloge ook na jaren perfect blijft matchen met uw outfit. Daarom deze 5 style tips om ook gegarandeerd in stijl te zijn.
                                                                    br
                                                                    b 1. Een horloge dragen doet u aan uw linker pols.
                                                                    br
                                                                    | Dit is eigenlijk een omstreden regel, want officieel moet een horloge gedragen worden aan de niet-dominante hand. 
                                                                    |Als u links bent, behoort u het horloge dus aan de rechter pols dragen. In de praktijk kijken mensen raar op als u het horloge aan de rechter pols draagt. 
                                                                    |Daarom adviseren wij altijd het horloge links te dragen. Zeker in een formele sfeer wilt u niet overkomen, alsof u de etiquette niet begrepen hebt. 
                                                                    |Niet dat iedereen u er gelijk op zal aanspreken, maar in gedachten wordt u misschien al in een bepaald hokje gezet. 
                                                                    |Sommige mensen dragen hun horloge expres rechts omdat het fijner zit of om een statement te maken dat ze anders en uniek zijn.
                                                                    br
                                                                    b 2. Laat het horloge overeenkomen met de uitstraling van uw kledingstijl
                                                                    br
                                                                    |Tenzij u een horloge heeft van enkele duizenden euro’s, kan u het beste een horloge dragen die ook past bij uw kleding. 
                                                                    |Verschillende horloges dragen is dan een leuke afwisseling, waarmee u een sterkere indruk maakt bij een gelegenheid. 
                                                                    |Met onderstaande tabel krijgt u een beter beeld van welk horloge bij welke gelegenheid past. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Horloge-bij-gelegenheid-tabel.jpg", alt="Gelegenheden" width="300", border="0")
                                                                    br
                                                                    b Gala, Black / White Tie
                                                                    br
                                                                    | – Voor dit soort gelegenheden adviseren we een strak design horloge. Eentje die minder sportief en opvallend is. 
                                                                    |Bij een gala is de kledingstijl beheerst en zit het vooral in de details. Het dragen van dit horloge geeft een veel chiquere uitstraling. 
                                                                    |Dus tenzij u rode schoenen aan doet, raden we af om bijvoorbeeld een horloge met een rood bandje om te dragen. 
                                                                    br
                                                                    b Business Formal
                                                                    | – Voor dit soort gelegenheden adviseren we een strak design horloge. Eentje die minder sportief en opvallend is. 
                                                                    |Bij een gala is de kledingstijl beheerst en zit het vooral in de details. Het dragen van dit horloge geeft een veel chiquere uitstraling. 
                                                                    |Dus tenzij u rode schoenen aan doet, raden we af om bijvoorbeeld een horloge met een rood bandje om te dragen. 
                                                                    br
                                                                    b Business Casual
                                                                    br
                                                                    | – Bij business casual mag het allemaal wat losser. Zeker in combinatie met een nette spijkerbroek komt een opvallender horloge schitterend naar voren. 
                                                                    |Een sport horloge kan natuurlijk ook prima, maar kan snel een te krachtige indruk maken.
                                                                    br
                                                                    b Casual
                                                                    br
                                                                    | Heerlijk vrijetijd! Een horloge heeft de kracht om elke casual outfit dat extra beetje flair te geven. 
                                                                    |Met deze kledingstijl kan elk horloge goed tot zijn recht komen en zijn vooral de tips hieronder belangrijk om mee te nemen.
                                                                    br
                                                                    b Sportief
                                                                    br
                                                                    | Met sporten of sportkleding past een sportief horloge. Bijvoorbeeld een mooi duikershorloge met een kunststof band. 
                                                                    |Eigenlijk is elk horloge geschikt dat vooral sportief oogt en vooral niet te klassiek.
                                                                    br
                                                                    b 3. Laat dezelfde kleur terugkomen in uw outfit
                                                                    br
                                                                    | Bij een horloge dragen is het ook belangrijk dat u kijkt naar goede kleurencombinaties. Heeft het horloge bijvoorbeeld een blauwe wijzerplaat? 
                                                                    |Hoe fraai is het dat u dan ook blauwe schoenen of een blauwe spijkerbroek aan hebt? 
                                                                    |Ook een zwart lederen horlogeband past goed bij andere zwarte kledingstukken, zoals een zwarte ring of zwarte broekriem.
                                                                    br
                                                                    | Naast kleur kan u ook kijken naar het contrast. Stel u gaat casual gekleed met een effen trui in rustige en lichte kleuren. 
                                                                    |Hoe geweldig is het dan om een donker horloge te dragen. 
                                                                    |Het contrast tussen licht en donker maakt meteen een modieuze en verzorgde look.
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma_traveller_time_blue_web-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 4. Laat materialen terugkomen in uw outfit
                                                                    br
                                                                    | Het klinkt voor sommige vanzelfsprekend, maar een lederen horlogeband versterkt heel goed andere lederen accessoires, zoals armbandjes, tasjes of een broekriem. 
                                                                    |Hetzelfde principe geldt als u een stalen horloge draagt. Dit past goed bij bijvoorbeeld een metalen ring of armband. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma-watch-meri-wild-5-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 5. Sommige horloges breken alle regels
                                                                    br
                                                                    |Er zijn horloges die een uitzondering zijn op de regels. Als u een horloge draagt dat bijvoorbeeld een erfstuk is met veel emotionele waarde. 
                                                                    |Deze vintage producten zijn ook vaak een leuk gespreksonderwerp. Zeker als er persoonlijke waarde aanhangt, zal uw gesprekspartner het waarderen dat u het als accessoires draagt. 
                                                                    |Een horloge dragen is ook onderdeel van uw identiteit dat je best mag laten zien. Daarom zijn wij ook zo’n fan van horloges. 
                                                                    |Natuurlijk is het nooit verkeerd om ook deze horloges af te stemmen op andere kleuren en materialen. 
                                                                    br
                                                                    b Heeft u meer ideeën voor Horloges & Stijl?
                                                                    // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="40")
                                        // --------------- Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td
                                                                table(border="0", cellpadding="0", cellspacing="0", align="left")
                                                                    tr
                                                                        td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
                                                                            // [if !mso] <!
                                                                            span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
                                                                                // <![endif]
                                                                                a(href=shopUrl + '/contact', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Laat het ons weten!
                                                                            // [if !mso] <!
                                                                            // <![endif]
                                        // --------------- End Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="35")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | Kunnen wij u ergens anders mee helpen?
                                                                    | Bel ons direct op : #{shop.phone.countryCode} #{shop.phone.landLine} en wij zorgen dat u tevreden bent!
                                                                    br
                                                                    br
                                                                    b Contact gegevens:
                                                                    br
                                                                    | #{shop.name}
                                                                    br
                                                                    | #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
                                                                    br
                                                                    | #{shop.address.postalCode} #{shop.address.city}
                                                                    br
                                                                    | #{shop.email}
                                                                    // [if !mso] <!
                                                                    // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="50")
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
                                // [if !mso] <!
                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                    // <![endif]
                                    | Copyright #{shop.name}
                                    // <![endif]
									
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="29")
                            tr
                                td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6