include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
	tr
		td#not6(align="center", style="background-color: #333436;")
			// Mobile Wrapper
			table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Space
							table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="600", height="50")
							// End Space
							// Start Top
							table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
								tr
									td.logo(width="600", valign="middle", align="center")
										// Header Text
										table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
											tr
												td(width="100%", height="30")
											tr
												td(width="100%")
													span
														img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
											tr
												td(width="100%", height="30")
						// Mobile Wrapper
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
							tr
								td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
									.sortable_inner.ui-sortable
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Hallo #{crmUser.emailName},
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Es ist schon ein Jahr her (#{prettyDate(crmUser.fillindate)} dass Sie eine Uhr bei uns gekauft haben.
																	| Hoffentlich sind Sie trotzdem noch vollkommen zufrieden. Wenn dies nicht der Fall ist. Bitte lassen Sie es uns wissen.
																	| Nach einem Jahr brauchen Uhren oft einen Zwischenstop.
																	br
																	| Was ist mit der Batterie der Uhr? Durchschnittliche Akkupacks laufen 1 Jahr lang problemlos. Er wird Ihnen gerne in unserem Geschäft helfen, es zu ersetzen:
																	br
																	li Batterie
																	br
																	li Armband
																	br
																	li Glas
																	br
																	li usw.
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="40")
										// --------------- Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td
																table(border="0", cellpadding="0", cellspacing="0", align="left")
																	tr
																		td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
																				// <![endif]
																				a(href=shopUrl, style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Unsere Website besuchen
																				// [if !mso] <!
																			// <![endif]
										// --------------- End Button Center ---------------
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="35")
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Können wir Ihnen woanders helfen?
																	| Rufen Sie uns direkt an: #{shop.phone.countryCode} #{shop.phone.landLine} und wir sorgen dafür, dass Sie zufrieden sind!
																	br
																	br
																	b Kontaktdaten:
																	br
																	| #{shop.name}
																	br
																	| #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
																	br
																	| #{shop.address.postalCode} #{shop.address.city}
																	br
																	| #{shop.email}
																	// [if !mso] <!
																// <![endif]
										table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
											tr
												td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
													table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="50")
						table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
									// [if !mso] <!
									span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
										// <![endif]
										| Copyright #{shop.name}
										// <![endif]
									
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="30")
						table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
							tr
								td(width="600", height="29")
							tr
								td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6