include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
    tr
        td#not6(align="center", style="background-color: #333436;")
            // Mobile Wrapper
            table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
                tr
                    td(width="100%", align="center")
                        .sortable_inner.ui-sortable
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Start Top
                            table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
                                tr
                                    td.logo(width="600", valign="middle", align="center")
                                        // Header Text
                                        table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                            tr
                                                td(width="100%", height="30")
                                            tr
                                                td(width="100%")
                                            span
                                                img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
                                            tr
                                                td(width="100%", height="30")
                        // Mobile Wrapper
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                            tr
                                td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
                                    .sortable_inner.ui-sortable
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                                                table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
                                                            // [if !mso] <!
                                                            span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
                                                                // <![endif]
                                                                | Hola #{crmUser.emailName},
                                                                // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | Hace 1,5 años, (#{prettyDate(crmUser.fillindate)}) nos compraste un reloj.
                                                                    | Esperamos que su reloj siga igualando a la perfección con el suyo incluso después de años. Por eso es por lo que estos 5 consejos de estilo están disponibles para estar garantizado en el estilo.
                                                                    br
                                                                    b 1. Use un reloj en su muñeca izquierda.
                                                                    br
                                                                    | Esta es una regla controvertida, porque oficialmente se debe usar un reloj en la mano no dominante. 
                                                                    | Si usted es zurdo, debe usar el reloj en la muñeca derecha. En la práctica, las personas se ven extrañas cuando se usa el reloj en la muñeca derecha. 
                                                                    | Siempre recomendamos que siempre lleve puesto el reloj a la izquierda. Ciertamente, en un ambiente formal no quieres que suceda, como si no entendieras la etiqueta. 
                                                                    | No es que todo el mundo te hable de inmediato, pero en tu mente ya puedes ser puesto en una caja determinada. 
                                                                    | Algunas personas llevan deliberadamente su reloj a la derecha porque está bien o para hacer una declaración de que son diferentes y únicos.
                                                                    br
                                                                    b 2. Deje que el reloj coincida con la apariencia de su estilo de ropa
                                                                    br
                                                                    | A menos que tengas un reloj de varios miles de euros, lo mejor es llevar un reloj que también coincida con tu ropa. 
                                                                    | Llevar relojes diferentes es un cambio agradable, que te hace sentir más fuerte en una ocasión. 
                                                                    | La tabla de abajo le da una mejor imagen de qué reloj se ajusta a cada ocasión. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Horloge-bij-gelegenheid-tabel.jpg" alt="Horloge stijlen tabel" width="600", border="0")
                                                                    br
                                                                    b Gala, Corbata Blanco/Negro
                                                                    br
                                                                    | Para este tipo de ocasiones, recomendamos un reloj de diseño elegante. Uno que es menos deportivo y notable. 
                                                                    | En el caso de una gala, el estilo de la ropa es controlado y está principalmente en los detalles. Usar este reloj da un aspecto mucho más elegante. 
                                                                    | Si no lleva zapatos rojos, le desaconsejamos llevar un reloj con correa roja, por ejemplo. 
                                                                    br
                                                                    b Negocios Formal
                                                                    | Para este tipo de ocasiones, recomendamos un reloj de diseño elegante. Uno que es menos deportivo y notable. 
                                                                    | En el caso de una gala, el estilo de la ropa es controlado y está principalmente en los detalles. Usar este reloj da un aspecto mucho más elegante. 
                                                                    | Si no lleva zapatos rojos, le desaconsejamos llevar un reloj con correa roja, por ejemplo. 
                                                                    br
                                                                    b Negocio Casual
                                                                    br
                                                                    | Especialmente en combinación con un elegante par de pantalones vaqueros, un reloj más llamativo brilla maravillosamente. 
                                                                    | Un reloj deportivo también puede, por supuesto, estar bien, pero puede causar rápidamente una impresión demasiado potente.
                                                                    br
                                                                    b Casual
                                                                    br
                                                                    | Precioso tiempo libre! Un reloj tiene el poder de dar a cada equipo casual ese toque extra de elegancia. 
                                                                    | Con este estilo de ropa, cada reloj puede ser mostrado a su mejor ventaja y las extremidades abajo son especialmente importantes traer adelante.
                                                                    br
                                                                    b Deportivo
                                                                    br
                                                                    | Con ropa deportiva o deportiva, un reloj deportivo cabe. Por ejemplo, un hermoso reloj de buceo con correa de plástico. 
                                                                    | De hecho, todos los relojes son adecuados para un aspecto especialmente deportivo y no demasiado clásico.
                                                                    br
                                                                    b 3. Deja que el mismo color vuelva a tu traje.
                                                                    br
                                                                    | Cuando lleve puesto un reloj, también es importante que tenga en cuenta las buenas combinaciones de colores. ¿Tiene el reloj una esfera azul, por ejemplo? 
                                                                    | ¿Qué tan hermoso es que también tengas zapatos azules o vaqueros azules? 
                                                                    | Una pulsera de cuero negro también se ajusta bien con otras prendas de vestir de color negro, como un anillo negro o una pulsera negra.
                                                                    br
                                                                    | Además del color, también puede observar el contraste. Imagínese que va a llevar un vestido casual con un jersey liso en colores tranquilos y claros. 
                                                                    | ¿Qué tan genial es llevar un reloj oscuro? 
                                                                    | El contraste entre la luz y la oscuridad crea inmediatamente un aspecto de moda y cuidado.
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma_traveller_time_blue_web-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 4. Permita que los materiales regresen a su equipo
                                                                    br
                                                                    | Suena natural para algunos, pero una pulsera de cuero para relojes realza otros accesorios de cuero como pulseras, bolsos o un cinturón. 
                                                                    | El mismo principio se aplica cuando se lleva puesto un reloj de acero. Esto encaja bien con un anillo o brazalete de metal, por ejemplo. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma-watch-meri-wild-5-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 5. Algunos relojes rompen todas las reglas
                                                                    br
                                                                    | Hay relojes que son una excepción a las reglas. Si llevas puesto un reloj que es, por ejemplo, una herencia con mucho valor emocional. 
                                                                    | Estos productos vintage son también a menudo un buen tema de conversación. Especialmente si hay un valor personal, su interlocutor lo apreciará como un accesorio. 
                                                                    | Llevar puesto un reloj es también parte de su identidad que se le permite mostrar mejor. Por eso somos tan fanáticos de los relojes. 
                                                                    | Por supuesto, nunca está mal combinar estos relojes con otros colores y materiales. 
                                                                    br
                                                                    b ¿Tiene más ideas para Relojes y Estilos?
                                                                    // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="40")
                                        // --------------- Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td
                                                                table(border="0", cellpadding="0", cellspacing="0", align="left")
                                                                    tr
                                                                        td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
                                                                            // [if !mso] <!
                                                                            span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
                                                                                // <![endif]
                                                                                a(href=shopUrl + '/contact', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Háganoslo saber!
                                                                            // [if !mso] <!
                                                                            // <![endif]
                                        // --------------- End Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="35")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | ¿Podemos ayudarle en otra parte?
                                                                    | Llámenos directamente: #{shop.phone.countryCode} #{shop.phone.landLine} y nos aseguraremos de que esté satisfecho!
                                                                    br
                                                                    br
                                                                    b Datos de contacto:
                                                                    br
                                                                    | #{shop.name}
                                                                    br
                                                                    | #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
                                                                    br
                                                                    | #{shop.address.postalCode} #{shop.address.city}
                                                                    br
                                                                    | #{shop.email}
                                                                    // [if !mso] <!
                                                                    // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="50")
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
                                // [if !mso] <!
                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                    // <![endif]
                                    | Copyright #{shop.name}
                                    // <![endif]
									
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="29")
                            tr
                                td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6