include layout/notification.pug
table.full(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
	tr
		td#not3(align="center", style="background-color: #333436;")
			// Mobile Wrapper
			table.mobile(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
				tr
					td(width="100%", align="center")
						.sortable_inner.ui-sortable
							// Space
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="30")
							// End Space
							// Space
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="50")
							// End Space
						table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", style="border-radius: 5px; box-shadow: rgba(68, 68, 68, 0.2) 0px 0px 7px; background-color: rgb(255, 255, 255);")
							tr
								td(width="352", valign="middle", align="center")
									.sortable_inner.ui-sortable
										// Start Top
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(255, 255, 255);", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													// Header Text
													table.fullCenter(width="300", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="30")
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																	// <![endif]
																	| #{crmUser.emailName}
																	// [if !mso] <!
																// <![endif]
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="40")
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 43px; color: #3f4345; line-height: 48px;")
																// [if !mso] <!
																span(style="font-family: 'proxima_novasemibold', Helvetica; font-weight: normal;")
																	// <![endif]
																	| Tevreden?
																	// [if !mso] <!
																// <![endif]
										table.mobile(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.fullCenter(width="265", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
														tr
															td(width="100%", height="45")
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", bgcolor="#fdba30", style="background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td(width="100%", height="30")
																	tr
																		td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 30px; color: #3f4345; line-height: 34px;")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																				// <![endif]
																				| Over uw aankoop?
																				// [if !mso] <!
																			// <![endif]
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", bgcolor="#fdba30", style="background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td(width="100%", height="30")
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", bgcolor="#fdba30", align="center", style="background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td.fullCenter(valign="middle", align="center", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																			// [if !mso] <!
																			span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																				// <![endif]
																				| Op #{prettyDate(crmUser.fillindate)} heeft u bij ons een aankoop gedaan.
																				| Bent u nog steeds tevreden laat het weten!
																				| Hebt u vragen of opmerkingen of misschien zelfs een klacht?
																				| Bel ons direct op #{shop.phone.countryCode} #{shop.phone.landLine} en wij zorgen dat u tevreden bent!
																				// [if !mso] <!
																			// <![endif]
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", bgcolor="#fdba30", style="background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td(width="100%", height="40")
										// --------------- Button Center ---------------
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", align="center", bgcolor="#fdba30", style="background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td
																			table(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
																				tr
																					td(align="center", height="40", bgcolor="#f0f0f0", style="border-radius: 20px; padding-left: 22px; padding-right: 22px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(34, 32, 32); background-color: rgb(240, 240, 240);")
																						// [if !mso] <!
																						span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
																							// <![endif]
																							a(href=shopUrl + '/reviews', style="color: #222020; font-size:16px; text-decoration: none; line-height:34px; width:100%;") Plaats een review
																							// [if !mso] <!
																						// <![endif]
										// --------------- End Button Center ---------------
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", bgcolor="#fdba30", style="background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td(width="100%", height="60")
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", bgcolor="#fdba30", style="background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td.fullCenter(valign="middle", width="100%", style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
																			// [if !mso] <!
																			span(style="font-family: proxima_nova_rgregular, Helvetica; font-weight: normal; color: rgb(63, 67, 69);")
																				// <![endif]
																				| Voor vragen over uw bestelling kunt u gebruik maken van onderstaande gegevens.
																				|| #{shop.name}
																				br
																				| #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
																				br
																				| #{shop.address.postalCode} #{shop.address.city}
																				br
																				| #{shop.email}
																				// [if !mso] <!
																			// <![endif]
																			
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td.pad15(width="265", bgcolor="#fdba30", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(253, 186, 48);")
																table.full(width="240", border="0", cellpadding="0", cellspacing="0", align="center")
																	tr
																		td(width="100%", height="40")
										table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", object="drag-module-small")
											tr
												td(width="352", valign="middle", align="center")
													table.mobile(width="265", border="0", cellpadding="0", cellspacing="0", align="center")
														tr
															td(width="265", height="50")
										// End Top
						.sortable_inner.ui-sortable
							// Space
							table.full(width="352", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
								tr
									td(width="352", height="30")
							// End Space
							
// End Notification 3
