include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
    tr
        td#not6(align="center", style="background-color: #333436;")
            // Mobile Wrapper
            table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
                tr
                    td(width="100%", align="center")
                        .sortable_inner.ui-sortable
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Start Top
                            table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
                                tr
                                    td.logo(width="600", valign="middle", align="center")
                                        // Header Text
                                        table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                            tr
                                                td(width="100%", height="30")
                                            tr
                                                td(width="100%")
                                            span
                                                img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
                                            tr
                                                td(width="100%", height="30")
                        // Mobile Wrapper
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                            tr
                                td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
                                    .sortable_inner.ui-sortable
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                                                table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
                                                            // [if !mso] <!
                                                            span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
                                                                // <![endif]
                                                                | Hallo #{crmUser.emailName},
                                                                // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | 1,5 jaar geleden (#{prettyDate(crmUser.fillindate)}) hebt u bij ons een horloge gekocht.
                                                                    | Wir hoffen, dass Sie auch nach Jahren noch immer perfekt zu Ihrem Outfit passen werden. Deshalb sind diese 5 Stiltipps erhältlich, die garantiert stilvoll sind.
                                                                    br
                                                                    b 1. Tragen Sie eine Uhr am linken Handgelenk.
                                                                    br
                                                                    | Das ist eigentlich eine umstrittene Regel, denn offiziell muss eine Uhr auf der nicht-dominanten Hand getragen werden. 
                                                                    | Wenn Sie links liegen, sollten Sie die Uhr am rechten Handgelenk tragen. In der Praxis sehen die Leute merkwürdig aus, wenn man die Uhr am rechten Handgelenk trägt. 
                                                                    | Wir empfehlen Ihnen immer, die Uhr immer links zu tragen. Sicherlich in einer formalen Atmosphäre, die Sie nicht möchten, möchten Sie nicht geschehen, als ob Sie die Etikette nicht verstanden hätten. 
                                                                    | Nicht, dass alle sofort mit dir reden würden, aber in deinem Kopf wirst du vielleicht schon in eine bestimmte Kiste gesteckt. 
                                                                    | Manche Leute tragen bewusst ihre Uhr auf der rechten Seite, weil es schön ist oder um eine Aussage zu machen, dass sie anders und einzigartig sind.
                                                                    br
                                                                    b 2. Lassen Sie die Uhr dem Look Ihrer Kleidung entsprechen
                                                                    br
                                                                    | Wenn Sie keine Uhr von mehreren tausend Euro haben, tragen Sie am besten eine Uhr, die zu Ihrer Kleidung passt. 
                                                                    | Das Tragen verschiedener Uhren ist eine schöne Abwechslung, die Sie sich bei Gelegenheit stärker fühlen lässt. 
                                                                    | Die Tabelle unten gibt Ihnen einen besseren Überblick, welche Uhr zu welchem Anlass passt. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Horloge-bij-gelegenheid-tabel.jpg" alt="Horloge stijlen tabel" width="600", border="0")
                                                                    br
                                                                    b Gala, Schwarz / Weiß Krawatte
                                                                    br
                                                                    | Für solche Anlässe empfehlen wir eine schlanke Design-Uhr. Eine, die weniger sportlich und bemerkenswert ist. 
                                                                    | Bei einer Gala wird der Bekleidungsstil kontrolliert und liegt vor allem im Detail. Das Tragen dieser Uhr verleiht ihr einen viel schickeren Look. 
                                                                    | Wenn Sie keine roten Schuhe tragen, raten wir Ihnen z. B. davon ab, eine Uhr mit rotem Armband zu tragen. 
                                                                    br
                                                                    b Geschäftsformal
                                                                    | Für solche Anlässe empfehlen wir eine schlanke Design-Uhr. Eine, die weniger sportlich und bemerkenswert ist. 
                                                                    | Bei einer Gala wird der Bekleidungsstil kontrolliert und liegt vor allem im Detail. Das Tragen dieser Uhr verleiht ihr einen viel schickeren Look. 
                                                                    | Wenn Sie keine roten Schuhe tragen, raten wir Ihnen z. B. davon ab, eine Uhr mit rotem Armband zu tragen. 
                                                                    br
                                                                    b Business Casual
                                                                    br
                                                                    | Im Falle von Business Casual kann es etwas lockerer sein. Vor allem in Kombination mit einer adretten Jeans glänzt eine markantere Uhr besonders schön. 
                                                                    | Eine Sportuhr kann natürlich auch gut sein, kann aber schnell einen übermächtigen Eindruck hinterlassen.
                                                                    br
                                                                    b Freizeit
                                                                    br
                                                                    | Herrliche Freizeit! Eine Uhr hat die Kraft, jedem lässigen Outfit das gewisse Etwas an Flair zu verleihen. 
                                                                    | Mit dieser Art der Kleidung kann jede Uhr am besten zur Geltung gebracht werden und die folgenden Tipps sind besonders wichtig.
                                                                    br
                                                                    b Sportlich
                                                                    br
                                                                    | Bei Sport- oder Sportbekleidung passt eine sportliche Uhr. Zum Beispiel eine schöne Taucheruhr mit Kunststoffarmband. 
                                                                    | Eigentlich ist jede Uhr geeignet, die besonders sportlich und vor allem nicht allzu klassisch aussieht.
                                                                    br
                                                                    b 3. Lassen Sie die gleiche Farbe zu Ihrem Outfit zurückkehren
                                                                    br
                                                                    | Beim Tragen einer Uhr ist es auch wichtig, dass Sie auf gute Farbkombinationen achten. Hat die Uhr zum Beispiel ein blaues Zifferblatt? 
                                                                    | Wie schön ist es, dass du auch blaue Schuhe oder blaue Jeans hast? 
                                                                    | Ein schwarzes Lederarmband passt auch gut zu anderen schwarzen Kleidungsstücken, wie z. B. einem schwarzen Ring oder schwarzem Taillenbund.
                                                                    br
                                                                    | Neben der Farbe können Sie auch den Kontrast ansehen. Stellen Sie sich vor, Sie werden ein lässiges Kleid mit einem schlichten Pullover in ruhigen und hellen Farben tragen. 
                                                                    | Wie toll ist es dann, eine dunkle Uhr zu tragen? 
                                                                    | Der Kontrast zwischen Hell und Dunkel macht ihn zu einem modischen und eleganten Look.
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma_traveller_time_blue_web-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 4. Lassen Sie Materialien zu Ihrem Outfit zurückkehren
                                                                    br
                                                                    | Es klingt für manche natürlich, aber ein Lederuhrarmband wertet andere Lederaccessoires wie Armbänder, Taschen oder einen Gürtel auf. 
                                                                    | Dasselbe Prinzip gilt auch beim Tragen einer Stahluhr. Dies passt z. B. gut zu einem Metallring oder Armband. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma-watch-meri-wild-5-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 5. Manche Uhren brechen alle Regeln
                                                                    br
                                                                    | Es gibt Uhren, die eine Ausnahme von den Regeln sind. Wenn Sie eine Uhr tragen, die z. B. ein Erbe mit viel emotionalen Wert ist. 
                                                                    | Diese Vintage-Produkte sind auch oft ein nettes Gesprächsthema. Gerade wenn es um den persönlichen Wert geht, wird Ihr Gesprächspartner ihn als Zubehör schätzen. 
                                                                    | Das Tragen einer Uhr gehört auch zu Ihrer Identität, die Sie am besten zeigen dürfen. Deshalb sind wir so ein Fan von Uhren. 
                                                                    | Natürlich ist es nie falsch, diese Uhren mit anderen Farben und Materialien zu kombinieren. 
                                                                    br
                                                                    b Haben Sie weitere Ideen für Uhren & Styles?
                                                                    // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="40")
                                        // --------------- Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td
                                                                table(border="0", cellpadding="0", cellspacing="0", align="left")
                                                                    tr
                                                                        td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
                                                                            // [if !mso] <!
                                                                            span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
                                                                                // <![endif]
                                                                                a(href=shopUrl + '/contact', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Lassen Sie es uns wissen!
                                                                            // [if !mso] <!
                                                                            // <![endif]
                                        // --------------- End Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="35")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | Können wir Ihnen woanders helfen?
                                                                    | Rufen Sie uns direkt an: #{shop.phone.countryCode} #{shop.phone.landLine} und wir sorgen dafür, dass Sie zufrieden sind!
                                                                    br
                                                                    br
                                                                    b Kontaktdaten:
                                                                    br
                                                                    | #{shop.name}
                                                                    br
                                                                    | #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
                                                                    br
                                                                    | #{shop.address.postalCode} #{shop.address.city}
                                                                    br
                                                                    | #{shop.email}
                                                                    // [if !mso] <!
                                                                    // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="50")
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
                                // [if !mso] <!
                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                    // <![endif]
                                    | Copyright #{shop.name}
                                    // <![endif]
									
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="29")
                            tr
                                td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6