include layout/notification.pug
// Notification 6
table.full2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#303030", style="background-color: rgb(48, 48, 48);")
    tr
        td#not6(align="center", style="background-color: #333436;")
            // Mobile Wrapper
            table.mobile2(width="100%", border="0", cellpadding="0", cellspacing="0", align="center")
                tr
                    td(width="100%", align="center")
                        .sortable_inner.ui-sortable
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Space
                            table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                                tr
                                    td(width="600", height="50")
                            // End Space
                            // Start Top
                            table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#4edeb5", style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(78, 222, 181);", object="drag-module-small")
                                tr
                                    td.logo(width="600", valign="middle", align="center")
                                        // Header Text
                                        table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                            tr
                                                td(width="100%", height="30")
                                            tr
                                                td(width="100%")
                                            span
                                                img(src="http://rocketway.net/themebuilder/template/templates/notify/images/not6_icon75px.png", width="75", alt="", border="0")
                                            tr
                                                td(width="100%", height="30")
                        // Mobile Wrapper
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                            tr
                                td(width="600", align="center", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", bgcolor="#ffffff")
                                    .sortable_inner.ui-sortable
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                                                table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: #3f4345; line-height: 30px; font-weight: 100;")
                                                            // [if !mso] <!
                                                            span(style="font-family: 'proxima_novathin', Helvetica; font-weight: normal;")
                                                                // <![endif]
                                                                | Hello #{crmUser.emailName},
                                                                // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="30")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | 1.5 years ago (#{prettyDate(crmUser.fillindate)}) you bought a watch from us.
                                                                    | We hope that you will continue to match your purchased watch perfectly with your outfit even after years. That's why these 5 style tips are available to be guaranteed in style.
                                                                    br
                                                                    b 1. Wear a watch on your left wrist.
                                                                    br
                                                                    | This is actually a controversial rule, because officially a watch must be worn on the non-dominant hand. 
                                                                    | If you are left, you should wear the watch on the right wrist. In practice, people look strange when you wear the watch on the right wrist. 
                                                                    | We always recommend that you always wear the watch on the left. Certainly in a formal atmosphere you don't want to happen, as if you didn't understand the etiquette. 
                                                                    | Not that everyone will speak to you right away, but in your mind you may already be put in a certain box. 
                                                                    | Some people deliberately wear their watch on the right because it's fine or to make a statement that they are different and unique.
                                                                    br
                                                                    b 2. Let the watch match the look of your clothing style
                                                                    br
                                                                    | Unless you have a watch of several thousand euros, it is best to wear a watch that also matches your clothing. 
                                                                    | Wearing different watches is a nice change, which makes you feel stronger on an occasion. 
                                                                    | The table below gives you a better picture of which watch fits which occasion. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Horloge-bij-gelegenheid-tabel.jpg" alt="Horloge stijlen tabel" width="600", border="0")
                                                                    br
                                                                    b Gala, Black / White Tie
                                                                    br
                                                                    | For these kinds of occasions, we recommend a sleek design watch. One that is less sporty and notable. 
                                                                    | In the case of a gala, the clothing style is controlled and is mainly in the details. Wearing this watch gives a much more chic look. 
                                                                    | If you don't wear red shoes, we advise against wearing a watch with a red strap, for example. 
                                                                    br
                                                                    b Business Formal
                                                                    | For these kinds of occasions, we recommend a sleek design watch. One that is less sporty and notable. 
                                                                    | In the case of a gala, the clothing style is controlled and is mainly in the details. Wearing this watch gives a much more chic look. 
                                                                    | If you don't wear red shoes, we advise against wearing a watch with a red strap, for example. 
                                                                    br
                                                                    b Business Casual
                                                                    br
                                                                    | In case of business casual it may be a little looser. Especially in combination with a neat pair of jeans, a more striking watch shines out beautifully. 
                                                                    | A sports watch can of course also be fine, but can quickly make an overly powerful impression.
                                                                    br
                                                                    b Casual
                                                                    br
                                                                    | Lovely leisure time! A watch has the power to give every casual outfit that extra touch of flair. 
                                                                    | With this style of clothing, every watch can be shown to its best advantage and the tips below are especially important to bring along.
                                                                    br
                                                                    b Sporty
                                                                    br
                                                                    | With sports or sportswear, a sporty watch fits. For example, a beautiful diver's watch with a plastic strap. 
                                                                    | In fact, every watch is suitable that looks especially sporty and especially not too classic.
                                                                    br
                                                                    b 3. Let the same color return to your outfit
                                                                    br
                                                                    | When wearing a watch, it is also important that you look at good colour combinations. Does the watch have a blue dial, for example? 
                                                                    | How beautiful is it that you also have blue shoes or a blue jeans? 
                                                                    | A black leather watch strap also fits well with other black garments, such as a black ring or black waistband.
                                                                    br
                                                                    | In addition to colour, you can also look at the contrast. Imagine you are going to wear a casual dress with a plain sweater in quiet and light colours. 
                                                                    | How great is it then to wear a dark watch? 
                                                                    | The contrast between light and dark immediately makes a fashionable and well-kept look.
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma_traveller_time_blue_web-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 4. Let materials return to your outfit
                                                                    br
                                                                    | It sounds natural for some, but a leather watch strap enhances other leather accessories such as bracelets, pouches or a belt. 
                                                                    | The same principle applies when wearing a steel watch. This fits well with a metal ring or bracelet, for example. 
                                                                    br
                                                                    img(src="https://prismanote.s3.amazonaws.com/general/Prisma-watch-meri-wild-5-800x400.jpg" alt="mooi blauw mannen horloge dragen" width="600", border="0")
                                                                    br
                                                                    b 5. Some watches break all the rules
                                                                    br
                                                                    | There are watches that are an exception to the rules. If you are wearing a watch that is, for example, a inheritance with a lot of emotional value. 
                                                                    | These vintage products are also often a nice conversation topic. Especially if there is personal value attached, your interlocutor will appreciate it as an accessory. 
                                                                    | Wearing a watch is also part of your identity that you are best allowed to show. That is why we are such a fan of watches. 
                                                                    | It is, of course, never wrong to match these watches with other colours and materials. 
                                                                    br
                                                                    b Do you have more ideas for Watches & Styles?
                                                                    // [if !mso] <!
                                                                // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="40")
                                        // --------------- Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td
                                                                table(border="0", cellpadding="0", cellspacing="0", align="left")
                                                                    tr
                                                                        td(align="center", height="45", bgcolor="#4edeb5", style="border-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(78, 222, 181);")
                                                                            // [if !mso] <!
                                                                            span(style="font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;")
                                                                                // <![endif]
                                                                                a(href=shopUrl + '/contact', style="color: #ffffff; font-size:15px; text-decoration: none; line-height:34px; width:100%;") Let us know!
                                                                            // [if !mso] <!
                                                                            // <![endif]
                                        // --------------- End Button Center ---------------
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="35")
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(valign="middle", width="100%", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #3f4345; line-height: 24px;")
                                                                // [if !mso] <!
                                                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                                                    // <![endif]
                                                                    | Can we help you with something else?
                                                                    | Call us directly: #{shop.phone.countryCode} #{shop.phone.landLine} and we will make sure you are satisfied!
                                                                    br
                                                                    br
                                                                    b Contact details:
                                                                    br
                                                                    | #{shop.name}
                                                                    br
                                                                    | #{shop.address.street} #{shop.address.houseNumber} #{shop.address.houseNumberSuffix}
                                                                    br
                                                                    | #{shop.address.postalCode} #{shop.address.city}
                                                                    br
                                                                    | #{shop.email}
                                                                    // [if !mso] <!
                                                                    // <![endif]
                                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", bgcolor="#ffffff", object="drag-module-small", style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);")
                                            tr
                                                td(width="600", valign="middle", align="center", style="-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;")
                                                    table.fullCenter2(width="540", border="0", cellpadding="0", cellspacing="0", align="center", style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
                                                        tr
                                                            td(width="100%", height="50")
                        table.full2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(valign="middle", width="600", style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #ffffff; line-height: 24px; font-style: italic;")
                                // [if !mso] <!
                                span(style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;")
                                    // <![endif]
                                    | Copyright #{shop.name}
                                    // <![endif]
									
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="30")
                        table.mobile2(width="600", border="0", cellpadding="0", cellspacing="0", align="center", object="drag-module-small")
                            tr
                                td(width="600", height="29")
                            tr
                                td(width="600", height="1", style="font-size: 1px; line-height: 1px;")  
// End Notification 6