.container
    .row(ng-init="loadBrand()")
        .col-md-12
            h3 {{:: "EDIT_BRAND" | translate}}
        .col-md-12
            div(ng-hide="!brand.website")
                a.btn.btn-dark.pull-right.button-margin-right(ui-sref='brand.company-info') {{:: "BACK" | translate}}
            h5 {{:: "BRAND" | translate}}
            .row
            uib-tabset(active)
                uib-tab(heading='{{:: "BRAND_DATA" | translate}}')
                    .row
                        .col-md-4
                            h5 {{:: "GENERAL" | translate}}
                            .form-group
                                label(for="brandname") {{:: "BRAND_NAME" | translate}}
                                input(type="text", ng-model="brand.name" id="brandname", placeholder="Merknaam").form-control
                                label(for="slug") Slug
                                input(type="text", disabled="disabled" ng-model="brand.nameSlug" id="slug", placeholder="Slug").form-control.disabled
                                label(for="description") {{:: "DESCRIPTION" | translate}}
                                textarea(type="text", ng-model="brand.description" id="description", placeholder='{{:: "DESCRIPTION" | translate}}').form-control
                                br
                        .col-md-4
                            h5 {{:: "CONTACT" | translate}}
                            .form-group
                                label(for="email") {{:: "INPUT_EMAILADRESS" | translate}}
                                input(type="text", ng-model="brand.email" id="email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}').form-control
                                label(for="website") {{:: "TEXT_WEBSITE" | translate}}
                                input(type="text", ng-model="brand.website" id="website", placeholder='{{:: "TEXT_WEBSITE" | translate}}').form-control
                                a.btn.btn-light.pull-right(href="http://{{brand.website}}", target='_blank') 
                                    | {{:: "GO_TO_WEBSITE" | translate}}
                                .row
                                label(for="foundingYear") {{:: "FOUNDING_YEAR" | translate}}
                                input(type="number", ng-model="brand.foundingYear" id="foundingYear", placeholder='{{:: "FOUNDING_YEAR" | translate}}').form-control
                                label(for="categories") {{:: "CATEGORIES" | translate}}
                                input(type="text", ng-model="brand.categories" id="categories", placeholder='{{:: "CATEGORIES" | translate}}').form-control
                                label(for="manufacturer") {{:: "MANUFACTURER" | translate}}
                                input(type="text", ng-model="brand.manufacturer" id="manufacturer", placeholder='{{:: "MANUFACTURER" | translate}}').form-control
                        .col-md-4
                            h5 {{:: "OTHER" | translate}}
                            .form-group
                                toggle-switch(id="isfeatured", name="isfeatured", ng-model="brand.isFeatured", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="isfeatured") {{:: "EXPLAIN_ISFEATURED" | translate}}
                                br
                                br
                                toggle-switch(id="restricted", name="restricted", ng-model="brand.restricted", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
                                label(for="restricted") {{:: "EXPLAIN_RESTRICTED" | translate}}
                        .col-md-8.hidden
                            .uib-carousel.hidden-xs.hidden-sm(uib-carousel active="activeSlide" interval="7000")
                                div(uib-slide ng-repeat="slide in brand.images" index="$index" style="height: 500px")
                                    img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
                            .brand-image.hidden-md.hidden-lg
                                img(ng-src="{{awsUrl + brand.images[0].src}}" alt="brand.images[0].alt")
                    hr
                    .row
                        .col-md-4(ng-repeat="image in brand.images")
                            img(src="{{awsUrl}}{{image.src}}")
                            br
                            br
                            div(ngf-drop, ngf-select, ng-model="image.imageFirst", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
                                |{{:: "SELECT_FILE" | translate}}
                                div(ng-show="dropAvailable") {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
                                img(ngf-thumbnail="image.imageFirst")
                            br
                            button(ng-click="imageUpload($index)").btn.btn-lg {{:: "UPLOAD_AND_SAVE" | translate}}
                            input(type="submit", ng-click="deleteImage($index)", value='X').btn.btn-lg.btn-light
                            uib-progressbar(max="100", value="uploadProgress" type="succes", ng-show="upload").progress-striped.active
                                | {{uploadProgress}} / 100
                        .col-md-4
                            br
                            br
                            br
                            br
                            input(type="submit", ng-click="addImage()", value='{{:: "ADD_IMAGE" | translate}}').btn.btn-lg.btn-dark
    br
    .row
        .col-md-12
             input(type="submit", ng-click="updateBrand()", value='{{:: "BUTTON_SAVE" | translate}}').btn.btn-lg.btn-green