.container.edit-campaign(ng-init="getCampaign()")
	h3 {{ "CAMPAIGN" | translate}} {{campaign.name}}
	.block-small
		uib-tabset
			uib-tab(heading="Run through dealer network")
				br
				.col-md-12(ng-init="getCampaigns()")
					.row
					br
					h3 {{ "SOCIAL_PORTALS_OF_SHOPS_USERS" | translate}}
					input.form-control(ng-model="socialPortalFilter", placeholder='{{:: "INPUT_FILTER_SOCIAL_PORTALS" | translate}}')
					br
					img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
					//- .row
					//-     hr
					//-     .col-md-3
					//-         b Aantal portals met te weinig merken (minder dan 10)
					//-         p X
					//-     .col-md-3
					//-         b Aantal portals met te weinig updates (minder dan 10)
					//-         br
					//-         p X
					//-     .col-md-3
					//-         b Aantal portals met dubbele gebruikers
					//-         p X
					//-     .col-md-3
					//-         b Aantal portals die meerdere keren gekoppeld zijn aan dezelfde shop
					//-         p X
					hr
					.row
					.list-group
						a(ng-repeat="portal in socialPortals | filter: socialPortalFilter | orderBy: '-amountOfUpdates' | limitTo:totalDisplayed", ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})").list-group-item
							.col-md-4
								div(ng-repeat="shop in portal.shops") 
									p {{ "SHOP" | translate}}: 
										b {{shop.name}}
										p Portal ID: {{portal._id}}
							.col-md-4
								div(ng-repeat="user in portal.users") 
									p {{ "USER" | translate}}: {{user.name}} ({{user.email}})
								div(ng-if="portal.users.length == 0")
									p {{ "NO_USERS" | translate}}
								div(ng-if="portal.users.length > 1")
									p {{ "TOO_MANY_USERS" | translate}}
							.col-md-4
								div {{ "NUMBER_OF_UPDATES" | translate}}: {{portal.amountOfUpdates}}
								div(ng-if="portal.brands.length > 0 && portal.amountOfUpdates < 10")
									i(style="color: burlywood").fa.fa-flag
									|  {{ "LESS_THAN_TEN" | translate}}
								div(ng-if="portal.brands.length > 0 && portal.amountOfUpdates >= 10")
									i(style="color: forestgreen").fa.fa-check
									|  {{ "MORE_THAN_TEN" | translate}}
								br
								div(ng-if="isUserExist")
									input.btn.btn-green(ng-if="verified", type='submit', ng-click='verifyUser(portal,"verify")' value='{{:: "ACCESS_TO_MARKETING_USER" | translate}}')
									input.btn.btn-danger(ng-if="!verified", type="submit", ng-click='verifyUser(portal,"revert")' value='{{:: "REVERT_ACCESS" | translate}}')
								div(ng-if="!isUserExist")
									.alert.alert-danger() {{ "Marketing User is not created yet" | translate}}
							hr
							.row
							.col-md-12
								p(ng-if="portal.brands.length < 10") {{ "BRANDS" | translate}}: 
									i(style="color: burlywood").fa.fa-diamond
									|  {{ "LESS_THAN_TEN" | translate}}
								p(ng-if="portal.brands.length >= 10") {{ "BRANDS" | translate}}:
									i(style="color: forestgreen").fa.fa-diamond
									|  {{ "ENOUGH" | translate}}
								.btn-group(ng-repeat="brand in portal.brands")
									button.btn.btn.btn-md.button-margin-right {{brand.name}}
										span(ng-if="brand.credit") (credit: {{brand.credit}})
										span(ng-if="!brand.credit") (credit: 0)
							.row
					br
					button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}
					br
					br
					br
					.list-group
						a(ng-repeat="update in updates | limitTo:totalDisplayed", ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})").list-group-item
							div {{update.name}}
							hr
							div {{update.brand.name}}

			uib-tab(heading="Algemeen")
				div(uib-alert, ng-show="campaign.isPublished").alert-warning 
					p
						strong CAUTION &nbsp; {{ "THIS_CAMPAIGN_HAS_BEEN_PUBLISHED_AND_IS_THEREFORE_VISIBLE_TO_EVERYONE" | translate}} 
						a.btn.btn-md.btn-dark(ng-click="campaign.isPublished = false")
						span {{ "CLICK_HERE_TO_MAKE_THE_CAMPAIGN_INVISIBLE_AGAIN" | translate}}
				.row
					.col-md-4.block-small
						h5 {{ "BASIC_DATA" | translate}}
						.form-group
							p
								label(for="campaign-title") {{ "TITLE" | translate}}
								br
								input(type="text" ng-model="campaign.name" placeholder="Naam campagne").form-control#campaign-title
							p
								label(for="campaign-nameslug") Slug
								br
								input(type="text" disabled="disabled" ng-model="campaign.nameSlug" placeholder="Slug").form-control.disabled#campaign-nameslug
							p
								label {{ "DISTRIBUTOR" | translate}}
								span(ng-if="campaign.wholesaler.name") :&nbsp;
									strong(ng-bind="campaign.wholesaler.name")
								br
								angucomplete-alt(id="ex1", placeholder="{{'Kies een distributeur'}}", pause="100", clear-selected="true", selected-object="wholesalerSelected", local-data="wholesalers", local-search="searchWholesalers", title-field="name", minlength="2", input-class="form-control")
							p
								label(for="campaign-is-published") {{ "PUBLISH" | translate}}
								br
								toggle-switch(name="campaign-is-published", ng-model="campaign.isPublished", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")#campaign-is-published
								span &nbsp; {{ "CAMPAIGN_IS_VISIBLE" | translate}}
					.col-md-4.block-small
						h5 {{ "START_DATE" | translate}}
						div(uib-datepicker ng-model="campaign.startDate")
					.col-md-4.block-small
						h5 {{ "FINISH_DATE" | translate}}
						div(uib-datepicker ng-model="campaign.endDate")
					.col-md-4.block-small
						h5 {{ "DETAILS" | translate}}
						p(ng-init="getBrands()")
							label {{ "BRAND" | translate}}
							span(ng-if="campaign.brand.name") :&nbsp;
								strong(ng-bind="campaign.brand.name")
							br
							angucomplete-alt(id="ex1", placeholder="{{'Kies een merk'}}", pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
						p
							label(for="campaign-type") {{ "CAMPAIGN_TYPE" | translate}}
							br
							select(ng-model="campaign.type").form-control#campaign-type
								option(value="winactie") {{ "COMPETITION" | translate}}
								option(value="nieuws") {{ "NEWS" | translate}}
								option(value="blog") {{ "BLOG" | translate}}
								option(value="sfeer") {{ "AMBIANCE" | translate}}
						p
							label(for="campaign-occasion") {{ "OCCASION" | translate}}
							br
							input(type="text" ng-model="campaign.occasion" placeholder="Gelegenheid").form-control#campaign-occasion
						p
							label {{ "LINK_TO_EXTERNAL_PAGE" | translate}}
							br
							input(type="text" ng-model="campaign.url" placeholder="URL").form-control#campaign-url
					.col-md-4.block-small
						h5 {{ "DESCRIPTION" | translate}}
						br
						textarea(ng-model="campaign.description").campaign-description.form-control
					.col-md-4.block-small
						h5 {{ "PICTURES" | translate}}
			uib-tab(heading="Taken")
				.block-small
					h2 {{activeTask}}
					p {{ "CAMPAIGN_IN_MORE_THAN_ONE_LANGUAGE" | translate}}
					.edit-campaign-task.block-small(ng-repeat="task in campaign.tasks" ng-click="activeTask == task.name ? activeTask = null : activeTask = task.name" ng-class="task.type")
						h4.task-heading
							span.task-heading-content
								i.fa.fa-facebook-square(ng-if="task.type =='facebook'")
								i.fa.fa-instagram(ng-if="task.type =='instagram'")
								i.fa.fa-pinterest-square(ng-if="task.type =='pinterest'")
								i.fa.fa-cube(ng-if="task.type =='order'")
								| &nbsp; {{task[taskLanguage].name}}
							span.task-heading-type &nbsp; ({{task.type}})
						.edit-campaign-task-content(uib-collapse="activeTask != task.name")
							.row
								.col-md-4
									p
										label(for="campaign-task-language") {{ "CHOOSE_A_TRANSLATION_TO_EDIT" | translate}}:
										br
										select(ng-model="taskLanguage").form-control#task-language
											option(value="nl") {{:: "DUTCH" | translate}}
											option(value="en") {{:: "ENGLISH" | translate}}
											option(value="de") {{:: "GERMAN" | translate}}
											option(value="fr") {{:: "FRENCH" | translate}}
											option(value="es") {{:: "SPANISH" | translate}}
							.row
								.col-md-4.block-small
									h5 {{ "BASIC_DATA" | translate}}
									p
										label(for="campaign-task-title") {{ "TITLE" | translate}}
										br
										input(type="text" ng-model="task[taskLanguage].name" placeholder="Titel").form-control#campaign-task-title
									p
										label(for="campaign-task-nameslug") Slug
										br
										input(type="text" disabled="disabled" ng-model="task[taskLanguage].nameSlug" placeholder="Geen nameSlug!").form-control.disabled#campaign-task-nameslug
								.col-md-4.block-small
									h5 {{ "START_DATE" | translate}}
									div(uib-datepicker ng-model="task.startDate")
								.col-md-4.block-small
									h5 {{ "END_DATE" | translate}}
									div(uib-datepicker ng-model="task.endDate")
								.col-md-4.block-small
									h5 {{ "DESCRIPTION" | translate}}
									p
										textarea(ng-model="task[taskLanguage].description").campaign-task-description.form-control
								.col-md-4.block-small
									h5 {{ "DETAILS" | translate}}
									p
										label(for="campaign-task-type") {{ "KIND_OF_TASKS" | translate}}
										br
										select(ng-model="task.type").form-control#task-type
											option(value="facebook").facebook Facebook
											option(value="instagram").instagram Instagram
											option(value="pinterest").pinterest Pinterest
											option(value="order").order {{ "ORDERING_TASK" | translate}}
									p
										label(for="campaign-task-mandatory") 
											i.fa.fa-check
											span {{ "MANDATORY_YES_NO" | translate}}
								.col-md-4.block-small
									h5 {{ "PICTURES" | translate}}
			uib-tab(heading="Nieuwsbericht")
				.block-small
		input(type="submit", ng-click="updateCampaign(true)", value="Opslaan").btn.btn-green
