.container.portal
	.row    
		.form-horizontal
			.col-md-8
				h3 {{:: "WELCOME" | translate}} 
					a(ui-sref="brand.myuser") 
						| {{user.firstName}} 
					| {{:: "AT_YOUR_BRAND_MARKETING_PORTAL" | translate}} 
				br
				//- h1 {{names}}
				//- p
				//- 	a(ui-sref="{{getShopType()}}.home({nameSlug: selectedShop})")
				//- 		i.fa.fa-home
				//- 		span &nbsp;{{:: "BACK_TO_MY_SHOP" | translate}}
			.col-md-4.pull-right.search.search-retailer.hidden
				input(id="search" type="text" placeholder='{{:: "INPUT_SEARCH" | translate}}')
				label.fa.fa-search.fa-lg(for="search")
	.row
			.col-md-5
					.panel
							.panel-heading {{:: "CONTRIBUTION_DEALERNETWORK" | translate}} 
							.panel-body
									.row
											.col-md-6
													a(ui-sref="brand.performance")
															i.fa.fa-connectdevelop.fa-4x
															h6.text-center {{:: "PERFORMANCE" | translate}}
											.col-md-6.hidden
													a.menublock(ui-sref="brand.shops")
															i.fa.fa-building-o.fa-4x
															h6.text-center {{:: "SHOPS" | translate}}
											.col-md-5
													a.menublock(ui-sref="brand.marketingUser")
															i.fa.fa-user.fa-4x
															h6.text-center {{:: "MARKETING USER" | translate}}
			.col-md-6
					.panel
							.panel-heading {{:: "TEXT_HEAD_MARKETING_RETAILER_HOME" | translate}}
							.panel-body
									.col-md-4
											a(ui-sref="brand.new-campaign")
													i.fa.fa-calendar-plus-o.fa-4x
													h6.text-center {{:: "DRAW_NEW_CAMPAIGN" | translate}}
									.col-md-4
										//-div(ng-show="openTasks <= 0")
										div
											a(ui-sref="brand.campaigns")
													i.fa.fa-calendar-o.fa-4x
													h6.text-center {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
										div(ng-show="openTasks > 0").text-center
											a(ui-sref="brand.campaigns")
													span.fa-stack.fa-2x
														i.fa.fa-calendar-o.fa-stack-2x
														span.fa-stack-1x.calendar-text
															span.badge(ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'") {{openTasks}}
																|	
													h6.text-center {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
									.col-md-4.hidden
											a(ui-sref="brand.news")
													i.fa.fa-newspaper-o.fa-4x
													h6.text-center {{:: "NEWS" | translate}}		
	.row
			.col-md-2.hidden
					.panel
							.panel-heading {{:: "TEXT_HEAD_TO_DO_LIST_RETAILER_HOME" | translate}}
							.panel-body
									.list-group
													a(ng-repeat="task in selectedShop.tasks").list-group-item.clearfix
															| {{task.name}}
			.col-md-6.hidden
					.panel
							.panel-heading {{:: "PROCUTINFORMATION_PRICE_LEVELS" | translate}}
							.panel-body
									.col-md-4
											a(ui-sref="brand.assortment")
													i.fa.fa-edit.fa-4x
													h6.text-center {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
									.col-md-4
										div(ng-show="openOrders <= 0")
											a(ui-sref="brand.orders")
												i.fa.fa-line-chart.fa-4x
												h6.text-center {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
										div(ng-show="openOrders > 0").text-center
											a(ui-sref="brand.orders")
												span.fa-stack.fa-2x
													i.fa.fa-line-chart.fa-stack-2x
													span.fa-stack-1x.calendar-text
														span.badge.badge-warning {{openOrders}}
												h6.text-center {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
									.col-md-4.hidden
											a(ui-sref="brand.financial")
													i.fa.fa-euro.fa-4x
													h6.text-center {{:: "FINANCIAL" | translate}}
									.col-md-3.hidden
											a.menublock
													i.fa.fa-cloud-upload.fa-4x
													h6.text-center {{:: "TEXT_HEAD_CLOUD_LINK_RETAILER_HOME" | translate}}
			.col-md-6
					.panel
							.panel-heading {{:: "TEXT_HEAD_SETTINGS_RETAILER_HOME" | translate}}
							.panel-body
									.row
											.col-md-6
													a.menublock(ui-sref="brand.company-info")
															i.fa.fa-home.fa-4x
															h6.text-center {{:: "COMPANY_AND_BRAND_INFO" | translate}}
											.col-md-6
													a.menublock(ui-sref="brand.myuser")
															i.fa.fa-user.fa-4x
															h6.text-center {{:: "TEXT_HEAD_MYPROFILE_RETAILER_HOME" | translate}}
	.row
			.col-md-3
					.panel
							.panel-heading {{:: "TEXT_HEAD_WHY_PRISMANOTE_RETAILER_HOME" | translate}}
							div(ng-if="language =='nl'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286133?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='en'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286152?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='de'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286113?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='fr'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286152?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='es'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286152?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			.col-md-3
					.panel
							.panel-heading {{:: "TRANSLATION_TOOL" | translate}}
							div(ng-if="language =='nl'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286365?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='en'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='de'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='fr'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
							div(ng-if="language =='es'")
								.panel-body(style="padding: 5px 0 0 0; text-align: center")
										iframe(src="https://player.vimeo.com/video/197286404?color=0ccfa8&title=0&byline=0&portrait=0" width="75%" height="90%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			.col-md-2.hidden
					.panel
							.panel-heading {{:: "TEXT_HEAD_PURCHASE_RETAILER_HOME" | translate}}
							.panel-body
									a.menublock(ui-sref="brand.suppliers")
											i.fa.fa-truck.fa-4x
											h6.text-center {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}}
			.col-md-2
					.panel
							.panel-heading {{:: "TEXT_HEAD_INFO_RETAILER_HOME" | translate}}
							.panel-body
									.row
											a.menublock(href="https://prismanotevoorjuweliers.nl/brand-promotiom" target="_blank")
													i.fa.fa-info-circle.fa-4x
													h6.text-center {{:: "TEXT_HEAD_INFOANDPREMIUMSERVICES_RETAILER_HOME" | translate}}