.container
  .row
    .col-md-12(ng-init='loadUser()')
      h3 {{:: "EDIT_MARKETING_USER" | translate}}
      a.btn.btn-dark.pull-right(ui-sref='brand.home') {{:: "BACK" | translate}}
      br
      .row(ng-if="!isUserExist")
        form(name="mForm" novalidate='novalidate')
          .col-md-4
            .form-group
              label(for='firstName') {{:: "TEXT_FIRSTNAME" | translate}}
              input#firstName.form-control(type='text', ng-model='muser.firstName', placeholder='{{:: "TEXT_FIRSTNAME" | translate}}' ng-required="true")
              label(for='lastNamePrefix') {{:: "TEXT_INSERTION" | translate}}
              input#lastNamePrefix.form-control(type='text', ng-model='muser.lastNamePrefix', placeholder='{{:: "TEXT_INSERTION" | translate}}' ng-required="true")
              label(for='lastName') {{:: "TEXT_LASTNAME" | translate}}
              input#lastName.form-control(type='text', ng-model='muser.lastName', placeholder='{{:: "TEXT_LASTNAME" | translate}}' ng-required="true")
              br
              label(for='mission') {{:: "MISSION_OF_THE_MARKETING_EMPLOYEE" | translate}}
              textarea#mission.form-control(ng-model='muser.mission', rows="10" style="border-radius:17px !important" ng-required="true")
          .col-md-4
            .form-group
              label(for='email') {{:: "TEXT_EMAILADRESS" | translate}}
              input#email.form-control(type='text', ng-model='muser.email', placeholder='{{:: "TEXT_EMAILADRESS" | translate}}' ng-required="true")
              //- label(for='username') {{:: "USERNAME" | translate}}
              //- input.form-control(type='text', ng-model='muser.username', placeholder='{{:: "USERNAME" | translate}}' ng-required="true")
              label(for='password') {{:: "PASSWORD" | translate}}
              input#password.form-control(type='password', ng-model='muser.password', placeholder='{{:: "PASSWORD" | translate}}' ng-required="true")
              label(for='confirmPassword') {{:: "CONFIRM_PASSWORD" | translate}}
              input#confirmPassword.form-control(type='password', ng-model='muser.passwordCompare', placeholder='{{:: "CONFIRM_PASSWORD" | translate}}' ng-required="true")
              label(for='phone') {{:: "PHONE" | translate}}
              input#phone.form-control(type='text', ng-model='muser.phone', placeholder='{{:: "PHONE" | translate}}' ng-required="true")
              label(for='gender') {{:: "SEX" | translate}}
              select.form-control(ng-model='muser.gender', ng-options="o.v as o.n for o in [{ n: 'Woman', v: false }, { n: 'Man', v: true }]" ng-required="true")
              br
              label(for='gender') {{:: "PICTURE_OF_MARKETING_EMPLOYEE" | translate}}
              .drop-box(ng-hide='task.completed', ngf-select="selectFiles($files)", ng-model="muser.picFile" ng-required="true")
                p {{:: "SELECT_A_PHOTO" | translate}}
              label(for='alttext') {{:: "ALT_TEXT(SEO)" | translate}}
              input#alttext.form-control(type='text', ng-model='muser.altText', placeholder='{{:: "ALT_TEXT(SEO)" | translate}}' ng-required="true")
              br
          .col-md-4
            .form-group
              br
              br
              img#storeImgId(ngf-thumbnail="muser.picFile")
              //- img(src="https://prismanotetest.s3.amazonaws.com/marketing-files/statement-piece-2.jpg", alt="")
              br
              br
              button.btn.btn-danger(ng-click="muser.picFile = null" ng-show="muser.picFile") {{:: "REMOVE_IMAGE" | translate}}
              br
          .row
            .col-md-12
              input.btn.btn-lg.btn-green(type='submit', ng-click='updateUser(muser)' ng-disabled="mForm.$invalid" ng-class="{ 'disabled' : mForm.$invalid}" value='{{:: "SAVE" | translate}}')
              br
              .alert.alert-danger(ng-if="alertdanger") {{saveMessage | translate}}
              .alert.alert-success(ng-if="alertsuccess") {{saveMessage | translate}}
              //input.btn.btn-lg(type='button', ng-click='openResetPasswordModal(user._id)', value='{{:: "CHANGE_PASSWORD" | translate}}')
          .row
          br

      //- .row
      //-   .col-md-4
      //-     h4 {{:: "ADDRESSES" | translate}}
      //-     button.btn.btn-green(ng-click='newAddress()') {{:: "NEW_ADDRESS" | translate}}
      //-     br
      //-     br
      //-     .list-group
      //-       a.list-group-item.clearfix(ng-repeat='address in user.address', ng-click='openAddress($index)', ng-class="{'active': currentAddress.index == $index}")
      //-         span
      //-           | {{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}
      //-         span.pull-right.button-group
      //-           i.fa.fa-times(ng-click='deleteAddress($index)')
      //-     .row(ng-hide="user.role == 'user'")
      //-       h4 Company's
      //-       | ({{:: "USER_RIGHTS_FOR_SHOPS_CONTACT_ADMIN" | translate}})
      //-       .col-md-12
      //-         .list-group
      //-           a.list-group-item.clearfix(ng-repeat='shop in user.shops', ng-click='openShop($index)', ng-class="{'active': currentShop.index == $index}")
      //-             span {{shop.name}} ({{shop.type}})
      //-             span.pull-right.button-group
      //-   .col-md-4
      //-     .form-group(ng-show='currentAddress || addNewAddress')
      //-       h4 {{:: "EDIT_ADDRESS" | translate}}
      //-       label(for='street') {{:: "TEXT_ADDRESS" | translate}}
      //-       input#street.form-control(type='text', ng-model='currentAddress.street', placeholder='{{:: "TEXT_ADDRESS" | translate}}')
      //-       label(for='housenumber') {{:: "TEXT_NUMBER" | translate}}
      //-       input#housenumber.form-control(type='text', ng-model='currentAddress.houseNumber', placeholder='{{:: "TEXT_NUMBER" | translate}}')
      //-       label(for='housenumbersuffix') {{:: "TEXT_ADDITION" | translate}}
      //-       input#housenumbersuffix.form-control(type='text', ng-model='currentAddress.houseNumberSuffix', placeholder='{{:: "TEXT_ADDITION" | translate}}')
      //-       label(for='postalcode') {{:: "TEXT_ZIP" | translate}}
      //-       input#postalcode.form-control(type='text', ng-model='currentAddress.postalCode', placeholder='{{:: "TEXT_ZIP" | translate}}')
      //-       label(for='city') {{:: "TEXT_CITY" | translate}}
      //-       input#city.form-control(type='text', ng-model='currentAddress.city', placeholder='{{:: "TEXT_CITY" | translate}}')
      //-       label(for='country') {{:: "TEXT_COUNTRY" | translate}}
      //-       input#country.form-control(type='text', ng-model='currentAddress.country', placeholder='{{:: "TEXT_COUNTRY" | translate}}')
      //-       input.btn.btn-lg.btn-green(type='button', ng-click='pushAddress()', ng-show='addNewAddress', value='{{:: "ADD" | translate}}')
      //-       input.btn.btn-lg(type='button', ng-click='cancelNewAddress()', ng-show='addNewAddress', value='{{:: "CANCEL" | translate}}')
      //-     .row.hidden(ng-show='currentShop')
      //-       h4 {{:: "EDIT_SHOP" | translate}}
      //-       br
      //-       br
      //-       .col-md-6 {{currentShop.name}} 
      //-       .col-md-6
      //-         select#shoptype.form-control(ng-model='currentShop.type')
      //-           option(value='shop') {{:: "SHOP" | translate}}
      //-           option(value='pro-shop') {{:: "PRO_SHOP" | translate}} 
      //-     .row(ng-show='currentPhone || addNewPhone')
      //-       h4 {{:: "EDIT_PHONE" | translate}}
      //-       label(for='countryCode') {{:: "COUNTRY_CODE" | translate}}
      //-       input#countryCode.form-control(type='text', ng-model='currentPhone.countryCode', placeholder='{{:: "COUNTRY_CODE" | translate}}')
      //-       label(for='phone') {{:: "TEXT_PHONE" | translate}}
      //-       input#phone.form-control(type='text', ng-model='currentPhone.landLine', placeholder='{{:: "TEXT_PHONE" | translate}}')
      //-       label(for='mobile') {{:: "MOBILE" | translate}}
      //-       input#mobile.form-control(type='text', ng-model='currentPhone.mobilePhone', placeholder='{{:: "MOBILE" | translate}}')
      //-       label(for='fax') {{:: "FAX" | translate}}
      //-       input#mobile.form-control(type='text', ng-model='currentPhone.fax', placeholder='{{:: "FAX" | translate}}')
      //-       input.btn.btn-lg.btn-green(type='button', ng-click='pushPhone()', ng-show='addNewPhone', value='{{:: "ADD" | translate}}')
      //-       input.btn.btn-lg(type='button', ng-click='cancelNewPhone()', ng-show='addNewPhone', value='{{:: "CANCEL" | translate}}')
      //-   .col-md-4
      //-     h4 {{:: "PHONE_NUMBERS" | translate}}
      //-     button.btn.btn-green(ng-click='newPhone()') {{:: "NEW_PHONE_NUMBER" | translate}}
      //-     br
      //-     br
      //-     .list-group
      //-       a.list-group-item.clearfix(ng-repeat='phone in user.phone', ng-click='openPhone($index)', ng-class="{'active': currentPhone.index == $index}")
      //-         span {{phone.countryCode}} {{phone.mobilePhone || phone.landLine}}
      //-         span.pull-right.button-group
      //-           i.fa.fa-times(ng-click='deletePhone($index)')       
      br
      .list-group(ng-if="isUserExist")
                a(ng-repeat="portal in marketingUserData").list-group-item
                    .col-md-4
                        div() 
                            p  {{portal.firstName}} {{portal.lastName}} 
                    .col-md-4
                        div()
                            p {{:: "IS_VERIFIED" | translate}}: {{portal.isVerified}}
                    .col-md-4
                        div()
                            button.btn.btn-danger(ng-click="removeUser(portal.brandPortalId)") {{:: "REMOVE_USER" | translate}}
                    .row
                    .col-md-12
                        p() {{:: "EMAIL" | translate}}: 
                            i(style="color: burlywood").fa.fa-diamond
                            |  {{portal.email}}
                    hr
                    .row    
