.container.edit-campaign
	div
	.row
		br
		uib-progressbar(value=2, ng-show="chosenStrategy=='notChosen' || activeTab == 0") 1
		uib-progressbar.progress-striped.active(value='progressBar' ng-show="campaign.strategy=='local-plump' && activeTab != 0") {{valueLocalPlump}} {{:: "ADVANCED_LOCAL_PLUMP" | translate}}
		uib-progressbar.progress-striped(value='progressBar' ng-show="campaign.strategy=='target-search' && activeTab != 0") {{valueTargetSearch}} {{:: "EFFECTIVE_TARGET_SEARCH_MISSILE" | translate}}
		uib-progressbar(value='progressBar' ng-show="campaign.update == true && activeTab != 0") {{valueUpdate}} {{:: "ORDINARY_UPDATE" | translate}}
	.row
		//- alert should tell if the wholesaler got activities from jewellers where he needs to participate in. It should work only when is is logged-in
		uib-tabset(active='activeTab')
			uib-tab(index='0', ui-sref='tab0', ng-hide='true' heading='DESIGN_CAMPAIGN')
				a.btn.btn-dark.pull-right(ui-sref='brand.home' ng-show="user") {{:: "BACK" | translate}}
				h3(ng-show="hideDesignOptions") {{:: "DESIGN_CAMPAIGN" | translate}}
				form(name="step0" ng-show="hideDesignOptions")
					.row
						.col-md-4
							h5 {{:: "PROMOTION_TITLE" | translate}}:
							input.form-control(type="text" ng-model="campaign.name" name="campaignName" ng-required="true" placeholder='{{:: "PROMOTION_TITLE" | translate}}' uib-tooltip-html='"{{:: "EXPLAIN_WHO_SEES_TITLE_DEALERS_CONSUMERS" | translate}}"' max-width='100%' )
							div(ng-init="getWholesalerBrands()")
								h5 {{:: "BRAND" | translate}}: &nbsp;
									strong(ng-bind="campaign.brand.name")
								angucomplete-alt(id="brand", placeholder='{{:: "CHOOSE_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
						.col-md-4
							h5 {{:: "CAN_BE_USED_FROM" | translate}}
							.input-group
								input(type="text", id="datepicker" uib-datepicker-popup="EEE dd-MM-yyyy (Week: w)", ng-model="campaign.startDate", name="campaignStartDate",ng-change="getStartDate(campaign)", ng-required="true", datepicker-options="startDateOptions"  uib-tooltip-html='"{{:: "INFO_ABOUT_HOW_STARTDATE_WILL_BE_USED" | translate}}"' is-open="startDate", close-text="Sluiten" ng-disabled="task.completed").form-control
								span.input-group-btn
									button(type="button" ng-click="startDate =! startDate").btn.btn-default
										span.i.fa.fa-calendar
							h5 {{:: "FINAL_DATE_OF_USE" | translate}}
							.input-group
								input(type="text", uib-datepicker-popup="EEE dd-MM-yyyy (Week: w)", ng-model="campaign.endDate", name="campaignEndDate", ng-required="true",ng-change="getEndDate(campaign)", datepicker-options="{minDate: campaign.startDate, maxDate: todayPlusHunderdDays}" is-open="endDate", close-text="Sluiten" ng-disabled="task.completed").form-control
								span.input-group-btn
									button(ng-disabled="task.completed" type="button" ng-click="endDate =! endDate").btn.btn-default
										span.i.fa.fa-calendar
					.row(style="padding-top: 20px;")
						.col-md-12
							h5 {{:: "CHOOSE_A_STRATEGY_BY_CLICKING_DIFFERENT_BUTTONS" | translate}}
						.col-md-12.text-center
							.col-md-4
								a.btn.btn-lg.btn-primary(ng-class="{ 'btn-disabled' : campaign.strategy && campaign.strategy != 'target-search' || campaign.update == true}" ng-click="campaignStrategy('target-search'); campaign.update = false") {{:: "TARGET_MISSILE" | translate}}
							.col-md-4.hidden
								a.btn.btn-lg.btn-primary(ng-class="{ 'btn-disabled' : campaign.strategy && campaign.strategy != 'local-plump' || campaign.update == true}" ng-click="campaignStrategy('local-plump'); campaign.update = false") {{:: "LOCAL_PLUMP" | translate}}
							.col-md-4
								a.btn.btn-lg.btn-primary(ng-class="{ 'btn-disabled' : campaign.strategy && campaign.update == false}" ng-click="campaignUpdate()") {{:: "UPDATE" | translate}}
						.row
						br
				.row
					//-Target-Search campaign
					.col-md-12(ng-show="campaign.strategy=='target-search' && campaign.update==false")
						uib-tabset(active="targetSearch")
							uib-tab(index="0" heading="Explaination strategy" ng-hide='true')
								.col-md-12.text-center
									br
									h4 {{:: "EXPLAIN_TARGET_CAMPAIGN" | translate}}
									br
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									p {{:: "TARGETED_CAMPAIGN_WITH_PAYMENT_TO_FACEBOOK" | translate}}
									p {{:: "FREE_TO_PUT_AND_SEND" | translate}}
									br
									i.fa.fa-rocket.fa-2x
									a(href="http://brands.prismanote.com/blog/" target="_blank") {{:: "IDEAS_FOR_TARETING_MISSILE" | translate}}
									br
									a.btn.btn-lg.btn-green.pull-right(ng-click="toTab1()" ng-disabled="step0.$invalid" ng-class="{ 'disabled' : step0.$invalid || !campaign.brand.name}") {{:: "NEXT" | translate}}
					//-Local-plump campaign
					.col-md-12(ng-show="campaign.strategy=='local-plump' && campaign.update==false")
						uib-tabset(active="localPlump")
							uib-tab(index="0" heading="Uitleg strategie" ng-hide='true')
								.col-md-12.text-center
									br
									h4 {{:: "EXPLAIN_LOCALPLUMP_CAMPAIGN" | translate}}
									br
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									p {{:: "ADVANCED_RETARGETING_CAMPAIGN_PAYMENT_TO_FACEBOOK" | translate}}
									p {{:: "IDEAS_FOR_LOCAL_PLUMP_INCL_RETARGETING" | translate}}
									br
									i.fa.fa-tint.fa-2x
									a(href="http://brands.prismanote.com/blog/" target="_blank") {{:: "IDEAS_FOR_LOCAL_PLUMP_INCL_RETARGETING" | translate}}
										i.fa.fa-bullseye.fa-1x
									br
									a.btn.btn-lg.btn-green.pull-right(ng-click="toTab1()" ng-disabled="step0.$invalid" ng-class="{ 'disabled' : step0.$invalid || !campaign.brand.name}") {{:: "NEXT" | translate}}
					//-Update
					.col-md-12(ng-show="campaign.update==true")
						uib-tabset(active="update")
							uib-tab(index="0" heading="Uitleg strategie" ng-hide='true')
								.col-md-12.text-center
									br
									h4 {{:: "UPDATE_IS_NORMAL_POST_ON_FACEBOOK_MEANT_TO_KEEP_IN_TOUCH_EXISTING_CUSTOMERS" | translate}}
									i.fa.fa-star.rating
									i.fa.fa-star.rating
									p {{:: "SIMPLE_UPDATE_WITHOUT_PAYMENT_TO_FACEBOOK" | translate}}
									br
									p
										a(href="http://brands.prismanote.com/blog/" target="_blank") {{:: "IDEAS_FOR_UPDATES" | translate}}
									a.btn.btn-lg.btn-green.pull-right(ng-click="toTab1()" ng-disabled="step0.$invalid" ng-class="{ 'disabled' : step0.$invalid || !campaign.brand.name}") {{:: "NEXT" | translate}}
			uib-tab(index='1', ui-sref='tab1' ng-hide='true' heading='2. Content voor de consument')
				h3 {{:: "CONTENT_FOR_CONSUMER" | translate}}
				p {{:: "PHOTOS_WILL_BE_PROMOTED_JEWELER_FOR_YOU_ON_FACEBOOK" | translate}}
				.col-md-12
					form(name="step1")
						p.switch-align-task.hidden
							label(for="activeTask") {{:: "MANDATORY_TASK" | translate}}
							toggle-switch(id="activeTask", ng-init="facebookTaskInfo.mandatory = true", on-label='{{::"YES" | translate}}', off-label='{{::"NO" | translate}}' ng-model="facebookTaskInfo.mandatory" disabled="true").disabled
						div
							.drop-box(ng-hide="facebookTaskImages.completed" ngf-select="selectFiles($files,$event)", ngf-select-disabled="isSelectMoreImg(myImage.length)",  ngf-drop, ng-model="facebookTaskImages", ngf-max-files="8", ngf-keep="true", ngf-pattern="'image/*'", multiple, ngf-drop-available="dropAvailable")
								p {{:: "HOW_TO_SELECT_CONTENT" | translate}}
								div(ng-show="dropAvailable") .
							div(ng-show="facebookTaskImages.length > 0")
								h5 {{:: "CHOSEN" | translate}} {{facebookTaskImages.length == 1 ? "FILE" : "FILES"}}
								p {{:: "CLICK_TO_DELETE_FILE" | translate}}
								.row()
									//- .col-md-4.prv-content(ng-repeat="f in facebookTaskImages")
									//- 	img(ngf-src="f", ng-show="!f.path")
									//- 	p(style="word-wrap: break-word;") {{f.name}}
									//- 	button.hover-cancel-btn(ng-click='deleteFile($index)')
									//- 		span.i.fa.fa-times
									//- 	button.hover-btn(ng-click='openImgModal($index)')
									//- 		span.i.fa.fa-crop
								.row()
									.col-md-4.prv-content(ng-repeat="obj in myImage track by $index")
										img.image(ng-src='{{obj}}')
										button.hover-cancel-btn(ng-click='deleteFile($index)', uib-tooltip-html='"{{:: "DELETE_IMAGE" | translate}}"')
											span.i.fa.fa-times
										button.hover-btn(ng-click='openImgModal($index)', uib-tooltip-html='"{{:: "SELECT_FOR_CROP" | translate}}"',)
											span.i.fa.fa-crop
							div.pull-right
								a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo")
									span &nbsp; {{:: "REQUIREMENTS_FILES" | translate}} &nbsp;
									span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
								div(uib-collapse="!showInfo" ng-hide="task.completed")
									| Format: .MOV, .MP4 or .GIF files
									br
									| Resolution: at least 720p
									br
									| File size: 2.3 GB max
									br
									| Recommended aspect ratio: widescreen (16:9)
									br
									| Facebook: 60 minutes max
									br
									| Instagram Feed: 60 seconds max
									br
							| {{:: "PRESENTATION" | translate}}:
							select(ng-model="facebookTaskInfo.fbPromotionSettings.presentation" name="facebookTask1Presentation", ng-required="true", placeholder="Kies een optie").form-control
								option(value="image") {{:: "IMAGE" | translate}}
								option(value="carrousel") {{:: "CARROUSEL" | translate}}
								option(value="video") {{:: "VIDEO" | translate}}
						.news-item-block-content
							input(type="text", ng-model="facebookTaskInfo.nl.name", name="facebookTask1Name", ng-required="true", placeholder='{{:: "PROMOTION_TITLE" | translate}}' ng-disabled="facebookTaskInfo.completed").form-control
							textarea.product-short-description.form-control.short(type='text', placeholder='{{:: "TYPE_HERE_DESCRIPTION_FOR_JEWELLER" | translate}}', uib-tooltip-html="' {{:: 'EXPLAIN_DEMO_URL' | translate}} '" ng-model="campaign.description", name="facebookTask1Description", ng-required="true", ng-change='validation.campaignTitle = false')

							hr
							b
								span.task-heading-content
									i.fa.fa-facebook-square(ng-if="task.type =='facebook'")
									i.fa.fa-instagram(ng-if="task.type =='instagram'")
									i.fa.fa-pinterest-square(ng-if="task.type =='pinterest'")
						a.btn.btn-lg.btn-light(ng-click="toTab0()") {{:: "PREVIOUS" | translate}}
						// in case of target-search or local-plump strategy
						a.btn.btn-lg.btn-green.pull-right(ng-show="campaign.update==false" ng-click="toTab2()" ng-disabled="step1.$invalid" ng-class="{ 'disabled' : step1.$invalid || facebookTaskImages.length < 1}") {{:: "NEXT" | translate}}
						// in case of update
						a.btn.btn-lg.btn-green.pull-right(ng-show="campaign.update==true" ng-click="toTab5()" ng-disabled="step1.$invalid" ng-class="{ 'disabled' : step1.$invalid || facebookTaskImages.length < 1}") {{:: "NEXT" | translate}}
			uib-tab(index='2', ui-sref='tab2', ng-hide='true' heading='3. Doelgroep / Instellingen')
				h3 {{:: "AUDIENCE" | translate}} / {{:: "PROMOTION_INSTRUCTIONS" | translate}}
				p {{:: "UNSURE_ABOUT_SETTINGS_OUR_TEAM_IS_HAPPY_TO_HELP_YOU" | translate}}
				form(name="step2")
					//- .form-group
					//- 	label {{:: "FACEBOOK_PAGE" | translate}}
					//- 	select.form-control.disabled(ng-change='fbPageFunc(task); showLocationFields = true', ng-model='task.fbPromotionSettings.pageName', ng-init='getCountryInit()', uib-tooltip-html='"{{:: "SELECT_FACEBOOK_PAGE" | translate}}"')
					//- 		option(ng-repeat='obj in fbPageArray', value='{{obj}}') {{:: obj | translate}}
						//-label {{:: "CAMPAIGN_TITLE" | translate}}: // same as Campaign name
						//-input.form-control(type='text', ng-model="facebookTaskInfo['campaignName'].name", uib-tooltip-html='"{{:: "REQUIREMENTS_TITLE" | translate}}"')
					.form-group
						label {{:: "PURPOSE" | translate}}:
						//- should also be ng-required="true"
						select.form-control(ng-change='purposeFunc(facebookTaskInfo)', ng-model='facebookTaskInfo.fbPromotionSettings.goal', name="facebookTask1InfoGoal" placeholder='{{:: "WHATS_GOAL_OF_CAMPAIGN" | translate}}' ng-init='getCountryInit()', uib-tooltip-html='"{{:: "EXPLAIN_GOAL_CAMPAIGN" | translate}}"')
							option(ng-repeat='obj in fbCampPurpose', value='{{obj}}') {{:: obj | translate}}
					.form-group
						label {{:: "CAMPAIGN_RANGE_AGE" | translate}}:
						.input-group
							span.input-group-btn
								input#agemax2.form-control(type='number', placeholder='{{:: "SPECIFY_AGE_MIN" | translate}}', ng-model='facebookTaskInfo.fbPromotionSettings.ageMin' name="facebookTask1InfoAgeMin", ng-required="true" min='13', ng-change='ageMin(task)')
							span.input-group-btn
								input#agemin2.form-control(type='number', placeholder='{{:: "SPECIFY_AGE_MAX" | translate}}', ng-model='facebookTaskInfo.fbPromotionSettings.ageMax',name="facebookTask1InfoAgeMax", ng-required="true" min='13', ng-min='minValue', ng-change='ageMax(task)')
					.form-group
						label {{:: "SPECIFY_GENDER" | translate}}:
						select.form-control(ng-change='genderFunc(task)', ng-model='facebookTaskInfo.fbPromotionSettings.gender', name="facebookTask1InfoGender" ng-required="true" uib-tooltip-html="' {{:: 'EXPLAIN_GENDER_CAMPAIGN' | translate}} '")
							option(value='0') {{:: "ALL" | translate}}
							option(value='1') {{:: "MALE" | translate}}
							option(value='2') {{:: "FEMALE" | translate}}
					.form-group
						label {{:: "CAMPAIGN_INTEREST" | translate}}:
						br
						.chip(ng-repeat='interest in selectedInterestData')
							| {{interest}}
							span.closebtn(ng-click='deleteChips($index)') ×
						angucomplete-alt(id="interest", pause='100', selected-object='interestSelected', local-data='interestList', local-search='searchInterest', title-field='name', minlength='1', match-class='highlight', style='width: 500px;', input-class='form-control', disable-input='disableInterest', uib-tooltip-html='"{{:: "SELECT_INTEREST" | translate}}"', clear-selected="true")
					.form-group
						label {{:: "CAMPAIGN_WEBSITE_HEADLINE" | translate}}:
						input#headline.form-control(type='text', ng-model='facebookTaskInfo.fbPromotionSettings.headline' name="facebookTask1InfoHeadline" uib-tooltip-html="' {{:: 'RETAILER_CAN_ADD_OR_EDIT_THE_LINK' | translate}}'" ng-required="false" placeholder='{{:: "OPTIONAL" | translate}}')
					.form-group
						label {{:: "CAMPAIGN_WEBSITE_SUBTITLE" | translate}}:
						input#newsFeed.form-control(type='text', ng-model='facebookTaskInfo.fbPromotionSettings.newsFeed' name="facebookTask1InfoNewsFeed" ng-required="false" placeholder='{{:: "OPTIONAL" | translate}}')
					.form-group
						label {{:: "CAMPAIGN_CALL_TO_ACTION" | translate}}:
						//- should also be ng-required="true"
						select.form-control(ng-change='calltoactionFunc(facebookTaskInfo)', ng-model='facebookTaskInfo.fbPromotionSettings.callToAction', name="facebookTask1InfoCallAction" uib-tooltip-html="' {{:: 'EXPLAIN_GOAL_CAMPAIGN' | translate}}'" placeholder='{{:: "OPTIONAL" | translate}}')
							option(ng-repeat='call in CallToAction', ng-value='call') {{:: call | translate}}
					b {{:: "EXPLAIN_IMPORTANCE_STARTDATE_ENDDATE" | translate}}
					.form-group
						label {{:: "ADVICE" | translate}} {{:: "START_DATE" | translate}}:
						.input-group
							input.form-control(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='facebookTaskInfo.fbPromotionSettings.promotionStartDate', name="facebookTask1InfoPromStartDate" ng-required="true" ng-change='getStartDate(facebookTaskInfo)', ng-init='initPromotionTaskDate(facebookTaskInfo)', datepicker-options="{maxDate: facebookTaskInfo.fbPromotionSettings.promotionEndDate}", is-open='startDate', timepicker-options='timepickerOptions', uib-tooltip-html="' {{:: 'INFO_ABOUT_HOW_STARTDATE_WILL_BE_USED' | translate}} '", close-text='Sluiten')
							span.input-group-btn
								button.btn.btn-default(type='button', ng-click='startDate =! startDate', ng-disabled='false')
									span.i.fa.fa-calendar
					.form-group
						label {{:: "ADVICE" | translate}} {{:: "END_DATE" | translate}}:
						.input-group
							input.form-control(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='facebookTaskInfo.fbPromotionSettings.promotionEndDate', name="facebookTask1InfoPromEndDate" ng-required="true" ng-change='getEndDate(facebookTaskInfo)', ng-init='initPromotionTaskDate(facebookTaskInfo)', datepicker-options="{minDate: facebookTaskInfo.fbPromotionSettings.promotionStartDate || today}", is-open='endDate', timepicker-options='timepickerOptions', close-text='Sluiten')
							span.input-group-btn
								button.btn.btn-default(type='button', ng-click='endDate =! endDate', ng-disabled='false')
									span.i.fa.fa-calendar
					.form-group
						label {{:: "BUDGET" | translate}}
						.input-group
							span.input-group-btn
								input#amount2.form-control(type='number', min='1', ng-model='facebookTaskInfo.fbPromotionSettings.budget', name="facebookTask1InfoBudget" ng-required="false" placeholder='euro')
							//- span.input-group-btn
							//- 	select.form-control(ng-model='facebookTaskInfo.fbPromotionSettings.perDayOrSpread', name="facebookTask1InfoPerDay" ng-required="false" ng-change='perDayOrSpread(facebookTaskInfo)')
							//- 		option(value='perDay') {{:: "PER_DAY" | translate}}
					br
					div
						a(href='', ng-init='showTestPromotionInfo = false', ng-click='showTestPromotionInfo = !showTestPromotionInfo')
							span
								b {{:: "I_WANT_TO_TEST_THIS_CAMPAIGN_FIRST" | translate}}:
							span.i.fa(ng-class="showTestPromotionInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
						div(uib-collapse='showTestPromotionInfo')
							.form-group
								label {{:: "FACEBOOK_PAGE" | translate}}
								select.form-control.disabled(ng-change='fbPageFunc(task); showLocationFields = true', ng-model='task.fbPromotionSettings.pageName', ng-init='getCountryInit()', uib-tooltip-html='"{{:: "SELECT_FACEBOOK_PAGE" | translate}}"')
									option(ng-repeat='obj in fbPageArray', value='{{obj}}') {{:: "obj" | translate}}
							.form-group
								label {{:: "CAMPAIGN_WEBSITE_URL" | translate}}:
								input#siteUrl.form-control(type='url', ng-model='facebookTaskInfo.fbPromotionSettings.siteUrl', ng-init="facebookTaskInfo.fbPromotionSettings.siteUrl = 'https://www.juwelierbos.nl'" name="facebookTask1InfoSiteUrl" ng-required="true" placeholder="www.example.com")
							.form-group
								label {{:: "CHOOSE_A_COUNTRY" | translate}}:
								angucomplete-alt(id="country", pause='100', selected-object='countrySelected', local-data='countryList', local-search='searchCountry', title-field='name', minlength='1', match-class='highlight', style='width: 500px;', input-class='form-control', uib-tooltip-html='" {{:: "SELECT_COUNTRY" | translate}} "',)
							.form-group
								label {{:: "CHOOSE_A_REGION" | translate}}:
								angucomplete-alt(id="region", pause='100', selected-object='regionSelected', name="facebookTask1regionSelected" ng-required="false" local-data='regionList', local-search='searchRegion', title-field='name', minlength='1', match-class='highlight', style='width: 500px;', input-class='form-control')
							.form-group
								label {{:: "CITY" | translate}}:
								angucomplete-alt(id="city", pause='100', selected-object='citySelected', name="facebookTask1citySelected" ng-required="false" local-data='cityList', local-search='searchCity', title-field='name', minlength='1', match-class='highlight', style='width: 500px;', input-class='form-control')
							.form-group
								label {{:: "LOCATION" | translate}} {{:: "KM_AROUND_YOUR_SHOP" | translate}}:
								input#distance.form-control(type='number', ng-model='facebookTaskInfo.fbPromotionSettings.distance', name="facebookTask1InfoDistance" ng-required="false" ng-change='distance(facebookTaskInfo)',min='13', max='80', placeholder='{{:: "NO_OF_KM" | translate}}', ng-init='task.fbPromotionSettings.distance = 25')
							br
							label(for='instagramYes') {{:: "ALSO_ON_INSTAGRAM" | translate}}
							toggle-switch(ng-disabled='task.completed', ng-model='facebookTaskInfo.fbPromotionSettings.alsoOnInstagram', on-label='{{:: "YES" | translate}}", off-label="{{:: "NO" | translate}}', ng-change='switchToggle(facebookTaskInfo)')
							br
							//- function is under construction
							a.btn.btn-lg.btn-primary(ng-click="fbPromotionFunc(facebookTaskInfo)") {{:: "SHOW_CAMPAIGN_PREVIEW" | translate}}
							i.fa.fa-spinner.fa-spin(ng-show='storeSpinner', style='margin-left: 50px;font-size: xx-large;position: absolute')
							a.btn.btn-lg.btn-success(ng-click="previewModelFunc(true)", style='margin-left: 25px', ng-show="storePreview") {{:: "PREVIEW" | translate}}
							.row.text-center
								.col-md-6
									a.btn.btn-lg.btn-primary(ng-click="diffDays()") {{:: "CALCULATE_BUDGET_AGAIN" | translate}}
								.col-md-6(ng-hide="totalBudget == 0")
									b {{:: "ADVERTISMENT_COSTS_FOR_THE_JEWELER" | translate}} {{totalBudget | currency: '€'}}
							p(uib-tooltip-html="' {{:: 'EXPLAIN_ESTIMATED_VIEWS' | translate}}'")
					a.btn.btn-lg.btn-light(ng-click="toTab1()") {{:: "PREVIOUS" | translate}}
					// in case of target-search jump to 5
					a.btn.btn-lg.btn-green.pull-right(ng-show="campaign.strategy=='target-search'" ng-click="toTab5()" ng-disabled="step2.$invalid" ng-class="{ 'disabled' : step2.$invalid}") {{:: "NEXT" | translate}}
					// in case of local-plump jump to 3
					a.btn.btn-lg.btn-green.pull-right(ng-show="campaign.strategy=='local-plump'" ng-click="toTab3()" ng-disabled="step2.$invalid" ng-class="{ 'disabled' : step2.$invalid}") {{:: "NEXT" | translate}}
			uib-tab(index='3', ui-sref='tab3', ng-hide='true' heading='4. Post 2 content voor de consument')
				h3 {{:: "CONTENT_FOR_CONSUMERS_RETARGETING_POST" | translate}}
				p {{:: "PHOTOS_WILL_BE_PROMOTED_ON_FACEBOOK_AFTER_CAMPAIGN_IS_EXECUTED" | translate}}
				form(name="step3")
					p.switch-align-task
						label(for="activeTask") {{:: "MANDATORY_TASK" | translate}}
						toggle-switch(id="activeTask", ng-init="facebookTask2Info.mandatory = true", on-label='{{::"YES" | translate}}', off-label='{{::"NO" | translate}}' ng-model="facebookTask2Info.mandatory" disabled="true").disabled
					.block-small
						.drop-box(ng-hide="facebookTask2Images.completed" ngf-select="selectFiles2($files)", ngf-drop, ng-model="facebookTask2Images", ngf-max-files="8", ngf-keep="true", ngf-pattern="'image/*'", multiple, ngf-drop-available="dropAvailable")
							p {{:: "HOW_TO_SELECT_CONTENT" | translate}}
							div(ng-show="dropAvailable") .
						div(ng-show="facebookTask2Images.length > 0")
							h5 {{:: "CHOSEN" | translate}} {{facebookTask2Images.length == 1 ? "FILE" : "FILES"}}
							p {{:: "CLICK_TO_DELETE_FILE" | translate}}
							.row
								.col-md-4(ng-repeat="f in facebookTask2Images")
									img(ngf-src="f", ng-show="!f.path" ng-click="deleteFile($index)")
									p(style="word-wrap: break-word;") {{f.name}}
						div.pull-right
							a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo")
								span &nbsp; {{:: "REQUIREMENTS_FILES" | translate}} &nbsp;
								span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
							div(uib-collapse="!showInfo" ng-hide="task.completed")
								| Format: .MOV, .MP4 or .GIF files
								br
								| Resolution: at least 720p
								br
								| File size: 2.3 GB max
								br
								| Recommended aspect ratio: widescreen (16:9)
								br
								| Facebook: 60 minutes max
								br
								| Instagram Feed: 60 seconds max
								br
						| {{:: "PRESENTATION" | translate}}:
						select(ng-model="facebookTask2Info.fbPromotionSettings.presentation" name="facebookTask2Presentation", ng-required="true", placeholder="Kies een optie").form-control
							option(value="image") {{:: "IMAGE" | translate}}
							option(value="carrousel") {{:: "CARROUSEL" | translate}}
							option(value="video") {{:: "VIDEO" | translate}}
					.news-item-block-content
						input(type="text", ng-model="facebookTask2Info.nl.name", name="facebookTask2Name", ng-required="true", placeholder='{{:: "PROMOTION_TITLE" | translate}}' ng-disabled="task.completed").form-control
						textarea(ng-model="facebookTask2Info.nl.description", name="facebookTask2Description", ng-required="true", placeholder='{{:: "TYPE_RETARGETING_TASK_DESCRIPTION" | translate}}' cols="20", rows="2" ng-disabled="task.completed")
						a.btn.btn-lg.btn-primary() {{:: "SHOW_CAMPAIGN_PREVIEW" | translate}}
						hr
						b
							span.task-heading-content
								i.fa.fa-facebook-square(ng-if="task.type =='facebook'")
								i.fa.fa-instagram(ng-if="task.type =='instagram'")
								i.fa.fa-pinterest-square(ng-if="task.type =='pinterest'")
						//- in case of target-search or local-plump strategy
						div(ng-show="campaign.strategy!='update'")
							a.btn.btn-lg.btn-light(ng-click="toTab2()") {{:: "PREVIOUS" | translate}}
							a.btn.btn-lg.btn-green.pull-right(ng-click="toTab4()" ng-disabled="step3.$invalid" ng-class="{ 'disabled' : step3.$invalid || facebookTask2Images.length < 1}") {{:: "NEXT" | translate}}
						//- in case of update
						div(ng-show="campaign.update==true")
							a.btn.btn-lg.btn-light(ng-click="toTab1()" ) {{:: "PREVIOUS" | translate}}
							a.btn.btn-lg.btn-green.pull-right(ng-click="toTab5()" ng-disabled="step3.$invalid" ng-class="{ 'disabled' : step3.$invalid || facebookTask2Images.length < 1}") {{:: "NEXT" | translate}}
			uib-tab(index='4', ui-sref='tab4', ng-hide='true' heading='4. Post 2 Doelgroep / Instellingen')
				h3 {{:: "TARGET_AUDIENCE" | translate}} / {{:: "PROMOTION_INSTRUCTIONS" | translate}} {{:: "RETARGETING_POST" | translate}}
				p {{:: "UNSURE_ABOUT_SETTINGS_OUR_TEAM_IS_HAPPY_TO_HELP_YOU" | translate}}
				form(name="step4")
					.form-group
						//- label {{:: "CAMPAIGN_TITLE" | translate}}:
						//- input.form-control(type='text', ng-model="facebookTaskInfo2['campaignName'].name", uib-tooltip-html='"{{:: "REQUIREMENTS_TITLE" | translate}}"')
					.form-group
						label {{:: "PURPOSE" | translate}}:
						//- should also be ng-required="true"
						select.form-control(ng-change='purposeFunc(task)', ng-model='facebookTaskInfo2.fbPromotionSettings.goal', ng-init='getCountryInit()', uib-tooltip-html="' {{:: 'EXPLAIN_GOAL_CAMPAIGN' | translate}}'")
							option(ng-repeat='obj in imgObjectiveArray', value='{{obj}}') {{:: obj | translate}}
					.form-group
						label {{:: "CAMPAIGN_RANGE_AGE" | translate}}:
						.input-group
							span.input-group-btn
								input#agemax1.form-control(type='number', placeholder='{{:: "SPECIFY_AGE_MIN" | translate}}', ng-model='facebookTaskInfo2.fbPromotionSettings.ageMin', name="facebookTask2InfoAgeMin", ng-required="true" min='13', ng-change='ageMin(task)')
							span.input-group-btn
								input#agemin1.form-control(type='number', placeholder='{{:: "SPECIFY_AGE_MAX" | translate}}', ng-model='facebookTaskInfo2.fbPromotionSettings.ageMax', name="facebookTask2InfoAgeMax", ng-required="true" min='13', ng-min='minValue', ng-change='ageMax(task)')
					.form-group
						label {{:: "CAMPAIGN_GENDER" | translate}}:
						select.form-control(ng-change='genderFunc(task)', ng-model='facebookTaskInfo2.fbPromotionSettings.gender', name="facebookTask2InfoGender" ng-required="true" uib-tooltip-html='"{{:: "EXPLAIN_GENDER_CAMPAIGN" | translate}}"')
							option(value='0') {{:: "ALL" | translate}}
							option(value='1') {{:: "MALE" | translate}}
							option(value='2') {{:: "FEMALE" | translate}}
					.form-group
						label {{:: "CAMPAIGN_INTEREST" | translate}}:
						angucomplete-alt(id="interest1", pause='100', selected-object='interestSelected', local-data='interestList', local-search='searchInterest', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
					.form-group
						label {{:: "CAMPAIGN_WEBSITE_HEADLINE" | translate}}:
						input#headline1.form-control(type='text', ng-model='facebookTaskInfo2.fbPromotionSettings.headline' name="facebookTask2InfoHeadline" ng-required="false")
					.form-group
						label {{:: "CAMPAIGN_WEBSITE_SUBTITLE" | translate}}:
						input#newsFeed1.form-control(type='text', ng-model='facebookTaskInfo2.fbPromotionSettings.newsFeed' name="facebookTask2InfoNewsFeed" ng-required="false")
					.form-group
						label {{:: "CAMPAIGN_CALL_TO_ACTION" | translate}}:
						//- should also be ng-required="true"
						select.form-control(ng-change='calltoactionFunc(facebookTaskInfo2)', ng-model='facebookTaskInfo2.fbPromotionSettings.callToAction', name="facebookTask2InfoCallAction" uib-tooltip-html='"{{:: "EXPLAIN_GOAL_CAMPAIGN" | translate}}"')
							option(ng-repeat='call in imgCallToActionArray', value='{{call}}') {{:: call | translate}}
					b {{:: "EXPLAIN_IMPORTANCE_STARTDATE_ENDDATE" | translate}}
					.form-group
						label {{:: "ADVICE" | translate}} {{:: "START_DATE" | translate}}:
						.input-group
							input.form-control(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='facebookTaskInfo2.fbPromotionSettings.promotionStartDate', name="facebookTask2InfoPromStartDate" ng-required="true" ng-change='getStartDate(facebookTaskInfo2)', ng-init='initPromotionTaskDate(facebookTaskInfo2)', datepicker-options="{maxDate: facebookTaskInfo2.fbPromotionSettings.promotionEndDate}", is-open='startDate', timepicker-options='timepickerOptions', uib-tooltip-html='"{{:: "INFO_ABOUT_HOW_STARTDATE_WILL_BE_USED" | translate}}"', close-text='Sluiten')
							span.input-group-btn
								button.btn.btn-default(type='button', ng-click='startDate =! startDate', ng-disabled='false')
									span.i.fa.fa-calendar
					.form-group
						label {{:: "ADVICE" | translate}} {{:: "END_DATE" | translate}}:
						.input-group
							input.form-control(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='facebookTaskInfo2.fbPromotionSettings.promotionEndDate', name="facebookTask2InfoPromEndDate" ng-required="true" ng-change='getEndDate(facebookTaskInfo2)', ng-init='initPromotionTaskDate(facebookTaskInfo2)', datepicker-options="{minDate: facebookTaskInfo2.fbPromotionSettings.promotionStartDate || today}", is-open='endDate', timepicker-options='timepickerOptions', close-text='Sluiten')
							span.input-group-btn
								button.btn.btn-default(type='button', ng-click='endDate =! endDate', ng-disabled='false')
									span.i.fa.fa-calendar
					.form-group
						label {{:: "BUDGET" | translate}}
						.input-group
							span.input-group-btn
								input#amount1.form-control(type='number', min='1', ng-model='facebookTaskInfo2.fbPromotionSettings.budget', placeholder='euro')
							span.input-group-btn
								select.form-control(ng-model='facebookTaskInfo2.fbPromotionSettings.perDayOrSpread', ng-change='perDayOrSpread(facebookTaskInfo2)')
									option(value='perDay') {{:: "PER_DAY" | translate}}
					br
					div
						a(href='', ng-init='showTestPromotionInfo = true', ng-click='showTestPromotionInfo = !showTestPromotionInfo')
						span
							b {{:: "I_WANT_TO_TEST_THIS_CAMPAIGN_FIRST" | translate}}:
						span.i.fa(ng-class="showTestPromotionInfo ? 'fa-chevron-down' : 'fa-chevron-up'")
						div(uib-collapse='showTestPromotionInfo')
							.form-group
								label {{:: "CAMPAIGN_WEBSITE_URL" | translate}}:
								input#siteUrl1.form-control(type='url', ng-model='facebookTaskInfo2.fbPromotionSettings.siteUrl', ng-init="facebookTaskInfo2.fbPromotionSettings.siteUrl = 'https://www.'" name="facebookTask2InfoSiteUrl" ng-required="true")
							.form-group
								label {{:: "CHOOSE_A_COUNTRY" | translate}}:
								angucomplete-alt(id="country1", pause='100', selected-object='countrySelected', local-data='countryList', local-search='searchCountry', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
							.form-group
								label {{:: "CHOOSE_A_REGION" | translate}}:
								angucomplete-alt(id="region1", pause='100', selected-object='regionSelected', local-data='regionList', local-search='searchRegion', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
							.form-group
								label {{:: "CITY" | translate}}:
								angucomplete-alt(id="city1", pause='100', selected-object='citySelected', local-data='cityList', local-search='searchCity', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control')
							.form-group
								label {{:: "LOCATION" | translate}} {{:: "KM_AROUND_YOUR_SHOP" | translate}}:
								input#distance1.form-control(type='number', ng-model='facebookTaskInfo2.fbPromotionSettings.distance', ng-change='distance(facebookTaskInfo2)',min='13', max='80', placeholder='NO_OF_KM', ng-init='task.fbPromotionSettings.distance = 25')
							br
							.row.text-center
								.col-md-6
									a.btn.btn-lg.btn-primary(ng-click="diffDaysRetargeting()") {{:: "CALCULATE_BUDGET_AGAIN" | translate}}
								.col-md-6
									b(ng-hide="totalBudget == 0") {{:: "ADVERTISMENT_COSTS_FOR_THE_JEWELER" | translate}} {{totalBudget | currency: '€'}}
									p(uib-tooltip-html='"{{:: "EXPLAIN_ESTIMATED_VIEWS" | translate}}"')
				a.btn.btn-lg.btn-light(ng-click="toTab3()") {{:: "PREVIOUS" | translate}}
				a.btn.btn-lg.btn-green.pull-right(ng-click="toTab5()" ng-disabled="step4.$invalid" ng-class="{ 'disabled' : step4.$invalid}") {{:: "NEXT" | translate}}
			uib-tab(index='5', ui-sref='tab5', ng-hide='true' heading='4. Product toevoegen (onverplicht)')
				h3 {{:: "ADD_PRODUCT_OPTIONAL" | translate}}
				.col-md-12(ng-show="!orderTask")
					div.text-center
						h5 {{:: "ARE_THERE_PRODUCTS_THAT_CAN_BE_ORDERED_THIS_CAMPAIGN" | translate}}
						p ({{:: "NOT_MANDATORY" | translate}})
						.col-md-6
							a.btn.btn-lg.btn-primary.pull-right(ng-click="orderTask = true; orderTaskAddedFunction(); toTab5()") {{:: "YES" | translate}}
						.col-md-6
							// in case of a target-search or local-plump
							a.btn.btn-lg.btn-green.pull-left(ng-show="campaign.update==false" ng-click="toTab6()") {{:: "NO" | translate}}
							// in case of an update
							a.btn.btn-lg.btn-green.pull-left(ng-show="campaign.update==true" ng-click="toTab7()") {{:: "NO" | translate}}
					// in case of target-search jump to 2
					a.btn.btn-lg.btn-light(ng-show="campaign.strategy=='target-search'" ng-click="toTab2()") {{:: "PREVIOUS" | translate}}
					// in case of local-plump jump to 4
					a.btn.btn-lg.btn-light(ng-show="campaign.strategy=='local-plump'" ng-click="toTab4()") {{:: "PREVIOUS" | translate}}
					// in case of update to 1
					a.btn.btn-lg.btn-light(ng-show="campaign.update==true" ng-click="toTab1()") {{:: "PREVIOUS" | translate}}
				.col-md-12(ng-show="orderTask")
					form(name="step5")
						span.i.fa.fa-truck.fa-4x.pull-left
						.row
							a.btn.btn-sm.btn-primary(ng-click="orderTask = false; orderTaskAdded = false; cancelOrderTask()") {{:: "CANCEL" | translate}}
						.row
							.col-md-2
								label(for="name") {{:: "TITLE_OF_ORDER_ACTION" | translate}}
							.col-md-10
								input(type="text" id="name" ng-model="orderTaskInfo[language].name" name="orderTaskInfoNlName" ng-required="true" ng-init="orderTaskInfo[language].name = 'ORDER_IN_OUR_WEBSHOP'" placeholder='{{:: "TITLE_OF_ORDER_ACTION" | translate}}').form-control 
						.row
							.col-md-2
								label(for="desc") {{:: "WHAT_CAN_THE_SHOPKEEPER_ORDER_HERE" | translate}}
							.col-md-10
								textarea(type="text" lines="5" id="desc" ng-model="orderTaskInfo[language].description" name="orderTaskInfoNlDescription" ng-required="true" uib-tooltip-html='"{{:: "DESCRIBE_WHAT_A_JEWELER_COULD_ORDER" | translate}}"').form-control 
						.row
							.col-md-2
								label(for="orderlink") {{:: "ORDERLINK" | translate}} {{:: "DONT_FORGET_TO_USE_HTTP_BEFORE_URL" | translate}}
							.col-md-10
								input(type="text" id="orderlink" ng-model="orderTaskInfo.orderLink" ng-init="orderTaskInfo.orderLink = 'https://www.'" name="orderTaskInfoLink" ng-required="true" placeholder='{{:: "LINK_ORDER_INFO" | translate}}' uib-tooltip-html='"{{:: "EXPLAIN_LINK_TO_INFOPAGE_B2B_WEBSHOP" | translate}}"').form-control
						.row
							.col-md-2
								label(for="orderDate") {{:: "ADVICE_ORDER_DATE" | translate}}
							.col-md-10
								.input-group
									input(type="text", id="orderDate" uib-datepicker-popup="EEE dd-MM-yyyy (Week: w)", ng-model="orderTaskInfo.datePlanned", name="orderTaskInfoDatePlanned" ng-required="true" datepicker-options="{maxDate: campaign.endDate}" is-open="orderDate", close-text="Sluiten").form-control
									span.input-group-btn
										button(type="button" ng-click="orderDate =! orderDate").btn.btn-default
											span.i.fa.fa-calendar
								p {{:: "EXPLAIN_ADVICE_TO_SET_ORDERDATE_BEFOR_START_CAMPAIGN_WHEN_WILL_DEALERS_RECEIVE_EMAIL" | translate}}
						p {{:: "IS_THIS_TASK_MANDATORY" | translate}}
							toggle-switch(name="activeTask", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="orderTaskInfo.mandatory")
						p {{:: "ADVICE_ONLY_MAKE_THIS_MANDATORY_IF_NEEDED" | translate}}
						// in case of a target-search
						div(ng-show="campaign.strategy=='target-search'")
							a.btn.btn-lg.btn-light(ng-click="toTab2()") {{:: "PREVIOUS" | translate}}
							a.btn.btn-lg.btn-green.pull-right(ng-click="toTab6()" ng-disabled="step5.$invalid" ng-class="{ 'disabled' : step5.$invalid}") {{:: "NEXT" | translate}}
						// in case of a local-plump
						div(ng-show="campaign.strategy=='local-plump'")
							a.btn.btn-lg.btn-light(ng-click="toTab4()") {{:: "PREVIOUS" | translate}}
							a.btn.btn-lg.btn-green.pull-right(ng-click="toTab6()" ng-disabled="step5.$invalid" ng-class="{ 'disabled' : step5.$invalid}") {{:: "NEXT" | translate}}
						// in case of an update
						div(ng-show="campaign.update==true")
							a.btn.btn-lg.btn-light(ng-click="toTab1()") {{:: "PREVIOUS" | translate}}
							a.btn.btn-lg.btn-green.pull-right(ng-click="toTab7()" ng-disabled="step5.$invalid" ng-class="{ 'disabled' : step5.$invalid}") {{:: "NEXT" | translate}}
			uib-tab(index='6', ui-sref='tab6', ng-hide='true' heading='5. Uw dealernetwerk belonen')
				h3 {{:: "REWARD_YOUR_DEALERNETWORK_AFTER_EXECUTING_CAMPAIGN" | translate}}
				.col-md-12(ng-show="!contributionFields")
					div.text-center
						h5 {{:: "DID_YOU_KNOW_IF_YOU_CONTRIBUTE_40_PERCENT_SHARES_30_PERCENT_HIGHER_BUDGET" | translate}}
						p ({{:: "RECOMMENDED" | translate}})
						.col-md-6.hidden
							a.btn.btn-lg.btn-primary.pull-right(ng-click="contributionFields = false; toTab7()") {{:: "NO_CONTRIBUTION_AND_COMPLETE" | translate}}
						.col-md-12
							a.btn.btn-lg.btn-green.pull-left(ng-click="contributionFields = true") {{:: "SET_UP_CONTRIBUTION" | translate}}
					a.btn.btn-lg.btn-light(ng-click="toTab5()") {{:: "PREVIOUS" | translate}}
				.col-md-12(ng-show="contributionFields")
					form(name="step6")
						.col-md-12
							a.btn.btn-sm.btn-primary(ng-click="contributionFields = false; cancelContribution()") {{:: "CANCEL" | translate}}
						.col-md-12
							br
							h5(ng-show="campaign.strategy=='local-plump'") {{:: "YOUR_CONTRIBUTION_TO_FIRST_CONSUMER_POST" | translate}}
							label {{:: "HOW_MUCH_PERCENT_YOU_PAY_BACK_TO_RETAILER_FOR_EACH_CAMPAIGN_AMOUNT_IS_EXECUTED_WHEN_RESULTS_ARE_KNOWN" | translate}}
							input(type="text" placeholder='{{:: "PERCENT_OF_THE_AMOUNT_A_JEWELER_SPENTS" | translate}}' ng-model="facebookTaskInfo.contribution.percent" ng-init="facebookTaskInfo.contribution.percent = 60" name="facebookTaskInfoContriPercent" ng-required="true" uib-tooltip-html='"{{:: "AN_AVERAGE_CAMPAIGN_IS_CONTRIBUTED_30_PERCENT" | translate}}"').form-control
							br
							label {{:: "MAX_AMOUNT_IN_EURO_YOU_PAY_EVERY_RETAILER_WHO_HAS_EXECUTED_CAMPAIGN" | translate}}
							input(type="text" ng-model="facebookTaskInfo.contribution.maxAmount" ng-init="facebookTaskInfo.contribution.maxAmount = 75" name="facebookTaskInfoContriMaxAm" ng-required="true" placeholder='{{:: "MAXIMUM_AMOUNT_YOU_REIMBURSED_FOR_EACH_CAMPAIGN" | translate}}' uib-tooltip-html='"{{:: "AN_AVERAGE_CAMPAIGN_IS_CONTRIBUTED_MAX_AMOUNT" | translate}}"').form-control
							br
							div(ng-show="campaign.strategy=='local-plump'")
								h5 {{:: "YOU_CONTRIBUTION_TO_THE_RETARGETING_POST" | translate}}
								label {{:: "HOW_MANY_PERCENT_OF_CAMPAIGN_WILL_YOU_PAY_BACK" | translate}} {{:: "OF_EACH_CAMPAIGN_CARRIED_OUT_AFTER_THE_CAMPAIGN_HAS_BEEN_CARRIED_OUT" | translate}}
								input(type="text" placeholder='{{:: "PERCENT_OF_THE_AMOUNT_A_JEWELER_SPENTS" | translate}}' ng-model="facebookTask2Info.contribution.percent" name="facebookTaskInfo2ContriPercent" ng-required="false" uib-tooltip-html='"{{:: "AN_AVERAGE_CAMPAIGN_IS_CONTRIBUTED_30_PERCENT" | translate}}"').form-control
								br
								label {{:: "MAXIMUM_AMOUNT_YOU_WILL_PAY_BACK_WHEN_CAMPAIGN_IS_EXECUTED" | translate}} {{:: "OF_EACH_CAMPAIGN_CARRIED_OUT" | translate}}
								input(type="text" ng-model="facebookTask2Info.contribution.maxAmount" name="facebookTaskInfo2ContriMaxAm" ng-required="false" placeholder='{{:: "MAXIMUM_AMOUNT_YOU_REIMBURSED_FOR_EACH_CAMPAIGN" | translate}}' uib-tooltip-html='"{{:: "AN_AVERAGE_CAMPAIGN_IS_CONTRIBUTED_MAX_AMOUNT" | translate}}"').form-control
								br
							div.hidden
								input(type="checkbox" id="incasso" name="incasso" ng-model="facebookTaskInfo.fbPromotionSettings.checkbox" value="1")
								//- input(type='checkbox', ng-change="checkboxPaymentInfo()").form-control
								label(for="incasso") {{:: "FILL_IN_BANK_ACCOUNT_INFO_IF_YOU_WANT_AN_AUTOMATIC_INCASSO" | translate}}
								br
								div(ng-show="facebookTaskInfo.fbPromotionSettings.checkbox")
									.col-md-6
										label {{:: "CREDIT_CARD_NUMBER" | translate}}
										input(type="text" placeholder='Credit Card Number').form-control
									.col-md-6
										| {{:: "EXPIRATION" | translate}}
										br
										.col-md-6
											input(type="text" placeholder='MM').form-control
										.col-md-6
											input(type="text" placeholder='YY').form-control
									.row
									.col-md-6
										label {{:: "SECURITY_CODE" | translate}}
										input(type="text" placeholder='code').form-control
									hr
									p {{:: "IF_YOU_DONT_WANT_TO_USE_AUTOMATIC_INCASSO_YOU_PAY_BACK_ALL_CAMPAIGNS_SEPERATELY" | translate}}
						a.btn.btn-lg.btn-light(ng-click="toTab5()") {{:: "PREVIOUS" | translate}}
						a.btn.btn-lg.btn-green.pull-right(ng-click="toTab7()" ng-disabled="step6.$invalid" ng-class="{ 'disabled' : step6.$invalid}") {{:: "NEXT" | translate}}
			uib-tab(index='7', ui-sref='tab7', ng-hide='true' heading='6 OF 9. Uw gegevens')
					h3 {{:: "YOUR_DATA" | translate}}
					div
						.row
						.col-md-12
							.col-md-6
								form(name="step7")
									label {{:: "WHAT_PURPOSE_WAS_THIS_CAMPAIGN_SET_UP" | translate}} {{:: "ONLY_JEWELERS_SEE_THIS" | translate}}
									br
									input(cols="15", rows="5" type="text" ng-model="campaign.description" name="campaignDescription" ng-required="true").form-control
									br
									label {{:: "INFO_PAGE_ACTION" | translate}} {{:: "DONT_FORGET_TO_USE_HTTP_BEFORE_URL" | translate}}
									br 
									input(type="text" ng-model="currentWholesaler.website",ng-pattern="urlPattern",, name="campaignUrl" ng-required="true").form-control
									br
									label {{:: "TELEPHONE_NUMBER" | translate}}:
									br
									input(type="text" ng-model="currentWholesaler.telephone" name="campaignWholesalerTel" ng-required="true").form-control
									br
									label {{:: "COMPANY_NAME" | translate}}:
									input(type="text" ng-model="currentWholesaler.name" name="campaignWholesalerName" ng-required="true").form-control
									br
									label {{:: "EMAILADRESS" | translate}}:
									br
									input(type="text" ng-model="currentWholesaler.email", ng-pattern="emailPattern", name="campaignWholesalerEmail" ng-required="true").form-control
									br
						.row
						.col-md-12
							.col-md-7
								.row
									div
										.modal-header
											h4.modal-title(ng-show="!forgotmode && !loginmode && !user") {{:: "DONT_YOU_HAVE_AN_ACCOUNT" | translate}} {{:: "REGISTER_AN_ACCOUNT_DIRECTLY" | translate}}
											h4.modal-title(ng-show="forgotmode && !loginmode") {{:: "FORGOT_PASSWORD" | translate}}
											h4.modal-title(ng-show="loginmode") {{:: "MAIN_LOGIN" | translate}}
										.modal-body
											div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
												| {{alert.msg}}
											div(ng-hide="user.role == 'wholesaler'")
												a(ng-click="loginmode =! loginmode; forgotmode = false;" href="" ng-bind="loginmode ? 'Klik om te registreren': 'Klik hier om in te loggen met uw bestaande account'").modal-link
												hr
											form(ng-show="user")
												p {{:: "TEXT_YOU_ARE_LOGGED_IN_AS" | translate}} {{user.firstName}} {{user.lastNamePrefix}} {{user.lastName}}.
												p(ng-hide="!user || user.role == 'wholesaler'") {{:: "YOUR_ACCOUNT_HAS_CURRENTLY_NO_RIGHTS_TO_ACT_AS_A_BRAND_PLEASE_CONTACT_PRISMANOTE_TEAM" | translate}}
												a.btn.btn-md.btn-light(ng-click="logout()", href="") {{:: "MAIN_LOGOUT" | translate}}
											form(ng-show='!forgotmode && loginmode && !user')
												p
													a(type='button', ng-controller="authController" ng-click='openLoginModal()').btn.btn-lg.btn-green {{:: "MAIN_LOGIN" | translate}}
											form(ng-show='forgotmode && loginmode')
												p {{:: "REGISTER_MESSAGE_LOGINMODAL" | translate}}
												p
													input(type='text', placeholder='{{:: "INPUT_USERNAME" | translate}}', ng-model="username").input-text.form-control
												p
													a(ng-click="forgot()", href="").btn.btn-lg.btn-green {{:: "SEND_NEW_PASSWORD" | translate}}

											form(ng-show='!loginmode && !registerComplete && !user' novalidate, name="registerForm", ng-submit="register(registerForm.$valid)")
												p {{:: "MESSAGE_1_REGISTER" | translate}}
												p {{:: "MESSAGE_A_REGISTER_FORM" | translate}}
												.row
													.col-md-4
														p
															input(type='text', name="firstname", placeholder='{{:: "INPUT_FIRSTNAME_REGISTER_FORM" | translate}}', ng-required="true", ng-model="newUser.firstName", tabindex="1").input-text.form-control
														p(ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine").help-block 
															| {{:: "MESSAGE_FIRSTNAME_REGISTER_FORM" | translate}}
													.col-md-4
														p
															input(type='text', name="lastnameprefix", placeholder='{{:: "INPUT_INSERTION_REGISTER_FORM" | translate}}', ng-model="newUser.lastNamePrefix", tabindex="2").input-text.form-control
													.col-md-4
														p
															input(type='text', name="lastname", placeholder='{{:: "INPUT_LASTNAME_REGISTER_FORM" | translate}}' ng-required="true", ng-model="newUser.lastName", tabindex="3").input-text.form-control
														p(ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine").help-block 
															| {{:: "MESSAGE_LASTNAME_REGISTER_FORM" | translate}}
												.row
													.col-md-6
														p
															select(ng-model="newUser.gender", tabindex="4", name="gender", placeholder='{{:: "INPUT_SEX_REGISTER_FORM" | translate}}').form-control
																option {{:: "SEX_MALE_REGISTER_FORM" | translate}}
																option {{:: "SEX_FEMALE_REGISTER_FORM" | translate}}
												.row
													.col-md-12
														p
															input(type='email', name="emailaddress", placeholder='{{:: "INPUT_EMAIL_REGISTER_FORM" | translate}}', ng-required="true", ng-model="newUser.email").input-text.form-control
														p(ng-show="registerForm.emailaddress.$invalid && !registerForm.emailaddress.$pristine").help-block
															| {{:: "MESSAGE_EMAIL_REGISTER_FORM" | translate}}
												.row
													.col-md-6
														p
															input(type='password', id="pw1", name="pw1", placeholder='{{:: "INPUT_PASSWORD_REGISTER_FORM" | translate}}', ng-required="true", ng-model="newUser.password").input-text.form-control
													.col-md-6
														p
															input(type='password', id="pw2", name="pw2" ng-match="newUser.password" placeholder='{{:: "INPUT_REPEATPASSWORD_REGISTER_FORM" | translate}}', ng-required="true", ng-model="newUser.passwordCompare").input-text.form-control
														p(ng-show="registerForm.pw2.$error.match").help-block
															| {{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}
												.row
													.col-md-12
														br
														a(ui-sref="layout.terms-of-service" target="_blank")
															span {{:: "ONLY_AVAILABLE_IN_ENGLISH_READ_THEM_HERE" | translate}}
														br
														input(type="checkbox" id="conditions" name="conditions" ng-model="newUser.conditions" value="0")
														label(for="conditions") {{:: "ACCEPT_TERMS_OF_SERVICE_CONDITIONS" | translate}}
											form(ng-show="registerComplete")
												p {{:: "MESSAGE_ACCOUNTSUCCESFULLCREATED_REGISTER_FORM" | translate}}
												p {{:: "MESSAGE_WESENDYOUANEMAIL_REGISTER_FORM" | translate}}

											span(ng-show="forgotmode") &nbsp;&nbsp;&nbsp;
											a(ng-click="forgotmode =!forgotmode" href="" ng-show="forgotmode").modal-link {{:: "MAIN_LOGIN" | translate}}
						.row
						br
						.row
						br
						hr
						// in case of a target-search or local-plump
						div(ng-show="campaign.update==false")
							a.btn.btn-lg.btn-light(ng-click="toTab6()") {{:: "PREVIOUS" | translate}}
							a.btn.btn-lg.btn-green.pull-right(ng-click="toTab8()" ng-disabled="step7.$invalid" ng-class="{ 'disabled' : step7.$invalid}") {{:: "NEXT" | translate}}
						// in case of an update
						div(ng-show="campaign.update==true")
							a.btn.btn-lg.btn-light(ng-click="toTab5()") {{:: "PREVIOUS" | translate}}
							a.btn.btn-lg.btn-green.pull-right(ng-click="toTab11()" ng-disabled="step7.$invalid" ng-class="{ 'disabled' : step7.$invalid}") {{:: "NEXT" | translate}}
			uib-tab(index='8', ui-sref='tab8', ng-hide='true' heading='7 OF 10. Campagne deelverzoek bekijken')
				.block-small
					h3 {{:: "ON" | translate}} {{facebookTaskInfo.fbPromotionSettings.promotionStartDate | date: 'dd-MM-yyyy'}} {{:: "JEWELERS_RECEIVE_THIS_EMAIL" | translate}}
					.row
						input.form-control(colorpicker='hex', ng-model='rgbPicker.color', type='text', name="colorPicker")
					//-a.btn.btn-lg.btn-light(ng-click="changeColor()") Change color text
					.col-md-2
					.col-md-8
						//-#divID
						p {{:: "LOOK_TO_THE_EMAIL_SENT_TO_YOUR_DEALERS" | translate}}. {{:: "LAYOUT_COULD_DIFFER_ON_THE_EMAILPROGRAM_WHICH_IS_USED" | translate}}
						div
							//-p(ng-show="body").text-center Deze email geeft een idee, van hoe de email eruit ziet, deze kan echter verschillen per e-mailprogramma.
							div(bind-html-compile="body")
							img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
							div(uib-alert, ng-show="(!body && !loading) || body == '' ", class="alert alert-info")
								| {{:: "NO_PREVIEW_AVAILABLE_FOR_THIS_EMAIL" | translate}}
						a(href="http://127.0.0.1:3000/welcome-retailer")
							p {{:: "WHEN_USER_HAS_NO_ACCOUNT_OR_IS_NOT_LOGGED_IN" | translate}}
					.col-md-2
				.row
				a.btn.btn-lg.btn-light(ng-click="toTab7()") {{:: "PREVIOUS" | translate}}
				a.btn.btn-lg.btn-green.pull-right(ng-click="toTab9()") {{:: "NEXT" | translate}}
			uib-tab(index='9', ui-sref='tab9', ng-hide='true' heading='8 OF 11. Ontvangers bepalen')
					h3 {{:: "DETERMINE_RECIPIENTS" | translate}}
					.col-md-12(ng-show="!emailReceivers")
						div.text-center
							h5 {{:: "DO_YOU_WANT_TO_ENTER_JEWELERS_MANUALLY_OR_DO_YOU_WANT_TO_LOOK_FOR_JEWELERS" | translate}}
							.col-md-6
								a.btn.btn-lg.btn-primary.pull-right(ng-click="emailReceivers = true; campaign.emailReceivers.mailSuggested = false") {{:: "ENTER_EMAIL_MANUALLY" | translate}}
							.col-md-6
								a.btn.btn-lg.btn-green.pull-left(ng-click="emailReceivers = true; campaign.emailReceivers.mailSuggested = true; validateEmailReceivers(emailAdresses)") {{:: "FIND_JEWELERS" | translate}}
						a.btn.btn-lg.btn-light(ng-click="toTab8()") {{:: "PREVIOUS" | translate}}
					.col-md-12(ng-show="emailReceivers")
						.row
							.col-md-12
								a.btn.btn-sm.btn-primary(ng-click="emailReceivers = false; campaign.emailReceivers.suggested = []") {{:: "CANCEL" | translate}}
								br
								h5 {{:: "ADD_EMAIL_ADRESSES_FROM_JEWELERS_WHICH_ARE_ALLOWED_TO_PROMOTE_CAMPAIGN" | translate}}:
								p {{:: "JEWELERS_CONTACT_DETAILS_ARE_KEPT_SAFE_AND_ONLY_ACCESSIBLE_TO_YOU" | translate}}
								p {{:: "ENTERING_EMAILADRESSES_YOU_CONFIRM_THAT_YOU_HAVE_PERMISSION_TO_SEND_A_CAMPAIGN_TO_THESE_RETAILERS" | translate}}
								textarea(ng-disabled="task.completed", ng-model="emailAdresses", cols="20", rows="2" id="testValidate" ng-change='emailAdressesChanged()' uib-tooltip-html='"{{:: "THE_MORE_RECEIVERS_THE_MORE_REACH" | translate}}"')
								.row
								br
								p(ng-show="validated") {{:: "IMPORTED_EMAILADRESSES_SUCCESSFULLY_VALIDATED" | translate}}
								a.btn.btn-md.btn-default.add-to-cart.pull-right(ng-show="campaign.emailReceivers.suggestedMinusDeleted.length == campaign.emailReceivers.suggested.length" ng-click="validateEmailReceivers(emailAdresses)")
									span {{:: "MATCH_AND_VALIDATE" | translate}}
								a.btn.btn-md.btn-default.add-to-cart.pull-right(ng-hide="campaign.emailReceivers.suggestedMinusDeleted.length == campaign.emailReceivers.suggested.length" ng-click="validateOnlyAdded(emailAdresses)")
									span {{:: "VALIDATE_ONLY" | translate}}
								.row
								br
								div(ng-if="campaign.emailReceivers.suggested.length > 0 && campaign.emailReceivers.mailSuggested")
									.col-md-6
										.col-md-8
											b(ng-hide="shops.length == 0") {{shops.length}} {{:: "PRISMANOTE_USERS_WHO_CARRY_BRAND" | translate}}
											b(ng-if="validated && shops.length == 0") {{:: "ADDITION_TO_EMAILADRESSES_ENTERED_NO_OTHER_PRISMANOTE_USERS_ARE_FOUND_WHICH_SELL_YOUR_BRAND" | translate}}
									.col-md-6
										input(type='checkbox', ng-true-value="A" ng-false-value="B" ng-model="check").form-control
										.col-md-12(ng-init="getShopList()" style="max-width: 650px;")
											h3(ng-if="heading == true") {{:: "JEWELERS" | translate}}
											input.form-control(ng-model="shopFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
											br
											img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
											.list-group
												a(ng-click="setSelected(shop.email); deleteShopEmaillist($index)" ng-repeat="shop in shops | filter: shopFilter | limitTo:30").list-group-item
													div {{shop.name}}
														span.pull-right.fa.fa-trash-o
									a.btn.btn-md.btn-default.add-to-cart.pull-right(href="" ng-click="validateEmailReceivers(emailAdresses)")
										span(ng-show="campaign.emailReceivers.mailSuggested") {{:: "REFRESH_AND_VALIDATE" | translate}}
						a.btn.btn-lg.btn-light(ng-click="toTab8()") {{:: "PREVIOUS" | translate}}
						a.btn.btn-lg.btn-green.pull-right(ng-click="toTab10()") {{:: "NEXT" | translate}}
			uib-tab(index='10', ui-sref='tab10', ng-hide='true' heading='9 OF 12. Laatste check')
				.block-small
					h3(ng-show="campaign.strategy=='target-search'") {{:: "LAST_CHECK_BEFORE_LAUNCH" | translate}}
					h3(ng-show="campaign.strategy=='local-plump'") {{:: "LAST_CHECK" | translate}}
					ul
						li {{:: "CAMPAIGN_IS_FORWARDED_TO_PRISMANOTE_TEAM_AND_WILL_BE_CHECKED_WITHIN_ONE_WORKING_DAY_YOU_WILL_RECEIVE_AN_EMAIL_AT" | translate}} {{campaign.wholesaler.email}} {{:: "WITH_POSSIBLE_IMPROVEMENTS" | translate}}
						li {{:: "THIS_EMAIL_WILL_BE_SENT_ON" | translate}}: {{facebookTaskInfo.fbPromotionSettings.promotionStartDate | date: "EEEE, MMMM d"}} ({{facebookTaskInfo.fbPromotionSettings.promotionStartDate | date: 'dd-MM-yyyy'}}) {{:: "AT_EIGHT_IN_MORNING_60_OF_ALL_CAMPAIGNS_ARE_EXECUTED_ON_DAY_OF_SENDING" | translate}}
						li(ng-hide="campaign.emailReceivers.mailSuggested") {{0 + campaign.emailReceivers.added.length }} {{:: "SHOPKEEPERS_WILL_RECEIVE_CAMPAIGN_VIA_EMAIL" | translate}}
						li(ng-if="campaign.emailReceivers.mailSuggested") {{0 + campaign.emailReceivers.suggestedMinusDeleted.length + campaign.emailReceivers.added.length }} {{:: "SHOPKEEPERS_WILL_RECEIVE_CAMPAIGN_VIA_EMAIL" | translate}}
						li(ng-hide="campaign.emailReceivers.mailSuggested == false || campaign.emailReceivers.added.length < 1 && campaign.emailReceivers.suggestedMinusDeleted.length < 1") {{:: "YOU_ADDED" | translate}} {{campaign.emailReceivers.added.length}} {{:: "RETAILERS_ADDED" | translate}}
							div(ng-if="campaign.emailReceivers.mailSuggested && campaign.emailReceivers.suggestedMinusDeleted.length > 0")
								| {{:: "AND" | translate}} {{campaign.emailReceivers.suggestedMinusDeleted.length}} {{:: "SHOPKEEPERS_ARE_SUGGESTED_BY_PRISMANOTE" | translate}}
						li(ng-if="campaign.emailReceivers.mailSuggested && campaign.emailReceivers.suggestedMinusDeleted.length < 0") {{:: "IN_TOTAL" | translate}} {{campaign.emailReceivers.suggestedMinusDeleted.length}} {{:: "PRISMANOTE_USING_RETAILERS_WHO_INDICATED_THAT_THEY_SELL_YOUR_BRAND_SEE_CAMPAIGN_IN_PORTAL" | translate}}
						li(ng-if="campaign.emailReceivers.isRestricted") {{:: "NO_OTHER_RETAILER_CAN_SEE_THE_CAMPAIGN_THAN_ONLY_THE_USERS_YOU_ADD" | translate}}
						li {{:: "TO_ENCOURAGE_YOUR_DEALERNETWORK_YOU_REIMBURSE" | translate}} {{facebookTaskInfo.contribution.percent}} % {{:: "OF_EACH_CAMPAIGN_THAT_IS_EXECUTED_UP_TO_MAX_AMOUNT_OF" | translate}} {{facebookTaskInfo.contribution.maxAmount | currency: '€'}} {{:: "PER_CAMPAIGN" | translate}}
						li(ng-show="campaign.strategy=='local-plump'") {{:: "YOU_REIMBURSE" | translate}} {{facebookTask2Info.contribution.percent}}% {{:: "YOU_REIMBURSE_OF_EACH_RETARGETING_CAMPAIGN_THAT_IS_EXECUTED_UP_TO_AMOUNT_OF" | translate}} {{facebookTask2Info.contribution.maxAmount | currency: '€'}} {{:: "PER_RETARGETING_CAMPAIGN" | translate}}
						//-li Deze vergoeding betaald u achteraf voor iedere juwelier afzonderlijk via Ideal
						li {{:: "YOU_PAY_THIS_FEE_AFTERWARDS_VIA_DIRECT_DEBIT" | translate}}
						li {{:: "THIS_CAMPAIGN_CANNOT_BE_USED_ON" | translate}}: {{campaign.endDate | date: 'dd-MM-yyyy'}}
						li(ng-hide="user.role=='wholesaler'") {{:: "YOU_CAN_SEE_RESULTS_THROUGH_YOUR" | translate}} 
							a(ng-controller="authController" ng-click="openLoginModal()")
								| PrismaNote Performance portal
						li(ng-if="user.role=='wholesaler'") {{:: "YOU_CAN_SEE_RESULTS_THROUGH_YOUR" | translate}} 
							a(ui-sref="brand.performance" target="_blank")
								| PrismaNote Performance portal
						br
					div.pull-right
						span
								div(ng-show="campaign.emailReceivers.suggested")
									a.btn.btn-md.btn-danger.add-to-cart(href="" ng-click="sentCampaign()") {{:: "SEND_CAMPAIGN" | translate}}
								div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
									//a(ng-href='brand.campaigns/nameSlug?!')
									| {{alert.msg}}
									//|Click here to see the campaign in your portal
					br
					br
					br
					a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo").pull-right
						span &nbsp;{{:: "WHY_DEALERS_ARE_HAPPY_WITH_CAMPAIGN" | translate}}&nbsp; 
					.col-md-12
						div(uib-collapse="!showInfo")
							b {{:: "EFFECTS_THIS_CAMPAIGN_IS_GOING_TO_HAVE" | translate}}
							ul
								li {{:: "REDUCE_CPC_SHARING_COSTS_OF_CONSUMER_CAMPAIGN" | translate}}
								li {{:: "REACH_HUGE_AMOUNT_OF_CONSUMERS_WITH_LOW_BUDGET" | translate}}
								li {{:: "SEND_YOUR_DEALERNETWORK_TO_B2B_ORDER_WEBSITE" | translate}}
								li {{:: "MAKE_SURE_YOUR_DEALER_NETWORK_CAN_EASILY_RUN_CAMPAIGNS_WITHOUT_KNOWLEDGE_OF_SETTINGS" | translate}}
							br
							b {{:: "WHY_YOU_CONNECT_DEALERS_TO_YOUR_BRAND" | translate}}
							ul
								li {{:: "ENSURE_YOUR_DEALERNETWORK_EASILY_CARRY_OUT_CAMPAIGNS_WITHOUT_KNOWLEDGE" | translate}}
								li {{:: "SETTING_UP_CAMPAIGN_YOUR_DEALERS_DONT_HAVE_TO_INVEST_TIME_CREATING_HIGH_LEVEL_ADDS" | translate}}
								li {{:: "CPC_GOES_DOWN_CHEAPER_LOCAL_MARKETING_DOES_NOT_EXIST" | translate}}
								li {{:: "YOUR_DEALERS_ARE_BROUGHT_TO_IDEAS_AND_WORK_ACTION_ORIENTED" | translate}}
								li {{:: "DEALERS_GET_STARTED_WITH_YOUR_BRAND_AND_BUY_MORE" | translate}}
				a.btn.btn-lg.btn-light(ng-click="toTab9()") {{:: "PREVIOUS" | translate}}
			uib-tab(index='11', ui-sref='tab11', ng-hide='true' heading='10 OF 13. Update toevoegen')
				.block-small
					h3 {{:: "ADD_UPDATE" | translate}}
					ul
						li {{:: "CAMPAIGN_IS_FORWARDED_TO_PRISMANOTE_AND_IS_CHECKED_WITHIN_ONE_WORKING_DAY" | translate}} {{campaign.wholesaler.email}} {{:: "WITH_POSSIBLE_IMPROVEMENTS" | translate}}
						li(ng-if="campaign.emailReceivers.mailSuggested && campaign.emailReceivers.suggested.length < 0") {{:: "IN_TOTAL" | translate}} {{campaign.emailReceivers.suggested.length}} {{:: "PRISMANOTE_USING_RETAILERS_WHO_HAVE_INDICATED_THAT_THEY_SUPPORT_YOUR_BRAND_CAN_SEE_YOUR_CAMPAIGN_BUT_ARE_NOT_RECEIVING_MESSAGE" | translate}}
						li {{:: "THIS_CAMPAIGN_CANNOT_BE_USED_ON" | translate}} {{:: "BY_JEWELERS" | translate}}: {{campaign.endDate | date: 'dd-MM-yyyy'}}
						//- li(ng-hide="user.role=='wholesaler'") U kunt uw resultaten zien via uw 
						//- 	a(ng-controller="authController" ng-click="openLoginModal()")
						//- 		| PrismaNote Performance portal
						//- li(ng-if="user.role=='wholesaler'") U kunt uw resultaten zien via uw 
						//- 	a(ui-sref="brand.performance" target="_blank")
						//- 		| PrismaNote Performance portal
						br
					div.pull-right
						span
								div(ng-show="campaign.emailReceivers.suggested")
									a.btn.btn-md.btn-green.add-to-cart(href="" ng-click="sentCampaign()") {{:: "ADD_UPDATE" | translate}}
								div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
									//a(ng-href='brand.campaigns/nameSlug?!')
									| {{alert.msg}}
									//|Click here to see the campaign in your portal
					br
					br
					br
					a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo").pull-right
						span &nbsp;{{:: "WHY_MY_DEALERS_ARE_HAPPY_WITH_THIS_UPDATE" | translate}}&nbsp; 
					.col-md-12
						div(uib-collapse="!showInfo")
							b {{:: "EFFECTS_THIS_UPDATE_WILL_HAVE" | translate}}
							ul
								li {{:: "SEND_YOUR_DEALERNETWORK_TO_B2B_ORDER_WEBSITE" | translate}}
								li {{:: "MAKE_SURE_YOUR_DEALERNETWORK_EASILY_PERFORM_UPDATES_WITHOUT_PHOTOSHOP" | translate}}
							br
							b {{:: "WHY_YOU_CONNECT_DEALERS_TO_YOUR_BRAND" | translate}}
							ul
								li {{:: "ENSURE_THAT_YOUR_DEALER_NETWORK_EASILY_POST_UPDATES_WITHOUT_UNDERSTANDING_PHOTOSHOP" | translate}}
								li {{:: "SETTING_UP_UPDATE_YOUR_DEALERS_DONT_HAVE_TO_SPENT_LESS_TIME_BINDING_EXISTING_CUSTOMERS" | translate}}
								li {{:: "YOUR_DEALERS_ARE_BROUGHT_TO_IDEAS_AND_WORK_ACTION_ORIENTED" | translate}}
								li {{:: "DEALERS_GET_STARTED_WITH_YOUR_BRAND_AND_BUY_MORE" | translate}}
				a.btn.btn-lg.btn-light(ng-click="toTab7()") {{:: "PREVIOUS" | translate}}
		.row.hidden
		//- pre {{chosenUpdate | json}}
		//- pre {{campaign | json }}
		//- pre {{orderTaskInfo | json }}
		//- pre {{facebookTaskInfo | json }}
		//- pre {{facebookTask2Info | json }}
		//- pre {{facebookTaskImages | json}}
		//- pre {{facebookTask2Images | json}}