.container
	.row
		.col-md-12
			h3 {{:: "SHOPS" | translate}}
			input.pull-right(type='text', ng-model='searchquery', placeholder='{{:: "SEARCH" | translate}}')
			img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
	.row(ng-hide="loading")
		br
		div(uib-alert, ng-show="!shops || shops.length == 0").alert-warning
			| {{:: "THERE_ARE_NO_SHOPS_WHICH_CONTRIBUTED_TO_YOUR_DIGITAL_MARKETING_EFFORTS" | translate}}
	.row(ng-hide="loading")
		table.table.table-hover
			tr
				td #
				td(colspan='3') {{:: "SHOP_NAME" | translate}}
				td
				td
				td {{:: "BRAND" | translate}}
				td(colspan='2') {{:: "MARKETING_CONTRIBUTION" | translate}}
				td
				td(colspan='2') {{:: "PRODUCT_INFO_ACCESS" | translate}}
			tbody(ng-repeat="item in user.socialPortal.campaigns | orderBy: '-startDate' | filter:searchquery")#accordion.accordion-group.hidden
				tr.accordion-toggle(data-toggle='collapse', data-target='#{{$index}}')
					td
					td(colspan='3') {{NAME_SUPPLIER}}
					td
					td
					td {{item.brand.name}}
					td(colspan='2') €25.00
					td
					td(colspan='2') Ja
				tr(id='{{$index}}').accordian-body.collapse
					td
					td(colspan='5')
						b {{:: "INFO" | translate}}
						br
						br
						b {{:: "NAME" | translate}}: 
						br
						| {{customer.emailName}}
						br
						br
						b {{:: "EMAIL" | translate}}: 
						br
						| {{customer.email}}
						br
						br
						b {{:: "WARRANTY_UP_TO" | translate}}:
						br
						| {{customer.endDateWarranty | date}}
						br
						br
						b {{:: "PRODUCT_TYPE" | translate}}:
						br
						div(ng-if='customer.watchOrJewel === true') {{:: "WATCH" | translate}}
						div(ng-if='customer.watchOrJewel === false') {{:: "JEWEL" | translate}}
						br
						br
						b {{:: "ADVERTISING_ELEMENT" | translate}}:
						br
						div(ng-if='customer.gender === true') {{:: "MAN" | translate}}
						div(ng-if='customer.gender === false') {{:: "WOMAN" | translate}}
							|,
						div(ng-if='customer.watchOrJewel === true') {{:: "WATCH" | translate}}
						div(ng-if='customer.watchOrJewel === false') {{:: "JEWEL" | translate}}
							|,
						div {{customer.priceRange | currency : "€"}}
						br
						br
					td(colspan='2')
						b {{:: "ALL_BRANDS_OF_THIS_SUPPLIER" | translate}}:
						a.lightbox-gallery.img(ng-href='{{awsUrl + customer.photo[0].src}}', target='_blank')
							img(ng-src='{{awsUrl + customer.photo[0].src}}', alt='{{customer.photo.alt}}')
						p {{:: "CAUTION_YOU_DO_NOT_CARRY_ALL_BRANDS_OF_THIS_SUPPLIER" | translate}}
					td(colspan='2')
						b {{:: "MARKETING_CONTRIBUTION" | translate}}
						p(ng-repeat="email in customer.sentMail") 
							i.fa.fa-arrow-circle-right(ng-click="openPreviewMailModal(email.body)")
							|{{email.subject}} ({{email.timestamp | date : "dd-MM-yyyy HH:mm"}})
					td(colspan='2')
						b {{:: "USE_OF_PRODUCT_INFORMATION" | translate}}
						div(ng-repeat="email in customer.plannedEmail")
							input(type='checkbox', name='{{$parent.$index}}{{$index+1}}' id="{{$parent.$index}}{{$index+1}}", ng-change="savePlanned($index, email.enabled, $parent.customer._id)" ng-model="email.enabled")
							label(for="{{$parent.$index}}{{$index+1}}") {{email.subject}} ({{:: "IS_SENT_ON" | translate}}: {{email.date | date : "dd-MM-yyyy"}})
								//-a(ng-href='{{email.link}}', target='_blank')
								i.fa.fa-arrow-circle-right(ng-click="openPreviewMailModal(email.htmlMail)")
						a.btn.btn-lg.btn-red(ng-click="disableMail($index, customer._id)") {{:: "NO_MORE_SENDING_EMAILS_TO_THIS_CUSTOMER" | translate}}