.container
    .row
    div
        br
        .col-md-12(ng-init="getCampaigns()")
            .row
            a(ng-click="matchUpdatesOfSocialPortalsBrandsWithGeneralUpdates()") 
                i(style="color: burlywood").fa.fa-search
                | {{:: "FIND_BRANDS_THAT_HAVE_MANY_JEWELERS_BUT_ARE_NOT_UPDATED" | translate}}
            .col-md-12
                .btn-group(ng-repeat="brand in topListBrands | orderBy: '-amount'")
                    button.btn.btn.btn-md.button-margin-right {{brand.name}} ({{brand.amount}} {{:: "SHOPKEEPERS" | translate}})
            br
            h3 {{:: "SOCIAL_PORTALS_OF_SHOPS_USERS" | translate}}
            input.form-control(ng-model="socialPortalFilter", placeholder='{{:: "INPUT_FILTER_SOCIAL_PORTALS" | translate}}')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            //- .row
            //-     hr
            //-     .col-md-3
            //-         b Aantal portals met te weinig merken (minder dan 10)
            //-         p X
            //-     .col-md-3
            //-         b Aantal portals met te weinig updates (minder dan 10)
            //-         br
            //-         p X
            //-     .col-md-3
            //-         b Aantal portals met dubbele gebruikers
            //-         p X
            //-     .col-md-3
            //-         b Aantal portals die meerdere keren gekoppeld zijn aan dezelfde shop
            //-         p X
            hr
            .row
            .list-group
                a(ng-repeat="portal in socialPortals | filter: socialPortalFilter | orderBy: '-amountOfUpdates' | limitTo:totalDisplayed", ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})").list-group-item
                    .col-md-4
                        div(ng-repeat="shop in portal.shops") 
                            p {{:: "SHOP" | translate}}: 
                                b {{shop.name}}
                                p Portal ID: {{portal._id}}
                    .col-md-4
                        div(ng-repeat="user in portal.users") 
                            p {{:: "USER" | translate}}: {{user.name}} ({{user.email}})
                        div(ng-if="portal.users.length == 0")
                            p {{:: "NO_USERS" | translate}}!
                        div(ng-if="portal.users.length > 1")
                            p {{:: "TOO_MANY_USERS" | translate}}
                    .col-md-4
                        div {{:: "NUMBER_OF_UPDATES" | translate}}: {{portal.amountOfUpdates}}
                        div(ng-if="portal.brands.length > 0 && portal.amountOfUpdates < 10")
                            i(style="color: burlywood").fa.fa-flag
                            |  {{:: "LESS_THAN_TEN" | translate}}
                        div(ng-if="portal.brands.length > 0 && portal.amountOfUpdates >= 10")
                            i(style="color: forestgreen").fa.fa-check
                            |  {{:: "MORE_THAN_TEN" | translate}}
                    hr
                    .row
                    .col-md-12
                        p(ng-if="portal.brands.length < 10") {{:: "BRANDS" | translate}}: 
                            i(style="color: burlywood").fa.fa-diamond
                            |   {{:: "LESS_THAN_TEN" | translate}}
                        p(ng-if="portal.brands.length >= 10") {{:: "BRANDS" | translate}}:
                            i(style="color: forestgreen").fa.fa-diamond
                            |  {{:: "ENOUGH" | translate}}
                        br
                        .btn-group(ng-repeat="brand in portal.brands")
                            button.btn.btn.btn-md.button-margin-right {{brand.name}}
                                span(ng-if="brand.credit") (credit: {{brand.credit}})
                                span(ng-if="!brand.credit") (credit: 0)
                    .row
            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}
            br
            br
            br
            .list-group
                a(ng-repeat="update in updates | limitTo:totalDisplayed", ui-sref="admin.socialPortal({nameSlug:socialPortal.nameSlug})").list-group-item
                    div {{update.name}}
                    hr
                    div {{update.brand.name}}