.container
		.row
				.col-md-12(ng-init="loadUser()")
						h3 {{:: "EDIT_USER" | translate}}
						a.btn.btn-dark.pull-right(ui-sref='brand.home') {{:: "BACK" | translate}}
						.row
								form(novalidate, ng-submit="updateUser()")
										.col-md-4
												.form-group
														label(for="firstName") {{:: "TEXT_FIRSTNAME" | translate}}
														input(type="text", ng-model="user.firstName" id="firstName", placeholder='{{:: "TEXT_FIRSTNAME" | translate}}').form-control
														label(for="lastNamePrefix") {{:: "TEXT_INSERTION" | translate}}
														input(type="text", ng-model="user.lastNamePrefix" id="lastNamePrefix", placeholder='{{:: "TEXT_INSERTION" | translate}}').form-control
														label(for="lastName") {{:: "TEXT_LASTNAME" | translate}}
														input(type="text", ng-model="user.lastName" id="lastName", placeholder='{{:: "TEXT_LASTNAME" | translate}}').form-control
														br
										.col-md-4
												.form-group
														label(for="email") {{:: "TEXT_EMAILADRESS" | translate}}
														input(type="text", ng-model="user.email" id="email", placeholder='{{:: "TEXT_EMAILADRESS" | translate}}').form-control
														label(for="username") {{:: "USERNAME" | translate}}
														input(type="text", ng-model="user.username" id="username", placeholder='{{:: "USERNAME" | translate}}').form-control
														label(for="gender") {{:: "SEX" | translate}}
														select(ng-model="user.gender", ng-options="o.v as o.n for o in [{ n: 'Woman', v: false }, { n: 'Man', v: true }]").form-control
														br
										.col-md-4
												.form-group
														br
														br
						.row
								.col-md-4
										h4 {{:: "ADDRESSES" | translate}}
										button(ng-click="newAddress()").btn.btn-green {{:: "NEW_ADDRESS" | translate}}
										br
										br
										.list-group
												a(ng-repeat="address in user.address", ng-click="openAddress($index)", ng-class="{'active': currentAddress.index == $index}").list-group-item.clearfix
														span {{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}
														span.pull-right.button-group
																i.fa.fa-times(ng-click="deleteAddress($index)")
										.row(ng-hide="user.role == 'user'")
												h4 {{:: "COMPANIES" | translate}}
												| ({{:: "USER_RIGHTS_FOR_SHOPS_CONTACT_ADMIN" | translate}})
												.col-md-12
														.list-group
																a(ng-repeat="shop in user.shops", ng-click="openShop($index)", ng-class="{'active': currentShop.index == $index}").list-group-item.clearfix
																		span {{shop.name}} ({{shop.type}})
																		span.pull-right.button-group
								.col-md-4
										.form-group(ng-show='currentAddress || addNewAddress')
												h4 {{:: "EDIT_ADDRESS" | translate}}
												label(for="street") {{:: "TEXT_ADDRESS" | translate}}
												input(type="text", ng-model="currentAddress.street" id="street", placeholder='{{:: "TEXT_ADDRESS" | translate}}').form-control

												label(for="housenumber") {{:: "TEXT_NUMBER" | translate}}
												input(type="text", ng-model="currentAddress.houseNumber" id="housenumber", placeholder='{{:: "TEXT_NUMBER" | translate}}').form-control
												
												label(for="housenumbersuffix") {{:: "TEXT_ADDITION" | translate}}
												input(type="text", ng-model="currentAddress.houseNumberSuffix" id="housenumbersuffix", placeholder='{{:: "TEXT_ADDITION" | translate}}').form-control

												label(for="postalcode") {{:: "TEXT_ZIP" | translate}}
												input(type="text", ng-model="currentAddress.postalCode" id="postalcode", placeholder='{{:: "TEXT_ZIP" | translate}}').form-control

												label(for="city") {{:: "TEXT_CITY" | translate}}
												input(type="text", ng-model="currentAddress.city" id="city", placeholder='{{:: "TEXT_CITY" | translate}}').form-control

												label(for="country") {{:: "TEXT_COUNTRY" | translate}}
												input(type="text", ng-model="currentAddress.country" id="country", placeholder='{{:: "TEXT_COUNTRY" | translate}}').form-control
												input(type="button", ng-click="pushAddress()", ng-show="addNewAddress", value='{{:: "ADD" | translate}}').btn.btn-lg.btn-green
												input(type="button", ng-click="cancelNewAddress()", ng-show="addNewAddress", value='{{:: "CANCEL" | translate}}').btn.btn-lg
										.row.hidden(ng-show="currentShop")
												h4 {{:: "EDIT_SHOP" | translate}}
												br
												br
												.col-md-6
														| {{currentShop.name}} 
												.col-md-6
														select(ng-model="currentShop.type", id="shoptype").form-control
																option(value="shop") {{:: "SHOP" | translate}}
																option(value="pro-shop") {{:: "PRO_SHOP" | translate}} 
										.row(ng-show="currentPhone || addNewPhone")
												h4 {{:: "EDIT_PHONE" | translate}}
												label(for="countryCode") {{:: "COUNTRY_CODE" | translate}}
												input(type="text", ng-model="currentPhone.countryCode" id="countryCode", placeholder='{{:: "COUNTRY_CODE" | translate}}').form-control
												
												label(for="phone") {{:: "TEXT_PHONE" | translate}}
												input(type="text", ng-model="currentPhone.landLine", id="phone", placeholder='{{:: "TEXT_PHONE" | translate}}').form-control
												
												label(for="mobile") {{:: "MOBILE" | translate}}
												input(type="text", ng-model="currentPhone.mobilePhone",id="mobile", placeholder='{{:: "MOBILE" | translate}}').form-control

												label(for="fax") {{:: "FAX" | translate}}
												input(type="text", ng-model="currentPhone.fax", id="mobile", placeholder='{{:: "FAX" | translate}}').form-control
												
												input(type="button", ng-click="pushPhone()", ng-show="addNewPhone", value='{{:: "ADD" | translate}}').btn.btn-lg.btn-green
												input(type="button", ng-click="cancelNewPhone()", ng-show="addNewPhone", value='{{:: "CANCEL" | translate}}').btn.btn-lg


								.col-md-4
										h4 {{:: "PHONE_NUMBERS" | translate}}
										button(ng-click="newPhone()").btn.btn-green {{:: "NEW_PHONE_NUMBER" | translate}}
										br
										br
										.list-group
												a(ng-repeat="phone in user.phone", ng-click="openPhone($index)", ng-class="{'active': currentPhone.index == $index}").list-group-item.clearfix
														span {{phone.countryCode}} {{phone.mobilePhone || phone.landLine}}
														span.pull-right.button-group
																i.fa.fa-times(ng-click="deletePhone($index)")       
						.row
								.col-md-12
										input(type="submit", ng-click="updateUser()", ng-disabled="afterClick", value='{{:: "SAVE" | translate}}').btn.btn-lg.btn-green
										input(type="button", ng-click="openResetPasswordModal(user._id)", value='{{:: "CHANGE_PASSWORD" | translate}}').btn.btn-lg
										img(src="/images/loading.gif", ng-hide="!updateLoading", style="height:100px; width: 100px;")
						.row
						br
						hr