div.brandWelcome-background
	.container
		.row.home-products.block.text-center
			div.hidden-xs.hidden-sm.hidden-md
				br
				br
				br
				br
				h3(style="color=#fff").no-underline {{:: "WELCOME_BRAND" | translate}}
			div
				p(style="color:#fff") {{:: "REDUCE_COST_PER_CLICK_FORM_A_BLOCK_WITH_YOUR_DEALER_NETWORK_AND_MAKE_YOUR_BRAND_KNOWN" | translate}}
				br
				br
			div.hidden-xs.hidden-sm.hidden-md
				br
				br
				br
			div
				.btn-group
					button#single-button.btn.btn-light.text-center.hidden-lg.hidden-xl(type='button', ui-sref="brand.new-campaign") {{:: "SET_UP_A_CAMPAIGN" | translate}}
			br.hidden-lg.hidden-xl
			br.hidden-lg.hidden-xl
			div
				.btn-group(uib-dropdown='', is-open='status.isopen')
					button#single-button.btn.btn-green.button-margin-right(type='button', uib-dropdown-toggle='', ng-disabled='disabled') {{selectedTestApp}}
						span.caret
					ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
						li(role='menuitem')
							a(ng-click="activeTab = 0; showForm = true; selectedTestApp = 'Locale marketing'") {{:: "LOCAL_MARKETING" | translate}}
						li(role='menuitem')
							a(ng-click="activeTab = 2; showForm = true; selectedTestApp = 'Product data'") {{:: "DEALERMANAGEMENT" | translate}}
						li(role='menuitem')
							a(ng-click="activeTab = 3; showForm = true; selectedTestApp = 'Electronische facturatie'") {{:: "ELECTRONICAL_INVOICING" | translate}}
					| &nbsp
					button#single-button.btn.btn-light.text-center.hidden-xs.hidden-sm.hidden-md(type='button', ui-sref="brand.new-campaign") {{:: "SET_UP_A_CAMPAIGN" | translate}}
			div.hidden-xs.hidden-sm.hidden-md
				br
				br
				br
			uib-tabset(active='activeTab' ng-show='showForm')
				uib-tab(index='0', ui-sref='tab0', ng-hide="true", heading='Marketing App')
					div
						uib-accordion(close-others='oneAtATime')
							.panel(uib-accordion-group='', heading='{{:: "ADVANTAGES" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								h4 {{:: "ORGANISE_AS_A_BRAND_PROFESSIONAL_DIGITAL_CAMPAIGNS_WITH_JEWELLERS" | translate}}
								b {{:: "ADVANTAGES_FOR_BRANDS" | translate}}
								ul
									li {{:: "LOWER_COST_PER_CLICK" | translate}}
									li {{:: "SENT_YOUR_DEALERS_TO_B2B_ORDER_WEBSITE" | translate}}
									li {{:: "ORGANISE_CAMPAIGNS_THAT_WORK_FOR_RESELLERS" | translate}}
								br
								b {{:: "ADVANTAGES_FOR_JEWELLERS" | translate}}
								ul
									li {{:: "DEPLOY_MARKETING_BUDGET_MORE_EFFECTIVELY" | translate}}
									li {{:: "FOR_DIGITAL_ADVERTISEMENTS_YOU_PAY_70_LESS" | translate}}
									li {{:: "YOU_CAN_CHOOSE_YOUR_OWN_CAMPAIGNS_AND_CONTROL_YOUR_MARKETING" | translate}}
									li {{:: "YOU_MAKE_ADS_AT_HIGHEST_LEVEL_THE_IDEAL_PROMOTION_STRATEGY_IS_ALREADY_DEVISED" | translate}}
								br
								b {{:: "THIS_TOOL_ENSURES_YOU_COLLABORATE_ON_LOCAL_MARKETING_THE_BEST_WAY_VIA_YOUR_DEALERNETWORK" | translate}}
							.panel-default(uib-accordion-group='', heading='{{:: "USE_FOR_FREE" | translate}}')
								h5  {{:: "YOU_CAN_USE_MARKETING_SOFTWARE_FOR_FREE" | translate}}
								br
								a.btn.btn-yellow.btn-lg(type='button', ui-sref="brand.new-campaign") {{:: "USING_THIS_SOFTWARE_FOR_FREE" | translate}}
								br
								b {{:: "THIS_TOOL_ENSURES_YOU_CAN_REACH_STRUCTURALLY_EASY_NEW_CLIENTS" | translate}}
								br
							.row
							br
							div.pull-right
								a.btn.btn-sm.btn-light(href="https://prismanoteforjewellers.com/brand-promotion/", target='_blank' ng-class="btn-md") {{:: "I_M_BRAND_MORE_INFO" | translate}}
							div.pull-right
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanoteforjewellers.com/more-visitors-to-my-store/" target="_blank" ng-show="language != 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanotevoorjuweliers.nl/meer-bezoekers/", target='_blank' ng-show="language == 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
				uib-tab(index='2', ui-sref='tab1', ng-hide="true", heading='{{:: "DESIGN_WEBSITE_APP" | translate}}')
					div
						uib-accordion(close-others='oneAtATime')
							.panel(uib-accordion-group='', heading='{{:: "ADVANTAGES" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								h4 {{:: "SHARE_YOUR_PRODUCT_DATA_WITH_SOPHISTICATED_DEALER_MANAGEMENT" | translate}}
								b {{:: "ADVANTAGES_FOR_BRANDS" | translate}}
								ul
									li {{:: "SHARED_PRODUCTS_BY_BRANDS_CAN_BE_DELETED_FROM_JEWELLERS_WEBSITES" | translate}}
									li {{:: "USE_THE_PN_IMPORT_TOOL_TO_IMPORT_PRODUCT_INFO_VERY_EASY" | translate}}
									li {{:: "CONNECTED_BRANDS_MAY_USE_SPECIAL_TRANSLATION_TOOL" | translate}}
									li {{:: "PRICE_LEVELS_ARE_MAINTAINED" | translate}}
								br
								b {{:: "ADVANTAGES_FOR_JEWELLERS" | translate}}
								ul
									li {{:: "PRODUCT_INFO_IS_ADDED_IN_A_FEW_CLICKS" | translate}}
									li {{:: "THE_PRISMANOTE_TEAM_HELPS_GETTING_ALL_PRODUCT_INFO" | translate}}
								br
								b {{:: "THIS_TOOL_ENSURES_YOU_COLLABORATE_ON_PRODUCT_DATA_THE_BEST_WAY_VIA_YOUR_DEALERNETWORK" | translate}}
							.panel-default(uib-accordion-group='', heading='{{:: "USE_FOR_FREE" | translate}}')
								h5  {{:: "YOU_CAN_USE_IMPORT_FUNCTION_AND_TRANSLATION_TOOL_FOR_FREE" | translate}}
								br
								p {{:: "TRY_OUT_THE_APP_FOR_FREE_BY_REGISTERING_YOURSELF" | translate}}
								a.btn.btn-yellow.btn-lg(type='button', ng-controller="authController" ng-click='openLoginRegisterModal("register")') {{:: "USING_THIS_SOFTWARE_FOR_FREE" | translate}}
								br
								br
							.row
							br
							div.pull-right
								a.btn.btn-sm.btn-light(href="https://prismanoteforjewellers.com/brand-promotion/", target='_blank' ng-class="btn-md") {{:: "I_M_BRAND_MORE_INFO" | translate}}
							div.pull-right
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanoteforjewellers.com/more-visitors-to-my-store/" target="_blank" ng-show="language != 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
								a.btn.btn-sm.btn-light.button-margin-right(href="https://prismanotevoorjuweliers.nl/meer-bezoekers/", target='_blank' ng-show="language == 'nl'") {{:: "I_M_JEWELLER_MORE_INFO" | translate}}
				uib-tab(index='3', ui-sref='tab2', ng-hide="true", heading='')
					div
						uib-accordion(close-others='oneAtATime')
							.panel(uib-accordion-group='', heading='{{:: "ADVANTAGES" | translate}}' ng-init='isOpen = true', is-open='isOpen')
								h4 {{:: "STREAMLINE_YOUR_DEALERNETWORKS_PURCHASE_PROCES_BY_SENDING_ELECTRONICAL_INVOICES" | translate}}
								b {{:: "ADVANTAGES_FOR_JEWELLERS" | translate}}
								ul
									li {{:: "CONNECT_TO_CLARITY_AND_SUCCESS_AS_SUPPLIER_AND_SIMPLIFY_YOUR_DEALERNETWORKS_PURCHASE_PROCES" | translate}}
									li {{:: "SEND_ELEC_INVOICES_THAT_JEWELLERS_CAN_USE_TO_CALCULATE_THEIR_DISCOUNTS_AND_ADD_PRODUCTS" | translate}}
								br
								p.text-center {{:: "DO_YOU_WANT_TO_SEE_THE_SOFTWARE_IN_REAL_LIFE" | translate}}
								div
									label {{:: "CALL_US_AND_MAKE_APPOINTMENT" | translate}}
									br
									| +31 345 631 776
									br
							.row
				br
				br
	.container
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br