.block-small
    div(ng-show="campaign.update == true")
        .col-md-4
            .row(ng-repeat="task in campaign.tasks | filter:{type:'order'}")
                h4 {{:: "ORDER_TASKS" | translate}}
                .row
                    .task-block.orderTask-color(ng-repeat="task in campaign.tasks | filter:{type:'order'}")
                        .col-md-12.text-center
                            p.switch-align-task
                                label(for="activeTask") {{task.completed ? "This task is already executed" : "Execute"}}
                                toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.execute = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute")
                            span.i.fa.fa-truck.fa-5x
                            h4(uib-tooltip-html='"{{:: "EXPLAIN_ORDER_TASK" | translate}}"') {{task[language].name}}
                            p {{task[language].description}}
                            p
                                span.i.fa.fa-calendar-o
                                | &nbsp; {{task.startDate | date : "dd-MM-yyyy"}} - {{task.endDate | date : "dd-MM-yyyy"}}
                        br
                        br
                        br
                        br
                        a(href="{{task.orderLink}}" target='_blank').btn.btn-sm.btn-primary {{:: "ORDER_DIRECT" | translate}}
            .row(style="margin-top: 30px; background-color: #f5f9fa")
                .col-md-12(style='background-color: #f5f9fa')
                    h5 {{:: "QUESTIONS" | translate}}
                    p(uib-tooltip-html='"{{:: "KEEP_IN_TOUCH_WITH_EXISTING_FOLLOWERS" | translate}}"')
                        | {{:: "PROMOTION_STRATEGY" | translate}} {{:: "UNPAID_UPDATE" | translate}} &nbsp;
                        span.fa.fa-bullhorn
                    p {{:: "CAMPAIGN_NUMBER" | translate}}: {{campaign.number}}
                    //-p Type: {{campaign.type}} - {{campaign.occasion}}
                    a(href='' ng-init="showInfo = false" ng-click="showInfo = !showInfo").pull-right
                        span &nbsp; &nbsp;
                        span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
                    div(uib-collapse="!showInfo")
                        p {{:: "QUESTIONS_CALL_EXPERT" | translate}} +31 345 631 776
                        hr
                        p {{:: "QUESTIONS_CALL_DISTRIBUTOR" | translate}}
                        p {{:: "CALL" | translate}}: {{campaign.wholesaler.telephoneNumber}}
                        p {{:: "DISTRIBUTOR" | translate}}: {{campaign.wholesaler.name}}
                        p {{campaign.description}}
                        p {{campaign.url}}
                        p {{:: "CAMPAIGN_PUBLISHED_FROM" | translate}} {{campaign.startDate | date : "dd-MM-yyyy"}} {{:: "TILL" | translate}} {{campaign.endDate | date : "dd-MM-yyyy"}}
                    br
                    a.btn.btn-sm.btn-light(ng-click="deleteCampaign()") {{:: "DELETE_CAMPAIGN" | translate}}
                    br           
        .col-md-4
            h4 
                span.i.fa.fa-facebook
                |&nbsp; Facebook {{:: "TASKS" | translate}}
            .col-md-12.facebook-color(style='background-color: #f5f9fa' ng-repeat="task in campaign.tasks | filter:{type: 'facebook'}")
                p.switch-align-task
                    label(for="activeTask") {{task.completed ? "This task is already executed" : "Execute via Facebook"}}
                    toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.execute = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute", ng-disabled="task.mandatory")
                .block-small.news-item-block
                    div(popover-placement="right" popover-trigger="'mouseenter'" popover-title="Edit" uib-popover="Click on 'Back to overview' to change this image")
                        .uib-carousel(uib-carousel active="activeSlide" interval="7000")
                            div(uib-slide ng-repeat="slide in task.images" index="$index", style="height:300px; margin:0 auto;")
                                img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
                .news-item-block-content
                    input(type="text", ng-model="task[language].name", placeholder='{{:: "PROMOTION_TITLE" | translate}}' ng-disabled="task.completed").form-control          
                    //- .input-group
                    //-     input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.fbPromotionSettings.promotionEndDate" ng-init="initUpdateTaskDate(task)" datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" is-open="startDate", timepicker-options="timepickerOptions", close-text="Sluiten" ng-disabled="task.completed").form-control
                    //-     span.input-group-btn
                    //-         button(type="button" ng-click="startDate =! startDate" ng-disabled="task.completed").btn.btn-default
                    //-             span.i.fa.fa-calendar
                    textarea(ng-model="task[language].description", placeholder='{{:: "GIVE_DESCRITPION_PLEASE" | translate}}', popover-placement="right" popover-title="Example", uib-popover='{{task[language].description}}', cols="20", rows="2" ng-disabled="task.completed")
                    //-button(ng-click='campaignPaidCreate(task,$index,1)', ng-init="edtCampCreate_[$index+'_1'] = false").btn.btn-primary EXEC_CAMPAIGN
                    i.fa.fa-spinner.fa-spin(ng-show="showSpinner_[$index+'_1']" style="margin-left: 21px;font-size: xx-large;position: absolute")
                    button(ng-click='openCreateCampaignModal(false)', ng-show="edtCampCreate_[$index+'_1']").btn.btn-primary {{:: "PREVIEW" | translate}}
        .col-md-4.hidden
            h4 {{:: "OTHER_MEDIAS" | translate}}
            .col-md-12.facebook-color(style='background-color: #f5f9fa' ng-repeat="task in campaign.tasks | filter:filterCampaigns")
                p.switch-align-task
                    label(for="activeTask") {{task.completed ? "This task is already executed" : "Execute via "}} {{task.type}}
                    toggle-switch(ng-if="!task.completed", uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name="activeTask", ng-init="task.execute = true", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" ng-model="task.execute")
                .block-small.news-item-block
                    .uib-carousel(uib-carousel active="activeSlide" interval="7000")
                        div(uib-slide ng-repeat="slide in task.images" index="$index", style="height:198px; margin:0 auto;")
                            img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
                .news-item-block-content
                    input(type="text", ng-model="task[language].name", placeholder='{{:: "PROMOTION_TITLE" | translate}}' ng-disabled="task.completed").form-control
                    .input-group
                        input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.datePlanned" ng-init="initUpdateTaskDate(task)" datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" is-open="startDate", timepicker-options="timepickerOptions", close-text="Sluiten" ng-disabled="task.completed").form-control
                        span.input-group-btn
                            button(type="button" ng-click="startDate =! startDate" ng-disabled="task.completed").btn.btn-default
                                span.i.fa.fa-calendar
                    textarea(ng-model="task[language].description", placeholder='{{:: "GIVE_DESCRITPION_PLEASE" | translate}}' cols="20", rows="2" ng-disabled="task.completed")