.block-small
    div(ng-show="campaign.strategy == 'store-promotion'")
        .col-md-4
          .col-md-12(style='background-color: #f5f9fa;')
            //-h5 {{:: "QUESTIONS" | translate}}
            p(uib-tooltip-html='"{{:: "EXPLAIN_MYSTORE_CAMPAIGN" | translate}}"')
              | {{:: "PROMOTION_STRATEGY" | translate}} {{:: "MY_STORE_PROMOTION" | translate}}  
              span.fa.fa-home
            p {{:: "CAMPAIGN_NUMBER" | translate}}: {{campaign.number}}
            a.pull-right(href='', ng-init='showInfo = false', ng-click='showInfo = !showInfo')
              span    
              span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
            div(uib-collapse='!showInfo')
              p {{:: "QUESTIONS_CALL_EXPERT" | translate}} +31 345 631 776
              hr
            br
            a.btn.btn-sm.btn-light(ng-click='deleteCampaign()') {{:: "DELETE_CAMPAIGN" | translate}}
            br
            //store campaign code from here
        .col-md-8
            .row(ng-repeat='task in campaign.tasks | limitTo:2')
              .container.new-campaign(ng-if="task.type == 'facebook'")
                uib-tabset(active='activeTab')
                  uib-tab(index='0', ui-sref='tab0', ng-hide='true', heading='DESIGN_CAMPAIGN')
                    form(name="step0")
                      .row
                        .col-md-12
                          .col-md-7
                            .input-group
                              span.input-group-addon(style="background-color: #fff") {{:: "PAGE" | translate}}
                              select.form-control.disabled(ng-change='fbPageFunc(task)', ng-model='task.fbPromotionSettings.pageName', ng-init='getCountryInit()', ng-required="true", uib-tooltip-html='"{{:: "SELECT_FACEBOOK_PAGE" | translate}}"', style="background-color: #337ab7; color:#fff")
                                  option(ng-repeat='obj in fbPageArray', value='{{obj}}') {{:: obj | translate}}
                          .col-md-2.cust-text-mt
                            label(for="activeTask") {{task.completed ? "This task is executed" : "Execute"}}
                          .col-md-3
                            toggle-switch(ng-if='!task.completed', uib-tooltip-html="task.mandatory ? 'This task is required and must be executed' : '' ", name='activeTask', ng-init='task.execute = true', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}", ng-model='task.execute',)   
                      h3(uib-tooltip-html='"{{:: "CREATE_A_CAMPAIGN_FOR_OWN_SHOP" | translate}}"') {{:: "MY_STORE_PROMOTION" | translate}}
                      .row
                          .drop-box(ng-hide='task.completed', ngf-select='selectFiles(task._id, $files,$event)', ngf-drop='ngf-drop', ng-model='task.files', ngf-select-disabled="isSelectMoreImg(myImage.length)", ngf-max-files='8', ngf-keep='true', ngf-pattern="'image/*'", multiple='multiple', ngf-drop-available='dropAvailable')
                            p {{:: "HOW_TO_SELECT_CONTENT" | translate}}
                            div .
                          div(ng-show='task.files.length > 0')
                            h5 {{:: "CHOSEN" | translate}} {{task.files.length == 1 ? "FILE" : "FILES"}}
                            p(ng-hide='task.completed') {{:: "CLICK_TO_DELETE_FILE" | translate}}
                            //- .row(ng-show='selectImage')
                            //-   .col-md-4.prv-content(ng-repeat='f in task.files')
                            //-     img.image(ng-src='{{awsUrl + f.path}}', ng-show='f.path', ng-disabled='task.completed')
                            //-     img#storeImgId.image(ngf-src='f', ng-show='!f.path', ng-disabled='task.completed')
                            //-     p(style='word-wrap: break-word;') {{f.name}}
                            //-     button.hover-cancel-btn(ng-click='deleteFile(task._id, $index)')
                            //-       span.i.fa.fa-times
                            //-     button.hover-btn(ng-click='openImgModal()')
                            //-       span.i.fa.fa-crop
                            .row()
                              .col-md-4.prv-content(ng-repeat="obj in myImage track by $index")
                                img.image(ng-src='{{obj}}')
                                button.hover-cancel-btn(ng-click='deleteFile(task._id,$index)', uib-tooltip-html='"{{:: "DELETE_IMAGE" | translate}}"')
                                  span.i.fa.fa-times
                                button.hover-btn(ng-click='openImgModal($index)', uib-tooltip-html='"{{:: "SELECT_FOR_CROP" | translate}}"',)
                                  span.i.fa.fa-crop
                          div
                            a(href='', ng-init='showInfo = false', ng-click='showInfo = !showInfo')
                              span
                                b {{:: "REQUIREMENTS_FILES" | translate}} 
                              span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
                            div(uib-collapse='!showInfo', ng-hide='task.completed')
                              | Format: .MOV, .MP4 or .GIF files
                              br
                              | Resolution: at least 720p
                              br
                              | File size: 2.3 GB max
                              br
                              | Recommended aspect ratio: widescreen (16:9)
                              br
                              | Facebook: 60 minutes max
                              br
                              | Instagram Feed: 60 seconds max
                              br
                      .row.mb-10
                          textarea.product-short-description.form-control.short(ng-disabled='validation.description', type='text', placeholder='{{:: "TYPE_HERE_TEXT_TO_POST_ON_FACEBOOK" | translate}}', ng-model="task[language].description", ng-change='validation.campaignTitle = false')
                      .row.custom-row
                        | {{:: "LINK_BUTTON" | translate}}
                        a.pull-right(href='', ng-init='showLocationFields', ng-click='showLocationFields = !showLocationFields')
                          span
                          span.i.fa(ng-class="showLocationFields ? 'fa-chevron-down' : 'fa-chevron-up'")
                          br
                        div(uib-collapse='showLocationFields')
                          .input-group
                            span.input-group-addon {{:: "WEBSITE_URL" | translate}}: 
                            input#dist.form-control(type='url', ng-required="true", ng-pattern="urlPattern", ng-model='task.fbPromotionSettings.siteUrl', placeholder="http://www.example.com")                      
                          br
                          .input-group
                            span.input-group-addon {{:: "CAMPAIGN_WEBSITE_HEADLINE" | translate}}:
                            input#dist.form-control(type='text', ng-required="true", ng-model='task.fbPromotionSettings.headline')
                          br
                          .input-group
                            span.input-group-addon {{:: "CAMPAIGN_WEBSITE_SUBTITLE" | translate}}:
                            input#dist.form-control(type='text', ng-required="true", ng-model='task.fbPromotionSettings.newsFeed' placeholder='{{:: "DISCOVER_IT_ON_OUR_WEBSITE" | translate}}')                      
                      .row.mb-10
                          .input-group
                              span.input-group-addon {{:: "CAMPAIGN_CALL_TO_ACTION" | translate}}:
                              select.form-control(ng-change='calltoactionFunc(task.fbPromotionSettings.callToAction)', ng-model='task.fbPromotionSettings.callToAction')
                                    option(ng-repeat='call in imgCallToActionArray', value='{{call}}') {{:: call | translate}}
                          br
                          .input-group(ng-if="isCallNow")
                            span.input-group-addon {{:: "CALL_TO_ACTION_NUMBER" | translate}}:
                            input#dist4.form-control(type='number', ng-required="true",  ng-model='task.fbPromotionSettings.call_now')
                      .row
                        button.btn.btn-md.btn-green.pull-right(ng-click='toTab1(step0.$invalid)'  ng-disabled="step0.$invalid" ng-class="{ 'disabled' : step0.$invalid}") {{:: "NEXT" | translate}}
                  uib-tab(index='1', ui-sref='tab1', ng-hide='true', heading='DESIGN_CAMPAIGN')
                    form(name="step1")
                      .row.mb-10
                        .input-group
                          span.input-group-addon {{:: "PURPOSE" | translate}}:
                          select.form-control(ng-change='purposeFunc(task)', ng-required="true", ng-model='task.fbPromotionSettings.goal', ng-init='getCountryInit()', uib-tooltip-html='"{{:: "EXPLAIN_GOAL_CAMPAIGN" | translate}}"')
                                option(ng-repeat='obj in imgObjectiveArray', value='{{obj}}') {{:: obj | translate}}
                      .input-group.mb-10
                        span.input-group-btn
                          input#agemax.form-control(type='number', ng-required="true", placeholder='{{:: "SPECIFY_AGE_MIN" | translate}}', ng-model='task.fbPromotionSettings.ageMin', min='13', ng-change='ageMin(task)')                      
                        span.input-group-btn
                          input#agemin.form-control(type='number', ng-required="true", placeholder='{{:: "SPECIFY_AGE_MAX" | translate}}', ng-model='task.fbPromotionSettings.ageMax',min='13', ng-min='minValue', ng-change='ageMax(task)')                      
                      .row.mb-10
                        .input-group
                          span.input-group-addon {{:: "SPECIFY_GENDER" | translate}}:
                          select.form-control(ng-required="true", ng-change="genderFunc(task)", ng-model="task.fbPromotionSettings.gender")
                                option(ng-repeat="obj in gender", ng-value="obj.value", ng-selected="{{task.fbPromotionSettings.gender == obj.value}}") {{:: obj.name | translate}}
                                //- option(value="1" ng-selected="true") {{:: "MALE" | translate}}
                                //- option(value="2") {{:: "FEMALE" | translate}}
                      .row.mb-10
                        .chip(ng-repeat='interest in selectedInterestData')
                          | {{interest}}
                          span.closebtn(ng-click='deleteChips($index)') ×
                        .input-group
                          span.input-group-addon {{:: "CAMPAIGN_INTEREST" | translate}}:
                          angucomplete-alt(pause='100', selected-object='interestSelected', ng-required="true", local-data='interestList', local-search='searchInterest', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control', clear-selected="true")                      
                      .checkbox
                        label(uib-tooltip-html='"{{:: "CUSTOM_LOCATION_OF_USER" | translate}}"')
                          input(type='checkbox',ng-disabled='validation.customLocation', value='01', ng-model='task.fbPromotionSettings.isCustomLocation', ng-change='isCustomLocationFunc(task)', style='display:block!important', uib-tooltip-html='"{{:: "CUSTOM_LOCATION_OF_USER" | translate}}"',)
                          | {{:: "USE_LOCATION_OF_FB_PAGE" | translate}}
                        a.pull-right(href='', ng-init='showLocationFields', ng-click='showLocationFields = !showLocationFields')
                          span
                          span.i.fa(ng-class="showLocationFields ? 'fa-chevron-down' : 'fa-chevron-up'")
                          br
                        div(uib-collapse='showLocationFields')
                          .input-group(ng-if='userLocation')
                            span.input-group-addon {{:: "COUNTRY" | translate}}:
                            angucomplete-alt(pause='100', selected-object='countrySelected', local-data='countryList', local-search='searchCountry', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control', uib-tooltip-html='"{{:: "SELECT_COUNTRY" | translate}}"',)
                          br
                          .input-group(ng-if='userLocation')
                            span.input-group-addon {{:: "REGION" | translate}}:
                            angucomplete-alt(pause='100', selected-object='regionSelected', local-data='regionList', local-search='searchRegion', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control', uib-tooltip-html='"{{:: "SELECT_REGION" | translate}}"')
                          br
                          .input-group(ng-if='userLocation')
                            span.input-group-addon {{:: "CITY" | translate}}:
                            angucomplete-alt(pause='100', selected-object='citySelected', local-data='cityList', local-search='searchCity', title-field='name', minlength='2', match-class='highlight', style='width: 500px;', input-class='form-control', uib-tooltip-html='"{{:: "SELECT_CITY" | translate}}"')
                          .input-group(ng-if='!userLocation' ng-repeat="(key,val) in customLocation")
                            span.input-group-addon {{:: key | translate}}:
                            input#dist.form-control(type='text', ng-model='val', disabled="true")
                      .row.mb-10
                        .input-group
                          span.input-group-addon {{:: "LOCATION" | translate}} {{:: "KM_AROUND_YOUR_SHOP" | translate}}:
                          input#dist.form-control(type='number', ng-required="true", ng-model='task.fbPromotionSettings.distance', ng-change='distance(task)',min='13', max='80', placeholder='"{{:: "NO_OF_KM" | translate}}"', ng-init='task.fbPromotionSettings.distance = 40')                      
                      .row.mb-10  
                        .input-group
                          span.input-group-addon {{:: "BUDGET" | translate}}
                          input#amount.form-control(type='number', ng-required="true", min='1', ng-model='task.fbPromotionSettings.budget', ng-blur="perDayOrSpread(task)", placeholder='BUDGET_IN_{{currency}}')                      
                        //- span.input-group-btn
                        //-   select.form-control(ng-model='task.fbPromotionSettings.perDayOrSpread', ng-required="true", ng-change='perDayOrSpread(task)')
                        //-     option(value='perDay') {{:: "PER_DAY" | translate}}
                      .row
                        a.btn.btn-md.btn-light.pull-left(ng-click='toTab0()') {{:: "PREVIOUS" | translate}}
                        a.btn.btn-md.btn-green.pull-right(ng-click='toTab2()'  ng-disabled="step1.$invalid" ng-class="{ 'disabled' : step1.$invalid}") {{:: "NEXT" | translate}}
                  uib-tab(index='2', ui-sref='tab2', ng-hide='true', heading='DESIGN_CAMPAIGN')
                    form(name="step2")
                      .form-group
                        label
                          p#custom-font {{:: "START_DATE" | translate}}:
                        .input-group
                          input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty( type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionStartDate', ng-change='getStartDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options='{minDate: todayDate}', is-open='startDate', timepicker-options='timepickerOptions', uib-tooltip-html='"CAMPAIGNS_LAUNCHED_ON_WORKINGDAYS"', close-text='Sluiten', disabled='disabled')
                          span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='startDate =! startDate', ng-disabled='false')
                              span.i.fa.fa-calendar
                      .form-group
                        label
                          p#custom-font {{:: "END_DATE" | translate}}:
                        .input-group
                          input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty( type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionEndDate', ng-change='getEndDate(task)', datepicker-options='{minDate: task.fbPromotionSettings.promotionStartDate}', is-open='endDate', timepicker-options='timepickerOptions', close-text='Sluiten', disabled='disabled')
                          span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='endDate =! endDate', ng-disabled='false')
                              span.i.fa.fa-calendar
                      //- .form-group
                      //-   .checkbox
                      //-     label
                      //-       input(type='checkbox', value='01', ng-model='task.fbPromotionSettings.isPixel', ng-change='isPixel(task)', style='display:block!important')
                      //-       |  {{:: "USE_FACEBOOK_PIXEL" | translate}}
                      .form-group
                        label(for='instagramYes') {{:: "ALSO_ON_INSTAGRAM" | translate}}
                        toggle-switch(ng-disabled='task.completed', ng-model='task.fbPromotionSettings.alsoOnInstagram', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}", ng-change='switchToggle(task)')
                      .row
                        a.btn.btn-md.btn-light(ng-click='toTab1()') {{:: "PREVIOUS" | translate}}
                      .create-btn
                        button.btn.btn-md.btn-dark.add-to-cart(type='button', ng-disabled="storeForm.$invalid", ng-click='postAdsetDataFunc(task,"store")') {{:: "CREATE_CAMPAIGN" | translate}}
                        i.fa.fa-spinner.fa-spin(ng-show='storeSpinner', style='margin-left: 21px;font-size: xx-large;position: absolute')
                        button.btn.btn-md.btn-dark.add-to-cart(type='button', ng-click='openCreateCampaignModal(true)', ng-show="storePreview") {{:: "PREVIEW" | translate}}
