.container.edit-campaign(ng-init="getCampaign()")
	div(uib-alert, ng-show="campaign.isPublished").alert-warning 
		p
			strong {{:: "CAUTION" | translate}} &nbsp; {{:: "CAMPAIGN_IS_NOT_PUBLISHED_SO_CANNOT_BE_PROMOTED" | translate}}
			span {{:: "CONTACT_THE_DISTRIBUTOR" | translate}}
	div
		a.btn.btn-default(ng-click="back()", uib-tooltip-html='"{{:: "YOUR_INPUT_WILL_BE_SAVED" | translate}}"') {{:: "BACK_TO_ACTION_OVERVIEW" | translate}}
		div.pull-right(ng-show="campaign.update == true")
			span
					a.btn.btn-md.btn-dark.add-to-cart(ng-click="openGlobalExecuteModal(campaign)")#marketingTourAddExecuteModal
						i.fa.fa-plus.fa-lg
						span &nbsp;&nbsp;{{:: "SCHEDULE_EXEC_TASKS" | translate}}

	h3.text-center.steps
		span(ng-if="campaign.strategy == 'target-search'").step-checkout.active &nbsp; {{:: "SELECT_YOUR_PAGE_AND_CHECK_THE_AD" | translate}} &nbsp;
		span(ng-if="campaign.strategy == 'store-promotion'").step-checkout.active &nbsp; {{:: "ESTABLISH_PAID_ADVERTISEMENT_YOURSELF" | translate}} &nbsp;
		span(ng-if="campaign.update == true").step-checkout.active &nbsp; {{:: "SELECT_PLAN" | translate}} &nbsp;
		i.fa.fa-angle-right
		span.step-order-complete &nbsp; {{:: "EXECUTE" | translate}}
	.row
		include campaign-target.pug
		include campaign-plump.pug
		include campaign-store.pug
		include campaign-update.pug
	.row
		br
		a.btn.btn-light(ng-click="saveSocialPortal()", value="Uw wijzigingen opslaan" uib-tooltip-html='"{{:: "YOUR_INPUT_WILL_BE_SAVED" | translate}}"')
		//- span.pull-right
		//- 	a.btn.btn-md.btn-dark.add-to-cart(ng-click="openCreateCampaignModal()")
		//- 		i.fa.fa-plus.fa-lg
		//- 		span &nbsp;&nbsp;{{:: "PREVIEW" | translate}}
		span.pull-right
			a.btn.btn-md.btn-dark.add-to-cart(ng-show="campaign.update == true" ng-click="openGlobalExecuteModal(campaign)")
				i.fa.fa-plus.fa-lg
				span &nbsp;&nbsp;{{:: "SCHEDULE_EXEC_TASKS" | translate}}
div.bottom-left.hidden
	img(src='https://scontent.fams1-1.fna.fbcdn.net/v/t39.2365-6/16685118_323764288025488_1814385767141605376_n.png?oh=15fc4e88de3f72d62c56254d54a77e99&oe=5A45C1F4', alt='Smiley face', style='width:600px; height:600px; z-index:2;').alertLayout