.container.portal.retailer(ng-init="getSocialPortal()")
    h3 {{:: "SOCIAL_MEDIA" | translate}}
    div(ng-hide="activeTab != 4")
        a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}
    div(ng-hide="activeTab == 4")
        a.btn.btn-danger.pull-right(ng-click="backTOPromotion()")
            i.fa.fa-arrow-left
            | {{:: "BACK_TO_MY_PROMOTIONS" | translate}}
    br
    .row
    div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
        p(bind-html-compile="alert.msg")
    
    .col-md-12
        div
            a(href='', ng-init='showInfo = false', ng-click='showInfo = !showInfo')
                span
                    b Explain simple/free promotion (2 min video)
                        span.i.fa(ng-class="showInfo ? 'fa-chevron-up' : 'fa-chevron-down'")
        br
        div(uib-collapse='!showInfo').pull-left
            div(ng-if="language =='nl'" style="height: 272px")
                .panel-body(style="padding: 0px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='en'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 272px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 272px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
        .row
            .col-md-12
                //- div(ng-hide="activeTab != 4")
                div
                    .btn-group
                        button#marketingTourCampaigns.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 1")
                            | {{:: "FREE_PROMOTION_IMAGES" | translate}}
                        button#marketingTourPromotions.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 0")
                            | {{:: "PAID_PROMOTION_IMAGES" | translate}}
                        button#marketingTourAddCampaign.btn.btn.btn-md.btn-light.button-margin-right(ng-click="openCreateCampaignModal()")
                            | {{:: "SET_UP_CAMPAIGN_YOURSELF" | translate}}
                    //- .btn-group(uib-dropdown='', is-open='status.isopen')
                    //-     button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled') {{:: "EXECUTE_NEW_PROMOTION" | translate}}
                    //-         span.caret
                    //-     ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
                    //-         li(role='menuitem')#marketingTourPromotions
                    //-             a(ng-click="activeTab = 0") {{:: "PAID_PROMOTION_IMAGES" | translate}}
                    //-         li(role='menuitem')
                    //-             a(ng-click="activeTab = 1") {{:: "FREE_PROMOTION_IMAGES" | translate}}
                    //-         li.divider
                    //-         li(role='menuitem')
                    //-             a(ng-click="openCreateCampaignModal()") {{:: "SET_UP_CAMPAIGN_YOURSELF" | translate}}
                    .btn-group.pull-right
                        button#marketingTourSettings.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 3")
                                i.fa.fa-cog
                                | {{:: "MY_SETTINGS" | translate}}
                        button#single-button.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 5")
                            i.fa.fa-list
                            | {{:: "MY_TASKS" | translate}} &nbsp;
                            span.badge(ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'") {{openTasks}}
    .row
    br
    uib-tabset(ng-show="user.socialPortal" active='activeTab')
        uib-tab(index='0', ui-sref='tab0' ng-hide='true')
            uib-tab-heading
                i.fa.fa-bullhorn.fa-lg
                |  {{:: "PROMOTIONS" | translate}}
            br
            b {{:: "PAID_PROMOTIONS_PREPARED_BY_YOUR_SUPPLIER" | translate}}
            p(style='text') {{:: "EXPLAIN_FACEBOOK_PROMOTION_PRINCIPLE" | translate}}
            .row
                br
                .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in campaigns | orderBy: '-startDate'")#marketingClickOnToAddPromotions
                    campaign-retailer-block(modal='true')
        uib-tab(index='1', ui-sref='tab1' heading='{{:: "UPDATES" | translate}}' ng-hide='true')
            br
            b {{:: "UNPAID_PROMOTIONS_PREPARED_BY_YOUR_SUPPLIER" | translate}} 
            p(style='text') {{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   
            .row
            .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in updates | orderBy: '-startDate'")
                campaign-retailer-block(modal='true')
        uib-tab.pull-right(index='3', ui-sref='tab3', ng-hide='true' heading='{{:: "SETTINGS" | translate}}')
            .col-md-12
                .row
                    .col-md-6
                        h3(ng-init="getBrands()") {{:: "BRANDS" | translate}}
                        p {{:: "CHOOSE_BRANDS_TO_PERFORM_TO_REMOVE_CLICK_IT" | translate}}
                        b {{:: "REFRESH" | translate}}
                        | {{:: "PAGE_AFTER_ADDING_BRAND_FOR_NEW_UPDATES" | translate}}
                        br
                        br
                        button(ng-repeat="brand in user.socialPortal.brands", ng-click="deleteBrandFromSocialPortal($index)", type="button").btn.btn-default {{brand.name}}
                        hr
                        angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
                        //- p {{user.socialPortal.brands}}
                        //- p {{currentShop.brands}}
                        //- p Er zijn merken die wel zijn toegevoegd op uw winkel maar niet op uw social media portaal. Hierdoor verschijnen er geen updates van dit merk in uw social portaal de producten van dit merk zijn wel toe te voegen aan uw assortiment.
                        //- p Er zijn merken die niet zijn toegevoegd op uw winkel maar wel op uw social media portaal. Hierdoor verschijnen er wel updates van dit merk in uw social portaal maar zijn producten van dit merk niet toe te voegen aan uw assortiment.
                .row
                    h3 Facebook
                    div(ng-hide="user.facebook.profileId")
                        a.btn.btn-primary(href="/api/auth/facebook", target="_blank")
                            span.fa.fa-facebook
                            | &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
                    div(ng-hide="sendRequest")
                        a.btn.btn-warning(ng-click="sendFbRequest()", target="_blank")
                            span.fa.fa-facebook
                            | &nbsp; {{:: "SEND_REQUEST_TO_ADMIN" | translate}}
                    div(ng-hide="!sendRequest")
                        a.btn.btn-success(ng-click="assignPermission()", target="_blank")
                            span.fa.fa-facebook
                            | &nbsp; {{:: "ASSIGN_PERMISSION" | translate}}
                        //- a.btn.btn-success {{:: "THANK_YOU_FOR_SENDING_REQUEST_PLEASE_WAIT_FOR_ACCEPT_REQUEST_NOTIFICATION" | translate}}
                    div(ng-show="user.facebook && user.facebook.profileId")
                        .row 
                            .col-md-6(ng-init="setFacebook(user.facebook.postTo, false)")
                                //-a.btn.btn-primary(ng-click="setFacebook('wall', true)", ng-disabled='user.facebook.postTo == "wall"') {{:: "POSTING_ON_MY_PROFILE" | translate}}
                                //-br
                                a.btn.btn-primary(ng-click="setFacebook('page', true)", ng-disabled='user.facebook.postTo == "page"') {{:: "POSTING_ON_MY_PAGE" | translate}}
                                div(ng-show='user.facebook && user.facebook.postTo == "page"')
                                    h5 {{:: "SELECT_PAGE" | translate}}
                                    p(ng-show="user.facebook.pageName") {{:: "CURRENT_SET_ON" | translate}}
                                        strong {{user.facebook.pageName}}
                                    select(ng-model="selectedPage", ng-change="setFacebookPage(selectedPage)").form-control
                                        option(ng-repeat="page in pages" ng-value="page") 
                                            |{{page.name}}
                                    
                                p {{:: "MESSAGES_ARE_PLACED_ON_THE_PAGE_AUTOMATICALLY" | translate}}
                                a.btn.btn-primary(href="/api/auth/facebook/rerequest", target="_blank") 
                                    span.fa.fa-facebook
                                    | &nbsp; {{:: "CONNECT_FACEBOOK_AGAIN" | translate}}
                                a.btn.btn-default(ng-click="deleteFacebook()")
                                    span.fa.fa-facebook
                                    | &nbsp; {{:: "UNDO_CONNECT_FACEBOOK" | translate}}
                            .col-md-6()
                                h5 {{:: "PLACE_TEST_MESSAGE" | translate}}
                                a.btn.btn-success(ng-click="testFacebook()") 
                                    span.fa.fa-facebook
                                    | &nbsp; {{:: "TEST_FACEBOOK_CONNECTION" | translate}}
                                br
                                br
                                div(uib-alert, ng-show="testResult", ng-class="'alert-' + testResult.type")
                                    p(bind-html-compile="testResult.msg")
                //.row(ng-init="getPinterestBoards()")
                .row(ng-hide="user.pinterest || 1==1")
                    h3 Pinterest
                    p {{:: "BECOMES_ASAP_AVAILABLE" | translate}}
                    div
                        a.btn.btn-default(href="/api/auth/pinterest", target="_blank") 
                            span.fa.fa-pinterest
                            | &nbsp; {{:: "CONNECT_PINTEREST" | translate}}
                    div(ng-show="user.pinterest")
                        .row
                            .col-md-6
                                h5 {{:: "SELECT_A_BOARD" | translate}}
                                select(id="page", name="page", ng-model="user.pinterest.board", ng-change="savePinterestSettings()").form-control
                                    option(ng-repeat="board in boards" ng-value="board.id") {{board.name}}
                                p {{:: "MESSAGES_ARE_AUTO_PLACED_ON_THE_CHOSEN_BOARD" | translate}}

                                a.btn.btn-primary(href="/api/auth/pinterest", target="_blank") 
                                    span.fa.fa-pinterest
                                    | &nbsp; {{:: "CONNECT_PINTEREST_AGAIN" | translate}}
                            .col-md-6
                                h5 {{:: "PLACE_TEST_MESSAGE" | translate}}
                                a.btn.btn-default(ng-click="testPinterest()") 
                                    span.fa.fa-pinterest
                                    | &nbsp; {{:: "TEST_PINTEREST_CONNECTION" | translate}}
                                pre {{pinterest | json }}
        uib-tab(index='4', ng-hide='true' heading='{{:: "MY_PROMOTIONS_AND_SETTINGS" | translate}}')
            br
            b {{:: "MY_PROMOTIONS" | translate}}
            p(style='text') {{:: "HERE_AN_OVERVIEW_OF_PAID_CAMPAIGNS" | translate}}
            .row
            div(uib-alert, ng-show="user.socialPortal.campaigns && user.socialPortal.campaigns.length == 0" class="alert-success")
                p
                    strong {{:: "YOU_HAVE_NO_CAMPAIGNS_YET" | translate}}
            .col-md-3(ng-repeat="item in user.socialPortal.campaigns | orderBy: '-startDate'")
                campaign-retailer-block
        uib-tab.pull-right(index='5', ui-sref='tab3', ng-hide='true' heading='{{:: "MY_TASKS" | translate}}')
            .col-md-12
                .row
                    h3 {{:: "MY_TASKS" | translate}}
                    .col-md-12
                        hr
                        div(uib-alert, ng-show="openTasks <= 0" class="alert-success")
                            | {{:: "NO_OPEN_TASKS" | translate}}
                        ul.list-group(ng-show="openTasks > 0")
                            li.list-group-item(ng-repeat="task in user.socialPortal.taskList | filter:{completed:false} | orderBy: 'date'")
                                a.btn.btn-green.pull-right(ng-click='openTaskModal(task)') {{:: "OPEN" | translate}}
                                h6.list-group-item-heading {{task.title}}
                                p.list-group-item-text {{task.date | date : "dd-MM-yyyy"}}
                        hr
                        a.pull-right(ng-init="showTasks = false" ng-click="showTasks = !showTasks")
                            | {{:: "HISTORY" | translate}} &nbsp;
                            span.i.fa(ng-class="showTasks ? 'fa-chevron-up' : 'fa-chevron-down'")
            .row
            .col-md-12(uib-collapse="!showTasks")
                .row
                    h3 {{:: "EXECUTED_ACTIONS" | translate}}
                    table.table.table-striped.table-hover
                        tr
                            th(width="10%") {{:: "TYPE" | translate}}
                            th(width="60%") {{:: "DESCRIPTION" | translate}}
                            th(width="15%") {{:: "DATE" | translate}}
                            th(width="15%") {{:: "USER" | translate}}
                        tr(dir-paginate="log in user.socialPortal.log | orderBy: '-date' | itemsPerPage:20")
                            td 
                                span.fa.fa-facebook(ng-show="log.type == 'facebook'")
                                span.fa.fa-truck(ng-show="log.type == 'order'")
                                span.fa.fa-instagram(ng-show="log.type == 'instagram'")
                                span.fa.fa-pinterest(ng-show="log.type == 'pinterest'")
                                span.fa.fa-check(ng-show="log.type == 'task'")
                                | &nbsp; {{log.type}}
                            td {{log.title}}
                            td {{log.date | date : "dd-MM-yyyy HH:mm:ss"}}
                            td {{log.user}}
                    dir-pagination-controls(max-size="5" direction-links="true", boundary-links="true")