.container.portal.retailer
    h3 {{:: "FINANCIAL" | translate}}
        a.btn.btn-dark.pull-right(ui-sref="retailer.orders") {{:: "BACK" | translate}}
    .row.text-center(ng-init="getFinancialDashboard()")
        .col-md-3
            .panel
                .panel-heading {{:: "NUMBER_OUTSTANDING_PAYMENTS" | translate}}
                .panel-body
                    img(src="/images/loading.gif", ng-hide="!loading.outstanding", style="height:100px; width: 100px;")
                    p.retailer-outstanding(ng-show="!loading.outstanding") {{outstanding}}
        .col-md-3
            .panel
                .panel-heading {{:: "NEXT_PAYMENT" | translate}}
                .panel-body
                    img(src="/images/loading.gif", ng-hide="!loading.payment", style="height:100px; width: 100px;")
                    p.retailer-payment(ng-show="!loading.outstanding && paymentData.amount != 0") {{paymentData.amount | currency: '€ '}} 
                    p.retailer-payment(ng-show="!loading.outstanding && paymentData.amount == null") {{:: "NOPAYMENTS" | translate}}
                    p.payment-date(ng-show="!loading.payment && paymentData && paymentData.amount != 0") ({{paymentData.nextPayoutDate}})
        .col-md-3
            .panel
                .panel-heading {{:: "TOTAL_TURNOVER" | translate}}
                .panel-body
                    img(src="/images/loading.gif", ng-hide="!loading.revenue", style="height:100px; width: 100px;")
                    p.retailer-payment(ng-show="!loading.outstanding") {{revenue | currency: '€ '}}
        .col-md-3
            .panel
                .panel-heading {{:: "TOTAL_EXPECTED_TURNOVER_OUTSTANDING_PAYMENTS" | translate}}
                .panel-body
                    img(src="/images/loading.gif", ng-hide="!loading.expected", style="height:100px; width: 100px;")
                    p.retailer-payment(ng-show="!loading.outstanding") {{expectedRevenue | currency: '€ '}}

            
    .row
        .col-md-12
            hr
            .col-md-8
                div
                    b#webshopTourAccountHolder {{:: "YOUR_REVENUE_WILL_THEN_BE_PAID" | translate}}: 
                    li {{:: "BANKACCOUNTNUMBER_IBAN" | translate}}:
                        b {{currentShop.bankAccountNumber}} 
                    li {{:: "BANK_ACCOUNT_HOLDER" | translate}}: 
                        b {{currentShop.accountHolder}}
            .col-md-4
                a.pull-right.btn.btn-dark(ui-sref="retailer.payments")#webshopTourPaymentsOverview {{:: "VIEW_PAYMENTS" | translate}}
            .row
            br
            div(uib-alert, ng-show="!currentShop.bankAccountNumber && currentShop.accountHolder", value="'Er is geen bankrekening of account houder ingevuld. Vul deze in zodat PrismaNote aan de juiste bankrekening kan uitkeren.'" close="closeAlert()")
            p(bind-html-compile="alert.msg")
            hr
            .panel
                    .panel-heading.text-center {{:: "INFO_ABOUT_PAYMENTS" | translate}}
                    .panel-body
                        ul
                            li {{:: "21_DAYS_AFTER_ORDER_IS_PAYOUT" | translate}}
                            li {{:: "WHEN_RETOUR_OK_THAN_PAYMENT_IS_ZERO" | translate}}
                            li {{:: "RECEIVED_PAYMENT_OF_ZERO_MEANS_WE_WAIT_FOR_CLIENT_PAYMENT" | translate}}
                            li {{:: "PN_PAYS_WITH_PAYMENT_REFERENCE" | translate}}
                            li {{:: "CHECK_PAYMENTNUMBER_RIGHT" | translate}}
