.container.portal
	.row(ng-init="showQuestion = false")
		.form-horizontal
			.col-md-8
				h3 {{:: "WELCOME" | translate}} 
					a(ui-sref="retailer.myuser")#generalTourHome
						| {{user.firstName}}
					|&nbsp;{{:: "AT_OVERVIEW" | translate}}
				br
			.col-md-4.search.search-retailer
				div.pull-right
					.btn-group(uib-dropdown='', is-open='status.isopen')
						button#single-button.btn.btn-green(type='button', uib-dropdown-toggle='', ng-disabled='disabled') {{:: "HOW_DOES_PRISMANOTE_WORK" | translate}}
							span.caret
						ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
							li(role='menuitem')
								a(ui-sref="retailer.video-course") PrismaNote Video Cursus
							li(role='menuitem')
								a(ng-click="generaltourOnclick()",ng-class="{'not-active' : user.shops.length < 1}") {{:: "STARTING_WITH_PRISMANOTE" | translate}}
							li(role='menuitem')
								a(ng-click="marketingtourOnclick()",) {{:: "SOCIAL_MEDIA_TOUR" | translate}}
							li(role='menuitem')
								a(ng-click="webshoptourOnclick()",ng-class="{'not-active' : user.shops.length < 1}") {{:: "WEBSHOP_TOUR" | translate}}
							li(role='menuitem')
								a(ng-click="emailmarketingtourOnclick()",ng-class="{'not-active' : user.shops.length < 1}") {{:: "EMAIL_CRM_APP_TOUR" | translate}}
							li(role='menuitem')
								a(href="https://prismanotevoorjuweliers.nl/" target="_blank" ng-show="language == 'nl'") {{:: "INFORMATION_WEBSITE" | translate}}
								a(href="http://prismanoteforjewellers.com/" target="_blank" ng-show="language != 'nl'") {{:: "INFORMATION_WEBSITE" | translate}}
				input(id="search" type="text" placeholder='{{:: "INPUT_SEARCH" | translate}}').hidden
				label.fa.fa-search.fa-lg(for="search").hidden
	.row
		.col-md-4
			.panel
				.panel-heading {{:: "TEXT_HEAD_MARKETING_RETAILER_HOME" | translate}}
				uib-progressbar(value='100' uib-tooltip-html='"{{:: "UPGRADE_NO_OPTIONS" | translate}}"' style="height: 7px;")
				.panel-body(style="height: 165px")
					.col-md-6
						div(ng-show="openTasks <= 0")
							a(ui-sref="retailer.campaigns")#marketingTourHome
								i.fa.fa-calendar-o.fa-4x
								h6.text-center {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
						div(ng-show="openTasks > 0").text-center
							a(ui-sref="retailer.campaigns")
								span.fa-stack.fa-2x
									i.fa.fa-calendar-o.fa-stack-2x
									span.fa-stack-1x.calendar-text
										span.badge(ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'") {{openTasks}}
											|	
								h6.text-center {{:: "TEXT_HEAD_ACTIONS_RETAILER_HOME" | translate}}
					.col-md-6
						a(ui-sref="retailer.news" ng-class="{'not-active' : user.shops.length < 1}")
							i.fa.fa-newspaper-o.fa-4x
							h6.text-center {{:: "NEWS" | translate}}
		.col-md-6
			.panel
				.panel-heading {{:: "TEXT_HEAD_WEBSHOP_RETAILER_HOME" | translate}}
					i(ng-show='!currentShop.proShop && !currentShop.isWebshop' uib-tooltip-html='"{{:: "UPGRADE_OPTIONS_1" | translate}}"' ui-sref="retailer.upgrade").fa.fa-bell-o.pull-right
					i(ng-show='currentShop.proShop && !currentShop.isWebshop' uib-tooltip-html='"{{:: "UPGRADE_OPTIONS_2" | translate}}"' ui-sref="retailer.upgrade").fa.fa-bell-o.pull-right
				uib-progressbar(ng-show='!currentShop.proShop && !currentShop.isWebshop' value='60' uib-tooltip-html='"{{:: "UPGRADE_OPTIONS_1" | translate}}"' style="height: 7px;")
				uib-progressbar(ng-show='currentShop.proShop && !currentShop.isWebshop' value='75' uib-tooltip-html='"{{:: "UPGRADE_OPTIONS_2" | translate}}"' style="height: 7px;")
				uib-progressbar(ng-show='currentShop.isWebshop && currentShop.proShop' value='100' uib-tooltip-html='"{{:: "UPGRADE_NO_OPTIONS" | translate}}"' style="height: 7px;")
				.panel-body(style="height: 165px")
					.col-md-4
						a(ui-sref="retailer.assortment" ng-class="{'not-active' : user.shops.length < 1}")#webshopTourAssortiment
							i.fa.fa-edit.fa-4x
							h6.text-center {{:: "TEXT_HEAD_CHANGE_ASSORTMENT_RETAILER_HOME" | translate}}
					.col-md-4
						div(ng-show="!openOrders || openOrders <= 0" )
							a(ui-sref="retailer.orders" ng-class="{'not-active' : user.shops.length < 1}")#webshopTourOrderIcon
								i.fa.fa-line-chart.fa-4x
								h6.text-center {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
						div(ng-show="openOrders > 0").text-center
							a(ui-sref="retailer.orders" ng-class="{'not-active' : user.shops.length < 1}")#webshopTourOrderIcon
								span.fa-stack.fa-2x
									i.fa.fa-line-chart.fa-stack-2x
									span.fa-stack-1x.calendar-text
										span.badge.badge-warning {{openOrders}}
								h6.text-center {{:: "TEXT_HEAD_VIEW_ORDERS_RETAILER_HOME" | translate}}
					.col-md-4
						a(ui-sref="builderhome" ng-class="{'not-active' : user.shops.length < 1}")#webshopTourFinancial
							i.fa.fa-desktop.fa-4x
							h6.text-center {{:: "WEBSITE" | translate}} DESIGN (DEMO)
					.col-md-3.hidden
						a.menublock
							i.fa.fa-cloud-upload.fa-4x
							h6.text-center {{:: "TEXT_HEAD_CLOUD_LINK_RETAILER_HOME" | translate}}
		.col-md-2
			.panel
				.panel-heading {{:: "CRM" | translate}}
					i(uib-tooltip-html='"{{:: "UPGRADE_OPTIONS_3" | translate}}"' ui-sref="retailer.upgrade").fa.fa-bell-o.pull-right
				uib-progressbar(ng-hide='currentShop.emailMarketingPremium' value='30' style="height: 7px;")
				uib-progressbar(ng-show='currentShop.emailMarketingPremium' value='100' style="height: 7px;" uib-tooltip-html='"{{:: "UPGRADE_NO_OPTIONS" | translate}}"')
				.panel-body(style="height: 165px")
					.col-md-12
						a(ui-sref="retailer.loyalty-portal" ng-class="{'not-active' : user.shops.length < 1}")#emailMarketingTourHome
							i.fa.fa-users.fa-4x
							h6.text-center {{:: "TEXT_HEAD_CUSTOMERS_RETAILER_HOME" | translate}}
						//-div(ng-hide='currentShop.isPremium').text-center
						div
							a.btn.btn-sm.btn-default(ui-sref='{{getShopType()}}.loyalty-program({nameSlug: selectedShop})') {{:: "ORDER_INTAKE" | translate}}
						//- div(ng-if='currentShop.isPremium').text-center
						//- 	a.btn.btn-sm.btn-dark(href="{{currentShop.proShopUrl + '/loyalty-program'}}", target='_blank') {{:: "NEW_CLIENT" | translate}}
	.row
		.col-md-2(ng-show="currentShop.countr && currentShop.countr.username")
			.panel
				.panel-heading Countr
				.panel-body(style="height: 222px")
					.row
						.col-md-12
							br
							a.menublock(href="https://dashboard.countrhq.com" target="_blank", ng-class="{'not-active' : user.shops.length < 1}")
								i.fa.fa-area-chart.fa-4x
								h6.text-center {{:: "STATISTICS" | translate}}
		div(ng-class="currentShop.countr && currentShop.countr.username ? 'col-md-2' : 'col-md-4'")
			.panel
				.panel-heading(ng-if="!currentShop.countr || !currentShop.countr.username") {{:: "APPS_TO_INSTALL" | translate}}
				.panel-heading(ng-if="currentShop.countr && currentShop.countr.username") {{:: "REPAIRS" | translate}}
				.panel-body(style="height: 222px")#generalTourMyProfile
					.row
						.col-md-6(ng-hide="currentShop.countr && currentShop.countr.username")
							br
							a.menublock(ng-click="openCountrSignupModal()" ng-class="{'not-active' : user.shops.length < 1}")
								i.fa.fa-tablet.fa-4x
								h6.text-center {{:: "TEST_CASH_REGISTER_APP_3_MIN" | translate}}
						div(ng-class="currentShop.countr && currentShop.countr.username ? 'col-md-12' : 'col-md-6'")
							br
							a.menublock(ui-sref="layout.instruction-crmApp" ng-class="{'not-active' : user.shops.length < 1}")
								i.fa.fa-cloud.fa-4x
								h6.text-center {{:: "REPAIR_CUSTOMER_WEBAPP_4_MIN" | translate}}
		.col-md-4
			.panel(ng-if='!showInfo')
				.panel-heading 
					span {{:: "TEXT_HEAD_WHY_PRISMANOTE_RETAILER_HOME" | translate}}?
				div(ng-if="language =='nl'" style="height: 222px")
					.panel-body(style="padding: 0px 0 0 0; text-align: center; height: 222px")
						iframe(src="https://player.vimeo.com/video/250236246?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='en'" style="height: 222px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
						iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='de'" style="height: 222px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
						iframe(src="https://player.vimeo.com/video/197286309?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='fr'" style="height: 222px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
						iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
				div(ng-if="language =='es'" style="height: 222px")
					.panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
						iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
			.panel(ng-if='showInfo').hidden
				.panel-heading 
					a.btn-sm.btn-default.pull-right(ng-click="showQuestion = false") {{:: "INTRO" | translate}}
					span Welke cursus wilt u doen?
				.panel-body(style="height: 222px")
					.col-md-4
						div 
							a.btn.btn-sm.btn-default(ui-sref="retailer.video-course") {{:: "START" | translate}}
							br
							br
							a.btn.btn-sm.btn-default(ui-sref="retailer.video-course") {{:: "START" | translate}}
							br
							br
							a.btn.btn-sm.btn-default(ui-sref="retailer.video-course") {{:: "START" | translate}}
					.col-md-8
						span 
							| 1. Een complete IT oplossing voor uw winkel. (40min)
							br
							br
							| 2. Marketing doen en daarna misschien andere modules gebruiken. (20min)
							br
							br
							| 3. Een kassa oplossing zonder webshop. (20min)
		.col-md-2
			.panel
				.panel-heading {{:: "Partners" | translate}}
				.panel-body(style="height: 222px")
					br
					br
					a.menublock(ui-sref="retailer.suppliers" ng-class="{'not-active' : user.shops.length < 1}")
						i.fa.fa-truck.fa-4x
						h6.text-center {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}} {{:: "AND_MORE_DEMO" | translate}}
		.col-md-2
			.panel
				.panel-heading {{:: "TEXT_HEAD_SETTINGS_RETAILER_HOME" | translate}}
				.panel-body(style="height: 222px")
					br
					br
					a.menublock(ui-sref="retailer.myshop" ng-class="{'not-active' : user.shops.length < 1}")#generalTourMyShopIcon
						i.fa.fa-home.fa-4x
						h6.text-center {{:: "TEXT_HEAD_MYSHOP_RETAILER_HOME" | translate}}
	.row
		div(uib-alert).alert
			a.btn.btn-large.btn-green.pull-right(ui-sref="retailer.upgrade") {{:: "UPGRADE_ACCOUNT" | translate}}
			//- a.btn.btn-large.btn-default.pull-right.button-margin-right(ng-click="openCountrSignupModal()") Test kassa App
			//- a.btn.btn-large.btn-default.pull-right.button-margin-right(ui-sref="layout.instruction-crmApp") Test klanten App
			//-h4 {{:: "CLICK_TO_UPGRADE_ACCOUNT" | translate}}
			p {{:: "YOU_HAVE_NOT_ACTIVATE_ALL_MODULES" | translate}}
	.row.col-md-4.pull-right(style="margin-bottom:5px;").hidden
		div(style="color: #fff;background-color: #b4b5b9;border-color: #b4b5b9;height:35px;padding-left:10px;padding-top:5px;") 
			span.glyphicon.glyphicon-comment   CHAT  
			.btn-group.pull-right(style="margin-top:8px;margin-right:5px;") 
				a.btn.btn-default.btn-xs(type='button', href='#', ng-click="collapaseChat()")
			//-span.glyphicon.glyphicon-chevron-down 

		div.message-container(style="display:none;")
			img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;margin-left:32%;")
			ul.list-group(style="height: 188px;overflow:auto;")
				li.list-group-item(ng-repeat="message in messages")
					span.title {{:: "USER_ID" | translate}} {{ message.sender_uuid }}
					p
					| {{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}
					br
					|  {{ message.content }}

		div.message-footer(style="display:none;")
			input#c2.form-control.currency.loyalty-input-height(ng-model='messageContent', type='text', placeholder='Type your message')
			a.btn.btn-lg.btn-primary.loyalty-button(type="button",ng-click="sendMessage()") SEND{{:: "UPGRADE_ACCOUNT" | translate}}

