.container
    .row
        a.btn.btn-dark.pull-right(ui-sref="retailer.loyalty-portal") 
form(name="editShopSettings", ng-submit="submitShop(editShop.$valid)", novalidate)
    .row
    .form-group
        .col-md-4
            h4 Store Settings
            p
            toggle-switch(id="emailMarketingPremium", name="emailMarketingPremium", ng-model="currentShop.emailMarketingPremium", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
            label(for="emailMarketingPremium") Email Marketing Premium
            p
            toggle-switch(id="proShop", name="proShop", ng-model="currentShop.proShop", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
            label(for="proShop") Pro Shop
            p
            toggle-switch(id="socialMediaSupport", name="socialMediaSupport", ng-model="currentShop.socialMediaSupport", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
            label(for="socialMediaSupport") Social Media Support
            p
                label(for="userLimit") {{:: "USER_LIMIT_OF_SHOP_CAN_ONLY_BE_ADDED_BY_ADMIN_SO_CALL" | translate}}
                input(type="text", required, ng-model="currentShop.userLimit" id="userLimit", placeholder='userLimit' disabled='true').form-control.disabled
            button(type="submit", ng-click="saveShop()" ng-disabled="editShop.$invalid").btn.btn-lg {{:: "BUTTON_SAVE" | translate}}
        .col-md-4
            h4 {{:: "SCHEDULED_MAILS" | translate}} {{:: "FOR_EVERY_CLIENT" | translate}}
            p {{:: "THESE_EMAILS_WILL_BE_SENT_TO_NEW_AND_EXISTING_CLIENTS_UNLESS_THEY_ARE_UNCHECKED" | translate}} 
            div(ng-repeat="email in marketingCustomers[0].plannedEmail")
                input(type='checkbox', name='{{$parent.$index}}{{$index+1}}' id="{{$parent.$index}}{{$index+1}}", ng-change="savePlanned($index, email.enabled, $parent.customer._id)" ng-model="email.enabled")
                label(for="{{$parent.$index}}{{$index+1}}") {{email.subject}} {{:: "WILL_BE_SENT_ON" | translate}}: {{email.date | date : "dd-MM-yyyy"}})
                    //-a(ng-href='{{email.link}}', target='_blank')
                i.fa.fa-arrow-circle-right(ng-click="openPreviewMailModal({emailId: email._id, userId: customer._id})")
                |  
                i.fa.fa-pencil-square-o(ng-click="openEditMailModal({emailId: email._id, userId: customer._id, index:$index, email: customer.email})")
            div(style="margin-bottom: 4px")
            button.btn.btn-md.btn-light(ng-click="openAddMailModal({userId: customer._id})").btn.btn-lg {{:: "SCHEDULE_NEW" | translate}} 