.container.new-campaign
  uib-tabset(active='activeTab')
    uib-tab(index='0', ui-sref='tab0', ng-hide='true', heading='DESIGN_CAMPAIGN')
      .row
        .col-md-12
          .col-md-2.cust-text-mt {{:: "PAGE" | translate}}
          .col-md-5
            select#select.form-control
              option Goede Noot
              option 2
              option 3
              option 4
          .col-md-2.cust-text-mt {{:: "EXECUTE" | translate}}
          .col-md-3
            .ats-switch(role='switch', aria-checked='true', on-label='YES', off-label='NO', tabindex='0')
              .switch-animate.switch-on
                span.switch-left {{:: "YES" | translate}}
                span.knob  
                span.switch-right {{:: "NO" | translate}}
      .row
        a(href='#')
          .dropbox-1
            p {{:: "HOW_TO_SELECT_CONTENT" | translate}}
      .row.custom-row(data-toggle='collapse', data-target='#demo')
        p#custom-font
          | {{:: "REQUIRED_FILES" | translate}}
          span.i.fa.fa-chevron-down
        #demo.collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .row.mb-10
        textarea#text-area-fb(type='text', placeholder='TYPE_HERE_TEXT_TO_POST_ON_FACEBOOK')
      .row
        .input-group
          span.input-group-addon {{:: "WEBSITE_URL" | translate}}
          input#msg.form-control(type='text', name='msg')
      .row.custom-row
        | {{:: "ADDITIONAL_URL_INFORMATION" | translate}}
        span.i.fa.fa-chevron-down.custom-caret(data-toggle='collapse', data-target='#demo1')
        #demo1.collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "CALL_TO_ACTION" | translate}}
          input#msg.form-control(type='text', name='msg')
      .row
        a.btn.btn-md.btn-green.pull-right(ng-click='toTab1()') {{:: "NEXT" | translate}}
    uib-tab(index='1', ui-sref='tab1', ng-hide='true', heading='DESIGN_CAMPAIGN')
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "DOES" | translate}}
          input#msg.form-control(type='text', name='msg')
      .input-group.mb-10
        span.input-group-btn
          input.form-control(type='text', placeholder='SPECIFY_AGE-MIN')
        span.input-group-btn
          input.form-control(type='text', placeholder='SPECIFY_AGE_MAX')
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "SPECIFY_GENDER" | translate}}
          input#msg.form-control(type='text', name='msg')
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "INTERESTS" | translate}}
          input#msg.form-control(type='text', name='msg')
      .checkbox
        label
          input#custom-chk(type='checkbox', value='')
          strong {{:: "USE_OF_USER_LOCATION" | translate}}
        span.i.fa.fa-chevron-down.custom-caret(data-toggle='collapse', data-target='#demo2')
        #demo2.collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .row.mb-10
        .input-group
          span.input-group-addon {{:: "LOCATION_KM_AROUND_YOUR_SHOP" | translate}}:
          input#msg.form-control(type='text', name='msg', placeholder='25')
      .input-group.mb-10
        span.input-group-btn
          input#amount.form-control(name='budget', type='text', placeholder='euro')
        span.input-group-btn
          select.form-control
            option(value='') {{:: "PER_DAY" | translate}}
      .row
        a.btn.btn-md.btn-light.pull-left(ng-click='toTab0()') {{:: "PREVIOUS" | translate}}
        a.btn.btn-md.btn-green.pull-right(ng-click='toTab2()') {{:: "NEXT" | translate}}
    uib-tab(index='2', ui-sref='tab2', ng-hide='true', heading='DESIGN_CAMPAIGN')
      .form-group
        label
          p#custom-font {{:: "START_DATE" | translate}}:
        .input-group
          input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionStartDate', ng-change='getStartDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options='{maxDate: task.fbPromotionSettings.promotionEndDate}', is-open='startDate', timepicker-options='timepickerOptions', uib-tooltip-html='"CAMPAIGNS_LAUNCHED_ON_WORKINGDAYS"', close-text='Sluiten', disabled='disabled')
          // ngIf: isOpen && showPicker == 'date'
          // ngIf: isOpen && showPicker == 'time'
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='startDate =! startDate', ng-disabled='false')
              span.i.fa.fa-calendar
      .form-group
        label
          p#custom-font {{:: "END_DATE" | translate}}:
        .input-group
          input.form-control.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty(ng-disabled='date', type='datetime-local', datetime-picker='EEE dd MMM yyyy HH:mm (Week: w)', ng-model='task.fbPromotionSettings.promotionEndDate', ng-change='getEndDate(task)', ng-init='initPromotionTaskDate(task)', datepicker-options='{minDate: task.fbPromotionSettings.promotionStartDate || today}', is-open='endDate', timepicker-options='timepickerOptions', close-text='Sluiten', disabled='disabled')
          // ngIf: isOpen && showPicker == 'date'
          // ngIf: isOpen && showPicker == 'time'
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='endDate =! endDate', ng-disabled='false')
              span.i.fa.fa-calendar
      .form-group
        .checkbox
          label
            input#custom-chk(type='checkbox', value='01')
            |  {{:: "I_WANT_TO_USE_A_FACEBOOK_PIXEL" | translate}}
      .form-group
        .checkbox
          label
            input#custom-chk(type='checkbox', value='01')
            | {{:: "ALSO_ON_INSTAGRAM" | translate}}
      .row
        a.btn.btn-md.btn-light(ng-click='toTab1()') {{:: "PREVIOUS" | translate}}
      .create-btn
        button.btn.btn-md.btn-dark.add-to-cart.create-custom-btn(type='button') CREATE_CAMPAIGN
