.container.edit-newsItem(ng-init="getNewsItem()")
	h3 {{:: "EDIT_NEWSITEM" | translate}}
	.block-small
		div(uib-alert, ng-show="!newsItem.isPublished").alert-info
			//TODO: created inversed texts (unpublished, not visible)
			p
				strong {{:: "CAUTION" | translate}} {{:: "NEWSITEM_IS_PUBLISHED" | translate}}
			p {{:: "CLICK_HERE_TO_UNPUBLISH" | translate}}
			a.btn.btn-md.btn-dark(ng-click="newsItem.isPublished = true") {{:: "PUBLISH" | translate}}
	.row
		.col-md-4.block-small
			h5 {{:: "BASIC_DATA" | translate}}
			.form-group
				p
					label(for="newsItem-title") {{:: "TITLE" | translate}}
					br
					input(type="text" ng-model="newsItem.name" maxlength="40" placeholder='{{:: "TITLE" | translate}}').form-control#campaign-title
				p
					label {{:: "AUTHOR" | translate}}
					br
					input(ng-model="newsItem.author.name" input-class="form-control").form-control
				p
					label(for="newsItem-is-published") {{:: "PUBLISH" | translate}}
					br
					toggle-switch(name="newsItem-is-published", ng-model="newsItem.isPublished", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#campaign-is-published
					span &nbsp; {{:: "NEWS_MESSAGE_VISIBLE" | translate}}
			h5 {{:: "DETAILS" | translate}}
			p(ng-init="getBrands()")
				label {{:: "BRAND" | translate}}
				span(ng-if="newsItem.brand.name") :&nbsp;
					strong(ng-bind="newsItem.brand.name")
				br
				angucomplete-alt(id="ex1", placeholder='{{:: "CHOOSE_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
		.col-md-4.block-small
			h5 {{:: "SHORT_DESCRIPTION_ON_NEWSITEM" | translate}}
			textarea(ng-model="newsItem.summary" rows="7" ng-trim="false" maxlength="180").campaign-summary.form-control
			| {{:: "NUMBER_OF_CHARACTERS" | translate}}: {{newsItem.summary.length}}
		.col-md-4.block-small
			h5 {{:: "EXISTING_IMAGE" | translate}}
			img(ng-src="{{awsUrl + newsItem.images[0].src}}") 
			h5 {{:: "CHANGE_IMAGE" | translate}}
			div(ngf-drop, ngf-select, ng-model="newsItem.photo", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
							|{{:: "SELECT_IMAGE" | translate}}
							div(ng-show="dropAvailable") .
							img(ngf-thumbnail="newsItem.photo")
			p
				label(for="newsItem-alt") {{:: "ALT_TEXT_SEO" | translate}}
				br
				input(type="text" ng-model="newsItem.images[0].alt" placeholder='{{:: "ALT_TEXT_SEO" | translate}}').form-control#campaign-title
	.row
		h5 {{:: "TEXT_EDITOR" | translate}}
		text-angular(ng-model="newsItem.content").wysiwyg

	.row(style="margin: 20px 0px 20px -15px")
		.col-md-6
			.col-md-4
				a.btn.btn-lg.btn-green(ng-click="updateNewsItem(true)") {{:: "SAVE" | translate}}
			.col-md-4
				a.btn.btn-md.btn-warning(ui-sref="retailer.news") {{:: "CANCEL" | translate}}
			.col-md-4
				a.btn.btn-md.btn-danger(ng-click="removeNewsItem()") {{:: "DELETE" | translate}}
		
		