.news-item-block
	a(ui-sref='admin.news-item({nameSlug:item.nameSlug})')
		img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}')
	.news-item-block-content
		a(ui-sref='admin.news-item({nameSlug:item.nameSlug})')
			h4.news-item-block-title {{item.name}}
		p.date
			i.fa.fa-calendar-o
			|&nbsp;{{formatDate(item.publicationDate)}}
		p(ng-bind-html="truncateText(item.summary)")
		a(ui-sref='admin.news-item({nameSlug:item.nameSlug})').btn.btn-md.btn-dark {{:: "EDIT" | translate}}