.container.portal.retailer
	h3 {{:: "ORDER_OVERVIEW" | translate}}
		a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}
	br
	a.btn.btn-green.pull-right.button-margin-right(ui-sref="retailer.financial") {{:: "FINANCIAL" | translate}}
	div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
		| {{alert.msg}}
	uib-tabset(active="activeTab")
		uib-tab(index='0', heading='{{:: "NOT_COMPLETED" | translate}}' ng-click="loadOrders('Paid')")
			.col-md-12
				.row
					img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
					table.table.table-hover
						tr
							th #
							th {{:: "TEXT_DATE" | translate}}
							th {{:: "TEXT_COMMENTS" | translate}}
							th {{:: "TEXT_STATUS" | translate}}
							th {{:: "TEXT_ACTIONS" | translate}}
						tr(ng-repeat="order in orders")
							td {{order.number}}
							td {{order.date | date: 'dd-MM-yyyy HH:mm'}}
							td {{order.comment}}
							td {{getOrderStatus(order)}}
							td
									a.btn.btn-green.btn-large(ng-click='downloadPackageSlip(order)')#webshopTourCoupon {{:: "TEXT_COUPON" | translate}}
									a.btn.btn-green.btn-large(ng-click='openSendOrderModal(order)', ng-disabled="getOrderStatus(order) != 'Paid'") {{:: "TEXT_SENT" | translate}}
									a.btn.btn-green.btn-large(ng-click='cancelOrder(order)' ng-disabled="getOrderStatus(order) == 'Granted'") {{:: "TEXT_CANCEL" | translate}}
									a.btn.btn-green.btn-large(ng-click="openReturnOrderModal(order)" ng-class="getOrderStatus(order) != 'Send' ? 'disabled': ''" ng-disabled="getOrderStatus(order) != 'Send'") {{:: "RETOUR_STUREN" | translate}}
		uib-tab(index=1, heading='{{:: "COMPLETED" | translate}}', ng-click="loadOrders('Send')")#webshopTourCompleted
			.col-md-12
				.row
					table.table.table-hover
						tr
							th #
							th {{:: "TEXT_DATE" | translate}}
							th {{:: "TEXT_COMMENTS" | translate}}
							th {{:: "TEXT_STATUS" | translate}}
							th {{:: "TEXT_ACTIONS" | translate}}
						tr(ng-repeat="order in orders")
							td {{order.number}}
							td {{order.date | date: 'dd-MM-yyyy HH:mm'}}
							td {{order.comment}}
							td {{getOrderStatus(order)}}
							td
									a.btn.btn-green.btn-large(ng-click='downloadPackageSlip(order)') {{:: "TEXT_COUPON" | translate}}
									a.btn.btn-green.btn-large(ng-click="openReturnOrderModal(order)" ng-disabled="getOrderStatus(order) != 'Send'") {{:: "RETOUR_STUREN" | translate}}
		uib-tab(index=2, heading='{{:: "RETOUR" | translate}}', ng-click="loadOrders('Returned')")
			.col-md-12
				.row
					table.table.table-hover
						tr
							th #
							th {{:: "TEXT_DATE" | translate}}
							th {{:: "TEXT_COMMENTS" | translate}}
							th {{:: "TEXT_STATUS" | translate}}
							th {{:: "TEXT_ACTIONS" | translate}}
						tr(ng-repeat="order in orders")
							td {{order.number}}
							td {{order.date | date: 'dd-MM-yyyy HH:mm'}}
							td {{order.comment}}
							td {{getOrderStatus(order)}}
							td
									a.btn.btn-green.btn-large(ng-click='downloadPackageSlip(order)') {{:: "TEXT_COUPON" | translate}}