.container.add-product
	h3(ng-if="updateMode == false") {{:: "ADD_NEW_PRODUCT" | translate }}
	h3(ng-if="updateMode == true") {{:: "UPDATE_PRODUCT" | translate }}
	.block-small
		form(name="addProductForm" novalidate)
			uib-tabset
				uib-tab(heading="{{::'PRODUCT_DETAILS' | translate}}")
					.row
						.col-md-4.block-small
							.form-group
								p
									label(for="product-category") {{:: "PRODUCT_CATEGORY" | translate }}
									br
									select(ng-model="productCategory" name="productCategory"  ng-change="setProductCategory(productCategory)" required).form-control.required#product-category
										option(value="WATCH") {{:: "WATCH" | translate }}
										option(value="STRAP") {{:: "STRAP" | translate }}
										option(value="JEWEL") {{:: "JEWEL" | translate }}
										option(value="OTHER") {{:: "OTHER" | translate }}
								p(ng-init="getBrands()")
									label(uib-tooltip-html="'{{:: 'TEXT_ADD_PRODUCT_BRAND_INFO' | translate}}'" required) {{:: "BRAND" | translate }} *
									span(ng-if="product.brand.name") :&nbsp;
										strong(ng-bind="product.brand.name")
									br
									angucomplete-alt(id="ex1", placeholder="{{:: \"PICK_A_BRAND\" | translate }}", name="brand" pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", required, input-class="form-control required")
								p
									label(for="product-variant-product-number") {{:: "PRODUCT_NUMBER" | translate }}
									br
									input(type="text" ng-model="product.variants[0].productNumber" name="productNumber" placeholder="Productnummer" required).form-control.required#product-variant-product-number
								p
									label(for="product-variant-ean") EAN
									br
									input(type="text" ng-model="product.variants[0].ean" name="variants.[0].ean" placeholder="EAN" ng-minlength=13 ng-maxlength=13).form-control#product-variant-ean
								p
									label(for="product-variant-sku") SKU
									br
									input(type="text" ng-model="product.variants[0].sku" name="variants.[0].sku" placeholder="SKU").form-control#product-variant-sku
						.col-md-4.block-small
							.form-group
								p
									label(for="product-target-audience") {{:: "TARGET_AUDIENCE" | translate }}
									br
									select(ng-model="targetAudience" name="targetAudience" ng-init="setGender(targetAudience)" ng-change="setGender(targetAudience)" required).form-control.required#product-target-audience
										option(value="GENTS") {{:: "GENTS" | translate }}
										option(value="LADIES") {{:: "LADIES" | translate }}
										option(value="UNISEX") {{:: "UNISEX" | translate }}
										option(value="BOYS") {{:: "BOYS" | translate }}
										option(value="GIRLS") {{:: "GIRLS" | translate }}
										option(value="KIDS") {{:: "BOYS" | translate }}/{{:: "GIRLS" | translate }}
								p
									label(for="product-suggested-retail-price") {{:: "SUGGESTED_RETAIL_PRICE" | translate }} (MSRP)
									br
									input(type="text" ng-model="product.suggestedRetailPrice" name="suggestedRetailPrice" placeholder="{{:: \"SUGGESTED_RETAIL_PRICE\" | translate }}").form-control#product-suggested-retail-price
						.col-md-4.block-small
								//- Collections Kand
								//- p
								//- 	label(for="product-collection") {{:: "PRODUCT_COLLECTION" | translate }}
								//- 	br
								//- 	//- input(type="text" ng-model="product.productCollection" name="productCollection" placeholder="{{:: \"COLLECTION\" | translate }}").form-control#product-collection
								//- 	div(ng-init="getCollections()")
								//- 		h6 {{:: "YOUR_COLLECTIONS" | translate}}
								//- 		angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'nl'" id="collection-auto-complete[0]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="nl.name", minlength="2", input-class="form-control")
								//- 		angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'en'" id="collection-auto-complete[1]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="en.name", minlength="2", input-class="form-control")
								//- 		angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'de'" id="collection-auto-complete[2]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="de.name", minlength="2", input-class="form-control")
								//- 		angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'fr'" id="collection-auto-complete[3]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="fr.name", minlength="2", input-class="form-control")
								//- 		angucomplete-alt.auto-complete-text-box-for-collection(ng-show="language == 'es'" id="collection-auto-complete[4]", clear-selected="true", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="es.name", minlength="2", input-class="form-control")
								//- 		.list-group
								//- 				a(ng-repeat="collection in product.collections").list-group-item
								//- 						span
								//- 								| {{getTheCollectionName(collection)}}
								//- 								span(ng-show="collection.isVerified").label.label-info
								//- 										| {{:: "VERIFIED" | translate}}
								//- 						span.pull-right.button-group
								//- 								i.fa.fa-times(ng-click="deleteCollection($index)")
								//- 		fieldset(ng-show="addNewCollectionForm", style="padding:5px; display:block; border-style: ridge; border-color:#444; border-radius:5px; width:450px;")
								//- 			legend {{:: "ADD_COLLECTION" | translate}}
								//- 			form(name="collectionProperties")
								//- 				ul(style="list-style:none")
								//- 					li
								//- 						input(type="text", ng-model="collection.nl.name",id="collection-nl-name", placeholder="Nederlandse titel", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
								//- 					li
								//- 						input(type="text", ng-model="collection.en.name",id="collection-en-name", placeholder="English title", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
								//- 					li
								//- 						input(type="text", ng-model="collection.de.name",id="collection-de-name", placeholder="Deutsche Titel", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
								//- 					li
								//- 						input(type="text", ng-model="collection.fr.name",id="collection-fr-name", placeholder="Titre francais", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control
								//- 					li
								//- 						input(type="text", ng-model="collection.es.name",id="collection-es-name", placeholder="Título en español", uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'",ng-required="true").input-control.form-control

								//- 				br
								//- 				h6 {{collection.brand.name}}
								//- 				angucomplete-alt(id="ex1", pause="100", clear-selected="true", placeholder='{{:: "CHOOSE_A_BRAND_NOT_OBLIGATED" | translate}}' selected-object="brandSelectedForCollection", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", style='width: 500px', input-class="form-control")
								//- 				btn.btn.btn-dark.pull-right(ng-click="addCollection(collection)", type="submit", ng-disabled="collectionProperties.$invalid" ng-class="{ 'disabled' : collectionProperties.$invalid}") {{editMode ? "EDIT" : "ADD" | translate}}

								//- 	//- div(ng-init="getCollections()")
								//- 	//- 	h6 {{:: "YOUR_COLLECTIONS" | translate}}
								//- 	//- 	p {{collectionSelected.title}}
								//- 	//- 	angucomplete-alt(ng-show="language == 'nl'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="nl.name", minlength="2", input-class="form-control")
								//- 	//- 	angucomplete-alt(ng-show="language == 'en'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="en.name", minlength="2", input-class="form-control")
								//- 	//- 	angucomplete-alt(ng-show="language == 'de'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="de.name", minlength="2", input-class="form-control")
								//- 	//- 	angucomplete-alt(ng-show="language == 'fr'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="fr.name", minlength="2", input-class="form-control")
								//- 	//- 	angucomplete-alt(ng-show="language == 'es'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="es.name", minlength="2", input-class="form-control")
										
								//- 	//- 	.list-group
								//- 	//- 			a(ng-repeat="collection in product.collections").list-group-item
								//- 	//- 					span
								//- 	//- 							| {{collection[language].name}}
								//- 	//- 							span(ng-show="collection.isVerified").label.label-info
								//- 	//- 									| {{:: "VERIFIED" | translate }}
								//- 	//- 					span.pull-right.button-group
								//- 	//- 							i.fa.fa-times(ng-click="deleteCollection($index)")
					.row
						hr
						.col-xs-6.block-small
							p {{:: "NEW_IMAGE" | translate }}
							a.btn.btn-md.btn-yellow.add-product-image(href="" ng-click="addProductImage()") {{:: "ADD_IMAGE" | translate }}
							br
							br
							.row
								.col-md-4.block-small(ng-repeat="image in images")
									.drop-box(ngf-drop, ngf-select, ng-model="images[$index]", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable" required)
										p {{:: "TAKE_OR_SELECT_A_PHOTO" | translate }}
										div(ng-show="dropAvailable") .
										img(ngf-thumbnail="images[$index]")
										a.btn.btn-sm.btn-dark(href="" ng-click="removeProductImage('scope', $index)") {{:: "REMOVE_IMAGE" | translate }}
							p {{:: "TEXT_PRODUCT_IMAGE_REQUIREMENTS" | translate}}
						.col-xs-6.block-small
							.row
								p {{:: "IMAGES" | translate }}
								.col-md-4(ng-repeat="img in product.images")
									.product-block
										.product-image
											img(ng-src="{{awsUrl + img.src}}")
											.hover-overlay
											.product-action-btns
												.row
													.col-xs-12.product-action-btn.product-open-modal.text-center
														a(href="" ng-click="removeProductImage('product', $index)")
															i.fa.fa-times.fa-2x(uib-tooltip="Verwijderen" tooltip-placement="top" tooltip-append-to-body="true")

					hr
					.row
						.col-md-12
							p {{:: "TEXT_ADD_PRODUCT_TRANSLATE_PRODUCT_DETAILS" | translate }}
						.col-md-4
							p
								label(for="product-language") {{:: "PICK_A_TRANSLATION_TO_EDIT" | translate }}
								br
								select(ng-model="language").form-control.required#language
									option(value="nl" required) {{:: "DUTCH" | translate }}
									option(value="en") {{:: "ENGLISH" | translate }}
									option(value="de") {{:: "GERMAN" | translate }}
									option(value="fr") {{:: "FRENCH" | translate }}
									option(value="es") {{:: "SPANISH" | translate }}
					.row(ng-show="language == 'nl'")
						.col-md-4.block-small
							h5 {{:: "BASIC_DETAILS" | translate }} ({{language | uppercase}})
							p
								label(for="product-name") {{:: "NAME" | translate }}
								br
								input(type="text" ng-model="product.nl.name" name="nl.name" placeholder="{{:: \"NAME\" | translate }}" ng-required="language == 'nl' || product.en.name == null").form-control.required#product-name
							p
								label(for="product-short-description") {{:: "SHORT_DESCRIPTION" | translate }}
								textarea(name="nl.shortDescription" ng-model="product.nl.shortDescription" ng-required="language == 'nl' || product.en.shortDescription == null").product-short-description.form-control.short.required
						.col-md-4.block-small
							h5 &nbsp;
							p
								label(for="product-long-description") {{:: "LONG_DESCRIPTION" | translate }}
								textarea(name="nl.longDescription" ng-model="product.nl.longDescription").product-long-description.form-control.tall
					.row(ng-show="language == 'en'")
						.col-md-4.block-small
							h5 {{:: "BASIC_DETAILS" | translate }} ({{language | uppercase}})
							p
								label(for="product-name") {{:: "NAME" | translate }}
								br
								input(type="text" ng-model="product.en.name" name="en.name" placeholder="{{:: \"NAME\" | translate }}" ng-required="product[language].name == null").form-control.required#product-name
							p
								label(for="product-short-description") {{:: "SHORT_DESCRIPTION" | translate }}
								textarea(name="en.shortDescription" ng-model="product.en.shortDescription" ng-required="product[language].shortDescription == null").product-short-description.form-control.short.required
						.col-md-4.block-small
							h5 &nbsp;
							p
								label(for="product-long-description") {{:: "LONG_DESCRIPTION" | translate }}
								textarea(name="en.longDescription" ng-model="product.en.longDescription").product-long-description.form-control.tall
					.row(ng-show="language == 'de'")
						.col-md-4.block-small
							h5 {{:: "BASIC_DETAILS" | translate }} ({{language | uppercase}})
							p
								label(for="product-name") {{:: "NAME" | translate }}
								br
								input(type="text" ng-model="product.de.name" name="de.name" placeholder="{{:: \"NAME\" | translate }}" ng-required="language == 'de' || product.en.name == null").form-control.required#product-name
							p
								label(for="product-short-description") {{:: "SHORT_DESCRIPTION" | translate }}
								textarea(name="de.shortDescription" ng-model="product.de.shortDescription" ng-required="language == 'de' || product.en.shortDescription == null").product-short-description.form-control.short.required
						.col-md-4.block-small
							h5 &nbsp;
							p
								label(for="product-long-description") {{:: "LONG_DESCRIPTION" | translate }}
								textarea(name="de.longDescription" ng-model="product.de.longDescription").product-long-description.form-control.tall
					.row(ng-show="language == 'fr'")
						.col-md-4.block-small
							h5 {{:: "BASIC_DETAILS" | translate }} ({{language | uppercase}})
							p
								label(for="product-name") {{:: "NAME" | translate }}
								br
								input(type="text" ng-model="product.fr.name" name="fr.name" placeholder="{{:: \"NAME\" | translate }}" ng-required="language == 'fr' || product.en.name == null").form-control.required#product-name
							p
								label(for="product-short-description") {{:: "SHORT_DESCRIPTION" | translate }}
								textarea(name="fr.shortDescription" ng-model="product.fr.shortDescription" ng-required="language == 'fr' || product.en.shortDescription == null").product-short-description.form-control.short.required
						.col-md-4.block-small
							h5 &nbsp;
							p
								label(for="product-long-description") {{:: "LONG_DESCRIPTION" | translate }}
								textarea(name="fr.longDescription" ng-model="product.fr.longDescription").product-long-description.form-control.tall
					.row(ng-show="language == 'es'")
						.col-md-4.block-small
							h5 {{:: "BASIC_DETAILS" | translate }} ({{language | uppercase}})
							p
								label(for="product-name") {{:: "NAME" | translate }}
								br
								input(type="text" ng-model="product.es.name" name="es.name" placeholder="{{:: \"NAME\" | translate }}"  ng-required="language == 'es' || product.en.name == null").form-control.required#product-name
							p
								label(for="product-short-description") {{:: "SHORT_DESCRIPTION" | translate }}
								textarea(name="es.shortDescription" ng-model="product.es.shortDescription" ng-required="language == 'es' || product.en.shortDescription == null").product-short-description.form-control.short.required
						.col-md-4.block-small
							h5 &nbsp;
							p
								label(for="product-long-description") {{:: "LONG_DESCRIPTION" | translate }}
								textarea(name="es.longDescription" ng-model="product.es.longDescription").product-long-description.form-control.tall
				uib-tab(heading="{{::'WATCH_DETAILS' | translate}}" ng-if="product.category=='WATCH'").watch-product-details
					.row
						.col-md-4.block-small
							p
								label(for="watch-type") {{:: "WATCH_TYPE" | translate }}
								select(ng-model="product.watch.type" name="watch.type" ng-required="productCategory == 'WATCH'").form-control.required#watch-type
									option(value="WRIST") {{:: "WRIST" | translate }}
									option(value="POCKET") {{:: "POCKET" | translate }}
									option(value="NURSE") {{:: "NURSE" | translate }}
						.col-md-4.block-small
						.col-md-4.block-small
					.row
						.col-md-4.block-small
							h5 {{:: "CASE" | translate }}
							p
								label(for="watch-case-size") {{:: "SIZE" | translate }}
								br
								input(type="text" name="watch.case.size" ng-model="product.watch.case.size" placeholder="{{:: \"SIZE\" | translate }} (mm)" ng-required="productCategory == 'WATCH'").form-control.required#watch-case-size
							p
								label(for="watch-case-depth") {{:: "THICKNESS" | translate }}
								br
								input(type="text" name="watch.case.depth" ng-model="product.watch.case.depth" placeholder="{{:: \"DEPTH\" | translate }} (mm)").form-control#watch-case-depth
							p
								label(for="watch-case-material") {{:: "MATERIAL" | translate }}
								br
								select(ng-model="product.watch.case.material" name="watch.case.material" ng-required="productCategory == 'WATCH'").form-control.required#watch-case-material
									option(value="TITANIUM") {{:: "TITANIUM" | translate }}
									option(value="STAINLESS_STEEL") {{:: "STAINLESS_STEEL" | translate }}
									option(value="ALUMINIUM") {{:: "ALUMINIUM" | translate }}
									option(value="METAL") {{:: "METAL" | translate }}
									option(value="PLASTIC_SILICONE") {{:: "PLASTIC_SILICONE" | translate }}
									option(value="WOOD") {{:: "WOOD" | translate }}
									option(value="CERAMICS") {{:: "CERAMICS" | translate }}
							p
								label(for="watch-case-color") {{:: "COLOR" | translate }}
								br
								select(ng-model="caseColor" name="caseColor" ng-options="color.key | translate for color in caseColors" ng-change="setCaseColor(caseColor)" ng-required="productCategory == 'WATCH'").form-control.required#watch-case-color
							p
								label(for="watch-is-nickel-free") {{:: "NICKEL_FREE" | translate}}
								br
								//toggle-switch(name="watch.isNickelFree" ng-model="product.watch.isNickelFree", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#strap-is-nickel-free
								select(ng-model='product.watch.isNickelFree' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]").form-control#strap-is-nickel-free
						.col-md-4.block-small
							br
							br
							p
								label(for="watch-case-shape") {{:: "MODEL" | translate }}
								br
								select(ng-model="product.watch.case.shape" name="watch.case.shape").form-control#watch-case-shape
									option(value="ROUND") {{:: "ROUND" | translate }}
									option(value="RECTANGLE") {{:: "RECTANGLE" | translate }}
									option(value="OVAL") {{:: "OVAL" | translate }}
									option(value="SQUARE") {{:: "SQUARE" | translate }}
									option(value="OTHER_SHAPE") {{:: "OTHER_SHAPE" | translate }}
							p
								label(for="watch-case-glass-material") {{:: "GLASS_MATERIAL" | translate }}
								br
								select(ng-model="product.watch.case.glassMaterial" name="watch.case.glassMaterial" ng-required="productCategory == 'WATCH'").form-control.required#watch-case-glass-material
									option(value="SAPPHIRE") {{:: "SAPPHIRE" | translate }}
									option(value="SAPPHIRE_COATED") {{:: "SAPPHIRE_COATED" | translate }}
									option(value="CRYSTAL") {{:: "CRYSTAL" | translate }}
									option(value="MINERAL") {{:: "MINERAL" | translate }}
									option(value="SYNTHETIC_PLASTIC") {{:: "SYNTHETIC_PLASTIC" | translate }}
							p
								label(for="watch-waterproof-level") {{:: "WATERPROOF_LEVEL" | translate }}
								br
								input(type="text" ng-model="product.watch.waterproofLevel" name="watch.waterproofLevel" placeholder="{{:: \"WATERPROOF_LEVEL (m)\" | translate }}" ng-required="productCategory == 'WATCH'").form-control.required#watch-waterproof-level
							p
								label(for="watch-case-design-item") {{:: "DESIGN_ITEM" | translate }} ({{:: "MULTIPLE_OPTIONS_ALLOWED" | translate }})
								br
								select(ng-model="product.watch.case.designItem" name="watch.case.designItem" multiple).form-control#watch-case-design-item
									option(value="REAL_DIAMONDS") {{:: "REAL_DIAMONDS" | translate }}
									option(value="ORNAMENTAL_DIAMONDS") {{:: "ORNAMENTAL_DIAMONDS" | translate }}
									option(value="BEZEL") {{:: "BEZEL" | translate }}
									option(value="SCREW") {{:: "SCREW" | translate }}
						.col-md-4.block-small
							h5 {{:: "DIAL" | translate }}
							p
								label(for="watch-dial-color") {{:: "COLOR" | translate }}
								br
								select(ng-model="dialColor" name="dialColor" ng-options="color.key | translate for color in dialColors" ng-change="setDialColor(dialColor)" ng-required="productCategory == 'WATCH'").form-control.required#watch-dial-color
							p
								label(for="watch-dial-pattern") {{:: "PATTERN" | translate }}
								br
								select(ng-model="product.watch.dial.pattern" name="watch.dial.pattern").form-control#watch-dial-pattern
									option(value="DOTS") {{:: "DOTS" | translate }}
									option(value="STRIPES") {{:: "STRIPES" | translate }}
							p
								label(for="watch-dial-print") {{:: "PRINT" | translate }}
								br
								input(type="text" ng-model="product.watch.dial.print" name="watch.dial.print" placeholder="{{:: \"PRINT\" | translate }}").form-control#watch-dial-print
							p
								label(for="watch-indication") {{:: "WATCH_INDICATION" | translate }}
								select(ng-model="product.watch.indication" name="watch.indication" required).form-control.required#watch-indication
									option(value="CHRONO_MULTI") {{:: "CHRONO_MULTI" | translate }}
									option(value="ANALOG") {{:: "ANALOG" | translate }}
									option(value="DIGITAL") {{:: "DIGITAL" | translate }}
									option(value="ANALOG_DIGITAL") {{:: "ANALOG_DIGITAL" | translate }}
							p
								label(for="watch-has-date-function") {{:: "DATE_FUNCTION" | translate}}
								br
								//toggle-switch(name="watch.hasDateFunction" ng-model="product.watch.hasDateFunction", on-label="{{::'YES' | translate}}", off-label="{{::'NO_DATE' | translate}}" ng-required="productCategory == 'WATCH'")#strap-has-date-function
								select(ng-model='product.watch.hasDateFunction' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO_DATE\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]" ng-required="productCategory == 'WATCH'").form-control#strap-has-date-function
							p
								label(for="watch-dial-index") {{:: "INDEX" | translate }}
								br
								select(ng-model="product.watch.dial.index" name="watch.dial.index" ng-required="productCategory == 'WATCH'").form-control.required#watch-dial-index
									option(value="ARABIC") {{:: "ARABIC" | translate }}
									option(value="ROMAN") {{:: "ROMAN" | translate }}
									option(value="STRIPES") {{:: "STRIPES" | translate }}
									option(value="DOTS") {{:: "DOTS" | translate }}
									option(value="REAL_DIAMONDS") {{:: "REAL_DIAMONDS" | translate }}
									option(value="ORNAMENTAL_DIAMONDS") {{:: "ORNAMENTAL_DIAMONDS" | translate }}
									option(value="NONE") {{:: "NONE" | translate }}
							p
								label(for="watch-has-light-function") {{:: "LIGHT_FUNCTION" | translate}}
								br
								//toggle-switch(name="watch.hasLightFunction", ng-model="product.watch.hasLightFunction", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}" class="required" ng-required="productCategory == 'WATCH'")#strap-has-light-function
								select(ng-model='product.watch.hasLightFunction' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]" ng-required="productCategory == 'WATCH'").form-control.required#strap-has-light-function
						.col-md-4.block-small
							h5 {{:: "STRAP" | translate }}
							p
								label(for="watch-strap-model") {{:: "MODEL" | translate }}
								br
								select(ng-model="product.watch.strap.model" name="watch.strap.model" ng-required="productCategory == 'WATCH'").form-control.required#watch-strap-model
									option(value="STANDARD_MODEL") {{:: "STANDARD_MODEL" | translate }}
									option(value="SELECT_BAND") {{:: "SELECT_BAND" | translate }}
									option(value="MILANESE_MESH") {{::"MILANESE_MESH" | translate}}
									option(value="NATO") NATO
									option(value="CHAIN_OF_A_POCKET_WATCH") {{::"CHAIN_OF_A_POCKET_WATCH" | translate}}
									option(value="EXPANDABLE_STRETCH_STRAP") {{::"EXPANDABLE_STRETCH_STRAP" | translate}}
									option(value="SELECT_BAND_FOR_POCKET_WATCH") {{::"SELECT_BAND_FOR_POCKET_WATCH" | translate}}
							p
								label(for="watch-strap-material") {{:: "MATERIAL" | translate }}
								br
								select(ng-model="product.watch.strap.material" name="watch.strap.material" ng-required="productCategory == 'WATCH'").form-control.required#watch-strap-material
									option(value="REAL_LEATHER") {{::"REAL_LEATHER" | translate}}
									option(value="UPPER_LEATHER") {{::"UPPER_LEATHER" | translate}}
									option(value="METAL") {{:: "METAL" | translate }}
									option(value="STAINLESS_STEEL") {{:: "STAINLESS_STEEL" | translate }}
									option(value="TITANIUM") {{:: "TITANIUM" | translate }}
									option(value="CANVAS") {{::"CANVAS" | translate}}
									option(value="PLASTIC_SILICONE") {{::"PLASTIC_SILICONE" | translate}}
									option(value="ALUMINIUM") {{::"ALUMINIUM" | translate}}
									option(value="PU_LEATHER") {{::"PU_LEATHER" | translate}}
									option(value="CERAMICS") {{::"CERAMICS" | translate}}
							p
								label(for="watch-strap-color") {{:: "COLOR" | translate }}
								br
								select(ng-model="strapColor" name="strapColor" ng-options="color.key | translate for color in strapColors" ng-change="setStrapColor(strapColor)" ng-required="productCategory == 'WATCH'").form-control.required#watch-strap-color
							p
								label(for="watch-is-anti-allergy") {{:: "ANTI_ALLERGY" | translate}}
								br
								//toggle-switch(name="watch.isAntiAllergy", ng-model="product.watch.isAntiAllergy", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#strap-is-anti-allergy
								select(ng-model='product.watch.isAntiAllergy' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]").form-control#strap-is-anti-allergy
							p
								label(for="watch-strap-studs") {{:: "STUDS" | translate}}
								br
								select(ng-model='product.watch.strap.studs' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]").form-control#watch-strap-studs
								//toggle-switch(name="watch.strap.studs",  ng-model="product.watch.strap.studs", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#watch-strap-studs
							p
								label(for="watch-strap-pattern") {{:: "PATTERN" | translate }}
								br
								select(name="watch.strap.pattern" ng-model="product.watch.strap.pattern").form-control#watch-strap-pattern
									option(value="DOTS") {{:: "DOTS" | translate }}
									option(value="STRIPES") {{:: "STRIPES" | translate }}
							p
								label(for="watch-strap-print") {{:: "PRINT" | translate }}
								br
								input(type="text" name="watch.strap.print" ng-model="product.watch.strap.print" placeholder="{{:: \"PRINT\" | translate }}").form-control#watch-strap-print
						.col-md-4.block-small
							br
							br
							p
								label(for="watch-strap-clasp") {{:: "CLASP" | translate }}
								br
								input(type="text" name="watch.strap.clasp" ng-model="product.watch.strap.clasp" placeholder="{{:: \"CLASP\" | translate }}").form-control#watch-strap-clasp
							p
								label(for="watch-strap-width") {{:: "WIDTH" | translate }}
								br
								input(type="text" name="watch.strap.width" ng-model="product.watch.strap.width" placeholder="{{:: \"WIDTH\" | translate }} (mm)").form-control#watch-strap-width
							p
								label(for="watch-strap-wrist-perimeter") {{:: "WRIST_PERIMETER" | translate }}
								br
								input(type="text" name="watch.strap.wristPerimeter" ng-model="product.watch.strap.wristPerimeter" placeholder="{{:: \"WRIST_PERIMETER\" | translate }} (mm)").form-control#watch-strap-wrist-perimeter
						.col-md-4.block-small
							h5 {{:: "WATCH_MOVEMENT_DETAILS" | translate}}
							p
								label(for="watch-has-swiss-movement") {{:: "SWISS_MOVEMENT" | translate}}
								br
								//toggle-switch(name="watch.hasSwissMovement", ng-model="product.watch.hasSwissMovement", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#strap-has-swiss-movement
								select(ng-model='product.watch.hasSwissMovement' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]").form-control#strap-has-swiss-movement
							h5 {{:: "SMARTWATCH" | translate}}
							p
								label(for="watch-is-smartwatch") {{:: "SMARTWATCH" | translate}}
								br
								//toggle-switch(name="watch.isSmartwatch", ng-model="product.watch.isSmartwatch", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#strap-is-smartwatch
								select(ng-model='product.watch.isSmartwatch' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]").form-control#strap-is-smartwatch
							p
								label(for="watch-smartwatch-functions") {{:: "SMARTWATCH_FUNCTIONS" | translate }}
								br
								input(type="text" name="watch.smartWatchFunctions" ng-model="product.watch.smartwatchFunctions" placeholder="{{:: \"SMARTWATCH_FUNCTIONS\" | translate }}").form-control#watch-smartwatch-functions
				uib-tab(heading="{{::'STRAP_DETAILS' | translate}}" ng-if="product.category=='STRAP'").strap-product-details
					.row
						.col-md-4.block-small
							p
								label(for="strap-model") {{:: "MODEL" | translate }}
								br
								select(ng-model="product.strap.model" name="strap.model" ng-required="product.category=='STRAP'").form-control.required#strap-model
									option(value="STANDARD_MODEL") {{:: "STANDARD_MODEL" | translate }}
									option(value="SELECT_BAND") {{:: "SELECT_BAND" | translate }}
									option(value="MILANESE_MESH") {{::"MILANESE_MESH" | translate}}
									option(value="NATO") NATO
									option(value="CHAIN_OF_A_POCKET_WATCH") {{::"CHAIN_OF_A_POCKET_WATCH" | translate}}
									option(value="EXPANDABLE_STRETCH_STRAP") {{::"EXPANDABLE_STRETCH_STRAP" | translate}}
									option(value="SELECT_BAND_FOR_POCKET_WATCH") {{::"SELECT_BAND_FOR_POCKET_WATCH" | translate}}
							p
								label(for="strap-material") {{:: "MATERIAL" | translate }}
								br
								select(ng-model="product.strap.material" name="strap.material" ng-required="product.category=='STRAP'").form-control.required#strap-material
									option(value="TITANIUM") {{:: "TITANIUM" | translate }}
									option(value="STAINLESS_STEEL") {{:: "STAINLESS_STEEL" | translate }}
									option(value="ALUMINIUM") {{::"ALUMINIUM" | translate}}
									option(value="METAL") {{:: "METAL" | translate }}
									option(value="PU_LEATHER") {{::"PU_LEATHER" | translate}}
									option(value="REAL_LEATHER") {{::"REAL_LEATHER" | translate}}
									option(value="UPPER_LEATHER") {{::"UPPER_LEATHER" | translate}}
									option(value="PLASTIC_SILICONE") {{::"PLASTIC_SILICONE" | translate}}
									option(value="CANVAS") {{::"CANVAS" | translate}}
									option(value="CERAMICS") {{::"CERAMICS" | translate}}
							p
								label(for="strap-clasp") {{:: "CLASP" | translate }}
								br
								input(type="text" name="strap.clasp" ng-model="product.strap.clasp" placeholder="{{:: \"CLASP\" | translate }}").form-control#strap-clasp
							p
								label(for="strap-studs") {{:: "STUDS" | translate}}
								br
								//toggle-switch(name="strap.studs", ng-model="product.strap.studs", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#strap-studs
								select(ng-model='product.strap.studs' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]").form-control#strap-studs
						.col-md-4.block-small
							p
								label(for="strap-color") {{:: "COLOR" | translate }}
								br
								select(ng-model="strapColor" name="strapColor" ng-options="color.key | translate for color in strapColors" ng-change="setStrapColor(strapColor)" ng-required="product.category=='STRAP'").form-control.required#strap-color
							p
								label(for="strap-print") {{:: "PRINT" | translate }}
								br
								input(type="text" name="strap.print" ng-model="product.strap.print" placeholder="{{:: \"PRINT\" | translate }}").form-control#strap-print
						.col-md-4.block-small
							p
								label(for="strap-width") {{:: "WIDTH" | translate }}
								br
								input(type="text" name="strap.width" ng-model="product.strap.width" placeholder="{{:: \"WIDTH\" | translate }} (mm)").form-control#strap-width
							p
								label(for="strap-wrist-perimeter") {{:: "WRIST_PERIMETER" | translate }}
								br
								input(type="text" name="strap.wristPerimeter" ng-model="product.strap.wristPerimeter" placeholder="{{:: \"WRIST_PERIMETER\" | translate }} (mm)").form-control#strap-wrist-perimeter
				uib-tab(heading="{{:: 'JEWEL_DETAILS' | translate}}" ng-if="product.category=='JEWEL'").jewel-product-details
					.row
						.col-md-4.block-small
							h5 {{:: "GENERAL_JEWEL_DETAILS" | translate }}
							p
								label(for="jewellery-type") {{:: "JEWELLERY_TYPE" | translate }}
								br
								select(ng-model="product.jewel.type" name="jewel.type").form-control#jewellery-type
									option(value="BROOCH") {{:: "BROOCH" | translate }}
									option(value="CHOKER") {{:: "CHOKER" | translate }}
									option(value="PENDANT") {{:: "PENDANT" | translate }}
									option(value="NECKLACE") {{:: "NECKLACE" | translate }}
									option(value="TENNIS_NECKLACE") {{:: "TENNIS_NECKLACE" | translate }}
									option(value="STUD_EARRINGS") {{:: "STUD_EARRINGS" | translate }}
									option(value="HOOP_EARRINGS") {{:: "HOOP_EARRINGS" | translate }}
									option(value="CREOLE_EARRINGS") {{:: "CREOLE_EARRINGS" | translate }}
									option(value="RING") {{:: "RING" | translate }}
									option(value="COMBINATION_RING") {{:: "COMBINATION_RING" | translate }}
									option(value="RING_WITH_PEARL") {{:: "RING_WITH_PEARL" | translate }}
									option(value="RING_WITH_GEM") {{:: "RING_WITH_GEM" | translate }}
									option(value="SET") {{:: "SET" | translate }}
									option(value="BRACELET") {{:: "BRACELET" | translate }}
									option(value="TENNIS_BRACELET") {{:: "TENNIS_BRACELET" | translate }}
									option(value="SLAVE_BRACELET") {{:: "SLAVE_BRACELET" | translate }}
							p
								label(for="jewel-material") {{:: "MATERIAL" | translate }}
								br
								select(ng-model="product.jewel.material" name="jewel.material").form-control#jewel-material
									option(value="GOLD") {{:: "GOLD" | translate}}
									option(value="SILVER") {{:: "SILVER" | translate}}
									option(value="TITANIUM") {{:: "TITANIUM" | translate }}
									option(value="STAINLESS_STEEL") {{:: "STAINLESS_STEEL" | translate }}
									option(value="ALUMINIUM") {{:: "ALUMINIUM" | translate }}
									option(value="METAL") {{:: "METAL" | translate }}
									option(value="WOOD") {{:: "WOOD" | translate }}
									option(value="CERAMICS") {{:: "CERAMICS" | translate }}
									option(value="PU_LEATHER") {{::"PU_LEATHER" | translate}}
									option(value="REAL_LEATHER") {{::"REAL_LEATHER" | translate}}
									option(value="UPPER_LEATHER") {{::"UPPER_LEATHER" | translate}}
									option(value="CANVAS") {{::"CANVAS" | translate}}
									option(value="CERAMICS") {{::"CERAMICS" | translate}}
							p(ng-if="product.jewel.material == 'GOLD'")
								label(for="jewel-gold-purity") {{:: "GOLD_PURITY" | translate }}
								br
								input(type="text" name="jewel.goldPurity" ng-model="product.jewel.goldPurity" placeholder="{{:: \"GOLD_PURITY\" | translate }} (k)").form-control#jewel-gold-purity
							p
								label(for="jewel-gloss") {{:: "GLOSS" | translate}}
								br
								//toggle-switch(name="jewel.gloss", ng-model="product.jewel.gloss", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")#jewel-gloss
								select(ng-model='product.jewel.gloss' ng-options="o.v as o.n for o in [{ n: '{{:: \"NO\" | translate }}', v: false }, { n: '{{:: \"YES\" | translate }}', v: true }]")#jewel-gloss
							p
								label(for="jewel-shape") {{:: "SHAPE" | translate }}
								br
								input(type="text" name="jewel.shape" ng-model="product.jewel.shape" placeholder="{{:: \"SHAPE\" | translate }}").form-control#jewel-shape
							p
								label(for="jewel-chain") {{:: "CHAIN" | translate }}
								br
								input(type="text" name="jewel.chain" ng-model="product.jewel.chain" placeholder="{{:: \"CHAIN\" | translate }}").form-control#jewel-chain
							p
								label(for="jewel-clasp") {{:: "CLASP" | translate }}
								br
								input(type="text" name="jewel.clasp" ng-model="product.jewel.clasp" placeholder="{{:: \"CLASP\" | translate }}").form-control#jewel-clasp
							p
								label(for="jewel-color") {{:: "COLOR" | translate }}
								br
								select(ng-model="jewelColor" name="jewelColor" ng-options="color.key | translate for color in jewelColors" ng-change="setJewelColor(jewelColor)").form-control#jewel-color
						.col-md-4.block-small
							h5 {{:: "DIMENSIONS" | translate }}
							p
								label(for="jewel-height") {{:: "HEIGHT" | translate }}
								br
								input(type="text" name="jewel.height" ng-model="product.jewel.height" placeholder="{{:: \"HEIGHT\" | translate }} (mm)").form-control#jewel-height
							p
								label(for="jewel-width") {{:: "WIDTH" | translate }}
								br
								input(type="text" name="jewel.width" ng-model="product.jewel.width" placeholder="{{:: \"WIDTH\" | translate }} (mm)").form-control#jewel-width
							p
								label(for="jewel-depth") {{:: "DEPTH" | translate }}
								br
								input(type="text" name="jewel.depth" ng-model="product.jewel.depth" placeholder="{{:: \"DEPTH\" | translate }} (mm)").form-control#jewel-depth
							p
								label(for="jewel-diameter") {{:: "DIAMETER" | translate }}
								br
								input(type="text" name="jewel.diameter" ng-model="product.jewel.diameter" placeholder="{{:: \"DIAMETER\" | translate }} (mm)").form-control#jewel-diameter
							p
								label(for="jewel-weight") {{:: "WEIGHT" | translate }}
								br
								input(type="text" name="jewel.height" ng-model="product.jewel.weight" placeholder="{{:: \"WEIGHT\" | translate }} (g)").form-control#jewel-weight
							p
								label(for="product-variant-size") {{:: "SIZE" | translate }}
								br
								input(type="text" name="variants.[0].size" ng-model="product.variants[0].size" placeholder="Maat (in mm)").form-control#product-variant-size
								p {{:: "THIS_FIELD_ONLY_NEEDS_TO_BE_FILLED_IN_FOR_RINGS_WHEN_THERE_IS_MORE_THAN_ONE_SIZE_FOR_THE_SAME_PRODUCT" | translate }}
						.col-md-4.block-small
							h5 {{:: "GEM" | translate}}
							p
								label(for="jewel-gem-color") {{:: "GEM_COLOR" | translate }}
								br
								input(type="text" name="jewel.gemColor" ng-model="product.jewel.gemColor" placeholder="{{:: \"GEM_COLOR\" | translate }}").form-control#jewel-gem-color
							p
								label(for="jewel-gem-shape") {{:: "GEM_SHAPE" | translate }}
								br
								input(type="text" name="jewel.gemShape" ng-model="product.jewel.gemShape" placeholder="{{:: \"GEM_SHAPE\" | translate }}").form-control#jewel-gem-shape
				uib-tab(heading="{{::'VARIANTS' | translate}}")
					.block-small
						a.btn.btn-md.btn-green.add-product-variant(href="" ng-click="addProductVariant()") {{:: "ADD_VARIANT" | translate }}
						.edit-product-variant.block-small(ng-repeat="variant in product.variants")
							h4.variant-heading(ng-click="product.variants[$index].collapse = !product.variants[$index].collapse")
								span {{:: "VARIANT" | translate }} {{$index + 1}}
							.edit-product-variant-content(uib-collapse="product.variants[$index].collapse")
								div(ng-form="addProductVariantForm" novalidate)
									.row
										.col-md-4.block-small
											.form-group
												p
													label(for="product-variant-ean") EAN
													br
													input(type="text" name="variants.[$index].ean" ng-minlength=13 ng-maxlength=13 ng-model="product.variants[$index].ean" placeholder="EAN").form-control#product-variant-ean
												p
													label(for="product-variant-sku") SKU
													br
													input(type="text" name="variants.[$index].sku" ng-model="product.variants[$index].sku" placeholder="SKU").form-control#product-variant-sku
										.col-md-4.block-small
											.form-group
												p
													label(for="product-variant-product-number") {{:: "PRODUCT_NUMBER" | translate }}
													br
													input(type="text" name="variants.[$index].productNumber" ng-model="product.variants[$index].productNumber" placeholder="Productnummer" required).form-control.required#product-variant-product-number
												p
													label(for="product-variant-size") {{:: "SIZE" | translate }}
													br
													input(type="text" name="variants.[$index].size" ng-model="product.variants[$index].size" placeholder="Maat (in mm)").form-control#product-variant-size
									.row
										.col-xs-12
											a.btn.btn-sm.btn-dark(href="" ng-click="removeProductVariant($index)") {{:: "REMOVE_VARIANT" | translate }}
			//- p De door u opgegeven productinformatie wordt zo snel mogelijk verwerkt. U krijgt bericht als het product is toegevoegd. //ng-disabled="addProductForm.$invalid"
			p.alert.alert-warning(ng-show="language !== 'en' || product[language].name == null || product[language].shortDescription == null") On your webshop we're showing product name and/or short description in english because your language is not available. 
			b(ng-show="addProductForm.$error.required") 
				span {{:: "NOTE_NOT_ALL_FILTERS_ARE_FILLED_IN_TO_SHOW_THE_PRODUCT_CORRECTLY_IN_YOUR_WEBSHOP" | translate }}
			div.alert.alert-info
				div(ng-repeat='error in addProductForm.$error track by $index')
					li(ng-repeat='propertyName in error')
						span
							| {{ propertyName.$name }}
			input(type="submit", ng-click="saveProduct()" value="{{:: \"SAVE\" | translate }}").btn.btn-green
			br
			br
			hr
			br

			a(ng-click="sendDeleteSuggestion()", class="btn btn-danger") {{:: "SUGGEST_TO_DELETE_THIS_PRODUCT" | translate }}
