.container
    div.loading(ng-show="loading") {{:: "LOADING" | translate}}&#8230;
    uib-progressbar(max="100" value="percent")
        | {{percent}} %
    h3 {{:: "PRODUCT_IMPORT" | translate}}

    .row
        .col-md-12(ng-show="alert")
            div(uib-alert, ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                | {{alert.msg}}
        .col-md-12(ng-show="step[4]")
            h4 {{:: "PROCESSING_YOUR_FILE" | translate}}
            p {{:: "YOUR_PRODUCTS_WILL_NOW_BE_PROCESSED_YOU_WILL_RECEIVE_AN_EMAIL_WITH_RESULT" | translate}} {{user.email}}
            p {{:: "DEPENDING_ON_SIZE_OF_FILE_THIS_MAY_TAKE_SOME_TIME" | translate}}
            a.btn.btn-primary(ng-click="back(3)") {{:: "BACK" | translate}}
        .col-md-12(ng-show="step[3]")
            p {{:: "IF_VALUES_CANNOT_BE_ADOPTED_IMMEDIATELY_THEY_ARE_LISTED_BELOW_MANUALLY_LINK_THE_FOUND_VALUES_MANUALLY_TO_RIGHT_OPTION" | translate}}
            p {{:: "MISSING_AN_OPTION_PLEASE_CONTACT_US_A_SUPPORTATPRISMANOTEDOTCOM" | translate}}
            p {{:: "AFTER_LLINKING_CORRECT_DATA_YOU_START_IMPORT" | translate}}
            a.btn.btn-warning(ng-click="back(2)") {{:: "BACK" | translate}}
            | &nbsp; &nbsp;
            a.btn.btn-default(ng-click="completeStep3()") {{:: "START_IMPORT" | translate}}
            br
            br

            p(ng-init="getBrands()")
              label {{:: "BRAND" | translate}}
              span(ng-if="campaign.brand.name") :&nbsp;
                strong(ng-bind="campaign.brand.name")
              br
            .row(ng-repeat="brandName in brandnames")
              .col-xs-6
                    p {{brandName.found}}
              .col-xs-6
                    p(ng-if="mySelectedBrandTitle") {{ brandnames[$index].value.name}} 
                    
                    angucomplete-alt(id="ex1-{{$index}}", pause="100", clear-selected="false", placeholder='{{:: "CHOOSE_A_BRAND_NOT_OBLIGATED" | translate}}' selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", style='width: 500px', input-class="form-control")

            .row
                div(ng-show="product.jewel.type")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "JEWELLERY_TYPE" | translate }} ({{:: "JEWEL" | translate}})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="type in jewelTypes")
                            .col-xs-6
                                p {{type.found}}
                            .col-xs-6
                                select(ng-model="type.value" name="jewel.type").form-control
                                    option(value="BROOCH") {{:: "BROOCH" | translate }}
                                    option(value="CHOKER") {{:: "CHOKER" | translate }}
                                    option(value="PENDANT") {{:: "PENDANT" | translate }}
                                    option(value="NECKLACE") {{:: "NECKLACE" | translate }}
                                    option(value="TENNIS_NECKLACE") {{:: "TENNIS_NECKLACE" | translate }}
                                    option(value="STUD_EARRINGS") {{:: "STUD_EARRINGS" | translate }}
                                    option(value="HOOP_EARRINGS") {{:: "HOOP_EARRINGS" | translate }}
                                    option(value="CREOLE_EARRINGS") {{:: "CREOLE_EARRINGS" | translate }}
                                    option(value="RING") {{:: "RING" | translate }}
                                    option(value="COMBINATION_RING") {{:: "COMBINATION_RING" | translate }}
                                    option(value="RING_WITH_PEARL") {{:: "RING_WITH_PEARL" | translate }}
                                    option(value="RING_WITH_GEM") {{:: "RING_WITH_GEM" | translate }}
                                    option(value="SET") {{:: "SET" | translate }}
                                    option(value="BRACELET") {{:: "BRACELET" | translate }}
                                    option(value="TENNIS_BRACELET") {{:: "TENNIS_BRACELET" | translate }}
                                    option(value="SLAVE_BRACELET") {{:: "SLAVE_BRACELET" | translate }}
                div(ng-show="product.gender")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "TARGET_AUDIENCE" | translate }}
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="gender in genders")
                            .col-xs-6
                                p {{gender.found}}
                            .col-xs-6
                                select(ng-model="gender.value" name="targetAudience").form-control
                                    option(value="GENTS") {{:: "GENTS" | translate }}
                                    option(value="LADIES") {{:: "LADIES" | translate }}
                                    option(value="UNISEX") {{:: "UNISEX" | translate }}
                                    option(value="BOYS") {{:: "BOYS" | translate }}
                                    option(value="GIRLS") {{:: "GIRLS" | translate }}
                                    option(value="KIDS") {{:: "BOYS" | translate }}/{{:: "GIRLS" | translate }}
                div(ng-show="product.watch.type")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "WATCH_TYPE" | translate }} ({{:: "WATCH" | translate}})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="type in types")
                            .col-xs-6
                                p {{type.found}}
                            .col-xs-6
                                select(ng-model="type.value" name="watch.type").form-control
                                    option(value="WRIST") {{:: "WRIST" | translate }}
                                    option(value="POCKET") {{:: "POCKET" | translate }}
                                    option(value="NURSE") {{:: "NURSE" | translate }}
                div(ng-show="product.watch.case.material")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "MATERIAL" | translate }} ({{:: "CASE" | translate}})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="material in materials")
                            .col-xs-6
                                p {{material.found}}
                            .col-xs-6
                                select(ng-model="material.value" name="watch.case.material").form-control
                                    option(value="TITANIUM") {{:: "TITANIUM" | translate }}
                                    option(value="STAINLESS_STEEL") {{:: "STAINLESS_STEEL" | translate }}
                                    option(value="ALUMINIUM") {{:: "ALUMINIUM" | translate }}
                                    option(value="METAL") {{:: "METAL" | translate }}
                                    option(value="PLASTIC_SILICONE") {{:: "PLASTIC_SILICONE" | translate }}
                                    option(value="WOOD") {{:: "WOOD" | translate }}
                                    option(value="CERAMICS") {{:: "CERAMICS" | translate }}
                div(ng-show="product.watch.case.shape")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "MODEL" | translate }} ({{:: "CASE" | translate}})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="shape in shapes")
                            .col-xs-6
                                p {{shape.found}}
                            .col-xs-6
                                select(ng-model="shape.value" name="watch.case.shape").form-control
                                    option(value="ROUND") {{:: "ROUND" | translate }}
                                    option(value="RECTANGLE") {{:: "RECTANGLE" | translate }}
                                    option(value="OVAL") {{:: "OVAL" | translate }}
                                    option(value="SQUARE") {{:: "SQUARE" | translate }}
                                    option(value="OTHER_SHAPE") {{:: "OTHER_SHAPE" | translate }}
                div(ng-show="product.watch.case.glassMaterial")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "GLASS_MATERIAL" | translate }} ({{:: "CASE" | translate}})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="glass in glassMaterial")
                            .col-xs-6
                                p {{glass.found}}
                            .col-xs-6
                                select(ng-model="glass.value" name="watch.case.glassMaterial").form-control
                                    option(value="SAPPHIRE") {{:: "SAPPHIRE" | translate }}
                                    option(value="SAPPHIRE_COATED") {{:: "SAPPHIRE_COATED" | translate }}
                                    option(value="CRYSTAL") {{:: "CRYSTAL" | translate }}
                                    option(value="MINERAL") {{:: "MINERAL" | translate }}
                                    option(value="SYNTHETIC_PLASTIC") {{:: "SYNTHETIC_PLASTIC" | translate }}
                div(ng-show="product.watch.dial.pattern")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "PATTERN" | translate }} ({{:: "DIAL" | translate}})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="pattern in patterns")
                            .col-xs-6
                                p {{pattern.found}}
                            .col-xs-6
                                select(ng-model="patern.value" name="watch.dial.pattern").form-control
                                    option(value="DOTS") {{:: "DOTS" | translate }}
                                    option(value="STRIPES") {{:: "STRIPES" | translate }}
                div(ng-show="product.watch.indication")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "WATCH_INDICATION" | translate }} ({{:: "WATCH" | translate}})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="indication in indications")
                            .col-xs-6
                                p {{indication.found}}
                            .col-xs-6
                                select(ng-model="indication.value" name="watch-indication").form-control
                                    option(value="CHRONO_MULTI") {{:: "CHRONO_MULTI" | translate }}
                                    option(value="ANALOG") {{:: "ANALOG" | translate }}
                                    option(value="DIGITAL") {{:: "DIGITAL" | translate }}
                                    option(value="ANALOG_DIGITAL") {{:: "ANALOG_DIGITAL" | translate }}
                div(ng-show="product.watch.dial.index")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "INDEX" | translate }} ({{:: "DIAL" | translate }})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="index in indexes")
                            .col-xs-6
                                p {{index.found}}
                            .col-xs-6
                                select(ng-model="index.value" name="watch-index").form-control
                                    option(value="ARABIC") {{:: "ARABIC" | translate }}
                                    option(value="ROMAN") {{:: "ROMAN" | translate }}
                                    option(value="STRIPES") {{:: "STRIPES" | translate }}
                                    option(value="DOTS") {{:: "DOTS" | translate }}
                                    option(value="REAL_DIAMONDS") {{:: "REAL_DIAMONDS" | translate }}
                                    option(value="ORNAMENTAL_DIAMONDS") {{:: "ORNAMENTAL_DIAMONDS" | translate }}
                                    option(value="NONE") {{:: "NONE" | translate }}
                div(ng-show="product.watch.strap.model || product.strap.model")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "MODEL" | translate }} ({{:: "STRAP" | translate }})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="strap in strapModel")
                            .col-xs-6
                                p {{strap.found}}
                            .col-xs-6
                                select(ng-model="strap.value" name="strap-model").form-control
                                    option(value="STANDARD_MODEL") {{:: "STANDARD_MODEL" | translate }}
                                    option(value="SELECT_BAND") {{:: "SELECT_BAND" | translate }}
                                    option(value="MILANESE_MESH") {{::"MILANESE_MESH" | translate}}
                                    option(value="NATO") NATO
                                    option(value="CHAIN_OF_A_POCKET_WATCH") {{::"CHAIN_OF_A_POCKET_WATCH" | translate}}
                                    option(value="EXPANDABLE_STRETCH_STRAP") {{::"EXPANDABLE_STRETCH_STRAP" | translate}}
                                    option(value="SELECT_BAND_FOR_POCKET_WATCH") {{::"SELECT_BAND_FOR_POCKET_WATCH" | translate}}
                div(ng-show="product.watch.strap.material || product.strap.material")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "MATERIAL" | translate }} ({{:: "STRAP" | translate }})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="material in strapMaterial")
                            .col-xs-6
                                p {{material.found}}
                            .col-xs-6
                                select(ng-model="material.value" name="strap-material").form-control
                                    option(value="REAL_LEATHER") {{::"REAL_LEATHER" | translate}}
                                    option(value="UPPER_LEATHER") {{::"UPPER_LEATHER" | translate}}
                                    option(value="METAL") {{:: "METAL" | translate }}
                                    option(value="STAINLESS_STEEL") {{:: "STAINLESS_STEEL" | translate }}
                                    option(value="TITANIUM") {{:: "TITANIUM" | translate }}
                                    option(value="CANVAS") {{::"CANVAS" | translate}}
                                    option(value="PLASTIC_SILICONE") {{::"PLASTIC_SILICONE" | translate}}
                                    option(value="ALUMINIUM") {{::"ALUMINIUM" | translate}}
                                    option(value="PU_LEATHER") {{::"PU_LEATHER" | translate}}
                                    option(value="CERAMICS") {{::"CERAMICS" | translate}}
                div(ng-show="product.watch.strap.pattern")
                    .col-md-4
                        .row
                            .col-md-12
                                h4 {{:: "PATTERN" | translate }} ({{:: "STRAP" | translate }})
                            .col-xs-6
                                p {{:: "FOUND_IN_FILE" | translate}}
                            .col-xs-6
                                p {{:: "POSSIBLE_VALUES" | translate}}
                        .row(ng-repeat="pattern in strapPattern")
                            .col-xs-6
                                p {{pattern.found}}
                            .col-xs-6
                                select(ng-model="pattern.value").form-control
                                    option(value="DOTS") {{:: "DOTS" | translate }}
                                    option(value="STRIPES") {{:: "STRIPES" | translate }}

        .col-md-12(ng-show="step[2]")
            div
                p {{:: "FILL_IN_PRODUCT_PROPERTIES_WITH_CORRESPONDING_COLUMNS_FROM_SELECTED_FIL_IF_FIELD_EMPTY_IT_IS_NOT_USED" | translate}}
                a.btn.btn-warning(ng-click="back(1)") {{:: "BACK" | translate}}
                | &nbsp; &nbsp;
                a.btn.btn-default(ng-click="completeStep2()") {{:: "NEXT_STEP" | translate}}
                br
                br
                uib-tabset
                    uib-tab(heading="{{::'PRODUCT_DETAILS' | translate}}")
                        .row
                            .col-md-4.block-small
                                .form-group
                                    p
                                        label {{:: "BRAND" | translate }} *
                                        select(ng-model="product.brand", ng-disabled="handle || handled").form-control.required
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label(for="product-variant-product-number") {{:: "PRODUCT_NUMBER" | translate }}
                                        br
                                        select(ng-model="product.variants[0].productNumber", ng-disabled="handle || handled").form-control.required
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label(for="product-variant-ean") EAN
                                        br
                                        select(ng-model="product.variants[0].ean", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label(for="product-variant-sku") SKU
                                        br
                                        select(ng-model="product.variants[0].sku", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                .form-group
                                    p
                                        label(for="product-target-audience") {{:: "TARGET_AUDIENCE" | translate }}
                                        br
                                        select(ng-model="product.gender", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label(for="product-suggested-retail-price") {{:: "SUGGESTED_RETAIL_PRICE" | translate }} (MSRP)
                                        br
                                        select(ng-model="product.suggestedRetailPrice", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    //- p
                                    //-     label(for="product-collection") {{:: "PRODUCT_COLLECTION" | translate }}
                                    //-     br
                                    //-     select(ng-model="product.productCollection", ng-disabled="handle || handled").form-control
                                    //-         //remove the empty option, created by Angular and add a new empty option
                                    //-         option(value="" selected hidden)
                                    //-         option(value="")
                                    //-         option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label(for="product-collection") {{:: "PRODUCT_STOCK" | translate }}
                                        br
                                        select(ng-model="product.stock", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label(for="product-collection") {{:: "PRODUCT_PRICE" | translate }}
                                        br
                                        select(ng-model="product.price", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                    p
                                        label {{:: "PICTURE" | translate}} 1
                                        select(ng-model="product.image1", ng-disabled="handle || handled").form-control.required
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label {{:: "PICTURE" | translate}} 2
                                        select(ng-model="product.image2", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p
                                        label {{:: "PICTURE" | translate}} 3
                                        select(ng-model="product.image3", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                    p {{:: "TEXT_PRODUCT_IMAGE_REQUIREMENTS" | translate}}
                        hr
                        .row
                            .col-md-4.block-small
                                p {{:: "TEXT_ADD_PRODUCT_TRANSLATE_PRODUCT_DETAILS" | translate }}
                                p
                                    label(for="product-language") {{:: "PICK_A_TRANSLATION_TO_EDIT" | translate }}
                                    br
                                    select(ng-model="language").form-control#language
                                        option(value="nl" required) {{:: "DUTCH" | translate }}
                                        option(value="en") {{:: "ENGLISH" | translate }}
                                        option(value="de") {{:: "GERMAN" | translate }}
                                        option(value="fr") {{:: "FRENCH" | translate }}
                                        option(value="es") {{:: "SPANISH" | translate }}
                            .col-md-4.block-small
                                h5 {{:: "BASIC_DETAILS" | translate }} ({{language | uppercase}})
                                p
                                    label(for="product-name") {{:: "NAME" | translate }}
                                    select(ng-model="product[language].name", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="product-short-description") {{:: "SHORT_DESCRIPTION" | translate }}
                                    select(ng-model="product[language].shortDescription", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="product-long-description") {{:: "LONG_DESCRIPTION" | translate }}
                                    select(ng-model="product[language].longDescription", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                        label(for="product-collection") {{:: "PRODUCT_COLLECTION" | translate }}
                                        br
                                        select(ng-model="product[language].productCollection", ng-disabled="handle || handled").form-control
                                            //remove the empty option, created by Angular and add a new empty option
                                            option(value="" selected hidden)
                                            option(value="")
                                            option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                    uib-tab(heading="{{::'WATCH_DETAILS' | translate}}" ng-if="product.category=='WATCH'").watch-product-details
                        .row
                            .col-md-4.block-small
                                p
                                    label(for="watch-type") {{:: "WATCH_TYPE" | translate }}
                                    select(ng-model="product.watch.type", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}

                                h5 {{:: "CASE" | translate }}
                                p
                                    label(for="watch-case-size") {{:: "SIZE" | translate }}
                                    br
                                    select(ng-model="product.watch.case.size", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-case-depth") {{:: "THICKNESS" | translate }}
                                    br
                                    select(ng-model="product.watch.case.depth", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-case-material") {{:: "MATERIAL" | translate }}
                                    br
                                    select(ng-model="product.watch.case.material", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-case-color") {{:: "COLOR" | translate }}
                                    br
                                    select(ng-model="product.watch.case.color", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-is-nickel-free") {{:: "NICKEL_FREE" | translate}}
                                    br
                                    select(ng-model="product.watch.isNickelFree", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                p
                                    label(for="watch-case-shape") {{:: "MODEL" | translate }}
                                    br
                                    select(ng-model="product.watch.case.shape", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-case-glass-material") {{:: "GLASS_MATERIAL" | translate }}
                                    br
                                    select(ng-model="product.watch.case.glassMaterial", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}

                                p
                                    label(for="watch-waterproof-level") {{:: "WATERPROOF_LEVEL" | translate }}
                                    br
                                    select(ng-model="product.watch.waterproofLevel", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                h5 {{:: "DIAL" | translate }}
                                p
                                    label(for="watch-dial-color") {{:: "COLOR" | translate }}
                                    br
                                    select(ng-model="product.watch.dial.color", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-dial-pattern") {{:: "PATTERN" | translate }}
                                    br
                                    select(ng-model="product.watch.dial.pattern", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-dial-print") {{:: "PRINT" | translate }}
                                    br
                                    select(ng-model="product.watch.dial.print", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                p
                                    label(for="watch-indication") {{:: "WATCH_INDICATION" | translate }}
                                    select(ng-model="product.watch.indication", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-has-date-function") {{:: "DATE_FUNCTION" | translate}}
                                    br
                                    select(ng-model="product.watch.hasDateFunction", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-dial-index") {{:: "INDEX" | translate }}
                                    br
                                    select(ng-model="product.watch.dial.index", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-has-light-function") {{:: "LIGHT_FUNCTION" | translate}}
                                    br
                                    select(ng-model="product.watch.hasLightFunction", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                h5 {{:: "STRAP" | translate }}
                                p
                                    label(for="watch-strap-model") {{:: "MODEL" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.model", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-strap-material") {{:: "MATERIAL" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.material", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-strap-color") {{:: "COLOR" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.color", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-is-anti-allergy") {{:: "ANTI_ALLERGY" | translate}}
                                    br
                                    select(ng-model="product.watch.isAntiAllergy", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-strap-studs") {{:: "STUDS" | translate}}
                                    br
                                    select(ng-model="product.watch.strap.studs", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                p
                                    label(for="watch-strap-pattern") {{:: "PATTERN" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.pattern", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-strap-print") {{:: "PRINT" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.print", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-strap-clasp") {{:: "CLASP" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.clasp", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-strap-width") {{:: "WIDTH" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.width", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-strap-wrist-perimeter") {{:: "WRIST_PERIMETER" | translate }}
                                    br
                                    select(ng-model="product.watch.strap.wristPerimeter", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                h5 {{:: "WATCH_MOVEMENT_DETAILS" | translate}}
                                p
                                    label(for="watch-has-swiss-movement") {{:: "SWISS_MOVEMENT" | translate}}
                                    br
                                    select(ng-model="product.watch.hasSwissMovement", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                h5 {{:: "SMARTWATCH" | translate}}
                                p
                                    label(for="watch-is-smartwatch") {{:: "SMARTWATCH" | translate}}
                                    br
                                    select(ng-model="product.watch.isSmartwatch", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="watch-smartwatch-functions") {{:: "SMARTWATCH_FUNCTIONS" | translate }}
                                    br
                                    select(ng-model="product.watch.smartWatchFunctions", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                    uib-tab(heading="{{::'STRAP_DETAILS' | translate}}" ng-if="product.category=='STRAP'").strap-product-details
                        .row
                            .col-md-4.block-small
                                p
                                    label(for="strap-model") {{:: "MODEL" | translate }}
                                    select(ng-model="product.strap.model", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="strap-material") {{:: "MATERIAL" | translate }}
                                    select(ng-model="product.strap.material", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="strap-clasp") {{:: "CLASP" | translate }}
                                    select(ng-model="product.strap.clasp", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="strap-studs") {{:: "STUDS" | translate}}
                                    select(ng-model="product.strap.studs", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                p
                                    label(for="strap-color") {{:: "COLOR" | translate }}
                                    select(ng-model="product.strap.color", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="strap-print") {{:: "PRINT" | translate }}
                                    select(ng-model="product.strap.print", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                p
                                    label(for="strap-width") {{:: "WIDTH" | translate }}
                                    select(ng-model="product.strap.width", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="strap-wrist-perimeter") {{:: "WRIST_PERIMETER" | translate }}
                                    select(ng-model="product.strap.wristPerimeter", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                    uib-tab(heading="{{:: 'JEWEL_DETAILS' | translate}}" ng-if="product.category=='JEWEL'").jewel-product-details
                        .row
                            .col-md-4.block-small
                                h5 {{:: "GENERAL_JEWEL_DETAILS" | translate }}
                                p
                                    label(for="jewellery-type") {{:: "JEWELLERY_TYPE" | translate }}
                                    br
                                    select(ng-model="product.jewel.type", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}


                                p
                                    label(for="jewel-material") {{:: "MATERIAL" | translate }}
                                    select(ng-model="product.jewel.material", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-gloss") {{:: "GLOSS" | translate}}
                                    select(ng-model="product.jewel.gloss", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-shape") {{:: "SHAPE" | translate }}
                                    select(ng-model="product.jewel.shape", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-chain") {{:: "CHAIN" | translate }}
                                    select(ng-model="product.jewel.chain", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-clasp") {{:: "CLASP" | translate }}
                                    select(ng-model="product.jewel.clasp", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-color") {{:: "COLOR" | translate }}
                                    select(ng-model="product.jewel.color", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                h5 {{:: "DIMENSIONS" | translate }}
                                p
                                    label(for="jewel-height") {{:: "HEIGHT" | translate }}
                                    select(ng-model="product.jewel.height", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-width") {{:: "WIDTH" | translate }}
                                    select(ng-model="product.jewel.width", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-depth") {{:: "DEPTH" | translate }}
                                    select(ng-model="product.jewel.depth", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-diameter") {{:: "DIAMETER" | translate }}
                                    select(ng-model="product.jewel.diameter", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-weight") {{:: "WEIGHT" | translate }}
                                    select(ng-model="product.jewel.weight", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="product-variant-size") {{:: "SIZE" | translate }}
                                    select(ng-model="product.variants[0].size", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                            .col-md-4.block-small
                                h5 {{:: "GEM" | translate}}
                                p
                                    label(for="jewel-gem-color") {{:: "GEM_COLOR" | translate }}
                                    select(ng-model="product.jewel.gemColor", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
                                p
                                    label(for="jewel-gem-shape") {{:: "GEM_SHAPE" | translate }}
                                    select(ng-model="product.jewel.gemShape", ng-disabled="handle || handled").form-control
                                        //remove the empty option, created by Angular and add a new empty option
                                        option(value="" selected hidden)
                                        option(value="")
                                        option(ng-repeat="header in headers" value="{{header}}") {{header.name}}
        .col-md-12(ng-show="step[1]")
            .row
                .col-md-12
                    p {{:: "FLEXIBLE_IMPORT_ALLOWS_IMPORT_PRODUCTS_REGARDLESS_THEIR_SIZE" | translate}}
                    hr
                    h4 {{:: "STEP_1_DETERMINE_CATEGORY_AND_FILE" | translate}}
                form(novalidate name="fileForm")
                    .col-md-6
                        label(for="category") {{:: "CATEGORY" | translate}}
                        select(id="category", name="category", ng-model="category", required).form-control
                            option(value="WATCH") {{:: "NAV_BAR_WATCHES" | translate}}
                            option(value="JEWEL") {{:: "NAV_BAR_JEWELERY" | translate}}
                            option(value="STRAP") {{:: "NAV_BAR_WATCH_STRAPS" | translate}}
                            option(value="OTHER") {{:: "OTHER" | translate}}
                        label(for="delimiter") {{:: "SEPARATOR" | translate}}
                        input(id="delimiter", type="text", placeholder='{{:: "SEPARATOR" | translate}}', ng-model="delimiter", ng-init="delimiter=';'").form-control
                    .col-md-6
                        div(ngf-drop, ngf-select, name="importFile", ng-model="importFile", ngf-pattern='.csv',ngf-drop-available="dropAvailable").drop-box
                            p(ng-show="!importFile") {{:: "SELECT_CSV_FILE" | translate}}
                            p(ng-show="importFile") {{importFile.name}}
                            div(ng-show="dropAvailable")
            .row
                .col-md-12
                    h4 {{:: "CONDITIONS_FOR_IMPORT_FILE" | translate}}
                    ul
                        li {{:: "PATH_TO_IMAGES_MUST_BE_FULL_LINK" | translate}}
                        li {{:: "FILE_CONTAINS_CSV_FORMAT" | translate}}
                        li {{:: "MARKING_ILLUSTRATION_PRODUCTNUMBER_ARE_MANDATORY" | translate}}
                        li {{:: "MAX_THOUSAND_PRODUCTS_PER_FILE" | translate}}

            br
            br
            a.btn.btn-default(ng-disabled="loading" ng-click="completeStep1()") {{:: "NEXT_STEP" | translate}}
