.container
	.loading(ng-show='processing') {{:: "LOADING" | translate}}...
	h3 {{:: "EDIT_SHOP" | translate}}
	a.btn.btn-dark.pull-right(ui-sref='retailer.home') {{:: "BACK" | translate}}
	uib-tabset(active='activeTab')
		uib-tab(index='0', heading='{{:: "SHOP_DATA" | translate}}')
			form(name='editShop', novalidate='novalidate')
				.row
					#generalTourFillInInformation.col-md-4
						h4 {{:: "TEXT_STORE" | translate}}
						p
							label(for='name') {{:: "TEXT_STORENAME" | translate}}
							input#name.form-control(type='text', required='required', ng-model='currentShop.name', placeholder='{{:: "TEXT_STORENAME" | translate}}')
						p
							label(for='email') {{:: "INPUT_EMAILADRESS" | translate}}
							input#email.form-control(type='email', required='required', ng-model='currentShop.email', placeholder='{{:: "INPUT_EMAILADRESS" | translate}}')
						p
							label(for='website') {{:: "TEXT_WEBSITE" | translate}}
							input#website.form-control(type='text', required='required', ng-model='currentShop.proShopUrl', placeholder='{{:: "TEXT_WEBSITE" | translate}}')
					.col-md-4
						.form-group
							h4 {{:: "CHANGE_ADDRESS" | translate}}
							h6 {{:: "YOUR_PARCEL_AND_LETTER_POST_FOR_THE_ATTENTION_OF" | translate}}
							p {{:: "THIS_INFORMATION_WILL_NOT_BE_SHOWN_ON_YOUR_WEBSITE" | translate}}
							label(for='attn_firstname') {{:: "TEXT_FIRSTNAME" | translate}}
							input#attn_firstname.form-control(type='text', ng-model='currentShop.address.attn.firstName', placeholder='{{:: "TEXT_FIRSTNAME" | translate}}')
							label(for='attn_middlename') {{:: "TEXT_INSERTION" | translate}}
							input#attn_middlename.form-control(type='text', ng-model='currentShop.address.attn.lastNamePrefix', placeholder='{{:: "TEXT_INSERTION" | translate}}')
							label(for='attn_lastname') {{:: "TEXT_LASTNAME" | translate}}
							input#attn_lastname.form-control(type='text', ng-model='currentShop.address.attn.lastName', placeholder='{{:: "TEXT_LASTNAME" | translate}}')
							hr
							label(for='street') {{:: "STREET" | translate}}
							input#street.form-control(type='text', ng-model='currentShop.address.street', placeholder='{{:: "STREET" | translate}}')
							label(for='housenumber') {{:: "HOUSE_NUMBER" | translate}}
							input#housenumber.form-control(type='text', ng-model='currentShop.address.houseNumber', placeholder='{{:: "HOUSE_NUMBER" | translate}}')
							label(for='housenumbersuffix') {{:: "ADDITION" | translate}}
							input#housenumbersuffix.form-control(type='text', ng-model='currentShop.address.houseNumberSuffix', placeholder='{{:: "ADDITION" | translate}}')
							label(for='postalcode') {{:: "POST_CODE" | translate}}
							input#postalcode.form-control(type='text', ng-model='currentShop.address.postalCode', placeholder='{{:: "POST_CODE" | translate}}')
							label(for='city') {{:: "CITY" | translate}}
							input#city.form-control(type='text', ng-model='currentShop.address.city', placeholder='{{:: "CITY" | translate}}')
							label(for='country') {{:: "COUNTRY" | translate}}
							input#country.form-control(type='text', ng-model='currentShop.address.country', placeholder='{{:: "COUNTRY" | translate}}')
							country-list(ng-required="false" ng-model="currentShop.address.country")
					#generalTourBrands.col-md-4(ng-init='getBrands()')
						h4 {{:: "TEXT_YOUR_BRANDS" | translate}}
						angucomplete-alt#ex1(placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause='100', clear-selected='true', selected-object='brandSelected', local-data='brands', local-search='searchBrands', title-field='name', minlength='2', input-class='form-control')
						a.pull-right(ng-click='addBrands(user.shops[0].nameSlug)') {{:: "Add a new brand to PrismaNote"}}
						br
						br
						.list-group
							a.list-group-item(ng-repeat='brand in currentShop.brands')
								span
									| {{brand.name}} 
									span.label.label-info(ng-show='!brand.restricted') Dealer
								span.pull-right.button-group
									i.fa.fa-times.delete-icon(ng-click='deleteBrand($index)')
				.row
					.col-md-4.hidden
						h4 {{:: "LOGO" | translate}}
						h6
							| {{:: "LOGO_FOR_DARK_BACKGROUND" | translate}}
							div(style='background-color:#333', ng-show='currentShop.logoLight')
								img(src="{{logo('logoLight')}}")
							p {{:: "UPLOAD" | translate}} 
						h6
							| {{:: "LOGO_FOR_LIGHT_BACKGROUND" | translate}}
							img(src="{{logo('logoDark')}}", ng-show='currentShop.logoDark')
							p {{:: "UPLOAD" | translate}} (todo)
			div
				button.pull-right.btn-green.btn.btn-lg(ng-click='submitShop(editShop.$valid)', ng-disabled='editShop.$invalid', style='margin-bottom: 10px') {{:: "BUTTON_SAVE" | translate}}
		uib-tab(index='1', heading='{{:: "WEBSHOP" | translate }}')
			form
				.row
					#generalTourWebshopSettings.col-md-4
						h4 {{:: "TEXT_CHARACTERISTICS" | translate}}
						.row.padding-bottom
							.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_DEACTIVATION_SHOP' | translate}}'")
								toggle-switch#active(name='active', ng-model='currentShop.isShopActive', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
							.col-md-8
								label(for='active') {{:: "TEXT_SHOPISACTIVE" | translate}}
						.row.padding-bottom
							.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_NO_STOCK_SO_PRODUCTS_WILL_ALWAYS_BE_SENT_FROM_DROPSHIPPERS' | translate}} '")
								toggle-switch#sendproducts(name='sendproducts', ng-model='currentShop.sendProducts', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
							.col-md-8
								label(for='sendproducts') {{:: "TEXT_SENDPRODUCTSTOCONSUMERS" | translate}}
						.row.padding-bottom.hidden
							.col-md-4(uib-tooltip-html="' {{:: 'TEXT_EXPLANATION_PRODUCT_SENDING_FOR_OTHER_SHOPS' | translate}}'")
								toggle-switch#dropshipper(name='dropshipper', ng-model='currentShop.isDropShipper', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
							.col-md-8
								label(for='dropshipper') {{:: "TEXT_EXPLANATION_PRODUCT_SENDING_TO_RETAILER" | translate}}
						.row.padding-bottom
							.col-md-4(uib-tooltip-html="'{{:: 'TEXT_EXPLAINATION_DISPLAY_PRODUCTS_WHOAREONLINEAVAILABLE' | translate}}'")
								toggle-switch#showproducts(name='showproducts', ng-model='currentShop.showAllProducts', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
							.col-md-8
								label(for='showproducts') {{:: "TEXT_EXPLAINATION_DISPLAY_ALL_PRODUCTS" | translate}}
					#generalTourProShop.col-md-4.hidden
						h4(ng-if='currentShop.isPremium') {{:: "YOU_HAVE_A_PROFESSIONAL_SHOP" | translate}}
						h4(ng-if='currentShop.isPremium == false') {{:: "GET_A_PROFESSIONAL_SHOP" | translate}}
						.row.padding-bottom
							.col-md-1
							.col-md-11
								ul
									li {{:: "USE_YOUR_WEBSITE_UNDER_YOUR_OWN_URL" | translate}}
									li {{:: "USE_YOUR_WEBSITE_WITHOUT_TOPBAR" | translate}}
									li {{:: "MAKE_MORE_THAN_100_PRODUCTS_VISIBLE" | translate}}
									b {{:: "GET_A_PROFESSIONAL_SHOP_HERE" | translate}}
						.row.padding-bottom
							.col-md-1
							.col-md-4(uib-tooltip-html="'{{:: 'EXPLAIN_PROFESSIONAL_SHOP_PLUS_100_PRODUCTS' | translate}}'")
								toggle-switch#showproducts.disabled(name='proMax500', ng-model='currentShop.isPremium', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}", ng-disabled='currentShop.isPremium || currentShop.isPremium == false')
							.col-md-7
								label(for='showproducts') {{:: "PROFESSIONAL_SHOP_MAX_500_PRODUCTS" | translate}}
						.row
							.col-md-1
							.col-md-4(uib-tooltip-html="'{{:: 'EXPLAIN_PROFESSIONAL_SHOP_UNLIMITED_PRODUCTS' | translate}}'")
								toggle-switch#showproducts.disabled(name='proUnlimited', ng-model='currentShop.isPremium', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}", ng-disabled='currentShop.isPremium || currentShop.isPremium == false')
							.col-md-7
								label(for='showproducts') {{:: "PROFESSIONAL_SHOP_UNLIMITED_PRODUCTS" | translate}}
						hr
			div
				button.pull-right.btn-green.btn.btn-lg(ng-click='submitShop(editShop.$valid)', ng-disabled='editShop.$invalid', style='margin-bottom: 10px') {{:: "BUTTON_SAVE" | translate}}
		uib-tab(index='2', heading='{{:: "DESCRIPTION" | translate }}')
			form(name='description', ng-submit='submitShop(true)', novalidate='novalidate')
				.row
					.col-md-12
						h4 {{:: "DESCRIPTION" | translate}}			
						p
							| {{:: "THIS_TEXT_IS_DISPLAYED_AT_THE_BOTTOM_OF_EVERY_PAGE_IN_YOUR_STORE_AND_ON_THE_PAGE_CONTACT" | translate}}
						text-angular#description.wysiwyg(ng-model='currentShop.description', rows='15')
				div
					br
					button.pull-right.btn-green.btn.btn-lg(ng-click='submitShop(true)', style='margin-bottom: 10px') {{:: "BUTTON_SAVE" | translate}}
		uib-tab(index='3', heading='{{:: "FINANCIAL" | translate}}')
			form(name='financial', ng-submit='submitShop(financial.$valid)', novalidate='novalidate')
				.row
					.col-md-4
						h4 {{:: "BANK_DETAILS" | translate}}
						p
							label(for='bankAccountNumber') {{:: "BANKACCOUNTNUMBER_IBAN" | translate}}
							input#iban.form-control(type='test', required='required', ng-model='currentShop.bankAccountNumber', name='bankAccountNumber', placeholder='AD1200012030200359100100')
							button(ng-click='alertValidIBAN(currentShop.bankAccountNumber);') CHECK
						p.help-block(ng-show='editShop.bankAccountNumber.$invalid') IBAN is ongeldig
						p
						p
							label(for='accountHolder') {{:: "BANK_ACCOUNT_HOLDER" | translate}}
							input#accountHolder.form-control(type='text', required='required', ng-model='currentShop.accountHolder', placeholder='{{:: "BANK_ACCOUNT_HOLDER" | translate}}')
						p
							label(for='swiftCode') {{:: "SWIFT_BIC_CODE" | translate}}
							input#swiftCode.form-control(type='text', required='required', ng-model='currentShop.swiftCode', placeholder='{{:: "SWIFT_CODE" | translate}}')
					.col-md-4
						h4 {{:: "OTHER" | translate}}
						p
							label(for='bicCode') {{:: "PVC" | translate}}
							input#pvc.form-control(type='text', required='required', ng-model='currentShop.pvc', placeholder='{{:: "PVC" | translate}}')
						p
							label(for='bicCode') {{:: "VAT_NUMBER" | translate}}
							input#vatNumber.form-control(type='text', required='required', ng-model='currentShop.vatNumber', placeholder='{{:: "VAT_NUMBER" | translate}}')
				div
					button.pull-right.btn-green.btn.btn-lg(ng-click='submitShop(financial.$valid)', ng-disabled='financial.$invalid', style='margin-bottom: 10px') {{:: "BUTTON_SAVE" | translate}}
		uib-tab(index='4', heading='PrismaNote kassa (Countr)', ng-click='checkCountrStatus()')
			.row
				.col-md-12
					div(uib-alert='uib-alert', ng-show='countrAlert', ng-class="'alert-' + countrAlert.type")
						strong {{:: "ERROR_CONNECTING_TO_COUNTR" | translate}}: 
						| {{countrAlert.msg}}
			.row
				.col-md-4
					.text-center.step {{:: "YOUR_COUNTR_ACCOUNT" | translate}}
					.text-center {{:: "ENTER_YOUR_COUNTR_ACCOUNT_INFORMATION_TO_LINK_TO_PRISMANOTE_YOUR_DATA_WILL_NOT_BE_STORED_AND_SENT_WITH_A_SECURE_CONNECTION" | translate}}
					hr
					form(name='countrForm' novalidate ng-hide="countrStatus" ng-submit="connectCountr(countrForm.$valid)")
						label(for='countrusername') {{:: "USERNAME_EMAIL_ADDRESS" | translate}}
						//- Added ng-disabled to prevent Password managers to change the form when this field is hidden
						input.form-control(type='text' ng-disabled="countrStatus" id="countrusername" required ng-model="countr.username", name='countrusername')
						
						label(for='countrpassword') {{:: "PASSWORD" | translate}}
						input.form-control(type='password' ng-disabled="countrStatus" id="countrpassword" required ng-model='countr.password' name="countrpassword")
						br
						div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type") {{alert.msg}}
						button.btn.btn-lg.btn-success(type="submit" ng-disabled='countrForm.$invalid') {{:: "CONNECT" | translate}}
						br
						br
					div(ng-hide="!countrStatus")
						strong Gekoppeld met Countr account 
						p {{countr.username}}
						button.btn.btn-sm.btn-danger(ng-click="breakConnection()") Verwijder connectie
				.col-md-4 
					.text-center.step {{:: "COUNTR_SHOP" | translate}}
					hr
					div(ng-hide="!countrStatus")
						.col-md-6
							label(for='countrshop') {{:: "COUNTR_SHOP" | translate}}
						.col-md-6
							select#countrshop.form-control(ng-disabled='!countrStatus', ng-model='currentShop.countr.countrId', ng-change='setCountrId()', ng-init='getCountrShops()')
								option(ng-repeat='countr in countrShops', value='{{countr._id}}') {{countr.name}}
						a.btn.btn-default(ng-click='openCreateStoreModal()') Winkel aanmaken
					br
					hr
					.text-center.step {{:: "TAX_RATES" | translate}}
					p {{:: "THE_STANDARD_RATE_IS_USED_TO_SYNCHRONIZE_YOUR_PRODUCTS" | translate}}
					hr
					a.btn.btn-default(ng-show="countrStatus && currentShop.countr.countrId" ng-click='addTax = !addTax') {{:: "NEW_RATE" | translate}}
					div(ng-show='addTax')
						label(for='taxName') {{:: "NAME" | translate}}
						input#taxName.form-control(type='text', ng-model='newTax.name', placeholder='Naam', name='taxName')
						label(for='taxRate') {{:: "PERCENTAGE" | translate}}
						input#taxRate.form-control(type='number', ng-model='newTax.rate', name='taxRate')
						input#defaultTax.form-control(type='checkbox', ng-model='newTax.default', name='defaultTax')
						label(for='defaultTax') {{:: "STANDARD_RATE" | translate}}
						br
						a.btn.btn-default(ng-click='addNewTax()') {{:: "BUTTON_SAVE" | translate}}
					.list-group(ng-show="countrStatus && currentShop.countr.countrId")
						a.list-group-item(ng-repeat='tax in taxes')
							span {{tax.name}} ({{tax.rate * 100}}%)
							span.pull-right.button-group
								span.btn.btn-sm.btn-default(style='margin-top: -5px;', ng-hide='tax._id == currentShop.countr.taxId', ng-click='defaultTax(tax._id)') {{:: "DEFAULT" | translate}}
								span.label.label-info(ng-show='tax._id == currentShop.countr.taxId') {{:: "DEFAULT" | translate}}
								i.fa.fa-times.delete-icon(style='padding-left:10px', ng-click='deleteTax(tax._id, $index)')
				.col-md-4
					.text-center.step {{:: "MANUAL_SYNC" | translate}}
					.text-center {{:: "HERE_YOU_CAN_MANUALLY_SYNCHRONIZE_WITH_COUNTR_YOU_CAN_DO_THIS_AT_ANY_TIME_TO_UPDATE_EVERYTHING_IN_1X" | translate}}
					hr
					div(ng-show="countrStatus && currentShop.countr.countrId")
						table
							tr
								td {{:: "COLLECTIONS" | translate}}
								td
									a.btn.btn-primary(style='margin-right: 10px', ng-click="sync('collections')") Synchroniseer
							tr
								td {{:: "PRODUCTS" | translate}}
								td
									a.btn.btn-primary(style='margin-right: 10px', ng-disabled="!collectionsSynced" ng-click="sync('products')" ng-class="collectionsSynced ? '' : 'disabled'") Synchroniseer
							tr(ng-show="!collectionsSynced")
								td(colspan='2') U moet eerst de collectie synchronisatie uitvoeren
							tr
								td {{:: "CUSTOMERS" | translate}}
								td
									a.btn.btn-primary(ng-click="sync('customers')") Synchroniseer
							tr
								td {{:: "TRANSACTIONS" | translate}} 
								td
									a.btn.btn-primary(ng-click="sync('transactions')") Synchroniseer
							tr
								td {{:: "PRODUCTS_FROM_COUNTR_TO_PRISMANOTE" | translate}}
								td
									a.btn.btn-primary(ng-click="sync('products', true)") Synchroniseer
							tr
								td(colspan='2')
									strong Let op: Deze optie overschrijft uw huidige assortiment!

						div(uib-alert='uib-alert', ng-show='syncResult', ng-class="'alert-' + syncResult.type") {{syncResult.msg}}