.container(ng-init="getSocialPortal()")
	h3 {{:: "TEXT_HEAD_SUPPLIERS_RETAILER_HOME" | translate}} (DEMO)
		a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}
	.col-md-12
		label {{:: "VIEW_ALL_EXISTING_PRISMANOTE_SUPPLIERS_AND_THE_ORDERS_YOU_HAVE_OUTSTANDING_MANAGE_YOUR_APPOINTMENTS_WITH_YOUR_SUPPLIERS" | translate}}
		br
		label {{:: "AND_ADD_YOUR_TASKS_TO_YOUR_TODO_LIST" | translate}} {{:: "THE_OVERVIEW_BELOW_SHOW_HOW_YOU_CAN_AUTORIZE_SUPPLIERS" | translate}}
		br
		label {{:: "TO_EXECUTE_PAID_PROMOTIONS_FOR_YOU_IN_THE_FUTURE" | translate}}
		br
		br
	a.btn.btn-md.btn-green.pull-right(ng-click="openCreateWholeSalerModal()") {{:: "NEW_COMPANY" | translate}}
	uib-tabset(active="activeTab")
		uib-tab(index='0', heading='{{:: "Contact" | translate}}')
			.row
			div
				br
				br
				.col-md-12(ng-init="getWholesalerList()")
					input.form-control(ng-model="wholesalerFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
					br
					div(uib-alert, ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)")
						| {{alert.msg}}
					img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
			.row
				.col-xs-12.col-md-9.col-md-push-3
					.list-group
						a(ng-repeat="ws in wholesalers | filter: wholesalerFilter | limitTo:totalDisplayed", ui-sref="admin.wholesaler({nameSlug:ws.nameSlug})").list-group-item
							div {{ws.name}}
					br
					button(ng-click="loadMore()").btn {{:: "BUTTON_LOADMORE" | translate}}
					br
					br
					br
		uib-tab(index='1', heading='{{:: "To do list" | translate}}')
			.row
			div
		uib-tab(index='2', heading='Purchase orders')
			.row
			div
		uib-tab(index='3', heading='Marketing efforts')
			.col-md-12
				input.pull-right(type='text', ng-model='searchquery', placeholder='{{:: "SEARCH" | translate}}')
				a.btn.btn-dark.pull-right.button-margin-right(ui-sref="retailer.myshop")
					|{{:: "NEW_BRAND" | translate}}
				br
				br
				img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
			//- .row
			//- 	br
			//- 	div(uib-alert, ng-show="!marketingCustomers || marketingCustomers.length == 0").alert-warning
			//- 		| {{:: "THERE_ARE_NO_SUPPLIERS_WHICH_CONTRIBUTED_TO_YOUR_DIGITAL_MARKETING_EFFORTS" | translate}}
			div(ng-init="getBrands()")
			div(uib-alert, ng-show="!brandsWithCampaigns || brandsWithCampaigns.length == 0").alert-warning
				| {{:: "NO_CAMPAIGNS_HAVE_BEEN_ADDED_TO_YOUR_ACCOUNT" | translate}}
			.row(ng-hide="loading")
				table.table.table-hover
					tr
						td #
						td(colspan='3') {{:: "BRAND" | translate}}
						td
						td {{:: "CREDITS_FOR_THIS_BRAND" | translate}}
						td
						td(colspan='3') {{:: "CONTRIBUTION" | translate}}
						td {{:: "WHO_HAS_SOCIAL_MEDIA_RIGHTS" | translate}}
						td(colspan='2') {{:: "PRODUCT_INFO_ACCESS" | translate}} {{:: "AUTO_ORDER" | translate}}
					tbody(ng-repeat="brand in brandsWithCampaigns | orderBy: '-startDate' | filter:searchquery")#accordion.accordion-group
						tr.accordion-toggle(data-toggle='collapse', data-target='#{{$index}}', style="cursor: pointer;")
							td
							td(colspan='3') {{brand.name}}
							td
							td {{brand.credit | currency: '€'}}
							td
							td(colspan='3' ng-if="brand.brandContribution") {{brand.brandContribution / brand.totalAllAmounts * 100 }} %
							td(colspan='3' ng-if="!brand.brandContribution") 0 %
							td Diane van Veldhoven (demo)
							td(colspan='2') Ja &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Nee
						tr(id='{{$index}}').accordian-body.collapse
							td
							td(colspan='4')
								b {{:: "INFO" | translate}}
								br
								br
								a(ng-href='retailer/welcome-campaigns/', target='_blank').btn.btn-default 
									i.fa.fa-key 
									span {{:: "SUPPORT_OFFER" | translate}}
								br
								br
								b {{:: "NAME" | translate}} {{:: "MARKETING_ASSISTANT" | translate}}: 
								br
								| Diane van Veldhoven (demo)
								br
								br
								b {{:: "EMAIL" | translate}}: 
								br
								| demo@marketingassistent
								br
								br
								b.hidden {{:: "IMAGE" | translate}}: 
								br
								img(ng-src="https://prismanote.s3.amazonaws.com/general/marketing_lady.jpg" style="width:130px").hidden
								br
								br
								br
								div
								div
								br
							td(colspan='5')
								b {{:: "CAMPAIGNS" | translate}}
								div(ng-repeat="campaign in user.socialPortal.campaigns")
									label(for="{{$parent.$index}}{{$index+1}}" ng-if="campaign.brand.name == brand.name") * {{campaign.name}} {{campaign.startDate | date : "dd-MM-yyyy"}})
										//-a(ng-href='{{email.link}}', target='_blank')
										//-i.fa.fa-arrow-circle-right(ng-click="openPreviewMailModal(email.htmlMail)")
							td(colspan='1')
								b {{:: "CONTRIBUTION_OF_BRAND" | translate}}
								div(ng-repeat="campaign in user.socialPortal.campaigns")
									label(for="{{$parent.$index}}{{$index+1}}" ng-if="campaign.brand.name == brand.name") € {{campaign.tasks[0].contribution.percent * (campaign.tasks[0].contribution.maxAmount/100)}}
								br
								p {{:: "TOTAL_AMOUNT" | translate}} {{brand.name}} {{:: "PAID_TO_FACEBOOK_FOR_YOUR_ADDS" | translate}}: € {{brand.brandContribution}} / {{brand.totalAllAmounts}}
							td(colspan='1')
								b {{:: "YOUR_OWN_CONTRIBUTION" | translate}}
								div(ng-repeat="campaign in user.socialPortal.campaigns")
									label(for="{{$parent.$index}}{{$index+1}}" ng-if="campaign.brand.name == brand.name") {{campaign.tasks[0].contribution.maxAmount * (1-(campaign.tasks[0].contribution.percent/100)) | currency: '€'}} ({{(100 - campaign.tasks[0].contribution.percent)}} %)
								br
								p {{:: "YOUR_CONTRIBUTION" | translate}}: €{{brand.retailerContribution}} / {{brand.totalAllAmounts}}