.container.content
    div.loading(ng-show="loading") {{:: "LOADING" | translate}}...&#8230;
    h3 PrismaNote {{:: "MODULES" | translate}}
        a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}
    p Maak PrismaNote nog completer met onze modules! Voor elke module kunt u aanvullende opties selecteren.
    p Betaling van deze modules gaat met een maandelijkse automatische incasso die betaalprovider Mollie voor ons verwerkt.
    br
    br
    .row(ng-show="currentShop.mollieId")
        .col-md-12
            a.btn.btn-md.btn-dark.disabled Bekijk hier uw huidige modules
    .row
        .col-md-12
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                | {{alert.msg}}
    .row
        .col-md-3(ng-repeat="package in packages", ng-init="getPackageTotalPrice($index)")
            .pricing.hover-effect(ng-class="package.suggested ? 'pricing-active' : ''")
                .pricing-head(ng-class="package.suggested ? 'pricing-head-active' : '' ") 
                    h3 {{package.name}}
                        span {{package.desc}}
                    h4 
                        i {{package.price | currency: '€'}}
                        span per maand
                ul.pricing-content.list-unstyled(ng-repeat="content in package.contents")
                    li {{content}}
                .pricing-options
                    h5 Extra opties
                    ul.options-list.list-unstyled(ng-repeat="option in package.options")
                        li {{option.name}}
                        select(ng-change="getPackageTotalPrice($parent.$index)" ng-model="package.choosen[$index]").form-control
                            option(value="" selected="selected") Geen
                            option(ng-repeat="opt in option.options" value="{{opt}}") {{opt.name}} ({{opt.price | currency: '€'}})

                .pricing-footer
                    p Totaalprijs: 
                    p.total-price {{package.totalPrice | currency: '€'}}
                    a.btn.btn-green.btn-md(ng-click="startUpgrade($index)") Kiezen
