.container
    a.btn.btn-dark.pull-right(ui-sref="retailer.home") {{:: "BACK" | translate}}   
    .col-md-7
        .col-md-4
            a.btn.btn-sm.btn-default(ui-sref="retailer.video-course") Een complete winkel IT oplossing. (40min)
        .col-md-4
            a.btn.btn-sm.btn-default(ui-sref="retailer.video-course") Marketing doen en daarna misschien andere modules gebruiken. (20min)
        .col-md-4
            a.btn.btn-sm.btn-default(ui-sref="retailer.video-course") Een kassa oplossing zonder webshop. (20min)
        //- .col-md-8
        //-     span 
        //-         | 1. Een complete winkel IT oplossing. (40min)
        //-         br
        //-         br
        //-         | 2. Marketing doen en daarna misschien andere modules gebruiken. (20min)
        //-         br
        //-         br
        //-         | 3. Een kassa oplossing zonder webshop. (20min)
.row(ng-init="showVideo1 = true")
    .col-md-1
    .col-md-7
        div(ng-if="showVideo0")
            div(ng-if="language =='nl'" style="width: 100%; height: 600px")
                .panel-body(style="padding: 0px 0 0 0; top: 0px; width: 100%; height: 600px")
                    iframe(src="https://www.youtube.com/embed/aqChwyIt074?t=72" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block; top:0px !important")
            div(ng-if="language =='en'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286309?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            br
            a.btn.btn-sm.btn-green.pull-right(ng-click="showVideo1 = false; showVideo2 = true") {{:: "NEXT" | translate}}
        div(ng-if="showVideo1")
            div(ng-if="language =='nl'" style="width: 100%; height: 600px")
                b Producten toevoegen aan kassa & webshop
                br
                br
                hr
                .panel-body(style="padding: 0px 0 0 0; top: 0px; width: 100%; height: 600px")
                    iframe(src="https://www.youtube.com/embed/aqChwyIt074?t=72" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block; top:0px !important")
            div(ng-if="language =='en'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286309?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/197286332?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            br
            a.btn.btn-sm.btn-green.pull-right(ng-click="showVideo1 = false; showVideo2 = true") {{:: "NEXT" | translate}}
        div(ng-if="showVideo2")
            div(ng-if="language =='nl'" style="width: 100%; height: 600px")
                b Uw kassa in gebruik nemen in 3 minuten
                br
                br
                hr
                .panel-body(style="padding: 0px 0 0 0; top: 0px; width: 100%; height: 600px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block; top:0px !important")
            div(ng-if="language =='en'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            br
            a.btn.btn-sm.btn-default(ng-click="showVideo2 = false; showVideo1 = true") {{:: "PREVIOUS" | translate}}
        //- social media free campaign movie
        div(ng-if="showVideo3")
            div(ng-if="language =='nl'" style="width: 100%; height: 600px")
                .panel-body(style="padding: 0px 0 0 0; top: 0px; width: 100%; height: 600px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block; top:0px !important")
            div(ng-if="language =='en'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687909?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            br
            a.btn.btn-sm.btn-green.pull-right(ng-click="showVideo1 = false; showVideo2 = true") {{:: "NEXT" | translate}}
        //- news movie
        div(ng-if="showVideo4")
            div(ng-if="language =='nl'" style="width: 100%; height: 600px")
                .panel-body(style="padding: 0px 0 0 0; top: 0px; width: 100%; height: 600px")
                    iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block; top:0px !important")
            div(ng-if="language =='en'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/277687886?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            br
            a.btn.btn-sm.btn-green.pull-right(ng-click="showVideo1 = false; showVideo2 = true") {{:: "NEXT" | translate}}
        //- connect cash register movie
        div(ng-if="showVideo5")
            div(ng-if="language =='nl'" style="width: 100%; height: 600px")
                .panel-body(style="padding: 0px 0 0 0; top: 0px; width: 100%; height: 600px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block; top:0px !important")
            div(ng-if="language =='en'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='de'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='fr'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            div(ng-if="language =='es'" style="height: 222px")
                .panel-body(style="padding: 5px 0 0 0; text-align: center; height: 222px")
                    iframe(src="https://player.vimeo.com/video/276619627?color=0ccfa8&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="display: inline-block")
            br
            a.btn.btn-sm.btn-green.pull-right(ng-click="showVideo1 = false; showVideo2 = true") {{:: "NEXT" | translate}}
    .col-md-3
        b Cursus onderdelen
        br
        ul.list-group
        li.list-group-item Voorraadbeheer
        li.list-group-item(ng-click="showVideo2 = false; showVideo1 = true") Website/ Webshop
        li.list-group-item(ng-click="showVideo1 = false; showVideo2 = true") Kassa koppelen
        li.list-group-item Kassa gebruiken
        li.list-group-item Labels printen
        li.list-group-item Klant aanmaken en CRM uitleg
        li.list-group-item Reparatie inboeken
        li.list-group-item Bestellen/Inkoop
        li.list-group-item Betaalde promotie
        li.list-group-item Gratis promotie
        br
        br
        b Toch de volledige cursus doen? Bekijk deze video's ook
        br
        ul.list-group
        li.list-group-item Nieuws
        li.list-group-item .
        li.list-group-item .
        li.list-group-item .
    .col-md-1