.container
    .row
        .col-xs-12(ng-init="getBrands()")
            h3 {{:: "GENERATE_A_PRODUCT_DATABASE" | translate}}
            p {{:: "SELECT_A_BRAND" | translate}}
                strong {{selectedBrand}}
            angucomplete-alt(id="ex1", placeholder="{{'Kies een merk'}}", pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
            p {{:: "CHOOSE_A_LANGUAGE" | translate}}
            select(ng-model="selectedLanguge").form-control
                option nl
                option en
                option fr
                option de
                option sp
            p {{:: "FILE_VERSION_NUMBER" | translate}}
            input(type="text", ng-model="version", placeholder="1.1.0").form-control
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                | {{alert.msg}}
            a.btn.btn-md.btn-green(ng-click="generateBaseFile()") {{:: "GENERATE_FILE" | translate}}
