.container
  .row(ng-init='getBrandList();')
  toggle-switch#enabled(name='enabled', ng-change='changeCallback()', ng-model='enabled', on-label='Ja', off-label='Nee')
  label(for='enabled') {{:: "VERIFIED_BRANDS" | translate}} 
  // <div><a ng-click="openCreateBrandModal()" class="btn btn-md btn-dark pull-right">{{:: "NEW_BRAND" | translate}}</a><br/>
  .col-md-12
    h3 {{:: "BRANDS" | translate}}
    input.form-control(ng-model='brandFilter', placeholder='{{:: "INPUT_FILTER_BRANDS" | translate}}')
    br
    img(src='/images/loading.gif', ng-hide='!loading', style='height:100px; width: 100px;')
    .list-group
      a.list-group-item(ng-repeat='brand in brands | filter: brandFilter | limitTo:totalDisplayed', ui-sref='admin.brand({nameSlug:brand.nameSlug})')
        div {{brand.name}}
    br
    button.btn(ng-click='loadMore()') {{:: "LOAD_MORE" | translate}}
    br
    br
    br
