.container.portal.retailer(ng-init="getCampaigns()")
    h3 {{:: "SOCIAL_MEDIA" | translate}}
        a.btn.btn-dark.pull-right(ui-sref="admin.home" ng-hide="activeTab != 4") {{:: "BACK" | translate}}
        a.btn.btn-light.pull-right(ng-click="activeTab = 4" ng-hide="activeTab == 4")
            i.fa.fa-arrow-left
    br
    .row
    div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
        p(bind-html-compile="alert.msg")
    .col-md-12
        .row
            .col-md-12
                div
                    .btn-group(uib-dropdown='', is-open='status.isopen')
                        button#single-button.btn.btn-grey(type='button', uib-dropdown-toggle='', ng-disabled='disabled') {{:: "ASSESSING_ACTIONS" | translate}}
                            span.caret
                        ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
                            li(role='menuitem')
                                a(ng-click="activeTab = 0") {{:: "NEW_PAID_PROMOTIONS" | translate}}
                            li(role='menuitem')
                                a(ng-click="activeTab = 1") {{:: "NEW_UNPAID_PROMOTIONS" | translate}}
                            li.divider
                            li(role='menuitem').hidden
                                a(ng-click="openCreateCampaignModal()") {{:: "SET_UP_CAMPAIGN_YOURSELF" | translate}}
                    .btn-group.pull-right
                        button#single-button.btn.btn.btn-md.btn-light.button-margin-right(ng-click="activeTab = 5")
                            i.fa.fa-list
                            | {{:: "MY_TASKS" | translate}} &nbsp;
                            span.badge(ng-class="openTasks == 0 ? 'badge-success' : 'badge-warning'") {{openTasks}}
    uib-tabset(active='activeTab')
        uib-tab(index='0', ui-sref='tab0' ng-hide='true')
            uib-tab-heading
                i.fa.fa-bullhorn.fa-lg
                |  {{:: "PROMOTIONS" | translate}}
            .block-small
                b {{:: "PROMOTIONS_PAID_FOR_PREPARED_BY_SUPPLIERS" | translate}}
                p {{campaigns.length}}
                .row
                    br
                    .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in campaigns | orderBy: '-creationDate'")
                        campaign-admin-block
        uib-tab(index='1', ui-sref='tab1' heading='{{:: "UPDATES" | translate}}' ng-hide='true')
            .block-small
                b {{:: "UNPAID_PROMOTIONS_PREPARED_BY_SUPPLIERS" | translate}}
                p(style='text') {{:: "EXPLAIN_FACEBOOK_UPDATE_PRINCIPLE" | translate}}   
                .row
                    .col-xs-12.col-sm-6.col-md-3(ng-repeat="item in updates | orderBy: '-creationDate'")
                        campaign-retailer-block(modal='true')
        uib-tab(index='4', ng-hide='true' heading='{{:: "MY_PROMOTIONS_AND_SETTINGS" | translate}}')
            .block-small
                b {{:: "PROMOTIONS_REVIEWED" | translate}}
                p(style='text') {{:: "THESE_PROMOTIONS_HAVE_BEEN_ASSESSED_BY_YOU" | translate}}
                .row
                    div(uib-alert, ng-show="campaigns && campaigns.length == 0" class="alert-success")
                        p
                            strong {{:: "YOU_HAVE_NO_CAMPAIGNS_YET" | translate}}
                            a.btn.btn-md.btn-dark(ng-click="$scope.active = '1'") {{:: "ADD_CAMPAIGNS" | translate}}
                    .col-md-3(ng-repeat="item in campaigns | orderBy: '-creationDate'")
                        campaign-retailer-block
        uib-tab.pull-right(index='5', ui-sref='tab3', ng-hide='true' heading='{{:: "MY_TASKS" | translate}}')
            .col-md-12
                .row
                    h3 {{:: "MY_TASKS" | translate}}
                    .col-md-12
                        hr
                        div(uib-alert, ng-show="openTasks <= 0" class="alert-success")
                            | {{:: "NO_OPEN_TASKS" | translate}}
                        ul.list-group(ng-show="openTasks > 0") 
                            li.list-group-item(ng-repeat="task in user.socialPortal.taskList | filter:{completed:false} | orderBy: 'date'")
                                a.btn.btn-green.pull-right(ng-click='openTaskModal(task)') {{:: "OPEN" | translate}}
                                h6.list-group-item-heading {{task.title}}
                                p.list-group-item-text {{task.date | date : "dd-MM-yyyy"}}
                        hr
                        a.pull-right(ng-init="showTasks = false" ng-click="showTasks = !showTasks")
                            | {{:: "HISTORY" | translate}} &nbsp;
                            span.i.fa(ng-class="showTasks ? 'fa-chevron-up' : 'fa-chevron-down'")

            .row
            .col-md-12(uib-collapse="!showTasks")
                .row
                    h3 {{:: "EXECUTED_ACTIONS" | translate}}
                    table.table.table-striped.table-hover
                        tr
                            th(width="10%") {{:: "TYPE" | translate}}
                            th(width="60%") {{:: "DESCRIPTION" | translate}}
                            th(width="15%") {{:: "DATE" | translate}}
                            th(width="15%") {{:: "USER" | translate}}
                        tr(dir-paginate="log in user.socialPortal.log | orderBy: '-date' | itemsPerPage:20")
                            td 
                                span.fa.fa-facebook(ng-show="log.type == 'facebook'")
                                span.fa.fa-truck(ng-show="log.type == 'order'")
                                span.fa.fa-instagram(ng-show="log.type == 'instagram'")
                                span.fa.fa-pinterest(ng-show="log.type == 'pinterest'")
                                span.fa.fa-check(ng-show="log.type == 'task'")
                                | &nbsp; {{log.type}}
                            td {{log.title}}
                            td {{log.date | date : "dd-MM-yyyy HH:mm:ss"}}
                            td {{log.user}}
                    dir-pagination-controls(max-size="5" direction-links="true", boundary-links="true")