.container
    .row
        toggle-switch.pull-right(name="toggle-verifyLater", ng-model="collection.verifyLater", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
        label.pull-right Admin must check this collection
        br
        br
        toggle-switch.pull-right(name="toggle-verifyLater", ng-model="collection.isVerified", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
        label.pull-right {{:: "LAST_PROPOSED_CHANGES_ARE_EFFECTED" | translate }}
        .row(ng-init="getCollection()")
            .col-md-6
                h3 {{:: "EDIT_COLLECTION" | translate}}
                div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                    | {{alert.msg}}
                select(ng-model="language").form-control
                    option(value="nl") {{:: "DUTCH" | translate}}
                    option(value="en") {{:: "ENGLISH" | translate}}
                    option(value="de") {{:: "GERMAN" | translate}}
                    option(value="fr") {{:: "FRENCH" | translate}}
                    option(value="es") {{:: "SPANISH" | translate}}
                .row
                    .col-md-5
                        h5 {{:: "NAME" | translate}}
                        input(type='text' ng-model="collection[language].name").form-control
                        br
                        //- label(for="collection-verified") {{:: "VERIFIED" | translate}}
                        //- toggle-switch(name="collection-verified", ng-model="collection.isVerified", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                    .col-md-7
                        h5 Slug
                        input(type='text' ng-model="collection[language].nameSlug").form-control

                        h5 {{:: "CREATED_BY" | translate}}
                        pre {{collection.uploader | json}}
                        a.btn.btn-md.btn-default(ui-sref="admin.user({userId:collection.uploader._id})") {{:: "OPEN_USER" | translate}}
                        //- h5 {{:: "CATEGORIES" | translate}}
                        //- .list-group
                        //-     a(ng-repeat="cat in collection.categories").list-group-item
                        //-         span {{cat}}
                        //-         span.pull-right.button-group
                        //-             i.fa.fa-times(ng-click="deleteCategory($index)")
                        //- select(ng-model="category" name="collectionCategory" ng-change="addCategory(category)").form-control
                        //-     option(value="WATCH") {{:: "WATCH" | translate }}
                        //-     option(value="STRAP") {{:: "STRAP" | translate }}
                        //-     option(value="JEWEL") {{:: "JEWEL" | translate }}
                        //-     option(value="OTHER") {{:: "OTHER" | translate }}
                .row
                    a.btn.btn-lg.btn-green(ng-click="saveCollection()") {{:: "BUTTON_SAVE" | translate}}
                    a.btn.btn-lg.btn-default(ng-click="cancel()") {{:: "CANCEL" | translate}}
                    a.btn.btn-lg.btn-warning(ng-click="deleteCollection()") {{:: "DELETE" | translate}}
            .col-md-6
                h5 {{:: "NO_SUGGESTIONS" | translate}}