.container
	.portal
		.row
		uib-tabset(active='activeTab')
			uib-tab(index='0', ui-sref='tab1' heading='Support: data verification')
				.row
				.col-xs-12.col-md-7
					.panel
						p.panel-heading Manage shared data
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "PRODUCTS" | translate}} (changes, delete, duplicates and inapropriate content)
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.products")
										i.fa.fa-cube.fa-4x
										h6.text-center SEPARATE {{:: "PRODUCTS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.products-to-delete")
										i.fa.fa-trash.fa-4x
										h6.text-center {{:: "DELETE_PRODUCTS_SUGGESTIONS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.products-to-merge")
										i.fa.fa-4x.fa-sign-language
										h6.text-center {{:: "PRODUCTS_TO_MERGE" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Translate new added {{:: "COLLECTIONS" | translate}}
								br
								br
								.col-xs-4.hidden
									a.menublock(ui-sref="admin.clarity")
										i.fa.fa-download.fa-4x
										h6.text-center Article database
								.col-xs-4
									a.menublock(ui-sref="admin.product-collections")
										i.fa.fa-tags.fa-4x
										h6.text-center {{:: "COLLECTIONS" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Help retailers with {{:: "PRODUCT_IMPORTS" | translate}} (Data quality check)
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.imports")
										i.fa.fa-file-excel-o.fa-4x
										h6.text-center {{:: "PRODUCT_IMPORTS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.product-import")
										i.fa.fa-upload.fa-4x
										h6.text-center {{:: "PRODUCT_IMPORT" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Verify added {{:: "BRANDS" | translate}}
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.brands")
										i.fa.fa-diamond.fa-4x
										h6.text-center {{:: "BRANDS" | translate}}
				.col-xs-6.col-md-5
					.panel
						p.panel-heading Manage {{:: "COMPANIES" | translate}}
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "COMPANIES" | translate}} ({{:: "WHOLESALERS" | translate}}) and connect to users
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers")
										i.fa.fa-truck.fa-4x
										h6.text-center {{:: "COMPANIES" | translate}}
								.col-xs-6
									a.menublock(ui-sref="admin.users({userType:'wholesaler'})")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
							.row
								hr
								b &nbsp;&nbsp;&nbsp; Remove duplicates and inapropriate content)
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers-to-delete")
										i.fa.fa-trash.fa-4x
										h6.text-center Delete companies suggestions
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers-to-merge")
										i.fa.fa-4x.fa-sign-language
										h6.text-center Companies to merge
				.col-xs-12.col-md-4.hidden
					.panel
						p.panel-heading {{:: "MANUFACTURERS" | translate}}
						.panel-body
							.row
								.col-xs-6
									a.menublock(href="#")
										i.fa.fa-industry.fa-4x
										h6.text-center {{:: "MANUFACTURERS" | translate}}
								.col-xs-6
									a.menublock(href="#")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
			uib-tab(index='1', ui-sref='tab1' heading='Sales (new users)')
				.row
				.col-xs-12.col-md-7
					.panel
						p.panel-heading Manage retailers
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Connect {{:: "SHOPS" | translate}} to users and add shop data
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.shops")
										i.fa.fa-shopping-cart.fa-4x
										h6.text-center {{:: "SHOPS" | translate}}
								.col-xs-6
									a.menublock(ui-sref="admin.users({userType:'retailer'})")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
				.col-xs-6.col-md-5
					.panel
						p.panel-heading Manage {{:: "COMPANIES" | translate}}
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "COMPANIES" | translate}} ({{:: "WHOLESALERS" | translate}}) and connect to users
								br
								br
								.col-xs-6
									a.menublock(ui-sref="admin.wholesalers")
										i.fa.fa-truck.fa-4x
										h6.text-center {{:: "COMPANIES" | translate}}
								.col-xs-6
									a.menublock(ui-sref="admin.users({userType:'wholesaler'})")
										i.fa.fa-user.fa-4x
										h6.text-center {{:: "USERS" | translate}}
						//- .col-xs-12.col-md-4
			uib-tab(index='2', ui-sref='tab1' heading='Marketing: Social Media')
				.row
				.col-xs-6.col-md-5
					.panel
						p.panel-heading Use {{:: "MARKETING" | translate}} tools
						.panel-body
							.row
								b &nbsp;&nbsp;&nbsp; Verify {{:: "CAMPAIGNS" | translate}}, create updates and news items
								br
								br
								.col-xs-4
									a.menublock(ui-sref="admin.campaigns")
										i.fa.fa-calendar.fa-4x
										h6.text-center {{:: "CAMPAIGNS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.social-portals")
										i.fa.fa-flag-o.fa-4x
										h6.text-center {{:: "STATUS SOCIAL PORTALS" | translate}}
								.col-xs-4
									a.menublock(ui-sref="admin.news")
										i.fa.fa-newspaper-o.fa-4x
										h6.text-center {{:: "NEWS_ITEMS" | translate}}
							.row
								ul.text-center
									li(style="list-style-type: none")
										button.btn.btn-primary(ng-click="login()"  )
											span.fa.fa-facebook
											| &nbsp; {{:: "REFRESH_FACEBOOK_TOKEN" | translate}}
										br