.container
    .row
        .col-md-12(ng-init="getImports()")
            h3 {{:: "PRODUCT_IMPORTS" | translate}}
            input.form-control(ng-model="importFilter", placeholder='Search an import')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            .list-group
                a(ng-repeat="import in imports | filter: importFilter | limitTo:totalDisplayed", ui-sref="admin.import({id:import._id})").list-group-item
                    div {{import[language].name}}
                //- list items should contain: Shop/Company-name (if available. Otherwise just add 'Admin-import'), Time/Date, Username

            a.btn.btn-md.btn-dark.pull-right(ui-sref="admin.import") THIS BUTTON CAN BE DELETED IF THE ABOVE LIST WORKS
            br

            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}