.container
	h3 {{:: "CREATE_NEWS_MESSAGE" | translate}}
	.block-small
		div(uib-alert, ng-show="!newsItem.isPublished").alert-warning 
			p
				strong {{:: "CAUTION" | translate}} &nbsp; {{:: "THIS_MESSAGE_IS_NOT_VISIBLE_ON_THE_WEBSITE" | translate}}
				span {{:: "CLICK_HERE_TO_MAKE_THE_NEWS_REPORT_VISIBLE_AGAIN" | translate}}
				a.btn.btn-md.btn-dark(ng-click="newsItem.isPublished = true") {{:: "PUBLISH" | translate}}
	.row
		.col-md-4.block-small
			h5 {{:: "BASIC_DATA" | translate}}
			.form-group
				p
					label(for="newsItem-title") {{:: "TITLE" | translate}}
					br
					input(type="text" maxlength="40" ng-model="newsItem.name" placeholder='{{:: "TITLE" | translate}}').form-control#campaign-title
				p
					label(for="newsItem-nameslug") Slug
					br
					input(type="text" disabled="disabled" ng-model="newsItem.nameSlug" placeholder="Slug").form-control.disabled#campaign-nameslug
				p(ng-init="getWholesalers()")
					label {{:: "DISTRIBUTOR" | translate}}
					span(ng-if="newsItem.wholesaler.name") :&nbsp;
						strong(ng-bind="newsItem.wholesaler.name")
					br
					angucomplete-alt(id="ex1", placeholder="{{'Kies een distributeur of laat leeg'}}", pause="100", clear-selected="true", selected-object="wholesalerSelected", local-data="wholesalers", local-search="searchWholesalers", title-field="name", minlength="2", input-class="form-control")
				p
					label {{:: "AUTHOR" | translate}}
					br
					input(ng-model="newsItem.author.name"  minlength="2", input-class="form-control").form-control
				p
					label(for="newsItem-is-published") {{:: "PUBLISH" | translate}}
					br
					toggle-switch(name="newsItem-is-published", ng-model="newsItem.isPublished", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")#campaign-is-published
					span &nbsp; {{:: "NEWS_MESSAGE_VISIBLE" | translate}}
			h5 {{:: "DETAILS" | translate}}
			p(ng-init="getBrands()")
				label {{:: "BRAND" | translate}}
				span(ng-if="newsItem.brand.name") :&nbsp;
					strong(ng-bind="newsItem.brand.name")
				br
				angucomplete-alt(id="ex1", placeholder='{{:: "CHOOSE_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
		.col-md-4.block-small
			h5 {{:: "SHORT_DESCRIPTION_ON_NEWSITEM" | translate}}
			br
			textarea(ng-model="newsItem.summary" rows="7" ng-trim="false" maxlength="180").campaign-summary.form-control
			| {{:: "NUMBER_OF_CHARACTERS" | translate}}: {{newsItem.summary.length}}

		.col-md-4.block-small
			h5 {{:: "IMAGE_ON_NEWSITEM" | translate}}
			div(ngf-drop, ngf-select, ng-model="newsItem.photo", ngf-pattern="'image/*'", ngf-allow-dir="allowDir",ngf-drop-available="dropAvailable").drop-box
				|{{:: "SELECT_A_PHOTO" | translate}}
				div(ng-show="dropAvailable") {{:: "OR_DRAG_AND_DROP_FILE" | translate}}
				img(ngf-thumbnail="newsItem.photo")
			p
				label(for="newsItem-alt") {{:: "ALT_TEXT_SEO" | translate}}
				br
				input(type="text" ng-model="newsItem.alt" placeholder='{{:: "ALT_TEXT_SEO" | translate}}').form-control#campaign-title
	.row
		h5 {{:: "TEXT_EDITOR" | translate}}
		text-angular(ng-model="newsItem.content").wysiwyg

	.row(style="margin: 20px 0px 20px -15px")
		div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
			| {{alert.msg}}
		input(type="submit", ng-click="addNewsItem(true)", value='{{:: "ADD" | translate}}').btn.btn-green
		input(type="submit", ui-sref="admin.news", value='{{:: "CANCEL" | translate}}').btn.btn-red

