.container(ng-init="getNewsItems()")
	h3 {{:: "NEWS" | translate}}
	div(align='right')
		a.menublock(ui-sref="admin.news-item-new")
			i.fa.fa-plus-circle.fa-2x 
		input(type="text", ng-model="searchQuery" placeholder="Zoeken")
	.container
		.news-page
			.news-page-content.block
				.row
					.col-xs-12.col-sm-6.col-md-4(ng-repeat="item in news | filter:searchQuery | orderBy:'-creationDate'")
						news-item-block-admin-portal(modal='true').block-small