.container
    .row
        .col-md-3
            h5 {{:: "FILTERS" | translate}}
            select(ng-model="isVerified", ng-change="filterChange(isVerified)")
                option(value='all') {{:: "EVERYTHING" | translate}}
                option(value='true') {{:: "VERIFIED" | translate}}
                option(value='false') {{:: "NOT_VERIFIED" | translate}}

        .col-md-9(ng-init="getCollections()")
            h3 {{:: "PRODUCT_COLLECTIONS" | translate}}
            input.form-control(ng-model="collectionFilter", placeholder='Zoek een collectie')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            .list-group
                a(ng-repeat="collection in collections | filter: collectionFilter | filter: verificationFilter | limitTo:totalDisplayed", ui-sref="admin.collection({id:collection._id})").list-group-item
                    div {{collection[language].name}}
            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}