.container
	h3 {{:: "DELETE_PRODUCT_SUGGESTIONS" | translate}}
	.row
		.col-xs-12
			.row
				.col-xs-12(ng-if="products.length == 0")
					h5.text-center {{:: "NO_PRODUCTS_FOUND_MATCHING_SEARCH_COMMAND" | translate}}
				.col-xs-12.col-sm-4.col-md-3(ng-repeat="item in products")
					.product-block
						h6(ng-click="clickToCopy(item._id)",id="id-{{item._id}}", title="Click To Copy to Clipboard") {{item._id}}
						a(href="" ng-click="" ng-init="item.selected = false").hidden
							i.fa.fa-check-square-o.fa-lg(ng-if="item.selected == true")
							i.fa.fa-square-o.fa-lg(ng-if="item.selected == false")
						.product-image
							a(ui-sref="openProductModal(item)")
								img(ng-src='{{awsUrl + item.images[0].src}}', alt='{{item.images[0].alt}}',onerror='this.src = "../images/no-photo-available.jpg"')
								.hover-overlay
							a(ui-sref="openProductModal(item)").product-details
								.product-title(ng-bind="item[language].name")


			p.no-products-found(ng-if="noProductsFound == true") {{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}
		.col-xs-12.col-md-3.col-md-pull-9
			form.product-filters.filters
				a(ng-click="resetFilters()").btn.btn-md.btn-green.hidden {{:: "TEXT_RESET_FILTERS" | translate}}