.container
	h3 {{ "PRODUCTS_TO_VERIFY" | translate }}
	.row
	product-add-admin-portal.add-product-right-align
	.row
		.col-xs-12.col-md-9.col-md-push-3
			.row
				.col-xs-6.col-sm-4.col-md-3(ng-repeat="item in products track by $index")
					product-block-admin-portal
			.load-more.text-center
				a.btn.btn-dark(ng-if="products.length > 0 && products.length < productCount" ng-click="getProducts()") {{:: "BUTTON_LOADMORE" | translate}}
			p.no-products-found(ng-if="noProductsFound == true") {{:: "TEXT_NO_PRODUCTS_FOUND" | translate}}
		.col-xs-12.col-md-3.col-md-pull-9
			form.product-filters.filters
				a(ng-click="resetFilters()").btn.btn-md.btn-green.hidden {{:: "TEXT_RESET_FILTERS" | translate}}


				.product-filter.filter
					.filter-content
						ul.fixed-height
							li
								input(type="checkbox" name="isVerified" id="isVerified" ng-model="isVerified" ng-click="toggleIsVerified()" ng-change="verificationsChanged()")
								label(for="isVerified") {{:: "VERIFIED_PRODUCTS" | translate}}
							li
								input(type="checkbox" name="isNotVerified" id="isNotVerified" ng-model="isNotVerified" ng-change="verificationsChanged()")
								label(for="isNotVerified") {{:: "UNCHECKED_PRODUCTS" | translate}}
									
					hr
				product-filter-by-category
				product-sort
				product-filter-by-gender
				product-filter-by-price
				product-filter-by-brand
				product-filter-by-misc-properties(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-indication(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-strap-type(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-strap-material(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-strap-width(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-wrist-perimeter(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-strap-clasp(ng-if="category.includes('WATCH') || category.includes('STRAP') || category.length == 0")
				product-filter-by-case-material(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-case-shape(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-case-size(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-case-depth(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-waterproof-level(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-color
				product-filter-by-glass-material(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-dial(ng-if="category.includes('WATCH') || category.length == 0")
				product-filter-by-type(ng-if="category.includes('WATCH') || category.length == 0")
