.container
    .row
    div
        a.btn.btn-md.btn-dark.pull-right(ng-click="openCreateShopModal()") {{:: "NEW_STORE" | translate}}
        br
        div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type") {{alert.msg}}
        .col-md-12(ng-init="getShopList()")
            h3 {{:: "TEXT_HEAD_STOREMANAGER_ADMIN_HOME" | translate}}
            input.form-control(ng-model="shopFilter", placeholder='{{:: "INPUT_FILTER_SHOPS" | translate}}')
            br
            img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
            .list-group
                a(ng-repeat="shop in shopsFilter | filter: shopFilter | limitTo:totalDisplayed", ui-sref="admin.shop({nameSlug:shop.nameSlug})").list-group-item
                    div {{shop.name}}
            br
            button(ng-click="loadMore()").btn {{:: "LOAD_MORE" | translate}}
            br
            br
            br