.container
    .row
        .col-md-12(ng-init="loadUser()")
            h3 {{:: "EDIT_USER" | translate}}
            .row
                form(novalidate)
                    .col-md-4
                        .form-group
                            label(for="firstName") {{:: "TEXT_FIRSTNAME" | translate}}
                            input(type="text", ng-model="user.firstName" id="firstName", placeholder='{{:: "TEXT_FIRSTNAME" | translate}}').form-control
                            label(for="lastNamePrefix") {{:: "TEXT_INSERTION" | translate}}
                            input(type="text", ng-model="user.lastNamePrefix" id="lastNamePrefix", placeholder='{{:: "TEXT_INSERTION" | translate}}').form-control
                            label(for="lastName") {{:: "TEXT_LASTNAME" | translate}}
                            input(type="text", ng-model="user.lastName" id="lastName", placeholder='{{:: "TEXT_LASTNAME" | translate}}').form-control
                            label(for="phone") Telefoonnummer
                            input(type="text" placeholder='Telefoonnummer' ng-model="user.phonenumber" id='phone').form-control 
                            p.help-block Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).
                           
                    .col-md-4
                        .form-group
                            label(for="email") {{:: "TEXT_EMAILADRESS" | translate}}
                            input(type="text", ng-model="user.email" id="email", placeholder='{{:: "TEXT_EMAILADRESS" | translate}}').form-control
                            label(for="username") {{:: "USERNAME" | translate}}
                            input(type="text", ng-model="user.username" id="username", placeholder='{{:: "USERNAME" | translate}}').form-control
                            label(for="gender") {{:: "SEX" | translate}}
                            select(ng-model="user.gender", ng-options="o.v as o.n for o in [{ n: 'Vrouw', v: false }, { n: 'Man', v: true }]").form-control

                    .col-md-4
                        .form-group
                            toggle-switch(id="verified", name="verified", ng-model="user.isVerified", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                            label(for="verified") {{:: "ACCOUNT_IS_VERIFIED" | translate}}
                            br
                            br
                            toggle-switch(id="resetPassword", name="resetPassword", ng-model="user.mustResetPassword", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
                            label(for="resetPassword") {{:: "MUST_MODIFY_PASSWORD" | translate}}
                            br
                            br
                            label(for="role") {{:: "USER_ROLE" | translate}}
                            select(ng-model="user.role").form-control
                                option(value="user") {{:: "USER" | translate}}
                                option(value="retailer") {{:: "RESELLER" | translate}}
                                option(value="wholesaler") {{:: "DISTRIBUTOR" | translate}}
                                option(value="manufacturer") {{:: "MANUFACTURER" | translate}}
                                option(value="admin") {{:: "ADMINISTRATOR" | translate}}
                            br
                            p {{:: "LAST_LOGGED_IN" | translate}}: {{user.lastLogin | date:'dd-MM-yyyy HH:mm:ss'}}
                            p {{:: "CREATED" | translate}}: {{user.creationDate | date:'dd-MM-yyyy HH:mm:ss'}}
                                  
            .row
                .col-md-4
                    h4 {{:: "ADDRESSES" | translate}}
                    button(ng-click="newAddress()").btn.btn-green {{:: "NEW_ADDRESS" | translate}}
                    br
                    br
                    .list-group
                        a(ng-repeat="address in user.address", ng-click="openAddress($index)", ng-class="{'active': currentAddress.index == $index}").list-group-item.clearfix
                            span {{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}
                            span.pull-right.button-group
                                i.fa.fa-times(ng-click="deleteAddress($index)")
                    .row(ng-show="user.role == 'retailer'")
                        .col-md-12(ng-init="getShops()")
                            h4 {{:: "SHOPS" | translate}}
                            angucomplete-alt(id="ex1", placeholder="Zoek een winkel", pause="100", clear-selected="true", selected-object="shopSelected", local-data="shops", local-search="searchShops", title-field="name", minlength="3", input-class="form-control")
                            br
                            .list-group
                                a(ng-repeat="shop in user.shops", ng-click="openShop($index)", ng-class="{'active': currentShop.index == $index}").list-group-item.clearfix
                                    span {{shop.name}} ({{shop.type}})
                                    span.pull-right.button-group
                                        i.fa.fa-times(ng-click="deleteShop($index)")
                    .row(ng-show="user.role == 'wholesaler'")
                        .col-md-12(ng-init="getWholesalers()")
                            h4 {{:: "WHOLESALERS" | translate}}
                            angucomplete-alt(id="ex2", placeholder="Zoek een groothandel", pause="100", clear-selected="true", selected-object="wholesalerSelected", local-data="shops", local-search="searchWholesalers", title-field="name", minlength="3", input-class="form-control")
                            br
                            .list-group
                                a(ng-repeat="ws in user.wholesalers", ng-click="openWholesaler($index)", ng-class="{'active': currentWholesaler.index == $index}").list-group-item.clearfix
                                    span {{ws.name}}
                                    span.pull-right.button-group
                                        i.fa.fa-times(ng-click="deleteWholesaler($index)")
                .col-md-4
                    .form-group(ng-show='currentAddress || addNewAddress')
                        h4 {{:: "EDIT_ADDRESS" | translate}}
                        label(for="street") {{:: "STREET" | translate}}
                        input(type="text", ng-model="currentAddress.street" id="street", placeholder='{{:: "STREET" | translate}}').form-control

                        label(for="housenumber") {{:: "TEXT_NUMBER" | translate}}
                        input(type="text", ng-model="currentAddress.houseNumber" id="housenumber", placeholder='{{:: "TEXT_NUMBER" | translate}}').form-control
                        
                        label(for="housenumbersuffix") {{:: "TEXT_ADDITION" | translate}}
                        input(type="text", ng-model="currentAddress.houseNumberSuffix" id="housenumbersuffix", placeholder='{{:: "TEXT_ADDITION" | translate}}').form-control

                        label(for="postalcode") {{:: "TEXT_ZIP" | translate}}
                        input(type="text", ng-model="currentAddress.postalCode" id="postalcode", placeholder='{{:: "TEXT_ZIP" | translate}}').form-control

                        label(for="city") {{:: "TEXT_CITY" | translate}}
                        input(type="text", ng-model="currentAddress.city" id="city", placeholder='{{:: "TEXT_CITY" | translate}}').form-control
                        
                        country-list(ng-required="true" ng-model="currentAddress.country")

                        input(type="button", ng-click="pushAddress()", ng-show="addNewAddress", value='{{:: "ADD" | translate}}').btn.btn-lg.btn-green
                        input(type="button", ng-click="cancelNewAddress()", ng-show="addNewAddress", value='{{:: "CANCEL" | translate}}').btn.btn-lg
                    .row(ng-show="currentShop")
                        h4 {{:: "EDIT_SHOP" | translate}}
                        br
                        br
                        .col-md-6
                            | {{currentShop.name}} 
                        .col-md-6
                            select(ng-model="currentShop.type", id="shoptype").form-control
                                option(value="shop") {{:: "SHOP" | translate}}
                                option(value="pro-shop") {{:: "PRO_SHOP" | translate}}
                    .row(ng-show="currentPhone || addNewPhone")
                        h4 {{:: "EDIT_PHONE" | translate}}
                        label(for="countryCode") {{:: "COUNTRY_CODE" | translate}}
                        input(type="text", ng-model="currentPhone.countryCode" id="countryCode", placeholder='{{:: "COUNTRY_CODE" | translate}}').form-control
                        
                        label(for="phone") {{:: "TEXT_PHONE" | translate}}
                        input(type="text", ng-model="currentPhone.landLine", id="phone", placeholder='{{:: "TEXT_PHONE" | translate}}').form-control
                        
                        label(for="mobile") {{:: "MOBILE" | translate}}
                        input(type="text", ng-model="currentPhone.mobilePhone",id="mobile", placeholder='{{:: "MOBILE" | translate}}').form-control

                        label(for="fax") {{:: "FAX" | translate}}
                        input(type="text", ng-model="currentPhone.fax", id="mobile", placeholder='{{:: "FAX" | translate}}').form-control
                        
                        input(type="button", ng-click="pushPhone()", ng-show="addNewPhone", value='{{:: "ADD" | translate}}').btn.btn-lg.btn-green
                        input(type="button", ng-click="cancelNewPhone()", ng-show="addNewPhone", value='{{:: "CANCEL" | translate}}').btn.btn-lg
                .col-md-4       
                    h4 {{:: "ORDERS" | translate}}
                    p {{:: "UNDER_CONSTRUCTION" | translate}}   
            .row
                .col-md-12(ng-init="getSocialPortal()") 
                    h3 {{:: "SOCIAL_MEDIA_PORTAL" | translate}} 
                    img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
                    div(ng-hide="loading")
                        .col-md-4
                            h5(ng-show="user.role == 'retailer'") {{:: "SHOPS" | translate}}
                            h5(ng-show="user.role == 'wholesaler'") {{:: "WHOLESALERS" | translate}}
                            br
                            select(ng-show="user.role == 'retailer'" name="socialPortalShop", ng-model="socialPortalShop", ng-change="addShopToSocialPortal()").form-control
                                option(ng-repeat="shop in user.shops" ng-value="$index") {{shop.name}}
                            select(ng-show="user.role == 'wholesaler'" name="socialPortalWholesaler", ng-model="socialPortalWholesaler", ng-change="addWholesalerToSocialPortal()").form-control
                                option(ng-repeat="ws in user.wholesalers" ng-value="$index") {{ws.name}}
                            hr
                            button(ng-show="user.role == 'retailer'" ng-repeat="shop in user.socialPortal.shops", ng-click="deleteShopFromSocialPortal($index)", type="button").btn.btn-default {{shop.name}}
                            button(ng-show="user.role == 'wholesaler'" ng-repeat="ws in user.socialPortal.wholesalers", ng-click="deleteWholesalerFromSocialPortal($index)", type="button").btn.btn-default {{ws.name}}
                        .col-md-4(ng-init="getBrands()")
                            h5 {{:: "BRANDS" | translate}}
                            br
                            angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
                            hr
                            .row(ng-repeat="brand in user.socialPortal.brands")
                                .col-md-6
                                    button(ng-click="deleteBrandFromSocialPortal($index)", type="button").btn.btn-default {{brand.name}}
                                .col-md-6
                                    input(type="text" ng-model="brand.credit" style="width:70px")
                                    button(ng-click="upgradeCreditSocialPortal($index, brand.credit)", type="button").btn.btn-default
                                        i.fa.fa-floppy-o
                            .row
                        .col-md-4(ng-init="getUsers()")
                            h5 {{:: "USERS" | translate}}
                            br
                            angucomplete-alt(id="ex2", placeholder='Gebruiker zoeken', pause="100", clear-selected="true", selected-object="userSelected", local-data="users", local-search="searchUsers", title-field="firstName,lastNamePrefix,lastName,email", minlength="2", input-class="form-control")
                            hr
                            button(ng-repeat="user in user.socialPortal.users", ng-click="deleteUserFromSocialPortal($index)", type="button").btn.btn-default {{user.name}}
            .row
                .col-md-12
                    input(type="submit", ng-click="updateUser(user.role)", value='{{:: "BUTTON_SAVE" | translate}}').btn.btn-lg.btn-green
                    input(type="button", ng-click="openResetPasswordModal(user._id)", value='{{:: "CHANGE_PASSWORD" | translate}}').btn.btn-lg