.container
    .row(ng-init="loadWholesaler()")
        toggle-switch.pull-right(name="toggle-verifyLater", ng-model="wholesaler.verifyLater", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
        label.pull-right Admin must check this company
        br
        br
        toggle-switch.pull-right(name="toggle-verifyLater", ng-model="wholesaler.isVerified", on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
        label.pull-right {{:: "LAST_PROPOSED_CHANGES_ARE_EFFECTED" | translate }}
        .row
            h3 {{:: "EDIT_COMPANY" | translate}}
        .row
            .col-md-6
                h5 {{:: "GENERAL_INFO" | translate}}
                uib-tabset(active)
                    uib-tab(heading='{{:: "INPUT_EMAILADRESS" | translate}}')
                        .row
                            .col-md-4
                                .form-group
                                    label(for="shopname") {{:: "COMPANY_NAME" | translate}}
                                    input(type="text", ng-model="wholesaler.name" id="shopname", placeholder='{{:: "COMPANY_NAME" | translate}}').form-control
                                    label(for="slug") Slug
                                    input(type="text", disabled="disabled" ng-model="wholesaler.nameSlug" id="slug", placeholder="Slug").form-control.disabled
                            .col-md-4
                                h5 {{:: "CONTACT" | translate}}
                                .form-group
                                    label(for="email") {{:: "TEXT_EMAILADRESS" | translate}}
                                    input(type="text", ng-model="wholesaler.email" id="email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}').form-control
                                    label(for="website") {{:: "TEXT_WEBSITE" | translate}}
                                    input(type="text", ng-model="wholesaler.website" id="website", placeholder='{{:: "TEXT_WEBSITE" | translate}}').form-control
                                    label(for="kvk") {{:: "PVC" | translate}}
                                    input(type="text", ng-model="wholesaler.pvc" id="kvk", placeholder='{{:: "PVC" | translate}}').form-control
                                    label(for="btw") {{:: "VAT_NUMBER" | translate}}
                                    input(type="text", ng-model="wholesaler.vatNumber" id="btw", placeholder='{{:: "VAT_NUMBER" | translate}}').form-control
                            .col-md-4
                                h5 {{:: "EDIT_PHONE" | translate}}
                                .form-group
                                    label(for="countrycode") {{:: "COUNTRY_CODE" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.countryCode" id="countrycode", placeholder='{{:: "COUNTRY_CODE" | translate}}').form-control
                                    label(for="phone") {{:: "TEXT_PHONE" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.landLine" id="phone", placeholder='{{:: "TEXT_PHONE" | translate}}').form-control
                                    label(for="mobile") {{:: "MOBILE" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.mobilePhone" id="mobile", placeholder='{{:: "MOBILE" | translate}}').form-control
                                    label(for="fax") {{:: "FAX" | translate}}
                                    input(type="text", ng-model="wholesaler.phone.fax" id="fax", placeholder='{{:: "FAX" | translate}}').form-control
                            .col-md-4
                                .form-group
                                    h4 {{:: "EDIT_ADDRESS" | translate}}
                                    label(for="street") {{:: "STREET" | translate}}
                                    input(type="text", ng-model="wholesaler.address.street" id="street", placeholder='{{:: "STREET" | translate}}').form-control

                                    label(for="housenumber") {{:: "TEXT_NUMBER" | translate}}
                                    input(type="text", ng-model="wholesaler.address.houseNumber" id="housenumber", placeholder='{{:: "TEXT_NUMBER" | translate}}').form-control
                                    
                                    label(for="housenumbersuffix") {{:: "TEXT_ADDITION" | translate}}
                                    input(type="text", ng-model="wholesaler.address.houseNumberSuffix" id="housenumbersuffix", placeholder='{{:: "TEXT_ADDITION" | translate}}').form-control

                                    label(for="postalcode") {{:: "TEXT_ZIP" | translate}}
                                    input(type="text", ng-model="wholesaler.address.postalCode" id="postalcode", placeholder='{{:: "TEXT_ZIP" | translate}}').form-control

                                    label(for="city") {{:: "TEXT_CITY" | translate}}
                                    input(type="text", ng-model="wholesaler.address.city" id="city", placeholder='{{:: "TEXT_CITY" | translate}}').form-control

                                    country-list(ng-required="false" ng-model="wholesaler.address.country")

                            .col-md-4(ng-init="getBrands()")
                                h5 {{:: "BRANDS" | translate}}
                                angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
                                br
                                .list-group
                                    a(ng-repeat="brand in wholesaler.brands").list-group-item.clearfix
                                        span
                                            | {{brand.name}}
                                        span.pull-right.button-group
                                            i.fa.fa-times(ng-click="deleteBrand($index)")
                br
                .row
                    .col-md-12
                        div(uib-alert, ng-show="alert" ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                            | {{alert.msg}}
                        input(type="submit", ng-click="updateWholesaler()", value='{{:: "SAVE" | translate}}').btn.btn-lg.btn-green
                        input(type="button", ng-click="removeWholesaler()", value='{{:: "DELETE" | translate}}').btn.btn-lg.btn-warning
            .col-md-6
                h5 {{:: "NO_SUGGESTIONS" | translate}}
