-function prettyDate(dateString){
    //if it's already a date object and not a string you don't need this line:
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return d+' '+m+' '+y;
-}
img(src="https://prismanote.com/images/prismanote_logo_large.png" alt="PrismaNote Logo" style="width:300px")
h2 We hebben goed en slecht nieuws...
h3 Eerst het goede nieuws:
p Uw account is successvol gekoppeld met Countr! U profiteert nu dus van de voordelen van een compleet systeem!
p Een overzicht van de gegevens van deze koppeling:
p Gebruikersnaam: #{merchant.username}
p Wachtwoord: #{merchant.password}
p Proefperiode tot: #{prettyDate(merchant.trial_expires_at)}
h3 En het slechte nieuws?
p We hebben direct geprobeerd uw huidige assortiment in uw nieuwe Countr account te zetten. Dit is helaas niet, of niet volledig gelukt.
p U moet handmatig een nieuwe synchronisatie actie uitvoeren om uw volledige assortiment in uw Countr app te zien. Dat doet u met de volgende stappen:
p Ga naar 'Mijn winkel' in PrismaNote
p Ga naar tabblad Countr
p Klik bij 'handmatig synchroniseren' op 'Producten'

h3 Vragen of opmerkingen?
p Ons serviceteam staat altijd om uw vragen te beantwoorden! 

p Met vriendelijke groet,
p PrismaNote