h3 Let op!
p Uw Countr koppeling werkt niet meer! In deze mail leest u, hoe u deze weer kunt activeren.
p Uw koppeling met Countr is al een tijdje niet meer gebruikt, vanwege de veiligheid verloopt kan de koppeling en moet u deze handmatig opnieuw verbinden.

h4 Hoe koppel ik opnieuw?
p Dat kunt u door door onderstaande stappen uit te voeren:
p Log in op Prismanote
p Ga naar 'Mijn winkel' in PrismaNote
p Ga naar het tabblad Countr
p Voer uw gebruikersnaam en wachtwoord van Countr in bij 'Uw Countr Account' en klik op verbinden

h3 Vragen of opmerkingen?
p Ons serviceteam staat altijd om uw vragen te beantwoorden! 

p Met vriendelijke groet,
p PrismaNote