div
	.modal-header
		button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
		h4.modal-title {{:: "ADDED_TO_CART" | translate}}
	.modal-body
		//.alert-warning(uib-alert)
			i.fa.fa-warning.fa-lg(style="padding-right: 0.5em")
			span &nbsp;{{:: "MESSAGE_NOT_POSSIBLE_TO_ORDER_PRODUCTS_ON_PRISMANOTE" | translate}}
		p
			strong(ng-bind="item.name")
			span &nbsp;{{:: "IS_ADDED_TO_CART" | translate}}
		p
			a(ng-click="$close()").btn.btn-md.btn-dark {{:: "GO_TO_CART" | translate}}
			a(ng-click='$dismiss()').btn.btn-md.btn-dark {{:: "GO_FURTHER_SHOPPING" | translate}}
