.modal-header
	button.close.pull-right(type='button', ng-click='cancel()', aria-hidden='true') ×
	h4.modal-title {{:: "TEXT_PRODUCT_FEATURES" | translate}}
.modal-body.retailer-product-modal
	h5 {{product.name}}
	.row
		.col-md-4
			h6 {{:: "TEXT_PRODUCT" | translate}}
			.uib-carousel.hidden-xs.hidden-sm(uib-carousel active="activeSlide" interval="7000")
					div(uib-slide ng-repeat="slide in product.images" index="$index" style="height: 220px")
						img(ng-src="{{awsUrl + slide.src}}" alt="{{slide.alt}}")
			p &nbsp;
			p
				strong {{product[language].name}}
				br
				span EAN: {{product.variants[0].ean}}
				br
				span {{:: "TEXT_PRODUCT_NUMBER" | translate}} {{product.variants[0].productNumber}}
				p
					i.fa.fa-pencil
					a(href="" ui-sref="retailer.edit-product({nameSlug: product.en.nameSlug})" ng-click="cancel()")#webshopTourEditProductDetails &nbsp;{{:: "UPDATE_PRODUCT_DETAILS" | translate}}
				p
					i.fa.fa-trash
					a(href="" ui-sref="" ng-click="deleteProductFromShop(product)") &nbsp;{{:: "DELETE_FROM_SHOP" | translate}}
		.col-md-4
			h6 {{:: "TEXT_PRODUCT" | translate}}
			p
				toggle-switch(id="bestseller", name="bestseller", ng-model="product.isBestseller", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="bestseller") &nbsp;{{:: "TEXT_BESTSELLER" | translate}}
			p
				toggle-switch(id="active", name="active", ng-model="product.show", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}", uib-tooltip-html="productGeneral.product.containsFilterInfo ? '' : 'Product filters zijn niet voldoende ingevuld om dit product goed te kunnen tonen op uw website. Bewerk de verplichte product details om dit product te kunnen tonen.' ", ng-disabled="productGeneral.product.containsFilterInfo == false")
				label(for="active") &nbsp;{{:: "TEXT_SELL_THIS_PRODUCT" | translate}}
			a(href="" ui-sref="retailer.edit-product({nameSlug: product.en.nameSlug})" ng-hide='productGeneral.product.containsFilterInfo' ng-click="cancel()") {{:: "TOP_UP_PRODUCT" | translate}}
			p(uib-tooltip='{{:: "TEXT_WHICH_EXPLAINS_WHAT_ABOUT_DROPSHIPPER_25_DOES_WHEN_PRODUCT_NOT_IN_STOCK" | translate}}')#webshopTourStockLevel
				toggle-switch(id="inStock", name="inStock", ng-model="inStock", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="inStock") &nbsp;{{:: "TEXT_IN_STOCK" | translate}}
			p(ng-show="inStock")
				label(for="stock") {{:: "TEXT_STOCK" | translate}}
				input(id="stock" ng-model="product.stock" ng-value="(product.stock)?product.stock:1").form-control
			p
				toggle-switch(id="onSale", name="onSale", ng-model="onSale", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="onSale") &nbsp;{{:: "TEXT_DISCOUNT" | translate}}
			p(uib-tooltip='{{:: "TEXT_WHICH_EXPLAINS_TO_ORDER" | translate}}')
				toggle-switch(id="toOrder", name="toOrder", ng-model="toOrder", on-label="{{'YES' | translate}}", off-label="{{'NO' | translate}}")
				label(for="toOrder") &nbsp;{{:: "TO_ORDER" | translate}}
			p(ng-show="toOrder")
				label(for="order") {{:: "QUANTITY" | translate}}
				input(id="order" ng-model="product.toOrder").form-control
			p(ng-init="usePercentage = false" ng-show="onSale")
				input#usePercentage(type='checkbox' name='usePercentage' ng-model="usePercentage" ng-change="setDiscount()")
				label(for='usePercentage') {{:: "TEXT_PERCENTAGE" | translate}}
				br
				input(id="discount" ng-model="discount" ng-change="setDiscount()").form-control
			a(ng-click='openPrintLabelModal()' href="" uib-tooltip='{{:: "MAKE_SURE_THE_LABEL_SOFTWARE_IS_INSTALLED" | translate}}')
				|{{:: "PRINT_LABEL" | translate}}
			//- .col-md-4(ng-init="getBrands()")
			//- 	h4 {{:: "TEXT_YOUR_BRANDS" | translate}}
			//- 	angucomplete-alt(id="ex1", placeholder='{{:: "TEXT_SEARCH_A_BRAND" | translate}}', pause="100", clear-selected="true", selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", input-class="form-control")
			//- 	.list-group
			//- 			a(ng-repeat="brand in currentShop.brands").list-group-item
			//- 					span
			//- 							| {{brand.name}} 
			//- 							span(ng-show="!brand.restricted").label.label-info
			//- 									| Dealer
			//- 					span.pull-right.button-group
			//- 							i.fa.fa-times(ng-click="deleteBrand($index)")
			div(ng-init="getCollections()")
				h6 {{:: "YOUR_COLLECTIONS" | translate}}
				angucomplete-alt(ng-show="language == 'nl'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="nl.name", minlength="2", input-class="form-control")
				angucomplete-alt(ng-show="language == 'en'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="en.name", minlength="2", input-class="form-control")
				angucomplete-alt(ng-show="language == 'de'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="de.name", minlength="2", input-class="form-control")
				angucomplete-alt(ng-show="language == 'fr'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="fr.name", minlength="2", input-class="form-control")
				angucomplete-alt(ng-show="language == 'es'" id="ex1", placeholder='{{:: "SEARCH_COLLECTION" | translate}}', pause="100", clear-selected="true", selected-object="collectionSelected", local-data="currentShop.collections", local-search="searchCollections", title-field="es.name", minlength="2", input-class="form-control")
				.list-group
						a(ng-repeat="collection in product.collections").list-group-item
								span
										| {{collection[language].name}}
										span(ng-show="collection.isVerified").label.label-info
												| {{:: "VERIFIED" | translate}}
								span.pull-right.button-group
										i.fa.fa-times(ng-click="deleteCollection($index)")
			//- .btn-group(uib-dropdown='', is-open='status.isopen')
			//- 	a(uib-dropdown-toggle='', ng-disabled='disabled' uib-tooltip='{{:: "MAKE_SURE_THE_LABEL_SOFTWARE_IS_INSTALLED" | translate}}') {{:: "PRINT_LABEL" | translate}}
			//- 	ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
			//- 		li(role='menuitem')
			//- 			a(ng-click="openPrintLabelModal()") {{:: "LABEL" | translate}} 1
			//- 		li(role='menuitem')
			//- 			a(ng-click="") {{:: "LABEL" | translate}} 2 (barcode)
			//- 		li(role='menuitem')
			//- 			a(ng-click="") {{:: "LABEL" | translate}} 3
			//- 		li.divider
			//- 		li(role='menuitem')
			//- 			a(ng-click="") {{:: "DESIGN_LABEL" | translate}}
		.col-md-4
			h6 {{:: "TEXT_PRICES" | translate}}
			p {{:: "TEXT_RECOMMENDED_PRICE" | translate}} {{product.suggestedRetailPrice | currency: '€ '}}
			p.hidden
				label(for="shippingPrice") {{:: "TEXT_SHIPPING_PRICE" | translate}} ({{:: 'INCLUDING_VAT' | translate}})
					br
					i.fa.fa-percent
					em &nbsp; SETTINGS{{:: "TEXT_PRODUCT" | translate}}
				input(id="shippingPrice" ng-model="product.shippingPrice").form-control
				span.price-stats(uib-tooltip='{{:: "TEXT_THE_HIGH_AND_LOWEST_SEND_PRICES" | translate}}')
			p
				label(for="price") {{:: "TEXT_SELLING_PRICE" | translate}} ({{:: 'INCLUDING_VAT' | translate}})
				input(id="price" ng-model="product.sellingPrice" ng-change="product.price = product.sellingPrice / 1.21").form-control
				span.price-stats(uib-tooltip='{{:: "TEXT_THE_HIGH_AND_LOWEST_SELLING_PRICES" | translate}}')
					//- i.fa.fa-bar-chart
					//- em &nbsp;€ 79.99 - € 109.99
			p.hidden
				input#calculateMediationFee(type='checkbox' name='calculateMediationFee' ng-model="calculateMediationFee")
				label(for='calculateMediationFee' uib-tooltip='{{:: "TEXT_DIFFERENCE_IN_COMMISSION_TO_SELL_VIA_PRISMANOTEDOTCOM" | translate}}') {{:: "TEXT_CALULATE_MEDIATION_FEE" | translate}}
				br
			p
				span {{:: "TEXT_SELLING_PRICE_WITHOUT_VAT" | translate}} {{product.price | currency: '€ '}}
				br
				span.discount(ng-if="product.discount > 0 && onSale") {{:: "TEXT_DISCOUNT_WITHDOTS" | translate}} {{product.discount | currency: '€ '}}
				br(ng-if="product.discount > 0 && onSale")
				strong.discount(ng-if="product.discount > 0 && onSale") {{:: "TEXT_DISCOUNTPRICE_INCLUDING_VAT_WITHDOTS" | translate}} {{product.sellingPrice - product.discount | currency: '€ '}}
				br(ng-if="product.discount > 0 && onSale")
				strong.discount(ng-if="product.discount > 0 && onSale") {{:: "TEXT_DISCOUNTPRICE_EXCLUDING_VAT_WITHDOTS" | translate}} {{(product.sellingPrice - product.discount) / 1.21 | currency: '€ '}}
				br(ng-if="product.discount > 0 && onSale")
				span(ng-if="calculateMediationFee") {{:: "TEXT_MEDIATIONFEE_WITHDOTS" | translate}} {{(product.sellingPrice - product.discount) * 0.15 | currency: '€ '}}
				br(ng-if="calculateMediationFee")
				span {{:: "TEXT_SHIPPING_COST_WITHDOTS" | translate}} {{product.shippingCosts | currency: '€ '}}
				br
				strong(ng-if="calculateMediationFee && onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{(((product.sellingPrice - product.discount) / 1.21) - product.shippingCosts) * 0.85 | currency: '€ '}}
				strong(ng-if="calculateMediationFee && !onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{(product.price - product.shippingCosts) * 0.85 | currency: '€ '}}
				strong(ng-if="!calculateMediationFee && onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{(((product.sellingPrice - product.discount) / 1.21) - product.shippingCosts) | currency: '€ '}}
				strong(ng-if="!calculateMediationFee && !onSale") {{:: "TEXT_YOUR_INCOME" | translate}} {{product.price - product.shippingCosts | currency: '€ '}}
			div(ng-show="countrModule", ng-init="getCountrProduct()")
				hr
				h6 Countr
				div(ng-show="counter")
					p {{:: "TEXT_THIS_PRODUCT_INFORMATION_IS_KNOWNPRODUCT" | translate}}
					p {{product.countr.name}}
					p {{:: "VARIANTS" | translate}}
					p(ng-repeat="var in product.countr.variants")
						| {{var.name}} - {{var.price | currency: "€"}} - {{var.tax.rate * 100}}% {{:: "VAT" | translate}}
				div(ng-show="!counter")
					p {{:: "THIS_PRODUCT_IS_NOT_SYNCHRONIZED_WITH_COUNTR" | translate}}
	.row
	.row
		.col-md-12
			a(ng-click="saveProduct()").btn.btn-lg.btn-green {{:: "BUTTON_SAVE" | translate}}
			a(ng-click="cancel()").btn.btn-lg.btn-green {{:: "TEXT_CANCEL" | translate}}
