.modal-header
    h4.modal-title {{:: "RESET_USER_PASSWORD" | translate}}
.modal-body
    p {{:: "RESET_THIS_USERS_PASSWORD" | translate}}
    form(name="resetPasswordForm" novalidate)
        .row
            .col-md-6
                input(type="text" ng-model="password", id="password" placeholder="Wachtwoord").form-control
            .col-md-6
                a.btn.btn-md.btn-primary(ng-click="generatePassword()") {{:: "GENERATE" | translate}}
        .row
            .col-md-12
                input(type="checkbox" id="mustResetPass" ng-model="mustResetPassword" value="1").form-control
                label(for="mustResetPass") {{:: "USER_MUST_CHANGE_PASSWORD_AFTER_FIRST_LOGIN" | translate}}
                br
                a.btn.btn-md.btn-success(ng-click="changePassword()") {{:: "MODIFY" | translate}}
            .col-md-12
                div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                    | {{alert.msg}}
.modal-footer
    a(ng-click='$dismiss()').btn.btn-md.btn-dark {{:: "TEXT_CANCEL" | translate}}

