.modal-header
  h3.modal-title {{:: "CNANGE_TEMPLATE" | translate}}
.modal-body
  | {{:: "ARE_YOU_SURE_YOU_WANT_TO_DELETE_PREVIOUS_TEMPLATE" | translate}}
.modal-footer
  button.btn.btn-primary(type='button', ng-click='modalok();$dismiss()') {{:: "YES" | translate}}
  button.btn.btn-warning(type='button', ng-click='modalcancel();$dismiss()') {{:: "NO" | translate}}
