div
	.modal-header
		button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
		h4.modal-title {{:: "CHOOSE_STORE" | translate}}
	.modal-body
		h5 
		p
			span {{:: "YOU_CAN_CHOOSE_WHERE_YOU" | translate}}
			strong &nbsp;{{item.name}}&nbsp;
			span {{:: "WANT_TO_ORDER_OVERVIEW_OF_JEWELLERS" | translate}}
		table
			tr
				th {{:: "TEXT_NAME" | translate}}
				th {{:: "TEXT_PRICE" | translate}}
				th &nbsp;
			tr(ng-repeat="shop in shops")
				td(ng-bind="shop.name")
				td(ng-bind="'€ ' + shop.price")
				td
					a(ng-click="chooseShop(shop)").btn.btn-md.btn-dark {{:: "TEXT_ORDER" | translate}}
		a(ng-click='$dismiss()').btn.btn-md.btn-dark {{:: "TEXT_CANCEL" | translate}}
