.modal-header
	h4.modal-title {{:: "ADD_NEW_SCHEDULED_EMAIL" | translate}}
.modal-body
	.row
		.col-md-6
			input(ng-model='subject', placeholder='subject').form-control
		.col-md-6
			input(ng-model='date', ng-disabled="direct" type='date', name='date').form-control.loyalty-input-height
			button.btn.btn-green(ng-click="direct = !direct") {{:: "SEND_DIRECTLY" | translate}}
	.row
		.col-md-12
			h5 {{:: "TEXT_EDITOR" | translate}}
			text-angular(ng-model="newEmailTemplate").wysiwyg
.modal-footer
	a(ng-click="create()").btn.btn-lg {{direct ? "Sent now" : "Create"}}
	a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}