
.modal-header
  h4.modal-title {{:: "ADD_EXTRA_DETAILS" | translate}}
.modal-body
.row
  form(novalidate='novalidate', ng-submit='updateUser()')
    .col-md-4
      .form-group
        .input-group
          span.input-group-addon {{:: "TEXT_FIRSTNAME" | translate}}
          input#firstName.form-control(type='text', ng-model='newUser.firstName', placeholder='{{:: "TEXT_FIRSTNAME" | translate}}')
        br
        .input-group
          span.input-group-addon {{:: "TEXT_INSERTION" | translate}}
          input#lastNamePrefix.form-control(type='text', ng-model='newUser.insertion', placeholder='{{:: "TEXT_INSERTION" | translate}}')
        br
        .input-group
          span.input-group-addon {{:: "TEXT_LASTNAME" | translate}}
          input#lastName.form-control(type='text', ng-model='newUser.lastName', placeholder='{{:: "TEXT_LASTNAME" | translate}}')
    .col-md-4
      .form-group
        .input-group
          span.input-group-addon {{:: "TEXT_EMAILADRESS" | translate}}
          input#email.form-control(type='text', ng-model='newUser.email', placeholder='{{:: "TEXT_EMAILADRESS" | translate}}')
        br
    .col-md-4
      .form-group
        .input-group(style='margin-bottom: 13px')
          span.input-group-addon.loyalty-input-height {{:: "DATE_OF_BIRTH" | translate}}
          input#dateOfBirth.form-control.loyalty-input-height(type='date', ng-model='newUser.dateOfBirth', placeholder='{{:: "01-01-2000" | translate}}')
        br
    .col-md-4
      .form-group
        .input-group
          span.input-group-addon {{:: "HELPED_BY" | translate}}:
          input#helpedBy.form-control(type='text', ng-model='user.firstName', placeholder='')
        br
.row
  .col-md-4
    h4 {{:: "ADDRESSES" | translate}}
    button.btn.btn-primary(ng-click='newAddress()') {{:: "NEW_ADDRESS" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='address in user.address', ng-click='openAddress($index)')
        span
          | {{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deleteAddress($index)')
    
    .col-md-5(style='width: 100%')
      .form-group(ng-show='currentAddress || addNewAddress')
        h4 {{:: "EDIT_ADDRESS" | translate}}
        label(for='street') {{:: "TEXT_ADDRESS" | translate}}
        input#street.form-control(type='text', ng-model='currentAddress.street', placeholder='{{:: "TEXT_ADDRESS" | translate}}')
        label(for='housenumber') {{:: "TEXT_NUMBER" | translate}}
        input#housenumber.form-control(type='text', ng-model='currentAddress.houseNumber', placeholder='{{:: "TEXT_NUMBER" | translate}}')
        label(for='housenumbersuffix') {{:: "TEXT_ADDITION" | translate}}
        input#housenumbersuffix.form-control(type='text', ng-model='currentAddress.houseNumberSuffix', placeholder='{{:: "TEXT_ADDITION" | translate}}')
        label(for='postalcode') {{:: "TEXT_ZIP" | translate}}
        input#postalcode.form-control(type='text', ng-model='currentAddress.postalCode', placeholder='{{:: "TEXT_ZIP" | translate}}')
        label(for='city') {{:: "TEXT_CITY" | translate}}
        input#city.form-control(type='text', ng-model='currentAddress.city', placeholder='{{:: "TEXT_CITY" | translate}}')
        country-list(ng-required="false" ng-model="currentAddress.country")
        br
        input.btn.btn-lg.btn-dark(type='button', ng-click='pushAddress()', ng-show='addNewAddress', value='{{:: "ADD" | translate}}')
        input.btn.btn-lg(type='button', ng-click='cancelNewAddress()', ng-show='addNewAddress', value='{{:: "CANCEL" | translate}}')
    .row
    h4 {{:: "PHONE_NUMBERS" | translate}}
    button.btn.btn-primary(ng-click='newPhone()') {{:: "NEW_PHONE_NUMBER" | translate}}
    br
    br
    .list-group
      a.list-group-item.clearfix(ng-repeat='phone in user.phone', ng-click='openPhone($index)', ng-class="{'active': currentPhone.index == $index}")
        span {{phone.countryCode}} {{phone.mobilePhone || phone.landLine}}
        span.pull-right.button-group
          i.fa.fa-times(ng-click='deletePhone($index)')       
 
    .row(ng-show='currentPhone || addNewPhone')
      h4 {{:: "EDIT_PHONE" | translate}}
      label(for='countryCode') {{:: "COUNTRY_CODE" | translate}}
      input#countryCode.form-control(type='text', ng-model='currentAddress.country', placeholder='{{:: "COUNTRY_CODE" | translate}}')
      label(for='phone') {{:: "TEXT_PHONE" | translate}}
      input#phone.form-control(type='text', ng-model='currentPhone.landLine', placeholder='{{:: "TEXT_PHONE" | translate}}')
      label(for='mobile') {{:: "MOBILE" | translate}}
      input#mobile.form-control(type='text', ng-model='currentPhone.mobilePhone', placeholder='{{:: "MOBILE" | translate}}')
      label(for='fax') {{:: "FAX" | translate}}
      input#fax.form-control(type='text', ng-model='currentPhone.fax', placeholder='{{:: "FAX" | translate}}')
      br
      input.btn.btn-lg.btn-dark(type='button', ng-click='pushPhone()', ng-show='addNewPhone', value='{{:: "ADD" | translate}}')
      input.btn.btn-lg(type='button', ng-click='cancelNewPhone()', ng-show='addNewPhone', value='{{:: "CANCEL" | translate}}')
.row
  br
  div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type", close='closeAlert(alert)') {{alert.msg}}
.row
  br
  br
  .col-md-12
    input.btn.btn-lg.btn-dark.pull-right(type='submit', ng-click='updateUser()', value='{{:: "SAVE" | translate}}')
