.modal-header
    h4.modal-title {{editMode ? "EDIT_COLLECTION" : "CREATE_COLLECTION" | translate}}
    //- edit mode  h4.modal-title {{:: "EDIT_A_COLLECTION" | translate}}
.modal-body
    p {{:: "COLLECTION_TITLE" | translate}}
    form(name="collectionProperties")
        input(type="text", ng-model="collection.nl.name", placeholder="Nederlandse titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style='width: 500px', ng-required="true").input-control
        input(type="text", ng-model="collection.en.name", placeholder="English title" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style='width: 500px', ng-required="true").input-control
        input(type="text", ng-model="collection.de.name", placeholder="Deutsche Titel" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style='width: 500px', ng-required="true").input-control
        input(type="text", ng-model="collection.fr.name", placeholder="Titre francais" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style='width: 500px', ng-required="true").input-control
        input(type="text", ng-model="collection.es.name", placeholder="Título en español" uib-tooltip-html="'De titel mag niet langer zijn dan 100 tekens.'" style='width: 500px', ng-required="true").input-control

        p(ng-init="getBrands()")
        label {{:: "BRAND" | translate}}
        span(ng-if="collection.brand.name") :&nbsp;
            strong(ng-bind="collection.brand.name")
        br
        angucomplete-alt(id="ex1", pause="100", clear-selected="true", placeholder='{{:: "CHOOSE_A_BRAND_NOT_OBLIGATED" | translate}}' selected-object="brandSelected", local-data="brands", local-search="searchBrands", title-field="name", minlength="2", style='width: 500px', input-class="form-control")
        //- label(for="product-category") {{:: "PRODUCT_CATEGORY" | translate }}
        //- br
        //- div(ng-repeat="category in collection.categories")
        //-     button.btn.btn-default(ng-click="removeCategory($index)") {{:: category | translate }}
        //- select(ng-model="collection.category" name="collectionCategory" ng-change="addToCollectionCategories(collection.category)", ng-required="true").form-control
        //-     option(value="WATCH") {{:: "WATCH" | translate }}
        //-     option(value="STRAP") {{:: "STRAP" | translate }}
        //-     option(value="JEWEL") {{:: "JEWEL" | translate }}
        //-     option(value="OTHER") {{:: "OTHER" | translate }}
.modal-footer
    //- a.btn.btn-danger(href='', ng-disabled="collaction.category == null" ng-click="closeModal()") {{:: "DELETE_COLLECTION" | translate}}
    a.btn.btn-dark(ng-show="editMode" ng-click="deleteCollection()") {{:: "REMOVE" | translate}}
    a.btn.btn-dark.pull-right(ng-click="closeModal()" ng-disabled="collectionProperties.$invalid" ng-class="{ 'disabled' : collectionProperties.$invalid}") {{editMode ? "EDIT" : "ADD" | translate}}
    //a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}