.modal-header
    h4.modal-title {{:: "NEW_COMPANY" | translate}}
.modal-body
    p {{:: "COMPANY_NAME" | translate}}
    input(type="text", ng-model="wholesaler.name", placeholder='{{:: "COMPANY_NAME" | translate}}' uib-tooltip-html='{{:: "TITLE_MAY_NOT_BE_LONGER_THAN_HUNDERD_CHARACTERS" | translate}}' style='width: 500px').input-control
    p {{:: "TEXT_EMAILADRESS" | translate}}
    input(type="text", ng-model="wholesaler.email", placeholder='{{:: "INPUT_EMAILADRESS" | translate}}' uib-tooltip-html='{{:: "EMAIL_ADDRESS_USED_FOR_B2B" | translate}}' style='width: 500px').input-control

    .form-group
        h4 {{:: "EDIT_ADDRESS" | translate}}
        label(for="street") {{:: "STREET" | translate}}
        input(type="text", ng-model="wholesaler.address.street" id="street", placeholder='{{:: "STREET" | translate}}').form-control

        label(for="housenumber") {{:: "TEXT_NUMBER" | translate}}
        input(type="text", ng-model="wholesaler.address.houseNumber" id="housenumber", placeholder='{{:: "TEXT_NUMBER" | translate}}').form-control
        
        label(for="housenumbersuffix") {{:: "TEXT_ADDITION" | translate}}
        input(type="text", ng-model="wholesaler.address.houseNumberSuffix" id="housenumbersuffix", placeholder='{{:: "TEXT_ADDITION" | translate}}').form-control

        label(for="postalcode") {{:: "TEXT_ZIP" | translate}}
        input(type="text", ng-model="wholesaler.address.postalCode" id="postalcode", placeholder='{{:: "TEXT_ZIP" | translate}}').form-control

        label(for="city") {{:: "TEXT_CITY" | translate}}
        input(type="text", ng-model="wholesaler.address.city" id="city", placeholder='{{:: "TEXT_CITY" | translate}}').form-control
        
        country-list(ng-required="false" ng-model="wholesaler.address.country")

.modal-footer
    a.btn.btn-dark.pull-right(href='', ng-disabled="wholesaler.name == null" ng-click="closeModal()") {{:: "ADD_EDIT" | translate}}