div(modal='crmUserInfoModal', close='cancel()')
  .modal-header(style='cursor:pointer;')
    button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
    i.pull-right.fa.fa-floppy-o.fa-2x.button-margin-right(ng-click='updateCrmUser()', style='height: margin-bottom: 4px')
    h4.modal-title
      i.fa.fa-user.fa-2x  
      |   {{crmUser.emailName}}
  .modal-body
    .row
    .col-md-12(ng-init='loadUser(crmUser); loadUserWebshopOrders(crmUser)')
      .row
        .col-md-4
          b {{:: "DATA" | translate}}
          br
          br
          .input-group
            span.input-group-addon {{:: "NAME" | translate}}
            input.form-control(type='text', ng-model='crmUser.emailName')
          br
          .input-group
            span.input-group-addon {{:: "EMAIL" | translate}}
            input.form-control(type='text', ng-model='crmUser.email')
          br
          br
          button.btn.btn-md(ng-click='openAddMailModal({userId: crmUser._id})') {{:: "SENT_NEW_EMAIL" | translate}}
        .col-md-4
          b {{:: "NOTES_ABOUT_THIS_CUSTOMER" | translate}}: {{retailerComments}}
          br
          br
          textarea.form-control(name='retailerComments', ng-model='crmUser.retailerComments[0].comment', placeholder='Type hier iets over deze klant', cols='30', rows='6')
        .col-md-4
          b {{:: "NUMBER_OF_ACTIVITIES" | translate}}: {{crmUser.items.length}}
          #dealerDonut(style='min-width: 155px; height: 200px; margin: 0 auto;')
          | {{:: "SATISFACTION" | translate}}: {{:: "NO_WEBSITE_REVIEW" | translate}}
          //-|           {{:: "NUMBER_OF_STORE_VISITS" | translate}}: 1
      .row
      uib-tabset(active='activeTab')
        uib-tab(index='0', heading='Winkel en websitebezoeken')
          .col-md-12
            .row
          div(ng-repeat="item in crmUser.items | orderBy: '-fillindate'")
            .row(ng-if='item.productTypeId === 1 || item.productTypeId === 0')
              b(ng-if='item.watchOrJewel') {{:: "PROOF_OF_PURCHASE_OF_WATCH" | translate}}
              b(ng-if='!item.watchOrJewel') {{:: "PROOF_OF_PURCHASE_JEWELLERY_OTHER" | translate}}
              b.pull-right {{item.fillindate | date : "short"}}
              hr
              .col-md-6
                a.lightbox-gallery.img(ng-href='{{awsUrl + item.photo[0].src}}', target='_blank')
                  img(ng-src='{{awsUrl + item.photo[0].src}}', alt='{{item.photo.alt}}', style='width: 100%')
              .col-md-3
                p {{:: "PRICE" | translate}}: {{item.priceRange | currency : "€"}}
                | {{:: "EXPIRY_DATE_WARRANTY" | translate}}: 
                br
                | {{item.endDateWarranty | date : format : timezone}}
                br
                br
                | {{:: "PURCHASED_ON" | translate}}: 
                br
                | {{item.fillindate | date : format : timezone}}
              .col-md-3
                textarea(cols='20', rows='11', ng-model='item.itemComment.comment')
            .row(ng-if='item.productTypeId === 2')
              b
                | {{:: "REPAIR" | translate}} | {{:: "NUMBER_ABR" | translate}} {{item.itemNumber}} | {{:: "STATUS" | translate}}: 
                b(ng-if="item.status=='taken'") {{:: "TAKEN_IN" | translate}}
                b(ng-if="item.status=='atRepairman'") {{:: "AT_REPAIRER" | translate}}
                b(ng-if="item.status=='readyToPickUp'") {{:: "READY_TO_PICK_UP" | translate}}
              b.pull-right {{item.fillindate | date : "short"}}
              hr
              .col-md-6
                a.lightbox-gallery.img(ng-href='{{awsUrl + item.photo[0].src}}', target='_blank')
                  img(ng-src='{{awsUrl + item.photo[0].src}}', alt='{{item.photo.alt}}')
                br
                br
                a.btn.btn-md.btn-light(ng-href='retailer/{{crmUser._id}}/crmuser-item/{{item._id}}/', target='_blank')
                  i.fa.fa-tag.fa-2x
                span.btn.btn-md.btn-light(ng-click='openEmailCompanyEmail({userId:crmUser._id, photoname:item.photo[0].src, isPhotoUploadModel:0 , price:item.priceRange})')
                  i.fa.fa-user-md.fa-2x
              .col-md-3
                p(ng-if='item.repairFinishDateFinal') {{:: "READY_REPORTED" | translate}}:
                span {{item.repairFinishDateFinal | date : format : timezone}}
                button.btn.btn-md.btn-primary.btn.btn-lg(ng-click='openRepairPhotoModal({userId:crmUser._id, photoname:item.photo[0].src, isPhotoUploadModel:0 , price:item.priceRange})')
                  i.fa.fa-thumbs-o-up.fa-2x
                button.btn.btn-md.btn-light(ng-click='openRepairPhotoModal({userId:crmUser._id, photoname:item.photo[0].src, isPhotoUploadModel:1 , price:item.priceRange})', style='margin-bottom: 4px')
                  i.fa.fa-camera.fa-2x
                p(ng-if='item.priceRepairFinal') {{:: "PRICE_TO_PAY" | translate}}: {{item.priceRepairFinal | currency : "€"}}
                br
                | {{:: "DATE_APPROXIMATE" | translate}}: 
                br
                | {{item.repairDate | date : format : timezone}}
                p {{:: "PRICE_ESTIMATED" | translate}}: {{item.priceRange | currency : "€"}}
                br
                | {{:: "CREATED_ON" | translate}}: 
                br
                | {{item.fillindate | date : format : timezone}}
                br
                br
              .col-md-3
                textarea(cols='20', rows='11', ng-model='item.itemComment.comment')
              hr
            .row(ng-if='item.productTypeId === 4')
              b {{:: "SHOP_PURCHASE" | translate}} {{item.transactionDetails.receiptNumber}}
              b.pull-right {{item.fillindate | date : format : timezone}}
              br
              table.table.table-hover
                tr
                  th {{:: "NUMBER" | translate}}
                  th {{:: "PRODUCT" | translate}}
                  th {{:: "TOTAL_PRICE" | translate}}
                tr(ng-repeat='product in item.transactionDetails.items', popover-placement='auto top', uib-popover-html='popover(product)', popover-trigger="'mouseenter'")
                  td {{product.amount}}
                  td {{product.name}}
                  td {{product.price * product.amount | currency: '€'}}
                tr
                  td
                    a.btn.btn-md.btn-primary(ng-hide="mailResult.type == 'success'", ng-click='sendTransactionMail(item.transactionDetails)') {{:: "SEND_YOUR_RECEIPT_BY_MAIL" | translate}}
                    div(uib-alert='uib-alert', ng-show='mailResult', ng-class="'alert-' + mailResult.type") {{mailResult.msg}}
                  th.text-right {{:: "TOTAL_PRICE" | translate}}
                  td {{item.priceRange | currency: '€'}}
            .row(ng-if='item.productTypeId === 5')
              b {{:: "WEBSHOP_ORDER" | translate}}
              b.pull-right {{item.fillindate | date : format : timezone}}
              br
              table.table.table-hover
                tr
                  th {{:: "PRODUCT" | translate}}
                  th {{:: "PRICE" | translate}}
                  th {{:: "ORDER_NO" | translate}}
                  th {{:: "TEXT_DATE" | translate}}
                  th {{:: "TEXT_COMMENTS" | translate}}
                tr
                  td
                    div(ng-repeat='product in item.products') {{product.name}}
                  td
                    div(ng-repeat='product in item.products') {{product.price | currency : "€"}}
                  td {{item.number}}
                  td {{item.date | date: 'dd-MM-yyyy HH:mm'}}
                  td {{item.comment}}
              br
              hr
        uib-tab(index='1', heading='Account en bezorgadres')
          br
          .row
            form(novalidate='novalidate', ng-submit='updateUser()')
              .col-md-4
                .form-group
                  .input-group
                    span.input-group-addon {{:: "TEXT_FIRSTNAME" | translate}}
                    input#firstName.form-control(type='text', ng-model='user.firstName', placeholder='{{:: "TEXT_FIRSTNAME" | translate}}')
                  br
                  .input-group
                    span.input-group-addon {{:: "TEXT_INSERTION" | translate}}
                    input#lastNamePrefix.form-control(type='text', ng-model='user.lastNamePrefix', placeholder='{{:: "TEXT_INSERTION" | translate}}')
                  br
                  .input-group
                    span.input-group-addon {{:: "TEXT_LASTNAME" | translate}}
                    input#lastName.form-control(type='text', ng-model='user.lastName', placeholder='{{:: "TEXT_LASTNAME" | translate}}')
              .col-md-4
                .form-group
                  .input-group
                    span.input-group-addon {{:: "TEXT_EMAILADRESS" | translate}}
                    input#email.form-control(type='text', ng-model='user.email', placeholder='{{:: "TEXT_EMAILADRESS" | translate}}')
                  br
                  .input-group
                    span.input-group-addon {{:: "USERNAME" | translate}}
                    input#username.form-control(type='text', ng-model='user.username', placeholder='{{:: "USERNAME" | translate}}')
                  br
                  .input-group
                    span.input-group-addon {{:: "SEX" | translate}}
                    select.form-control(ng-model='user.gender', ng-options="o.v as o.n for o in [{ n: 'Woman', v: false }, { n: 'Man', v: true }]")
                  br
              .col-md-4
                .form-group
                  .input-group
                    span.input-group-addon {{:: "DATE_OF_BIRTH" | translate}}
                    input#dateOfBirth.form-control(type='text', ng-model='', placeholder='{{:: "01-01-2000" | translate}}')
                  br
                  .input-group
                    span.input-group-addon {{:: "HELPED_BY" | translate}}:
                    input#helpedBy.form-control(type='text', ng-model='', placeholder='')
                  br
          .row
            .col-md-4
              h4 {{:: "ADDRESSES" | translate}}
              button.btn.btn-primary(ng-click='newAddress()') {{:: "NEW_ADDRESS" | translate}}
              br
              br
              .list-group
                a.list-group-item.clearfix(ng-repeat='address in crmUser.items[0].address', ng-click='openAddress($index)', ng-class="{'active': currentAddress.index == $index}")
                  span
                    | {{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}
                  span.pull-right.button-group
                    i.fa.fa-times(ng-click='deleteAddress($index)')
              .row
              h4 {{:: "PHONE_NUMBERS" | translate}}
              button.btn.btn-primary(ng-click='newPhone()') {{:: "NEW_PHONE_NUMBER" | translate}}
              br
              br
              .list-group
                a.list-group-item.clearfix(ng-repeat='phone in crmUser.items[0].phone', ng-click='openPhone($index)', ng-class="{'active': currentPhone.index == $index}")
                  span {{phone.countryCode}} {{phone.mobilePhone || phone.landLine}}
                  span.pull-right.button-group
                    i.fa.fa-times(ng-click='deletePhone($index)')       
            .col-md-1
            .col-md-5
              .form-group(ng-show='currentAddress || addNewAddress')
                h4 {{:: "EDIT_ADDRESS" | translate}}
                label(for='street') {{:: "TEXT_ADDRESS" | translate}}
                input#street.form-control(type='text', ng-model='currentAddress.street', placeholder='{{:: "TEXT_ADDRESS" | translate}}')
                label(for='housenumber') {{:: "TEXT_NUMBER" | translate}}
                input#housenumber.form-control(type='text', ng-model='currentAddress.houseNumber', placeholder='{{:: "TEXT_NUMBER" | translate}}')
                label(for='housenumbersuffix') {{:: "TEXT_ADDITION" | translate}}
                input#housenumbersuffix.form-control(type='text', ng-model='currentAddress.houseNumberSuffix', placeholder='{{:: "TEXT_ADDITION" | translate}}')
                label(for='postalcode') {{:: "TEXT_ZIP" | translate}}
                input#postalcode.form-control(type='text', ng-model='currentAddress.postalCode', placeholder='{{:: "TEXT_ZIP" | translate}}')
                label(for='city') {{:: "TEXT_CITY" | translate}}
                input#city.form-control(type='text', ng-model='currentAddress.city', placeholder='{{:: "TEXT_CITY" | translate}}')
                country-list(ng-required="false" ng-model="currentAddress.country")
                br
                input.btn.btn-lg.btn-dark(type='button', ng-click='pushAddress()', ng-show='addNewAddress', value='{{:: "ADD" | translate}}')
                input.btn.btn-lg(type='button', ng-click='cancelNewAddress()', ng-show='addNewAddress', value='{{:: "CANCEL" | translate}}')
              .row(ng-show='currentPhone || addNewPhone')
                h4 {{:: "EDIT_PHONE" | translate}}
                label(for='countryCode') {{:: "COUNTRY_CODE" | translate}}
                input#countryCode.form-control(type='text', ng-model='currentPhone.countryCode', placeholder='{{:: "COUNTRY_CODE" | translate}}')
                label(for='phone') {{:: "TEXT_PHONE" | translate}}
                input#phone.form-control(type='text', ng-model='currentPhone.landLine', placeholder='{{:: "TEXT_PHONE" | translate}}')
                label(for='mobile') {{:: "MOBILE" | translate}}
                input#mobile.form-control(type='text', ng-model='currentPhone.mobilePhone', placeholder='{{:: "MOBILE" | translate}}')
                label(for='fax') {{:: "FAX" | translate}}
                input#fax.form-control(type='text', ng-model='currentPhone.fax', placeholder='{{:: "FAX" | translate}}')
                br
                input.btn.btn-lg.btn-dark(type='button', ng-click='pushPhone()', ng-show='addNewPhone', value='{{:: "ADD" | translate}}')
                input.btn.btn-lg(type='button', ng-click='cancelNewPhone()', ng-show='addNewPhone', value='{{:: "CANCEL" | translate}}')
          .row
            br
            div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type", close='closeAlert(alert)') {{alert.msg}}
          .row
            br
            br
            .col-md-12
              input.btn.btn-lg.btn-dark.pull-right(type='submit', ng-click='updateUser()', value='{{:: "SAVE" | translate}}')
        uib-tab(index='2', heading='Marketing ')
          br
          b {{:: "SCHEDULED_CHECKBOX_NOT_CHECKED_IS_NOT_SCHEDULED" | translate}}:
          div(ng-repeat="email in crmUser.plannedEmail | orderBy: 'date'")
            input(type='checkbox', name='{{$parent.$index}}{{$index+1}}', id='{{$parent.$index}}{{$index+1}}', ng-change='savePlanned($index, email.enabled, $parent.crmUser._id)', ng-model='email.enabled')
            label(for='{{$parent.$index}}{{$index+1}}')
              | {{email.subject}} {{:: "WILL_BE_SENT_ON" | translate}}: {{email.date | date : "dd-MM-yyyy"}})
            button.btn.btn.btn-md.btn-dark.button-margin-right.pull-right(ng-click='openPreviewMailModal({emailId: email._id, userId: crmUser._id})')
              i.fa.fa-search-plus
            button.btn.btn.btn-md.btn-light.button-margin-right.pull-right(ng-click='openEditMailModal({emailId: email._id, userId: crmUser._id, index:$index, email: crmUser.email})')
              i.fa.fa-pencil
            br
            br
          div(style='margin-bottom: 4px')
          button.btn.btn-lg.btn-dark(ng-click='disableMail($index, crmUser._id)', style='margin-bottom: 4px') {{:: "DONT_SENT_EMAILS" | translate}}
          br
          hr
          a.pull-right(ng-init='showSentEmails = false', ng-click='showSentEmails = !showSentEmails')
            | {{:: "SENT_MAILS" | translate}} ({{crmUser.sentMail.length}})  
            span.i.fa(ng-class="showSentEmails ? 'fa-chevron-up' : 'fa-chevron-down'")
          p(ng-repeat="email in crmUser.sentMail | orderBy: '-timestamp'", uib-collapse='!showSentEmails')
            i.fa.fa-arrow-circle-right(ng-click='openPreviewMailModal({body: email.body})')
            | {{email.subject}} ({{email.timestamp | date : "dd-MM-yyyy HH:mm"}})
          br
          br
          b {{:: "ADVERTISING_ELEMENT" | translate}} {{:: "NEWSLETTERS" | translate}}:
          br
          button.btn.btn.btn-md.button-margin-right(type='button', ng-if='crmUser.gender === true') {{:: "MAN" | translate}}
          button.btn.btn.btn-md.button-margin-right(type='button', ng-if='crmUser.gender === false')
            | {{:: "WOMAN" | translate}}
            | ,
          button.btn.btn.btn-md.button-margin-right(type='button', ng-if='crmUser.watchOrJewel === true') {{:: "WATCH" | translate}}
          button.btn.btn.btn-md.button-margin-right(type='button', ng-if='crmUser.watchOrJewel === false')
            | {{:: "JEWEL" | translate}}
            | ,
          button.btn.btn.btn-md.button-margin-right(type='button') {{crmUser.priceRange | currency : "€"}}
          br
          br
          b {{:: "REVIEW" | translate}}:
          div(ng-repeat='review in currentShop.reviews')
            p(ng-if='review.author.email == crmUser.email && review.content') {{review.content}} | Score: {{review.rating}}
          br
          br
          b {{:: "FACEBOOK_EMAIL_RETARGETING_TARGET_GROUPS" | translate}}:
          p {{:: "NO_FACEBOOK_TARGET_GROUPS_HAVE_BEEN_CREATED_YET" | translate}}
          br
          br
          b {{:: "REQUESTING_A_NEWSLETTER_FROM_THE_BOX_OFFICE" | translate}}:
          toggle-switch(name='collection-verified', ng-model='collection.isVerified', on-label="{{::'YES' | translate}}", off-label="{{::'NO' | translate}}")
          br
          br
          .input-group
            span.input-group-addon {{:: "NUMBER_OF_LOYALTY_CARD_POINTS" | translate}}:
            input#rewards.form-control(type='text', ng-model='', style='max-width: 60px', placeholder='')
          .row
    .row
