.modal-header
  button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
  h4.modal-title {{:: "PICTURE_PREVIEW" | translate}}
.modal-body
  .row
    .cropArea.col-sm-6.col-xs-6.col-md-6
      ui-cropper(image='myCropImg[cropImgIndex]', area-type='rectangle', result-image-quality='1.0', result-image='myCroppedImage', init-max-area='true')
    .col-sm-6.col-xs-6.col-md-6
      img(ng-src='{{myCroppedImage}}')
.modal-footer
  button.btn.btn-dark.pull-right(ng-click='doneImgModel(cropImgIndex,myCroppedImage);$dismiss()') {{:: "DONE" | translate}}
