div
  .modal-header
    h3.modal-title Add Custom Page
  .modal-body
    | Are you want to create custom page for website ?
    form.form-horizontal(role='form')
      .form-group
        .col-sm-10
          input#inputEmail3.form-control(type='text', ng-model='customPageName', placeholder='Enter the custom page name here')
      .modal-footer
        button.btn.btn-primary(type='button', ng-click='customOk(customPageName);$dismiss()') Yes
        button.btn.btn-warning(type='button', ng-click='customCancel();$dismiss()') No
