.modal-header
	h4.modal-title {{:: "EDIT_EMAIL" | translate}}
.modal-body
	.row
	h5 {{:: "TEXT_EDITOR" | translate}}
	text-angular(ng-model="emailTemplate").wysiwyg
.modal-footer
	a(ng-click="update()").btn.btn-lg {{:: "UPDATE" | translate}}
	a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}