div
	.modal-header
		button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
		h3.text-center.steps
			span.step-cart {{:: "VIEW_CAMPAIGN" | translate}} &nbsp;
			i.fa.fa-angle-right
			span.step-checkout {{:: "SELECT_PLAN" | translate}} &nbsp;
			i.fa.fa-angle-right
			span.step-order-complete.active {{:: "EXECUTE" | translate}}
	.modal-body
		div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert()")
			| {{alert.msg}}
		p.hidden {{:: "TASKS_ARE_PLACED_ON_TASKLIST" | translate}}
		.row(ng-if="campaign.global")
			.col-md-12(ng-repeat="task in campaign.tasks")
				hr
				.col-md-4
					div(ng-if="!campaign.update && task.type != 'order'")
						span.i.fa.fa-check.fa-5x.pull-left(ng-show="task.completed")
						.input-group(ng-show="!task.completed")
							input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.fbPromotionSettings.promotionStartDate", is-open="task.dateOpened",  datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}", timepicker-options="timepickerOptions", close-text="Sluiten").form-control
							
							span.input-group-btn
								button(type="button" ng-click="openDate(task)").btn.btn-default
									span.i.fa.fa-calendar
						p(ng-show="task.completed && campaign.strategy != 'store-promotion'") {{task.datePlanned | date: 'dd-MM-yyyy'}}
						div(ng-hide="campaign.update == true")
							p {{:: "END_DATE" | translate}}: {{task.fbPromotionSettings.promotionEndDate | date: 'dd-MM-yyyy'}}
					div(ng-if="campaign.update && task.type != 'order'")
						span.i.fa.fa-check.fa-5x.pull-left(ng-show="task.completed")
						//- ingevoegd
						label(ng-show="!task.completed && campaign.strategy != 'store-promotion'") {{:: "SCHEDULE_ON_THIS_DATE_TIME" | translate}}:
						.input-group(ng-show="!task.completed && campaign.strategy != 'store-promotion'")
							input(type="datetime-local", datetime-picker="EEE dd MMM yyyy HH:mm (Week: w)", ng-model="task.datePlanned", is-open="task.dateOpened", datepicker-options="{maxDate: campaign.update ? maxDate : task.endDate, minDate: campaign.update ? today : task.startDate}" timepicker-options="timepickerOptions", close-text="Sluiten" ng-disabled="task.completed").form-control

							span.input-group-btn
								button(type="button" ng-click="openDate(task)" ng-disabled="task.completed").btn.btn-default
									span.i.fa.fa-calendar

						p(ng-show="task.completed && campaign.strategy != 'store-promotion'") {{task.datePlanned | date: 'dd-MM-yyyy'}}
						div(ng-show="campaign.strategy == 'store-promotion'") 
							p {{:: "START_DATE" | translate}}: {{task.fbPromotionSettings.promotionStartDate | date: 'dd-MM-yyyy'}}
							p {{:: "END_DATE" | translate}}: {{task.fbPromotionSettings.promotionEndDate | date: 'dd-MM-yyyy'}}
				.col-md-4
					div(ng-if="!campaign.update && task.type != 'order'")
						b {{:: "PAID_PROMOTION" | translate}}:
					p {{task[language].name}}
					div(ng-if="!campaign.update && task.type != 'order'")
						p {{:: "BUDGET" | translate}}: € {{task.fbPromotionSettings.budget}}
							span(ng-show="task.fbPromotionSettings.perDayOrSpread == 'perDay'") &nbsp; {{:: "PER_DAY" | translate}}
							span(ng-show="task.fbPromotionSettings.perDayOrSpread != 'perDay'") &nbsp; {{:: "SPREAD_ON_DAYS" | translate}}
					div(ng-if="task.type != 'order' && campaign.strategy != 'store-promotion'")
						//Not showing in case of ordertasks and shop promotions.
						button.btn.btn-dark(ng-click="download(task._id, $index)")
							span.i.fa.fa-download
				.col-md-4.button-margin
					div(ng-if="!campaign.update && task.type != 'order'")
						//- //only show when campaign
						//- div
						//- 	ul
						//- 		li Pay with Ideal
						//- 		li Pay with PayPal
						//- 			br
						//- 			i.fa.fa-cc-paypal.fa-2x
						//- 		li Pay with Credit card
						//- 			br
						//- 			i.fa.fa-cc-visa.fa-2x
						//- 			i.fa.fa-cc-mastercard.fa-2x
						//- 			i.fa.fa-cc-discover.fa-2x
						//- 			i.fa.fa-cc-amex.fa-2x
						//- 		li Automatic incasso (online banking)
						//- 		hr
						p(ng-hide="campaign.strategy == 'store-promotion'") {{campaign.brand.name}} {{:: "_OF_YOUR_INVESTMENT_WITH_A_MAXIMUM_OF_25_THIS_AMOUNT_WILL_BE_REFUNDED_AFTER_THE_CAMPAIGN_HAS_BEEN_CARRIED_OUT" | translate}}
						//- button.btn.btn-dark(ng-init="showInfoExecute = false" ng-click="showInfoExecute = !showInfo2") Paying succeeded
						//- div(uib-collapse="!showInfoExecute")
						div
							div(ng-if="executed.index != $index && !task.completed" )
								a.btn.btn-yellow(ng-click="executeCampaign(task._id, $index)") {{:: "EXECUTE_PROMOTION" | translate}}
							div(uib-alert, ng-show="executed && executed.index == $index && executed.task =='uitvoeren'", ng-class="'alert-' + executed.type")
								| {{executed.msg}}
							div
								textarea(ng-if="!task.completed", type="text" style="width:267px", ng-model="task.comment" placeholder='{{:: "REMARKS_FOR_PRISMANOTE_TEAM" | translate}}').product-short-description.form-control.short
								p(ng-if="task.completed") {{task.comment}}
								br
						//- div(ng-if="campaign.strategy == 'store-promotion' && task.type != 'order'")
						//- 	hr
						//- 	button.btn.btn-dark(ng-init="showInfoPaymentRequest = false" ng-click="showInfoPaymentRequest = !showInfo2") Payment Request
						//- 	div(uib-collapse="!showInfoPaymentRequest")
						//- 		p [visible after payment/ and invisible after request is done]
						//- 		p {{:: "CONTRIBUTION_REQUEST_TO_SUPPLIER" | translate}}:
						//- 		p Leverancier: {{campaign.brand.name}}
						//- 		input(type="text", placeholder="Bijv. inkoop@uwleverancier.com")
						//- 		input(type="currency", placeholder="Bijv. 25 euro (max. {{task.fbPromotionSettings.budget}})").form-control
						//- 		textarea(type="text" style="width:267px", ng-model="task.comment" placeholder='{{:: "REMARKS_FOR_THE_BRAND" | translate}}').product-short-description.form-control.short
						//- 		div(ng-if="executed.index != $index" )
						//- 			a.btn.btn-dark(ng-click="executeCampaign(task._id, $index)") {{:: "SENT_PAYMENT_REQUEST" | translate}}
						//- 		a(href="paymentRequest-mail-a").pull-right
						//- 			| {{:: "VIEW_EMAIL" | translate}}
					div(ng-if="campaign.update && task.type != 'order'")
						//Show only in case of an update
						a.btn.btn-green(ng-show="task.type == 'facebook' && !task.completed && task.datePlanned != null", ng-click="postFacebookUpdate(task._id, true, $index)") {{:: "SCHEDULE_TO_FACEBOOK" | translate}}
						a.btn.btn-green(ng-show="task.type != 'facebook' && 1==0", ng-click="planTask(task)") {{:: "CREATE_TASK" | translate}}

						//Show only in case of updates an when Facebook is connected
						a.btn.btn-green(ng-if="user.facebook && task.type == 'facebook' && !task.completed", ng-click="postFacebookUpdate(task._id, false, $index)") 
							span.i.fa.fa-facebook
							|&nbsp; {{:: "POST_DIRECTLY" | translate}}
						img(src="/images/loading.gif", ng-show="facebookLoading && facebookLoading.index == $index", style="height:25px; width: 25px;")
						div(uib-alert, ng-show="facebookResponse && facebookResponse.index == $index", ng-class="'alert-' + facebookResponse.type")
							| {{facebookResponse.msg}}

					div(ng-if="task.type == 'order' && executed.index != $index")
						//Show only in case of ordertasks
						a.btn.btn-dark(ng-click="directOrder(task._id, $index)") {{:: "ORDER_DIRECT" | translate}}
					div(ng-if="task.type == 'order' && executed.index != $index && task.completed" ng-show="!task.completed")
						p {{:: "ORDER_IS_PLACED" | translate}}
					

					div(ng-if="executed && executed.index == $index && (executed.task =='bestellen' || executed.task == 'downloaden')")
						//Hide in case of a campaign, executing direct / download
						a.btn.btn-yellow(ng-click="confirmTask(task._id, executed.task, $index)") {{executed.task}} {{:: "COMPLETED" | translate}}
						a.btn.btn-primary(ng-click="retryTask(task._id, executed.task, $index)") {{:: "AGAIN" | translate}}
			.col-md-12
				hr
		br
		img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
		div(uib-alert, ng-show="confirmExecute", ng-class="'alert-' + confirmExecute.type")
			| {{confirmExecute.msg}}
			button(type="button", ng-if="confirmExecute.buttons", ng-click="executeAll()").btn.btn-green {{:: "EXECUTE" | translate}}
			button(type="button", ng-if="confirmExecute.buttons", ng-click="confirm(true)").btn.btn-primary {{:: "CANCEL" | translate}}
		
		//- a(ng-if="!confirmExecute && checkForOpenTasks()" ng-click='confirm()').btn.btn-md.btn-green 
		//- 	span.i.fa.fa-list
		//- 	|&nbsp; {{:: "EXECUTE_ALL_TASKS" | translate}}
		a(ng-click='$dismiss()').btn.btn-md.btn-light {{:: "BACK_TO_MY_CAMPAIGN" | translate}}