div(modal="loginModal", close="cancel()")
	.modal-header
		button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
		h4.modal-title(ng-show="!forgotmode && !registermode && !user && !requestmode") {{:: "MAIN_LOGIN" | translate}}
		h4.modal-title(ng-show="forgotmode && !registermode && !requestmode") {{:: "FORGOT_PASSWORD" | translate}}
		h4.modal-title(ng-show="registermode && !requestmode") {{:: "START" | translate}}
		h4.modal-title(ng-show="user && !requestmode") {{:: "ACCOUNT" | translate}}
		h4.modal-title(ng-show="requestmode") {{:: "APPLY_FOR_AN_ACCOUNT" | translate}}
	.modal-body
		div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
			| {{alert.msg}}
		form(ng-show="user")
			p {{:: "TEXT_YOU_ARE_LOGGED_IN_AS" | translate}} {{user.firstName}} {{user.lastNamePrefix}} {{user.lastName}}.
			a.btn.btn-md.btn-dark(ui-sref="layout.my-account" ng-hide="user.role == 'retailer' || user.role == 'wholesaler'") {{:: "ACCOUNT" | translate}}
			a.btn.btn-md.btn-dark(ng-if="user.role == 'admin'" ui-sref="admin.home" ng-click="cancel()") {{:: "BUTTON_ADMIN_PORTAL_ACCOUNT_FORM" | translate}}
			a.btn.btn-md.btn-dark(ng-if="user.role == 'retailer'" ui-sref="retailer.home" ng-click="cancel()") {{:: "BUTTON_RETAILER_PORTAL_ACCOUNT_FORM" | translate}}
			a.btn.btn-md.btn-dark(ng-if="user.role == 'retailer'" ui-sref="retailer.myuser" ng-click="cancel()") {{:: "TEXT_HEAD_MYPROFILE_RETAILER_HOME" | translate}}
			a.btn.btn-md.btn-dark(ng-if="user.role == 'wholesaler'" ui-sref="brand.home" ng-click="cancel()") {{:: "BUTTON_BRANDANDDISTRIBUTORS_PORTAL_ACCOUNT_FORM" | translate}}
			a.btn.btn-md.btn-dark(ng-click="logout()" href="") {{:: "MAIN_LOGOUT" | translate}}
		div(ng-show='!forgotmode && !registermode && !user')
			a.btn.btn-primary(href="/api/auth/facebook" target="_blank" ng-hide="setNewPassword")
				span.fa.fa-facebook
				| &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
			
			div(ng-show="setNewPassword")
				br
				form(name="setNewPasswordForm" novalidate ng-submit="setPassword()")
					.row
						.col-md-6
							label(for="newPassword1") {{:: "NEW_PASSWORD" | translate}}
							input(type="password" name="newPassword1" id="newPassword1" ng-model="newPassword1" required).form-control
						.col-md-6
							label(for="newPassword2") {{:: "REPEAT_PASSWORD" | translate}}
							input(type="password" ng-match="newPassword1" name="newPassword2" id="newPassword2" ng-model="newPassword2" required).form-control
							p(ng-show="setNewPasswordForm.newPassword2.$error.match").help-block
									| {{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}
					.row
						.col-md-12
							button(type="submit" ng-disabled="loading || setNewPasswordForm.$invalid").btn.btn-lg.btn-green
								i(ng-show="loading").fa.fa-circle-o-notch.fa-spin.fa-fw
								| {{:: "SETTING_THE_PASSWORD" | translate}}
			
			div(ng-hide="setNewPassword")
				br
				br
				form(ng-submit="login()" name="loginForm" novalidate)
					p
						input(type='text' required placeholder='{{:: "INPUT_EMAILADRESS" | translate}}', ng-model="username" ng-change="newUser.username = username").input-text.form-control
					p
						input(type='password' required placeholder='{{:: "INPUT_PASSWORD" | translate}}', ng-model="password" ng-change="newUser.password = password" ng-keyup="$event.keyCode == 13 && login()").input-text.form-control
					p
						a(ng-click="forgotmode =!forgotmode" href="").modal-link {{:: "FORGOT_PASSWORD" | translate}}
					p
						button(type="submit" ng-disabled="loading || loginForm.$invalid").btn.btn-lg.btn-green
							i(ng-show="loading").fa.fa-circle-o-notch.fa-spin.fa-fw
							| {{:: "MAIN_LOGIN" | translate}}
		form(ng-show='forgotmode && !registermode')
			p {{:: "REGISTER_MESSAGE_LOGINMODAL" | translate}}
			p
				input(type='text', placeholder='{{:: "INPUT_USERNAME" | translate}}', ng-model="username").input-text.form-control
			p
				a(ng-click="forgot()", href="").btn.btn-lg.btn-green {{:: "SEND_NEW_PASSWORD" | translate}}
		form(ng-show='registermode && !registerComplete || requestmode && !registerComplete' novalidate, name="registerForm", ng-submit="register(registerForm.$valid, requestmode)")
			div(ng-show="!requestmode")
				div(ng-hide="user.facebook")
					a.btn.btn-primary(href="/api/auth/facebook", target="_blank") 
						span.fa.fa-facebook
						| &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
				br
				p {{:: "MESSAGE_1_REGISTER" | translate}}
				p {{:: "MESSAGE_A_REGISTER_FORM" | translate}}
			a.btn.btn-primary(href="/api/auth/facebook" target="_blank")
				span.fa.fa-facebook
				| &nbsp; {{:: "CONNECT_FACEBOOK" | translate}}
			hr
			a(href='' ng-init="showAlternativeRegister = false" ng-click="showAlternativeRegister = !showAlternativeRegister").pull-right
				span {{:: "USE_THIS_FORM_TO_REQUEST_ACCOUNT_ON_PRISMANOTE" | translate}} &nbsp;
				span.i.fa(ng-class="showAlternativeRegister ? 'fa-chevron-up' : 'fa-chevron-down'")
			div(uib-collapse="!showAlternativeRegister" ng-show="requestmode")
				p {{:: "YOUR_REQUEST_WILL_BE_ANSWERED_WITHIN_ONE_WORKING_DAY" | translate}}
				.row
					.col-md-4
						p
							input(type='text', name="firstname", placeholder='{{:: "INPUT_FIRSTNAME_REGISTER_FORM" | translate}}', ng-required="true", ng-model="newUser.firstName", tabindex="1").input-text.form-control
						p(ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine").help-block 
							| {{:: "MESSAGE_FIRSTNAME_REGISTER_FORM" | translate}}
					.col-md-4
						p
							input(type='text', name="lastnameprefix", placeholder='{{:: "INPUT_INSERTION_REGISTER_FORM" | translate}}', ng-model="newUser.lastNamePrefix", tabindex="2").input-text.form-control
					.col-md-4
						p
							input(type='text', name="lastname", placeholder='{{:: "INPUT_LASTNAME_REGISTER_FORM" | translate}}' ng-required="true", ng-model="newUser.lastName", tabindex="3").input-text.form-control
						p(ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine").help-block 
							| {{:: "MESSAGE_LASTNAME_REGISTER_FORM" | translate}}
				.row
					.col-md-6
						p
							select(ng-model="newUser.gender", tabindex="4", name="gender", placeholder='{{:: "INPUT_SEX_REGISTER_FORM" | translate}}').form-control
								option {{:: "SEX_MALE_REGISTER_FORM" | translate}}
								option {{:: "SEX_FEMALE_REGISTER_FORM" | translate}}
					.col-md-6
						p
							input(type='text', name="phone", placeholder='{{:: "INPUT_PHONENUMBER_REGISTER_FORM" | translate}}', ng-model="newUser.phone", tabindex="5").input-text.form-control
					.col-md-12
						p.help-block Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).
				.row
					.col-md-12
						p
							input(type='email', ng-disabled="!verify" name="emailaddress", placeholder='{{:: "INPUT_EMAIL_REGISTER_FORM" | translate}}', tabindex="6" ng-required="true", ng-model="newUser.email").input-text.form-control
						p(ng-show="registerForm.emailaddress.$invalid && !registerForm.emailaddress.$pristine").help-block
							| {{:: "MESSAGE_EMAIL_REGISTER_FORM" | translate}}
				.row
					.col-md-6
						p
							input(type='password', id="pw1", name="pw1", placeholder='{{:: "INPUT_PASSWORD_REGISTER_FORM" | translate}}', tabindex="7" ng-required="true", ng-model="newUser.password").input-text.form-control
					.col-md-6
						p
							input(type='password', id="pw2", name="pw2" ng-match="newUser.password" tabindex="8" placeholder='{{:: "INPUT_REPEATPASSWORD_REGISTER_FORM" | translate}}', ng-required="true", ng-model="newUser.passwordCompare").input-text.form-control
						p(ng-show="registerForm.pw2.$error.match").help-block
							| {{:: "MESSAGE_NOTMATCHINGPASSWORD_REGISTER_FORM" | translate}}
				.row(ng-show="requestmode")
					.col-md-12
						p {{:: "SHOPNAME_PLUS_ADDRESS" | translate}}
						input(type='text', name="phone", placeholder='Winkelnaam', ng-model="interest.shop", tabindex="9" ng-required="requestmode").input-text.form-control
					
					.col-md-12
						h5 {{:: "INTERESTED_IN" | translate}}
						.row
							.col-md-6
								input(type="checkbox" id="sm", ng-model="interest[5]" value="1")
								label(for="sm") {{:: "FREE_SOCIAL_MEDIA_PORTAL" | translate}}
								input(type="checkbox" id="marketing", ng-model="interest[6]" value="1")
								label(for="marketing") {{:: "MARKETING_SUPPORT" | translate}}
								input(type="checkbox" id="website", ng-model="interest[2]" value="1")
								label(for="website") {{:: "DESIGN_WEBSITE_WEBSHOP" | translate}}
							.col-md-6
								input(type="checkbox" id="apps", ng-model="interest[4]" value="1")
								label(for="apps") {{:: "CUSTOMER_APPS" | translate}}
								input(type="checkbox" id="cs", ng-model="interest[3]" value="1")
								label(for="cs") {{:: "INFO_CASH_ERP_SOFTWARE" | translate}}
						.row(ng-show="interest[3]")
							.col-md-6
								label(for="csdate") {{:: "DESIRED_DATE_FOR_DEMO_OF_CASH_REGISTER_SOFTWARE" | translate}}
							.col-md-6
								.input-group
									input(type="text", uib-datepicker-popup="dd-MM-yyyy", autocomplete="off" ng-disabled="interest.cs.noDate" ng-model="interest.cs.date", is-open="interest.cs.openend", datepicker-options="{minDate: today}" close-text="Sluiten").form-control
									span.input-group-btn
										button(type="button" ng-disabled="interest.cs.noDate" ng-click="interest.cs.openend = true").btn.btn-default
											span.i.fa.fa-calendar

								input(type="checkbox" id="nodate", ng-model="interest.cs.noDate" value="1")
								label(for="nodate") {{:: "NO_PREFERENCE_DISCUSS_OPTIONS_WITH_ME" | translate}}
				.row
					.col-md-12
						p
							button(type="submit", ng-hide="requestmode" ng-disabled="registerForm.$invalid").btn.btn-lg.btn-green {{:: "START" | translate}}
							button(type="submit", ng-show="requestmode" ng-disabled="registerForm.$invalid").btn.btn-lg.btn-green {{:: "REQUEST_FREE_ACCOUNT" | translate}}
			div
			.row
		form(ng-show="registerComplete")
			div(ng-hide="requestmode")
				p {{:: "MESSAGE_ACCOUNTSUCCESFULLCREATED_REGISTER_FORM" | translate}}
				p {{:: "MESSAGE_WESENDYOUANEMAIL_REGISTER_FORM" | translate}}
			div(ng-show="requestmode")
				p {{:: "THANKS_FOR_YOUR_REQUEST_YOU_WILL_RECEIVE_COPY_OF_APPLICATION" | translate}}
				p {{:: "YOUR_REQUEST_WILL_BE_PROCESSED_WITHIN_ONE_WORKING_DAY" | translate}}
			a.btn.btn-green(ng-click='close()') {{:: "CLOSE" | translate}}
		a(ng-click="registermode =! registermode; requestmode = true; forgotmode = false; mode='request'" ng-hide="setNewPassword || user || requestmode" href="" ng-bind="registermode ? 'Inloggen': 'Registreren'").modal-link
		//- a(ng-click="registermode =! registermode; requestmode = false; forgotmode = false;" ng-hide="user || requestmode" href="" ng-bind="registermode ? 'Inloggen': 'Registreren'").modal-link
		//- span(ng-show="forgotmode") &nbsp;&nbsp;&nbsp;
		//- a(ng-click="forgotmode =!forgotmode" href="" ng-show="forgotmode").modal-link {{:: "MAIN_LOGIN" | translate}}