.modal-header
    h4.modal-title {{:: "NEW_TASK" | translate}}
.modal-body
    h3 {{todoTask.title}}
    p {{task[language].description}}

    p {{:: "PLANNED_ON" | translate}} {{todoTask.date | date: 'dd-MM-yyyy'}}

    div(ng-show="task.type == 'facebook'")
        a.btn.btn-green(ng-click="downloadFiles()") {{:: "DOWNLOAD_FILES_FOR_" | translate}}Facebook
        | 
        a.btn.btn-yellow(ng-click="executeTaskFacebook()") Facebook{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}
    div(ng-show="task.type == 'instagram'")
        a.btn.btn-green(ng-click="downloadFiles()") {{:: "DOWNLOAD_FILES_FOR_" | translate}}Instagram
        | 
        a.btn.btn-yellow(ng-click="executeTaskInstagram()") Instagram{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}
    div(ng-show="task.type == 'pinterest'")
        a.btn.btn-green(ng-click="downloadFiles()") {{:: "DOWNLOAD_FILES_FOR_" | translate}}Pinterest
        | 
        a.btn.btn-yellow(ng-click="executeTaskPinterest()") Pinterest{{:: "_TASK_PERFORMED_SUCCESFULLY" | translate}}
    div(ng-show="task.type =='order'")
        a.btn.btn-green(ng-click="orderTask()") {{:: "TO_ORDER" | translate}}

.modal-footer
    a(ng-click="closeModal()").btn.btn-lg {{:: "SAVE_AND_CLOSE" | translate}}
    a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}