.modal-header
  button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
  h4.modal-title {{:: "CAMPAIGN_PREVIEW_FACEBOOK" | translate}}
.modal-body(ng-if='editFbModel')
  .row
    .col-sm-8.fb-preview-section
      ul.nav.nav-tabs.preview-modal
        li.active
          a(href='#desktop-prv', data-toggle='tab') {{:: "DESKTOP_NEWSFEED_PREVIEW" | translate}}
        li
          a(href='#mobile-prv', data-toggle='tab') {{:: "MOBILE_PREVIEW" | translate}}
      .tab-content
        #desktop-prv.tab-pane.active
          div(ng-bind-html='desktopPreview')
        #mobile-prv.tab-pane
          div(ng-bind-html='mobilePreview')
    .col-sm-4
      ul.nav.nav-pills.nav-stacked.preview-result
        li.active
          h5 {{:: "AUDIENCE" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "COUNTRY" | translate}}: {{selectedCountryName}}
            li {{:: "REGION" | translate}}: {{selectedRegionName}}
            li {{:: "CITY" | translate}}: {{selectedCityName}}
            li {{:: "AGE" | translate}}: {{age_min}}-{{age_max}}
            li {{:: "GENDER" | translate}}: {{genderPreview}}
            li {{:: "INTERESTS" | translate}}: {{selectedInterestName}}
        li.active
          h5 {{:: "BUDGET" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "DAILY_BUDGET" | translate}}: {{budgetPreview}}
            li {{:: "DURATION" | translate}}: {{diffDays}} days
            li {{:: "BILLING_AMOUNT" | translate}}: {{budgetPreview * diffDays}}
            li {{:: "CURRENCY" | translate}}: EURO
        li.active
          h5 {{:: "ESTIMATED_REACH" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "ESTIMATED_VISITORS" | translate}}: {{reachUsers}}
.modal-body(ng-if='!editFbModel')
  .row
    .col-sm-8.fb-preview-section
      ul.nav.nav-tabs.preview-modal
        li.active
          a(href='#tab-id-0', data-toggle='tab') {{:: "DESKTOP_NEWSFEED_PREVIEW" | translate}}
        li
          a(href='#tab-id-1', data-toggle='tab') {{:: "MOBILE_PREVIEW" | translate}}
      .tab-content
        #tab-id-0.tab-pane.active
          div(ng-bind-html='desktopPreview')
        #tab-id-1.tab-pane
          div(ng-bind-html='mobilePreview')
    .col-sm-4
      ul.nav.nav-pills.nav-stacked.preview-result
        li.active
          h5 {{:: "AUDIENCE" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "COUNTRY" | translate}} : {{selectedCountryName}}
            li {{:: "AGE" | translate}}: {{age_min}}-{{age_max}}
            li {{:: "GENDER" | translate}}: {{genderPreview}}
        li.active
          h5 {{:: "BUDGET" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "DAILY_BUDGET" | translate}} : {{budgetPreview}}
            li {{:: "DURATION" | translate}}: {{diffDays}} days
            li {{:: "BILLING_AMOUNT" | translate}}: {{budgetPreview * diffDays}}
            li {{:: "CURRENCY" | translate}}: EURO
        li.active
          h5 {{:: "ESTIMATED_REACH" | translate}}
          ul.nav.nav-pills.nav-stacked.prv-res
            li {{:: "ESTIMATED_VISITORS" | translate}}: {{reachUsers}}
.modal-footer
  button.btn.btn-dark.pull-right(ng-click='callPaymentMethod()') {{:: "EXECUTE_ON_FACEBOOK" | translate}}
  p {{:: "YOU_WILL_BE_REDIRECTED_TO_OUR_PAYMENT_PROVIDER" | translate}}