.modal-header
  button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
  h4.modal-title {{:: "CAMPAIGN_PREVIEW" | translate}}
.modal-body
  .row
    .col-sm-12.fb-preview-section
      ul.nav.nav-tabs.preview-modal
        li.active
          a(href='#desktop-prv', data-toggle='tab') Desktop Preview
        li
          a(href='#mobile-prv', data-toggle='tab') Mobile Preview
        li(ng-show="isInstagramOrNot")
          a(href='#instagram-prv', data-toggle='tab') Instagram view
        li
          a(href='#column-prv', data-toggle='tab') Right-Column View
      .tab-content
        #desktop-prv.tab-pane.active
          div(ng-bind-html='desktopPreview')
        #mobile-prv.tab-pane
          div(ng-bind-html='mobilePreview')
        #instagram-prv.tab-pane
          div(ng-bind-html='instagramPreview')
        #column-prv.tab-pane
          div(ng-bind-html='columnPreview')
.modal-footer
  button.btn.btn-dark.pull-right(ng-click='viewResultFunc()') {{:: "VIEW_RESULT" | translate}}