.modal-header
    button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
    h4.modal-title {{:: "CAMPAIGN_PREVIEW" | translate}}
.modal-body  

       .row
        .col-md-8
            div(ng-repeat='image in campaign.images')
                img(ng-src='{{ image.src }}')
        .col-md-4
            p {{:: "TARGET_GROUP_S" | translate}}:
                div(ng-repeat='task in campaign.tasks')
                    | {{task.fbPromotionSettings.targetGroup}}
            p(ng-if="campaign.strategy =='target-search'") {{:: "PAID_PROMOTION" | translate}}:
                i.fa.fa-bullhorn
            span(ng-if="campaign.strategy =='target-search'" uib-tooltip-html="'Een Doelzoekraket is een campagne waarbij de retailer met de eerste post een boodschap laat zien aan een specifieke doelgroep rondom de winkel. Onder deze doelgroep wordt direct een op maat gemaakte boodschap getoond.'") &nbsp; {{:: "PROMOTION_STRATEGY" | translate}}
                i.fa.fa-rocket

            p(ng-if="campaign.strategy =='local-plump'") {{:: "PAID_PROMOTION" | translate}}:
                i.fa.fa-bullhorn
            span(ng-if="campaign.strategy =='local-plump'" uib-tooltip-html="'Een Locale stortbui is een campagne waarbij de retailer met de eerste post een boodschap laat zien aan mensen rondom de winkel. Van deze mensen is een gedeelte “geïnteresseerd”. Deze mensen bekijken de boodschap langer of klikken er op. Onder deze mensen worden de volgende ‘boodschappen’ verspreid.'") &nbsp; {{:: "PROMOTION_STRATEGY" | translate}}
                i.fa.fa-tint

            i.fa.fa-home(ng-if="campaign.strategy =='store-promotion'")
            span(ng-if="campaign.strategy =='store-promotion'" uib-tooltip-html="'Een Mijn Winkel Promotie is een campagne die u zelf hebt samen gesteld.'") &nbsp; {{:: "MY_STORE_PROMOTION" | translate}}

            i.fa.fa-bullhorn(ng-if="campaign.update ==true")
            span(uib-tooltip-html="'Facebook laat gewone updates aan gem. 20% van uw volgers zien. Deze updates zijn alleen bedoeld om contact met bestaande klanten te onderhouden.'") &nbsp; {{:: "ORDINARY_UPDATE" | translate}}
            br
            p # {{campaign.brand.name}} 
                span(ng-if="campaign.wholesaler =='!null'") ({{campaign.wholesaler.name}})

            p {{:: "SUBJECT_S_MESSAGE_TITLES_S" | translate}}:
                div(ng-repeat='task in campaign.tasks | filter:{type: "!order"}')
                    | - {{task[language].name}}
            br
            p {{:: "PROMOTION_POSSIBILITIES" | translate}}:
            p
                span
                    i.fa.fa-facebook.fa-3x
                        span &nbsp; 
                    i(ng-if="campaign.update ==false").fa.fa-instagram.fa-3x

            p {{:: "TOTAL_TASKS" | translate}}: {{campaign.tasks.length}}

            p {{:: "AVAILBLE_UP_TO" | translate}} {{formatDate(campaign.endDate, true)}}
            p {{:: "CAMPAIGN_NUMBER" | translate}}: {{campaign.number}}
.modal-footer(ng-show="user.role=='retailer'")
    a.btn.btn-dark.pull-right(href='/retailer/campaigns/{{campaign.nameSlug}}', ng-click='confirm()') {{:: "USE_IMAGE_TO_CREATE_A_CAMPAIGN" | translate}}
    //- a.btn.btn-dark.pull-right(href='/welcome-retailer', ng-click='publishAd()') {{:: "Publish Ad" | translate}}
.modal-footer(ng-hide="user.role=='retailer'")
    //- a.btn.btn-dark.pull-right(href='/welcome-retailer', ng-click='confirm()') {{:: "EXECUTE" | translate}}