.modal-header
    button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
    h4.modal-title {{newsItem.name}}
.modal-body
            img(ng-src='{{awsUrl + newsItem.images[0].src}}' alt="{{newsItem.images[0].alt}}")
            .block-small
                h2(ng-bind="newsItem.name")
                p.date
                    i.fa.fa-calendar-o
                    |&nbsp;{{formatDate(newsItem.publicationDate)}}
                .news-item-page-content(ng-bind-html="newsItem.content")
            .block-small(ng-repeat="image in newsItem.images" ng-if="!$first")
                img(ng-src="{{awsUrl + image.src}}" alt="{{image.alt}}")
.modal-footer
    a.btn.btn-dark.pull-right(href='/retailer/news/{{newsItem.nameSlug}}', ng-click='confirm()') {{:: "ADD_AND_EDIT" | translate}}