.modal-header
	h4.modal-title {{:: "EMAIL_EXAMPLE" | translate}}
.modal-body
	p(ng-show="body").text-center {{:: "THIS_EMAIL_GIVES_YOU_AN_IDEA_OF_WHAT_THE_EMAIL_LOOKS_LIKE_BUT_IT_CAN_DIFFER_PER_EMAIL_PROGRAM" | translate}}
	div(bind-html-compile="body")
	img(src="/images/loading.gif", ng-hide="!loading", style="height:100px; width: 100px;")
	div(uib-alert, ng-show="(!body && !loading) || body == '' ", class="alert alert-info")
		| {{:: "THERE_IS_NO_EXAMPLE_AVAILABLE_FOR_THIS_EMAIL" | translate}}
.modal-footer
	a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}