div
	.modal-header
		button.close.pull-right(type='button', ng-click='$dismiss()', aria-hidden='true') ×
		h4.modal-title {{options.title}}
	.modal-body
		p(ng-if='options.message')
			| {{options.message}}
		form#cgPromptForm(name='form.cgPromptForm', ng-if='options.input', ng-submit='submit()')
			.form-group(ng-class="{'has-error':cgPromptForm.$invalid && changed}")
				label(for='cgPromptInput') {{options.label}}
				input#cgPromptInput.form-control(type='text', placeholder='{{options.label}}', ng-model='input.name', required='', ng-change='changed=true', ng-if='!options.values || options.values.length === 0', autofocus='autofocus')
				.input-group(ng-if='options.values')
					input#cgPromptInput.form-control(type='text', placeholder='{{options.label}}', ng-model='input.name', required='', ng-change='changed=true', autofocus='autofocus')
					.input-group-btn(dropdown='')
						button.btn.btn-default.dropdown-toggle(type='button', dropdown-toggle='', data-toggle='dropdown')
							span.caret
						ul.dropdown-menu.pull-right
							li(ng-repeat='value in options.values')
								a(href='', ng-click='input.name = value') {{value}}
	.modal-footer
		button.btn.btn-default(ng-repeat='button in options.buttons track by button.label', class='{{button.class}}', ng-class="{'btn-primary':button.primary}", ng-click='buttonClicked(button)') {{button.label}}