.modal-header
	h4.modal-title {{:: "TEXT_DELETE_PRODUCTS_FROM" | translate}} {{shop.name}}
.modal-body.text-center
	h5 {{:: "TEXT_DELETE_BRAND" | translate}}
	p {{:: "TEXT_WHAT_DO_YOU_WANT_TO_DO_WITH" | translate}}
	p
		a(ng-click="close({all:true})").btn.btn-lg.btn-green {{:: "DELETE_EVERYTHING" | translate}}
	p
		a(ng-click="close({all:false})").btn.btn-lg.btn-green {{:: "DELETE_ONLY_ONLINE_AVAILABLE_PRODUCTS" | translate}}
.modal-footer
	a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}