.modal-header
    button.close.pull-right(type='button', ng-click='cancel()', aria-hidden='true') ×
    h4.modal-title {{:: "PRINT_LABELS" | translate}}
.modal-body.retailer-product-modal
    h5 {{product.nl.name}}
    //-button.btn.btn-green(ng-click='instructions()') Instructies
    
    .row
        .col-md-6
            label(for="type") {{:: "LABEL" | translate}}
            select(ng-model="label.type" ng-change="changeLabelType()" name="type").form-control
                option(value="etiket1") {{:: "LABEL" | translate}} 1
                option(value="etiket2") {{:: "LABEL" | translate}} 2
                option(value="etiket3") {{:: "LABEL" | translate}} 3

            label(for="quantity") QUANTITY{{:: "TEXT_CANCEL" | translate}}
            input.form-control(type="number" ng-model="label.quantity" name="quantity")
        .col-md-6
            img(ng-src="/images/label/{{label.type}}.PNG")
    .row(style="padding-top: 10px;")
        .col-md-12
            input(ng-model="label.line1" ng-hide="!label.type" placeholder="Regel 1").form-control
            input(ng-model="label.line2" ng-hide="label.type == 'etiket3'" placeholder="Regel 2").form-control
            input(ng-model="label.line3" ng-hide="label.type == 'etiket3'" placeholder="Regel 3").form-control
            input(ng-model="label.line4" ng-hide="label.type == 'etiket3'" placeholder="Regel 4").form-control
            input(ng-model="label.barcode" ng-hide="label.type == 'etiket1'" placeholder="Barcode").form-control
            input(ng-model="label.line5" ng-show="label.type == 'etiket1'" placeholder="Regel 5").form-control
            input(ng-model="label.line6" ng-show="label.type == 'etiket1'" placeholder="Regel 6").form-control
            input(ng-model="label.line7" ng-show="label.type == 'etiket1'" placeholder="Regel 7").form-control
            input(ng-model="label.line8" ng-show="label.type == 'etiket1'" placeholder="Regel 8").form-control
            input(ng-model="label.price" ng-show="label.type == 'etiket1'" placeholder="Prijs").form-control

            button.btn.btn-green.btn-lg(ng-hide="!label.type" ng-click="print()") {{:: "PRINT" | translate}}
.modal-footer
    a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}