.modal-header
    h4.modal-title {{:: "TEXT_THIS_ORDER" | translate}} {{order.number}} {{:: "TEXT_THIS_ORDER_SEND" | translate}}
.modal-body
    .row.hidden
        .col-md-6
            label(for="company") {{:: "TEXT_SENT_WITH_COMPANY" | translate}}
            select(name="company", id="company", disabled='disabled', ng-model="send.company").form-control.disabled
                option PostNL
                option DHL
                option Sandd
                option Bpost
        .col-md-6
        label(for="tt") {{:: "TEXT_TRACK_AND_TRACE_CODE" | translate}}
            input(type="text", id="tt", ng-model="send.tt", disabled="disabled", placeholder='{{:: "TEXT_TRACK_AND_TRACE_CODE" | translate}}').form-control.disabled
    .row
        .col-md-12
            a(ng-click="sendOrder()").btn.btn-lg.btn-green {{:: "TEXT_SENT" | translate}}
            br
            br
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type" close="closeAlert(alert)")
                | {{alert.msg}}
.modal-footer
    a(ng-click="cancel()").btn.btn-lg {{:: "TEXT_CANCEL" | translate}}