form(ng-submit='insert()')
    .modal-header
        .col-md-10
            h4.modal-title
            span.glyphicon.glyphicon-picture
            |  {{:: "UPLOAD_PICTURE" | translate}}
        .col-md-2.right
            a.close(href='', ng-click='$dismiss()')
                span.glyphicon.glyphicon-remove   
    .modal-body
        img(ng-src='{{image}}')
        uib-progressbar(max="100", value="progress", ng-show='uploadInProgress').progress-striped.active
    .modal-footer.center.clearfix
        button.btn.btn-default.pull-left(ng-click='$dismiss()', type='button') {{:: "CANCEL" | translate}}    
        button.btn.btn-primary.pull-right(type='submit', ng-disabled="image == null || image == ''")
            |&nbsp; {{:: "SAVE" | translate}}
        button.btn.btn-primary.pull-right(type='button', ngf-select='', ngf-change='upload()', ng-model='files', ngf-multiple='false')
            span.glyphicon.glyphicon-picture.mR5
            |&nbsp; {{:: "CHOOSE_PICTURE" | translate}}