.container
  .row(ng-init='loadWholesaler()')
    .col-md-12
      h3 {{:: "EDIT_COMPANY" | translate}}
    .col-md-12
      h5 {{:: "GENERAL_INFO" | translate}}
      .row
        .col-md-4
          .form-group
            label(for='shopname') {{:: "COMPANY_NAME" | translate}}
            input#shopname.form-control(type='text', disabled='disabled',ng-model='wholesaler.name', placeholder='{{:: "COMPANY_NAME" | translate}}')
          
            label(for='slug') Slug
            input#slug.form-control.disabled(type='text', disabled='disabled', ng-model='wholesaler.nameSlug', placeholder='Slug')
        .col-md-4
          .form-group
            label(for='email') {{:: "TEXT_EMAILADRESS" | translate}}
            input#email.form-control(type='text', ng-model='wholesaler.email', placeholder='{{:: "INPUT_EMAILADRESS" | translate}}', disabled='disabled')
            label(for='website') {{:: "TEXT_WEBSITE" | translate}}
            input#website.form-control(type='text', ng-model='wholesaler.website', placeholder='{{:: "TEXT_WEBSITE" | translate}}', disabled='disabled')
      .row
        .form-group
          h5 {{:: "ADDRESS" | translate}}
          br
          | {{wholesaler.address.houseNumber}}{{space}}{{wholesaler.address.houseNumberSuffix }}{{space}}{{wholesaler.address.street }}{{space}}{{wholesaler.address.city }}{{space}}{{wholesaler.address.country }}{{space}}{{wholesaler.address.postalCode }}
        
      .col-md-4(ng-init='getBrands()')
        h5 {{:: "BRANDS" | translate}}
        
        .list-group
          a.list-group-item.clearfix(ng-repeat='brand in wholesaler.brands')
            span {{brand.name}}
  br
  .row
    .col-md-12
      div(uib-alert='uib-alert', ng-show='alert', ng-class="'alert-' + alert.type", close='closeAlert(alert)') {{alert.msg}}
      input.btn.btn-lg.btn-green(type='submit', ng-click='modalClosed()', style="float:right" value='{{:: "OK" | translate}}')