.container.well(style='margin-top:10% !important')
  h5 {{:: "MY_WEBSITE" | translate}}: "Juwelier Bos-1"  
  .row
    .col-md-4
      a.btn.btn-green.pull-right(ui-sref="") ADD_PAGE
      h5 {{:: "PAGES" | translate}}
        hr
        br
        br
        b {{:: "PAGES" | translate}} (/home, /products /brands, /brand-page1, /brandpage2, etc., /news, /reviews, /contact )
        br
        br
        b {{:: "POSTS" | translate}} (/news/article-1, /news/article-2, /news/article-3 )
        br
        br
        //- by clicking the menu item to go /products and filter (#) products-page on this collection 
        b {{:: "COLLECTIONS" | translate}} (/products#prisma-traveller-collection, /products#chronographs-collection, /products#chronographs-collection )
        br
        br
    .col-md-8
      h5 {{:: "STRUCTURE_MENU" | translate}}
        hr
      .row