style.
  @font-face {
    font-family: 'asapbold';
      src: url('../fonts/asap-bold-webfont.woff2') format('woff2'),
          url('../fonts/asap-bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
      

  .heading-content
      {margin-top: 18px}
  .portfolio-list li p .stamp 
      {background: #9250cb;
      padding: 5px 10px 2px;
      color: #fff;
      font-weight: bold;
      margin: 0 15px 0 -40px;
      line-height: 1}
  .portfolio-list li p 
      {margin: 20px 30px}
  .portfolio-list li img 
     { width: 100%;
      height: auto}
  .portfolio-list li a span 
    {font-size: 32px;
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    margin-top: -10px;
    left: 5%;
    right: 5%;
    text-align: center;
    opacity: 0;
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transform: translateY(10px);}

  .custom-color
    {  margin-top: 70px;
      position: absolute;
      background-color: #f1f1f1;
      right: 37%;
      height: 263px;
      width: 100%;
      left: 0%;}

  .portfolio-list li a 
    {  display: block;
      position: relative;
      color: #fff;
      background: #252830;
      margin: 5px;
  }
  .portfolio-list li 
     { width: 340px;
      margin-right: 36px;
      margin-bottom: 60px;
  }

  .portfolio-list .first .icon-eye img 
    {-webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out}

  .portfolio-list .first .icon-eye:hover img 
   { -webkit-transform: scale(1.3);
    transform: scale(1.3)}

  .first:hover .icon-eye 
      {opacity: 0.3}

  .first:hover .icon-eye 
      {opacity: 0.3}

  .icon-eye 
      {opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden}

  .portfolio-list li 
      {display: block;
      position: relative;
      float: left;
      padding: 0;
      background: #f4f4f4}

  .portfolio-list 
    {display: block;
    position: relative;
    margin-left: -15px;
    margin-right: -15px}

  .portfolio-list p
      {text-align: center}

  section,
  header 
     { padding-top: 24px;
      padding-bottom: 9px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid #e8e8e8}

  .btn
      {border-radius: 0px !important}

  .main
     { width: 100% !important;
      height: auto}

  .container,
  .container-fluid 
      {position: relative;
      z-index: 1}

  .custom-content
     { position: absolute;
      left: 46%}

  .logo
     { position: absolute;
      left: -54%}


  .heading h1
     { font-family: asap-bold-webfont}

  body,
  html 
      {height: 100%;
      margin-left: 0}

  .darkLink
      {background:#222;
      color:white}


  .darkLink:hover
      {background:#0ccfa8;
      color:white !important
  }

  nav.navbar.navbar-inverse.ng-scope 
      {background-color: #121415 !important;
      border-radius: 0px}


  .c6726 
      {height: 700px !important;
      width: 100% !important}


  div#hideBrand 
     { display: none}
     /*--slick slider image--*/
    .slick-dots li button{
    display:none;
    }
    .content {
    background: #e4e4e494 !important;
    padding-top: 1px !important;
    }
    .slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 35% !important;
    width: 20px;
    height: 20px;
    
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    }

.container(style='margin-top:2% !important')
  .text-center
    a.btn.btn-dark.pull-right(ui-sref="grapes.builderhome") {{:: "BACK" | translate}}
    h1(style='font-family: Archivo Black !important;') Select a template to start
    p(style='font-family:Asap !important;')
      | These themes are totally customizable with your colors, content, layout...
      br
      |                 You can also change your theme at any time without having to redo your website.
  // 
  section#portfolio-grid.portfolio-block
    .container
      ul.portfolio-list
        li.first
          a(href='', ng-click="templateLoader('template-1/','index')", target='', title='template1')
            span
              i.icon-eye
            img(src='/images/grapeTemplate/template-1.jpg', alt='')
          a.btn.btn-primary.button-margin-right(href="http://www.juwelierbos.nl", target="_blank") {{:: "PREVIEW" | translate}}  
          p(style='font-family:Asap !important;') {{:: "Template-1" | translate}}
        li.second.first
          a(href='', ng-click="templateLoader('template-2/','index')", target='', title='template2')
            span
              i.icon-eye
            img(src='/images/grapeTemplate/template-2.jpg', alt='')
          a.btn.btn-primary.button-margin-right(href="http://www.juwelierbos.nl", target="_blank") {{:: "PREVIEW" | translate}}  
          p(style='font-family:Asap !important;') {{:: "Template-2" | translate}}
        li.third.first
          a(href='', ng-click="templateLoader('template-3/','index')", target='', title='template3')
            span
              i.icon-eye
            img(src='/images/grapeTemplate/template-3.jpg', alt='')
          a.btn.btn-primary.button-margin-right(href="http://www.juwelierbos.nl", target="_blank") {{:: "PREVIEW" | translate}}  
          p(style='font-family:Asap !important;') {{:: "Template-3" | translate}}
