.container
    .row.block
        .col-md-3.my-account
            a.btn.btn-green(ui-sref="layout.my-account.my-details")
                | {{:: "BUTTON_MY_ACCOUNT_INFO" | translate}}
            a.btn.btn-green(ui-sref="layout.my-account.orders")
                | {{:: "BUTTON_MY_ACCOUNT_ORDERS" | translate}}
            a.btn.btn-green.hidden(ui-sref="layout.my-account.notes")
                | {{:: "BUTTON_MY_ACCOUNT_PURCHASES" | translate}}
            a.btn.btn-green(ui-sref="layout.my-account.password")
                | {{:: "BUTTON_MY_ACCOUNT_PASSWORD" | translate}}

        .col-md-9
            ui-view