h4 {{:: "TEXT_MY_ACCOUNT_INFO" | translate}}

.row(ng-init="getPhoneNumber()")
    .col-md-4
        label(for="firstName") {{:: "TEXT_FIRSTNAME_MY_ACCOUNT_INFO" | translate}}
        input(type="text", id="firstName" ng-model="user.firstName").form-control
    .col-md-4
        label(for="lastNamePrefix") {{:: "TEXT_INSERTION_MY_ACCOUNT_INFO" | translate}}
        input(type="text", id="lastNamePrefix" ng-model="user.lastNamePrefix").form-control
    .col-md-4
        label(for="lastName") {{:: "TEXT_LASTNAME_MY_ACCOUNT_INFO" | translate}}
        input(type="text", id="lastName" ng-model="user.lastName").form-control
.row
    .col-md-6
        label(for='emailaddress') {{:: "INPUT_EMAIL_MY_ACCOUNT_INFO" | translate}}
        input(type="email" disabled="disabled" placeholder='{{:: "INPUT_PASSWORD" | translate}}' ng-model="user.email" id='emailaddress').form-control
        p.help-block Het is momenteel niet mogelijk om uw e-mailadres te wijzingen.

    .col-md-6
        label(for='phone') {{:: "TEXT_PHONENUMBER_MY_ACCOUNT_INFO" | translate}}
        input(type="text" placeholder='{{:: "INPUT_PHONENUMBER_MY_ACCOUNT_INFO" | translate}}' ng-model="user.phonenumber" id='phone').form-control
        p.help-block Voer een internationaal telefoonnummer in, vervang de eerste nul met +(landcode).
.row
    .col-md-12
        div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
            | {{alert.msg}}
        a.btn.btn-green(ng-click="saveUser()") {{:: "BUTTON_SAVE" | translate}}
    
    h4 {{:: "TEXT_ADRESSES_MY_ACCOUNT_INFO" | translate}}
    button(ng-click="newAddress()").btn.btn-green {{:: "BUTTON_NEW_ADDRESS_MY_ACCOUNT_INFO" | translate}}
br
br

.row
    .col-md-4
        .list-group
            a(ng-repeat="address in user.address track by $index", ng-click="openAddress($index)", ng-class="{'active': currentAddress.index == $index}").list-group-item.clearfix
                span {{address.street}} {{address.houseNumber}}{{address.houseNumberSuffix}}, {{address.city}}
                span.pull-right.button-group
                    i.fa.fa-times(ng-click="deleteAddress($index)")
    .col-md-8
        .form-group(ng-show='currentAddress || addNewAddress')
            form(name="addressForm" ng-class="{submitted: addressForm.$submitted}" ng-submit="submitAddress(addressForm.$valid)" novalidate)
                .row
                    .col-md-8
                        label(for="street") {{:: "TEXT_STREET_MY_ACCOUNT_INFO" | translate}}
                        input(type="text" required ng-model="currentAddress.street" id="street" placeholder='{{:: "INPUT_STREET_MY_ACCOUNT_INFO" | translate}}').form-control
                    .col-md-2
                        label(for="housenumber") {{:: "TEXT_STREETNUMBER_MY_ACCOUNT_INFO" | translate}}
                        input(type="text" required ng-model="currentAddress.houseNumber" id="housenumber" placeholder='{{:: "INPUT_STREETNUMBER_MY_ACCOUNT_INFO" | translate}}').form-control
                    .col-md-2
                        label(for="housenumbersuffix") {{:: "TEXT_ADDITION_MY_ACCOUNT_INFO" | translate}}
                        input(type="text" ng-model="currentAddress.houseNumberSuffix" id="housenumbersuffix" placeholder='{{:: "INPUT_ADDITION_MY_ACCOUNT_INFO" | translate}}').form-control
                .row
                    .col-md-6
                        label(for="postalcode") {{:: "TEXT_ZIPCODE_MY_ACCOUNT_INFO" | translate}}
                        input(type="text" required ng-model="currentAddress.postalCode" id="postalcode" placeholder='{{:: "INPUT_ZIPCODE_MY_ACCOUNT_INFO" | translate}}').form-control
                    .col-md-6
                        label(for="city") {{:: "TEXT_CITY_MY_ACCOUNT_INFO" | translate}}
                        input(type="text" required ng-model="currentAddress.city" id="city" placeholder='{{:: "INPUT_CITY_MY_ACCOUNT_INFO" | translate}}').form-control
                .row
                    .col-md-12
                        country-list(ng-required="true" ng-model="currentAddress.country")
                .row
                    .col-md-12
                        div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                            | {{alert.msg}}
                        button(type="submit").btn.btn-lg.btn-green Opslaan
                        input(type="button", ng-click="cancelNewAddress()", ng-show="addNewAddress", value="Annuleren").btn.btn-lg