h4 {{:: "BUTTON_MY_ACCOUNT_ORDERS" | translate}}
.row(ng-init="loadOrders()")
    img(src="/images/loading.gif", ng-show="loading", style="height:100px; width: 100px;")
    p(ng-show="(!orders || !orders.length || orders.length <= 0 ) && !loading") {{:: "YOU_HAVE_NOT_PLACED_ANY_ORDERS_YET" | translate}} 
    uib-accordion(close-others='true')
        div.panel-default(uib-accordion-group, ng-repeat='order in orders', heading='{{order.number}} / {{order.status[0].date | date: "dd-MM-yyyy"}} / {{order.status[order.status.length-1].status}}')
            .row
                .col-md-4
                    h5 {{:: "INVOICE_ADDRESS" | translate}}
                    p 
                        | {{order.billingDetails[0].firstName}} {{order.billingDetails[0].lastNamePrefix}} {{order.billingDetails[0].lastName}} 
                        br
                        | {{order.billingDetails[0].address[0].street}} {{order.billingDetails[0].address[0].houseNumber}} {{order.billingDetails[0].address[0].houseNumberSuffix}}
                        br
                        | {{order.billingDetails[0].address[0].postalCode}} {{order.billingDetails[0].address[0].city}}
                        br
                        | {{order.billingDetails[0].address[0].country}}
                .col-md-4
                    h5 {{:: "DELIVERY_ADDRESS" | translate}}
                    p 
                        | {{order.sendDetails[0].firstName}} {{order.sendDetails[0].lastNamePrefix}} {{order.sendDetails[0].lastName}} 
                        br
                        | {{order.sendDetails[0].address[0].street}} {{order.sendDetails[0].address[0].houseNumber}} {{order.sendDetails[0].address[0].houseNumberSuffix}}
                        br
                        | {{order.sendDetails[0].address[0].postalCode}} {{order.sendDetails[0].address[0].city}}
                        br
                        | {{order.sendDetails[0].address[0].country}}
                .col-md-4
                    h5 {{:: "HISTORY" | translate}}
                    ul
                        li(ng-repeat='status in order.status')
                            | {{status.date | date: "dd-MM-yyyy HH:mm:ss"}} - {{status.status}}
            .row(ng-hide='order.paid')
                .col-md-12
                    div(uib-alert).alert-warning
                        b {{:: "NOTE_THIS_ORDER_IS_NOT_PAID" | translate}}
                        br 
                        | {{:: "WHAT_DO_YOU_WANT_TO_DO" | translate}}
                        br
                        br
                        a.btn.btn-green(ng-click='payOrder(order.number, order.total)') {{:: "PAY" | translate}}
                        a.btn.btn-dark.left-spacing(ng-click='cancelOrder(order.number, $index)') {{:: "CANCEL" | translate}}
            .row
                .col-md-4
                    h5 {{:: "SHOP" | translate}}
                    p {{order.shop[0].name}}
                .col-md-4
                    div(ng-show='order.paid')
                        h5 {{:: "RETURNS" | translate}}
                        a.btn.btn-dark(ng-click="returnOrder(order.number)") {{:: "RETURN_ORDER" | translate}}
                .col-md-4
                    h5 {{:: "REVIEW" | translate}}
                    p {{:: "RATE_STORE" | translate}}
            .row
                .col-md-12
                    table
                        tr
                            th {{:: "ARTICLE" | translate}}
                            th {{:: "BRAND" | translate}}
                            th {{:: "QUANTITY" | translate}}
                            th {{:: "PRICE" | translate}}
                            th {{:: "TOTAL" | translate}}
                        tr(ng-repeat='item in order.items')
                            td {{item.name}}
                            td {{item.brand}}
                            td {{item.quantity}}
                            td {{item.price | currency:'€' }}
                            td {{item.quantity * item.price | currency:'€' }}
                    p {{:: "TOTAL_PRICE" | translate}}: {{order.total | currency:'€' }}