.row(ng-init="initResetForm()")
    .col-md-12
        h4 {{:: "BUTTON_MY_ACCOUNT_PASSWORD" | translate}}
        p {{:: "CHANGE_THE_PASSWORD_OF_YOUR_ACCOUNT" | translate}}

form(name="passwordChangeForm" ng-class="{submitted: addressForm.$submitted}" ng-submit="changePassword(passwordChangeForm.$valid)" novalidate)
    .row
        .col-md-6
            label(for="pass") {{:: "YOUR_CURRENT_PASSWORD" | translate}}
            input(type='password', required id="pass" name="pass" ng-model="passwords.currPassword").form-control
    .row
        .col-md-6
            label(for="pwd1") {{:: "YOUR_NEW_PASSWORD" | translate}}
            input(type='password', required id="pwd1" name="pwd1" ng-model="passwords.newPassword").form-control
        .col-md-6
            label(for="pwd2") {{:: "REPEAT_PASSWORD" | translate}}
            input(type='password', required id="pdw2" name="pwd2" ng-model="passwords.newPassword2").form-control
    .row
        .col-md-12
            div(uib-alert, ng-show="alert", ng-class="'alert-' + alert.type")
                | {{alert.msg}}
            button(type="submit").btn.btn-lg.btn-green {{:: "SAVE" | translate}}
